[2020-07-03 08:19] teranos opened #3 "Terraform0.13 module "count" & "depends_on" does not work"
This tool is having problems with the Beta of Terraform0.13 configurations.

[code]

[2020-07-03 17:15] aliscott commented on #3
@teranos thanks, I've now added initial module support in [v0.2.0](https://github.com/aliscott/infracost/releases/tag/v0.2.0).

It also uses your installed `terraform` binary to generate the plan files, so if you have a separate terraform 0.13 binary you can use the `TERRAFORM_BINARY` env variable to specify it, e.g.:

[code]

Let me know if you are still seeing any issues.

[2020-07-03 17:15] #3 closed

[2020-07-20 14:00] alexouzounis opened #10 "Error when computing cost"
Hi @aliscott - first of all, great project and thanks for sharing it with the community.

We tried using `infracost` in one of our projects and are getting the following errors. Let us know if there is anything else we can provide to help debug. We could also be using the tool wrongly to be fair :)
The infra we tested it against is not overly complex but it has a fair chunk of modules so it might

[2020-07-20 21:08] aliscott commented on #10
Thank you!

I've pushed a fix for the first issue (https://github.com/aliscott/infracost/pull/11) and released it in [v0.3.1](https://github.com/aliscott/infracost/releases/tag/v0.3.1)

For the second issue do you have examples of the `aws_autoscaling_group` resources you have?

[2020-07-21 11:12] alexouzounis commented on #10
sure - the stack brings up an eks cluster amonst other things and we create a couple of ASGs, one for spot and one for ondemand - spot example snippet below
[code]

[2020-07-27 16:24] pyguy opened #12 "Using terragrunt"
Hey @aliscott, I can use infracost with terraform binary without any troubles, but using [terragrunt](https://github.com/gruntwork-io/terragrunt) as TERRAFORM_BIRANY fails with the following error:

[code]

Due to the terragrunt being a wrapper around terraform, I expected the same result running infracost with terragrunt binary.  I maybe have a wrong assumption, but wanted to ask you about this.

[2020-07-30 19:00] aliscott commented on #12
@pyguy thanks! I fixed the cause of this stack trace in #13. Can you try [v0.3.2](https://github.com/aliscott/infracost/releases/tag/v0.3.2) and see if it works?

[2020-07-31 08:06] pyguy commented on #12
Thanks @aliscott !
Getting `invalid memory address or nil pointer dereference` this time:
[code]

[2020-07-31 08:25] aliscott commented on #12
@pyguy thanks. This looks like the same issue as #10. I'm adding support for `mixed_instances_policy` for autoscaling groups which should fix this.

[2020-08-07 16:00] aliscott commented on #10
@alexouzounis can you try [v0.4.0](https://github.com/aliscott/infracost/releases/tag/v0.4.0)? I've added support for mixed instance policies and basic support for EC2 spot pricing.

A couple of questions regarding expected functionality for these use cases:

1. For mixed instance policies, how would you expect the instance type overrides to be represented? Currently I'm only using price for the t

[2020-08-07 16:02] aliscott commented on #12
@pyguy can you try [v0.4.0](https://github.com/aliscott/infracost/issues/10) and see if that resolves your issue? If you have any opinions about [the questions here](https://github.com/aliscott/infracost/issues/10#issuecomment-670588121) please feel free to answer on that issue.

I'll close this in favor of #10 just now since the original terragrunt issue is resolved.

[2020-08-07 16:02] #12 closed

[2020-08-09 15:02] pyguy commented on #12
@aliscott Yeah I tried v0.4.0 and it's working. Thanks a lot.

[2020-08-19 21:05] joeunrue commented on #10
I know you weren't asking me, but if you were I'd suggest a config file where you can define what you want for spot pricing. I'd also love to see the ability to override pricing in said config file if I do have a reserved instance or if the lookup api can't find the instance type

[2020-08-21 15:04] lukeberry99 opened #19 "Support for ECS and Fargate"
Hello,

I was wondering what would be involved in adding support for ECS (specifically Fargate) pricing - I'm not opposed to implementing this myself but a nudge in the right direction would be great.

Cheers!

[2020-08-21 17:11] sashman opened #20 "Allow pass through of tf vars"
[code]

It's a nice to have for the above command to also accept the variables required for the terraform plan. For example:

[code]
or
[code]

[2020-08-22 05:32] aliscott opened #22 "How should we allow different options for calculating spot prices?"
Currently it shows the current spot price, but only refreshed once per hour.

We might want to allow the user to chose between this, the average over the last 30 days or the maximum spot price.

One option for doing this would be a config file. We also might be able to do it using a custom Terraform provider.

[2020-08-22 10:48] alikhajeh1 opened #24 "Add support for GCP resources"

[2020-08-24 11:05] aliscott commented on #19
Sounds good, we will add support for this soon.

Fargate pricing can be calculated using the price for `aws_ecs_task_definition.{cpu,memory}` multiplied by `aws_ecs_service.desired_count`. I've created a ticket for adding Fargate spot pricing to the pricing API, so we can support spot pricing for this as well.

ECS with EC2 launch strategy is more complicated. This will involve us working out the

[2020-08-24 15:50] aliscott opened #25 "Add initial prices for AWS Lambda"
Following on from discussions with @sashman.

We can add the prices for Lambda initially, so at least we can see that this resource does have a price, and what the price is for different memory configurations. We can do this initially with something like this:

[code]

In the future we can then work out the following to be able to show cost ranges:
* How we can recognise min/max bounds for monthly

[2020-08-24 18:27] ztmr opened #26 "Non-linux AWS EC2 AMIs, e.g. Windows and marketplace items"
Is there any way to support instances based on marketplace AMIs? These are typically the most expensive ones so it would be nice to see the "subscription" cost along with the EC2 compute itself.

Not sure how feasible is this with the current approach where you seem to be caching the AWS pricelist separately on your website.

[2020-08-25 07:40] rottenbytes commented on #24
As you mentionned on twitter here are the resources I'd like to see first :
- google_bigquery_dataset
- google_compute_address
- google_compute_disk
- google_compute_forwarding_rule
- google_compute_global_address
- google_compute_global_forwarding_rule
- google_compute_health_check
- google_compute_instance
- google_compute_region_backend_service
- google_compute_router
- google_compute_router_na

[2020-08-25 12:03] aliscott commented on #26
The AWS bulk price API has pricing support for some configurations. For example it gives the following prices for an m3.large instance in us-east-1:

Linux: $0.133/hr
Linux + SQL Web: $0.202/hr
Linux + SQL Std: $0.614/hr

Windows (bring your own license): $0.133/hr
Windows: $0.259/hr
Windows + SQL Web: $0.367/hr
Windows + SQL Standard: $0.704/hr

RHEL: $0.193/hr
SUSE: $0.233/hr

I've been looking

[2020-08-25 16:18] ztmr commented on #26
The problem is that the AMIs can change in time -- it is per region, per product version, even if the AMI is used to build a custom AMI derived from the official one, etc.

I think these two things can be useful:
- find if we can detect whether the instance uses a marketplace product and indicate it in the cost table (as extra line that indicates as unknown "extra" cost)
- the user would review al

[2020-08-26 16:48] sinabakh opened #28 "Add prices for provisioned DynamoDB"
DyanamoDB has two pricing options: privisioned and on-demand.
We will support the provisioned mode for starters.

[2020-08-26 22:25] sinabakh opened #29 "Show unknown price for unsupported resources"
It seems the unsupported resources are not shown in the report.
I think it's more suitable if the report shows such resources with some "Unknown price" flag. This way users can better track their resources in the report.
Here is a rough idea of this feature:
[code]

[2020-08-27 09:25] m-yosefpor opened #30 "Add Support for AWS Aurora RDS Cluster"
Adding support for AWS aurora RDS cluster in terraform which is defined with `aws_rds_cluster` resource type.

[2020-08-27 11:57] sinabakh opened #32 "Add prices for DynamoDB Accelerator (DAX)"

[2020-08-27 16:48] javatarz opened #34 "[Feature Request] Support for S3 storage"
Storage prices are dependent on the region (which is available in terraform), the amount of data being stored (which isn't available in terraform) and the storage tier (which is available in terraform)

Can we add a `.infracost.config` or something to the repository to mention the rough volume of data in different S3 paths (which should help project costs based on different storage tiers) or is th

[2020-08-28 09:08] aliscott opened #35 "Add Infracost Terraform Provider for modelling usage based costs"
This is a proposal for adding an Infracost Terraform Provider for representing usage based costs. This would allow us to reference any existing Terraform resource and augment it with additional information we can use to calculate the usage costs.

Here is an example of how this could be represented for a lambda function:

[code]

This would also require a min/max cost range to be represented as fi

[2020-08-28 09:33] aliscott commented on #34
@javatarz thank you. I've been thinking about the best way add usage-based pricing. I've detailed one option in https://github.com/aliscott/infracost/issues/35 that I'm wanting to get feedback on. Please let me know what you think, and if you have any further ideas.

Initially what we can do is add the prices, but not usage costs for any resource we detect in the Terraform (example in https://gith

[2020-08-29 16:30] #28 closed

[2020-08-30 12:00] #25 closed

[2020-08-31 09:03] sashman commented on #29
@aliscott @alikhajeh1 The label added for "coming soon" can be re-used here https://github.com/aliscott/infracost/blob/1d456c43999a04c06b579d89b38c8bdd96689322/pkg/resource/resource.go#L50

[2020-08-31 09:06] sashman opened #39 "Add Support for AWS Elasticsearch Service"
Pricing page here: https://aws.amazon.com/elasticsearch-service/pricing/

[aws_elasticsearch_domain](https://registry.terraform.io/providers/hashicorp/aws/latest/docs/resources/elasticsearch_domain)

[2020-08-31 11:36] #30 closed

[2020-09-01 10:02] alexouzounis commented on #10
Hi @aliscott - can confirm that infracost is completing successfully now. Not sure whether the output is expected though. should the ec2 instances have a cost of 0 ?
[code]

[2020-09-01 11:05] hassankhosseini opened #43 "Automatically add the cost of a repo to the Readme"
When a user wants to implement an open source project, it would be very helpful to know how much the project will cost. This can be done in an automatic way by updating the Readme file of the project.

This can be done via text, or possibly via a https://shields.io/ button (cost!)

One example: https://github.com/gordonmurray/aws_rds_secrets_manager

[2020-09-01 13:37] sashman commented on #43
Having an infracost shield would be so cool!

[2020-09-01 13:39] sashman commented on #43
For a shield, we would have to persist some JSON behind an endpoint https://shields.io/endpoint

[2020-09-01 14:40] alikhajeh1 opened #45 "Dockerhub image for infracost"
We can modify https://github.com/aliscott/infracost/blob/master/.github/workflows/create-release.yml to push to DockerHub (we have the dockerhub infracost org now)

[2020-09-01 17:33] gordonmurray commented on #43
A shield is a great idea! Thanks for including my repo in the example above.

[2020-09-01 20:41] unfor19 commented on #43
@hassankhosseini - I created this tool [unfor19/replacer](https://github.com/unfor19/replacer) and a GitHub Action which is based on this tool [unfor19/replacer-action](https://github.com/marketplace/actions/replacer-action)

The purpose of the tool

So it's possible to run `infracost`, save the output (costs) to a file, and inject the output of the file to README.md

[2020-09-02 10:14] #45 closed

[2020-09-02 10:34] hassankhosseini opened #49 "Add pricing support for AWS CloudFormation"
AWS Cloud Formation costs: https://aws.amazon.com/cloudformation/pricing/

`aws_cloudformation_stack` and `aws_cloudformation_stack_set` are the main resources. For each one, we can use this logic to show the cost components:
1. If `template_body` is set AND its "Resources.types" start with `AWS::*`, `Alexa::*`, or `Custom::*` then return `IsSkipped:    true, NoPrice: true,` as it's a free resourc

[2020-09-03 07:38] alikhajeh1 commented on #24
Terraform cloud's cost estimation feature supports:

- google_compute_instance
- google_compute_disk
- google_sql_database_instance

[2020-09-03 07:40] alikhajeh1 opened #53 "Support EC2 monitoring options"
EC2 monitoring price depends on the number of metrics for their instance types
https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/viewing_metrics_with_cloudwatch.html#ec2-cloudwatch-metrics

Here are the one's we seem to be missing:
- aws_launch_configuration.*.enable_monitoring
- aws_instance.*.monitoring
- aws_launch_template.*.monitoring.enable

[2020-09-03 07:42] alikhajeh1 opened #54 "Support AWS CloudWatch costs"
Terraform cloud's cost estimation supports these:

- aws_cloudwatch_dashboard: should be $3 per dashboard per month ?
- aws_cloudwatch_metric_alarm: might be difficult with Anomaly detection and high-resolution

[2020-09-03 07:50] alikhajeh1 opened #55 "Support AWS ec2_fleet"
This should be similar to aws_autoscaling_group

[2020-09-03 07:52] alikhajeh1 opened #56 "Add CircleCI integration"
@sashman is already working on this, https://github.com/infracost/infracost-orb

[2020-09-03 08:01] unfor19 opened #57 "[CI/CD] Docker releases should include app version and tf version"
For example-

`infracost/infracost:1.0.1-tf0.12.26, infracost/infracost:1.0.1-tf0.13.1`

[2020-09-03 08:03] unfor19 opened #58 "[DOCS] Update README.md with Docker usage"
Add to the usage section-

## Docker

Replace the `--tf-dir` value with your infra's path, or git clone this repository to check the examples

[code]

[2020-09-03 09:16] m-yosefpor opened #59 "Add Gitlab-ci Integration"

[2020-09-04 14:31] hassankhosseini opened #64 "Add support for Azure resources"
Pricing: https://azure.microsoft.com/en-us/pricing/

[2020-09-08 13:44] chenrui333 opened #73 "Homebrew support"
FYI, I have filed a pending PR for adding this utility into homebrew-core, https://github.com/Homebrew/homebrew-core/pull/60777

Thanks!

[2020-09-08 14:42] alikhajeh1 commented on #73
That's awesome! Thank you :) We can update the README and https://www.infracost.io/docs/#installation when it's available on homebrew. Just FYI that I left a few comments on https://github.com/Homebrew/homebrew-core/pull/60777 to see if we can bump that to the latest version (v0.5.1).

[2020-09-08 14:54] karancode opened #75 "Error parsing terraform locals"
I am trying to run `infrascost` for some of my terraform resources and I am getting below error :
[code]

The code in `data.tf` at line 85 is `locals` defining some subnet id, etc. shown below:
[code]

I am using terraform version `0.12.16` & aws provider version `2.51.0`

Could you please help with this issue?

[2020-09-09 01:51] anthonydahanne opened #76 "Panic using tfjson file"
Hello!
Using the latest `0.5.1` version, I got the following with a `plan.json`file that I generated from a `plan.save` (same workflow as described in the docs)

[code]

I can provide the json file if it helps
Thanks !

[2020-09-09 02:26] anthonydahanne opened #77 "Zero cost for an EKS cluster with terraform-aws-modules/eks/aws"
Hello,
Using  latest `infracost`, version `0.5.1`, I tried running the following to get estimated costs for an EKS cluster created using  https://github.com/terraform-aws-modules/terraform-aws-eks (it's just a couple of wrappers on top of official Terraform EKS modules, AFAIK) - but I got an empty table with a cost of 0.

[code]

Unfortunately, `DEBUG`or even `TRACE` logs don't help that much:

[c

[2020-09-09 08:08] aliscott commented on #10
Zero costs have been fixed in https://github.com/infracost/infracost/pull/72. I used https://gist.github.com/aliscott/0d5a0da6189eaf57fbbd86bec6746612 as the test case for this.

[2020-09-09 08:13] aliscott opened #79 "Add support for ECS with EC2 launch type"
Infracost currently supports ECS with Fargate launch type, but not EC2 launch type.

[2020-09-09 08:13] aliscott commented on #19
ECS support with Fargate has now been added (https://github.com/infracost/infracost/pull/36) released. ECS support for EC2 launch type is more complicated. I have created separate issue to track that (https://github.com/infracost/infracost/issues/79)

[2020-09-09 08:13] #19 closed

[2020-09-09 08:15] aliscott commented on #35
Initial work has been done and released in https://github.com/infracost/infracost/releases/tag/v0.5.0. Provider repo is https://github.com/infracost/terraform-provider-infracost.

[2020-09-09 08:15] #35 closed

[2020-09-09 08:28] aliscott commented on #76
@anthonydahanne thank you! I've got a potential fix here: https://github.com/infracost/infracost/pull/80. If you can provide the JSON then I will validate this fixes this issue.

[2020-09-09 08:29] hassankhosseini opened #81 "Add Atlantis support"
Users who want to make IaC CI/CD easier and want to use Atlantis would find this addition very useful.

https://www.runatlantis.io/
https://github.com/runatlantis/atlantis

[2020-09-09 08:59] aliscott commented on #75
@karancode thank you! This error is from the terraform binary when it runs `terraform init`. I'm not able to reproduce this with terraform v0.12.16. The error looks the same as the error you would get using terraform v0.11 with the new list syntax that was introduced in v0.12.

Infracost will use the default terraform binary in your path, but you can override it by specifying the `TERRAFORM_BINARY

[2020-09-09 09:30] aliscott opened #82 "Add support for EKS clusters"

[2020-09-09 09:32] aliscott commented on #77
Thanks @anthonydahanne! Currently infracost doesn't support EKS - see https://www.infracost.io/docs/supported_resources for all currently support resources. I've added an issue for EKS here: https://github.com/infracost/infracost/issues/82.

[2020-09-09 09:32] #77 closed

[2020-09-09 10:51] sinabakh opened #83 "Add support for on-demand DynamoDB"
Add support for on-demand DynamoDB by using usage data support based on infracost's terraform provider.

[2020-09-09 13:16] anthonydahanne commented on #76
Sure! I've sanitized it but I ensured I still hit the issue
https://gist.github.com/anthonydahanne/6528144734bd982c2ed992c51fe6f716

[2020-09-10 05:21] karancode commented on #75
hi @aliscott thank you so much for the reply. I was using alias for the my terraform binary.. setting up `TERRAFORM_BINARY` works well.
Thanks again!

[2020-09-10 05:21] #75 closed

[2020-09-10 07:53] aliscott opened #84 "Output message showing number of resources that we don't support"
e.g. "2 out of 26 resources could not be estimated because they don't have a price or Infracost does not yet support them (https://www.infracost.io/docs/supported_resources)"

Debug level logging could show the resource addresses.

[2020-09-10 09:00] pwithnall opened #86 "Show carbon cost of infrastructure"
It would be good to have a mode or option to show the carbon cost of the infrastructure as well as / instead of the monetary cost. This isn’t necessarily proportional to the monetary cost, as different resources (compute, storage, bandwidth) have different carbon weightings, and the different AWS data centre locations have different carbon intensities of their power supplies (some are powered rene

[2020-09-10 10:28] aliscott opened #87 "Improve performance of integration tests"
Currently the integrations tests take ~10 seconds each to run. This is because they are running `terraform init`, `terraform plan` and hitting the pricing.infracost.io service for each test.

There's various options to improve the performance. Some initial ideas:
 * Parallelise the tests
 * Cache the pricing API responses
 * Cache the `terraform plan` outputs
 * Only run `terraform init` and `terr

[2020-09-10 16:24] digitalronin opened #90 "Enable running infracost against a terraform.tfstate file"
To get costs of an existing infrastructure setup, we need to run something like:

[code]

So infracost does a terraform plan internally, and then uses the output of that to generate a report. Alternatively, we can do the `terraform plan` manually, and then supply the output to infracost.

Either way is quite slow.

All of the information required to report on existing infrastructure will be in the

[2020-09-10 17:09] #73 closed

[2020-09-10 21:26] sinabakh opened #92 "Support nil cost components"
There are cases where combining usage data with actual resources creates conditions that a cost component makes no sense. For instance, a provisioned DynamoDB shall not have `read/write request units`.
Here is a simple code for the `write request units` cost component:
[code]
This way, the core produces a warning for the empty cost component and the output shows an empty line.

The other way aroun

[2020-09-10 21:27] sinabakh commented on #92
I'll work on its PR so we can discuss it better.

[2020-09-10 21:59] aliscott commented on #92
Is there an advantage of this over wrapping the append in a condition like this?
[code]

[2020-09-11 02:35] m-yosefpor opened #95 "Enhancing price explorer scripts"
Thanks to @alikhajeh1 our simple scripts are way better than before 😃 . There are still some improvements which we can make:

- Price explorer script `3_find_attribute_keys.sh` always outputs `2 different products found.`
- creating tmp files pollute the directory and it's not a clean solution
- The output for the scripts can be enhanced

[2020-09-11 03:12] m-yosefpor opened #97 "Adding a `version` flag to infracost cli"
We shall have a version flag, which outputs both the infracost version, and the current terraform version which infracost uses for that environemnt. That will come in handy and also all most all cli tools have, so people expect it to be there.

[2020-09-11 03:30] m-yosefpor commented on #59
I've added a repository for it here :https://github.com/m-yosefpor/infracost-gitlab-ci

Please let me test it in a sample gitlab pipeline, and then we can create a repo here and move all the files.

And about the repo name, which one is better?
- infracost-gitlab-ci
- infracost-gitlabci
- infracost-gitlab
- Any other alternative you suggest?

I prefer the first one. WDYT @aliscott @alikhajeh1 ?

[2020-09-11 03:35] m-yosefpor commented on #56
Now that we have docker image on dockerhub, can we just use that instead of building it in the orb file? @sashman

[2020-09-11 03:56] m-yosefpor commented on #56
I've created a PR for the above comment: https://github.com/infracost/infracost-orb/pull/2

[2020-09-11 08:43] alikhajeh1 commented on #59
thanks @m-yosefpor! So far we've been going with using words that resonate with users who use that CI system (hence infracost-gh-action, or infracost-orb) so I'd go with which ever matches best for gitlab users (probably the first one?)

[2020-09-11 09:54] m-yosefpor commented on #59
Yeah `gitlab-ci` it is

[2020-09-11 10:03] sinabakh commented on #92
For this specific condition, it makes sense to wrap it inside an if clause. But there may be some more complicated conditions where you have to either:
* Check the return value of the cost component function
* Write some logic outside the cost component function

I can't think of such conditions for now, but I think it would be great not to have any specific logic outside of the cost component fun

[2020-09-11 10:53] aliscott commented on #92
I'm leaning towards not adding empty/nil cost components to favour explicitness.

[2020-09-11 17:49] m-yosefpor commented on #59
A sample pipeline output:

![image](https://user-images.githubusercontent.com/47300215/92956619-6d97ac00-f47c-11ea-9115-a603b4063603.png)

Here is the mirrored repo: https://gitlab.com/myosefpor/infracost-gitlab-ci

I think the repo is ready for moving to infracost org.

[2020-09-11 19:19] m-yosefpor opened #99 "Adding diff functionality to JSON output"
### Current aim
The aim of this ticket is to update the Infracost JSON output so it includes the following fields, which can then be used in the future to build table/HTML outputs that show the diff of what's about to be applied.

[code]

### Original ticket description

Options to support:
- tfplan
- tfjson
- tfdirs
- tfstate (after #90)

So it would be 4*4=16 possible combinations to invoke it.

[2020-09-11 22:57] m-yosefpor commented on #59
This is done, and has been implemented in https://gitlab.com/infracost/infracost-gitlab-ci

[2020-09-11 22:57] #59 closed

[2020-09-12 01:08] #95 closed

[2020-09-12 14:36] anton-yurchenko opened #101 "Support GitHub Windows Runners"
[GitHub documentation:](https://docs.github.com/en/actions/creating-actions/about-actions#docker-container-actions)

There should be either two actions (windows/linux) or a JavaScript executed binary which will allow an action to be run from all support GitHub Runners.

[2020-09-12 16:18] aliscott opened #102 "Add homebrew release step"
`infracost` is now in Homebrew (https://github.com/infracost/infracost/issues/73) but we don't have a release step for updating the formula. We should add this to our release process.

References:
https://docs.brew.sh/How-To-Open-a-Homebrew-Pull-Request

[2020-09-12 17:35] #97 closed

[2020-09-12 19:24] sinabakh commented on #92
Seems ok to me. Thanks @aliscott

[2020-09-12 19:24] #92 closed

[2020-09-13 01:14] karnauskas opened #104 "Wrong aws_autoscaling_group calculation for spot instances"
I have `aws_launch_template` which is using spot instances / spot bidding with autoscaling group, however infracost is showing those instances as `on-demand`:

[code]

[2020-09-13 08:43] aliscott commented on #104
@karnauskas thanks. If it's possible can you add the terraform code that produced this?

[2020-09-13 11:16] #39 closed

[2020-09-13 11:35] anton-yurchenko opened #105 "Support - AWS/Elasticache"
#### Placeholder Issue

I'll try to **PR** this in the coming days/weeks.

#### Additional Info

- [Pricing](https://aws.amazon.com/elasticache/pricing/)
- [Resource](https://registry.terraform.io/providers/hashicorp/aws/latest/docs/resources/elasticache_cluster)

[2020-09-13 11:45] #10 closed

[2020-09-13 11:46] aliscott commented on #76
Thanks. I've tested that against https://github.com/infracost/infracost/pull/80 and I don't see the issue any longer.

[2020-09-13 11:46] #76 closed

[2020-09-14 01:31] anthonydahanne commented on #76
Awesome, can't wait for the next release! thanks!

[2020-09-14 16:54] #102 closed

[2020-09-14 18:31] alikhajeh1 opened #109 "Docs on how to add a new resource"
@sashman has offered to help with this too.

See the `contributing` branch for WIP

[2020-09-14 22:12] stobias123 opened #111 "ASG in module computed incorrectly"
Using an autoscaling module...

[code]

Produces Zero cost.

[code]

Happy to contribute but might need a pointer for where to start looking, I'm new to the tool, but a big fan in principle.... I suspect the tool just might not be recursing down to past the first level module?

[2020-09-14 23:46] sashman commented on #56
I'll take this

[2020-09-15 13:33] hassankhosseini opened #112 "Add support for AWS RDS"
User request to add AWS RDS instances support: https://aws.amazon.com/rds/pricing/

We currently support aws_rds_cluster_instance and aws_rds_cluster. Expand the list to include more (Terraform currently supported RDS below):

<img width="265" alt="Screen Shot 2020-09-15 at 4 09 45 PM" src="https://user-images.githubusercontent.com/1238825/93229053-12acd000-f76e-11ea-9eca-ebab2b4e1959.png">

[2020-09-15 18:58] alikhajeh1 commented on #84
It might be helpful to distinguish these two cases:
1. a free resource is being used in Terraform: we've reviewed that it's free when we added the resource to Infracost but the user doesn't know.
2. a free or paid resource that infracost doesn't support.

Maybe an output like this:
"Out of the 26 resources, 8 are free, and 18 aren't supported in Infracost yet (https://www.infracost.io/docs/support

[2020-09-15 19:52] #109 closed

[2020-09-16 07:24] hassankhosseini commented on #112
User has requested aws_db_instance as priority.

[2020-09-16 07:46] hassankhosseini commented on #82
Is this ticket only for aws_eks_node_group, or any other of the eks resources:

<img width="193" alt="Screen Shot 2020-09-16 at 8 44 29 AM" src="https://user-images.githubusercontent.com/1238825/93307546-01f56c00-f7f9-11ea-9aa6-f8848f9b106c.png">

[2020-09-16 08:14] alikhajeh1 commented on #112
@hassankhosseini as mentioned in https://www.infracost.io/docs/supported_resources, `aws_db_instance` is supported. Is there an issue with it? https://github.com/infracost/infracost/issues/84#issuecomment-692910352 might help make things clearer for users.

[2020-09-16 08:50] hassankhosseini commented on #112
Will reach back out to user to see what the issue is. Cheers

[2020-09-16 13:24] alikhajeh1 opened #114 "Infracost installed from homebrew doesn't show version"
Reproduction steps:

[code]

[2020-09-16 17:46] #83 closed

[2020-09-17 10:48] 3mard commented on #64
Not sure if this is doable at the moment

I couldn't find the official APIs for pricing, are we okay we capturing the api used in https://azure.microsoft.com/en-us/pricing/ and then use them as undocumented APIs ?

[2020-09-17 13:57] sinabakh commented on #84
I think I can work on it, I have to review the core codes again to get some solid ideas on how to manage it.
I just have some questions:
**1.** The simple way is to show users that we don't support the resource but how can we show him the exact reason? As far as I know, there are multiple reasons:
**A.** We simple does not support the resource
**B.** User specified some wrong attributes in its usa

[2020-09-17 14:00] sinabakh opened #117 "Fix sementation fault in global tables for on-demand DyanmoDB with no usage data"
When billing mode is set to `PAY_PER_REQUEST`, and there are no usage data. The code gets segmentation fault in global tables.

[2020-09-17 14:02] aliscott commented on #117
Fixed in https://github.com/infracost/infracost/pull/116.

[2020-09-17 14:02] #117 closed

[2020-09-17 14:11] alikhajeh1 commented on #84
Thanks @sinabakh!

Regarding 1, my guess is that most users don't care about the reason, they just want to know why some of their terraform resources aren't showing up in the output, and we can ask them to rerun with `--verbose` or some flag to see the details (they could send us that list so we can work on it too).

Regarding 1B, I'd leave that out of the scope of this ticket, we're still gatheri

[2020-09-17 14:16] aliscott commented on #84
I can still see 1C being an issue. For example, we only support ECS+Fargate and not ECS+EC2. ECS+EC2 is a lot more complicated to add, so I don't think we should block the Fargate support for that.

But, for this case if we come across an option we don't yet support, I think we can just treat it the same way as 1A and list it as a resource we don't support. Thoughts?

[2020-09-17 14:19] aliscott commented on #111
Thanks @stobias123, I've added a potential fix for what I think is causing this specific case in #115. Let me know if this now works for you.

[2020-09-17 14:19] #111 closed

[2020-09-17 14:32] alikhajeh1 opened #118 "Token too long error when using tfdir and tfplan options"
A user with 1K+ resources sent me this error, they're using `macOS 10.15.6` and downloaded the latest version of infracost from homebrew.

[code]

@aliscott mentioned he fixed a similar issue but maybe that was only for the --tfjson option?

[2020-09-17 14:42] sinabakh commented on #84
Thanks, yeah I agree with you. So we just need to handle 1A. For cases like what @aliscott mentioned, the easiest way is to treat them like 1A since we will have support sooner or later for all kinds of resources. But the other option is to let the resource function generate a more meaningful message for its verbose mode.
What do you think?

[2020-09-17 14:45] alikhajeh1 opened #119 "Clarify `infracost` usage"
When I run `infracost --help`, I see the following and it's not clear from the description which one I should use:
[code]
One user has already complained about this being confusing, and I agree; that's why I excluded `tfplan` from the [usage docs](https://www.infracost.io/docs/). Perhaps an example in the help text clarifies things; `oc` do this for common use-cases.
[code]

It would be nice if we

[2020-09-17 14:53] alikhajeh1 commented on #84
If the resource function is optional and the output can remain sane then that can work nicely. A user pinged me today with 1K+ terraform resources...

One other semi-related, verbose-type output, topic, we need to think about is how the resource file can include the "notes" that we have in https://www.infracost.io/docs/supported_resources, so we can auto-generate that docs page. Should those go in

[2020-09-17 16:31] sinabakh commented on #84
Sure, we need to discuss them.
For now, I will stick to 1A`We simple does not support the resource`. We can get more feedbacks and think about more complicated handlers in the future.

[2020-09-17 18:57] sinabakh opened #121 "Show price for resources with no cost"
According to `Level 1 support` of https://github.com/infracost/infracost/blob/master/CONTRIBUTING.md we should make all currently existing resources compatible with these requirements.

Resources:
- [ ] aws_alb
- [ ] aws_db_instance
- [ ] aws_docdb_cluster_instance
- [ ] aws_ecs_service
- [ ] aws_elb
- [ ] aws_lambda_function
- [ ] aws_lb
- [ ] aws_rds_cluster_instance
- [ ] aws_elasticsearch_doma

[2020-09-19 08:10] alikhajeh1 commented on #29
Closing this as it's covered by the discussions in https://github.com/infracost/infracost/issues/84 so we can track it there.

[2020-09-19 08:10] #29 closed

[2020-09-20 16:52] sinabakh opened #123 "Automatic supported resources docs generation"
We need to be able to generate the contents of https://www.infracost.io/docs/supported_resources automatically.

[2020-09-20 17:04] mwarkentin commented on #81
I'd be interested in this. :)

[2020-09-20 17:09] sinabakh commented on #123
My own idea is to change resource registry from `string->func` to `string->struct`:
[code]

[2020-09-21 13:01] alikhajeh1 commented on #123
LGTM, @aliscott any thoughts?

[2020-09-21 13:38] aliscott commented on #123
Another option is having a `Notes` attribute on the `schema.Resource` and `schema.CostComponent` types. Will we ever want notes at cost component level (I'm not sure we will)?

[2020-09-21 18:55] alikhajeh1 commented on #123
@aliscott I was thinking of notes as succinct, human-readable, and for our docs; so Resource level notes should be enough as we can include mention any components that require highlighting.

[2020-09-21 21:42] sinabakh commented on #123
The only problem I can think of is how the doc generator is going to get the resource object? Currently, we need to feed a resource schema to our resource functions so they can return a Resource object. So it wouldn't be as easy as traversing some lists.
Anyway, it might be possible to pass some dummy resource schema to get a Resource with just notes field.

[2020-09-22 07:08] aliscott commented on #123
Good point - let's keep it simple and go with your initial suggestion.

[2020-09-24 12:34] sashman commented on #56
Working on https://github.com/infracost/infracost-orb/issues/1 next

[2020-09-25 20:07] #123 closed

[2020-09-25 21:12] sinabakh opened #127 "Duplicate resources in supported resources docs"
Some resources such as `aws_alb / aws_alb` appear twice in https://github.com/infracost/infracost/blob/master/docs/generated/supported_resources.md

[2020-09-25 21:15] sinabakh commented on #127
@alikhajeh1 So the problem is with a tweak I added in resource registry:
[code]
I simply add a duplicate resource with the alias name, so the question is whether the alias name is a valid name for terraform or not? and if users can freely choose between the aliases?
* If no, we can remove the duplicated resources.
* If yes, we may need to have a flag or sth to indicate the resource is just a dupli

[2020-09-26 07:19] aliscott commented on #127
@sinabakh yeah the alias name is a valid Terraform name. It's only one case though, so one thought is to keep it simple and not have aliases's at all. We can just have separate `GetLBRegistryItem` and `GetALBRegistryItem` functions, and list them as separate line items in the `supported_resources.md` file. What do you think?

[2020-09-26 08:31] sinabakh commented on #127
If it's not a recurring situation and there are just few exceptions I agree with you. Will fix it.

[2020-09-27 15:58] PeterDaveHello commented on #64
There is a Azure Resource RateCard API under preview, might be suitable here:

https://docs.microsoft.com/en-us/azure/cost-management-billing/manage/usage-rate-card-overview

[2020-09-27 18:09] 3mard commented on #64
@PeterDaveHello Thanks for the tip:
 But my understanding, the cost management api tells you about what you are already using, meanwhile infracost predicts what your cost will be in the future

[2020-09-27 18:22] aliscott commented on #64
@PeterDaveHello thanks, yeah a RateCard API is what we want but it seems unfortunately this RateCard API has been under preview since 2016 and looks to be somewhat abandoned now.

There seems to be 2 ways I can find for currently getting Azure prices.
1. The JSON files used in the Azure calculators (https://azure.microsoft.com/en-us/pricing/calculator/)
2. The Azure Partner Center rate card api (h

[2020-09-27 18:29] PeterDaveHello commented on #64
It should also tell you the unit price of the resources, but as @aliscott mentions, there might be some challenges.

[2020-09-27 18:32] PeterDaveHello commented on #64
Looks like this Azure VM pricing comparison siye is using that API:
https://azureprice.net/About

So it should be working good enough, maybe just not very user-friendlyor something?

[2020-09-28 11:12] #127 closed

[2020-09-28 11:55] #84 closed

[2020-09-29 20:51] sinabakh opened #132 "Skip Infracost Data Resource"
In the resources list, the infracost's own data resource is also counted. We need to ignore it.

[2020-09-29 21:52] sinabakh commented on #121
The question is shoule we list all possible costs or just the main required costs. Take Pay Per Request DynamoDB for instance, it has 3 main cost components : Read/Write units and storage price, one can't use this service without utilizing all these three components. But there are some additional components like backup storage, shall we add 0 cost components for them also?

2. Do we need to show 0

[2020-09-29 22:04] alikhajeh1 commented on #121
1. yeah I think that would be good, @aliscott did something similar for `aws_instance`, which I think we can mark as done in this issue list.
2. I wouldn't work on the infracost terraform plugin until we know users want it and will use it. Despite pushing users for feedback on that, I've gotten very few replies, and one strong rejection (the user saw estimates as dead/stale-code that needs to be r

[2020-09-29 22:24] alikhajeh1 commented on #132
@sinabakh this only impacts users that use the infracost terraform provider, right?

[2020-09-30 08:44] sinabakh commented on #132
@alikhajeh1 Yes

[2020-10-01 03:16] bagunbiade opened #134 "Issues with Infracost Register"
Not sure if I am doing something wrong but infracost register returns error within

infracost register
⠋ Calculating costs… ERROR
ERROR Error: No configuration files
ERROR
ERROR Plan requires configuration to be present. Planning without a configuration
ERROR would mark everything for destruction, which is normally not what is desired.
ERROR If you would like to destroy everything, run plan with t

[2020-10-01 06:37] aliscott commented on #134
@bagunbiade can you run `infracost --version`?

This might be related to homebrew having issues (https://github.com/Homebrew/homebrew-core/issues/61772) so the formula hasn't been updated yet (https://github.com/Homebrew/homebrew-core/pull/61761). I will update the docs to remove that installation option until homebrew is fixed.

For now if you installed via homebrew can you run this to install th

[2020-10-01 09:19] alikhajeh1 commented on #112
@hassankhosseini I've assigned the issue to you for now as we're not sure what the issue is.

[2020-10-01 09:42] hassankhosseini commented on #112
Thanks - lets close this issue for now. Will open up another issue once we get requests for specific resources that are missing. Cheers

[2020-10-01 09:42] #112 closed

[2020-10-01 13:34] bagunbiade commented on #134
that was the issue, thanks it fixed the first issue/

The second issue now is

 infracost --tfdir directory-logging/
⠦ Calculating costs…
⠸ Calculating costs…

just gets stuck on calculating costs

infracost --tfdir pathtoterraformscript/directory-logging/buckets.tf
error loading resources: error loading resources: error initializing terraform working directory: fork/exec /usr/local/bin/terraform:

[2020-10-01 13:45] aliscott commented on #134
@bagunbiade thanks, can you try getting debug logs with the following:
[code]

Also, does it work if you run it against a Terraform plan json file? You can generate and use Infracost with it using:
[code]

[2020-10-02 01:56] SiahaanBernard opened #140 "Add support - AWS/DocumentDB"
### Placeholder Issue
I'll try to work on this issue.
### Additional Info:
- [Pricing](https://aws.amazon.com/documentdb/pricing/)
- [Resource](https://registry.terraform.io/providers/hashicorp/aws/latest/docs/resources/docdb_cluster)

[2020-10-02 09:03] alikhajeh1 commented on #140
@SiahaanBernard thanks for creating this issue and offering to work on it. Have you seen https://www.infracost.io/docs/supported_resources/ ? Infracost already supports `aws_docdb_cluster_instance`, and I might be missing something but `aws_docdb_cluster` itself has no cost, the `aws_docdb_cluster_instance` does.

[2020-10-02 09:05] alikhajeh1 commented on #119
Closed by https://github.com/infracost/infracost/commit/12b6f179ee8939faf981dbf4ced9a8f31b713b10

[2020-10-02 09:05] #119 closed

[2020-10-02 10:20] SiahaanBernard commented on #140
Ah my bad. You are correct. Closing this issue.

[2020-10-02 10:20] #140 closed

[2020-10-02 11:45] aliscott commented on #114
Fixed in https://github.com/Homebrew/homebrew-core/pull/61761.

[2020-10-02 11:45] #114 closed

[2020-10-02 14:28] bagunbiade commented on #134
Thank you the plan -out works just adds another level of overhead

infracost --tfdir . --log-level=debug

time="2020-10-02T09:24:36-04:00" level=info msg="Calculating costs…"

time="2020-10-02T09:24:36-04:00" level=info msg="\x1b[90mRunning command: /usr/local/bin/terraform init -no-color\x1b[0m"

time="2020-10-02T09:24:36-04:00" level=debug binary=terraform msg="Initializing modules..."

time="20

[2020-10-02 15:10] aliscott commented on #134
Thanks @bagunbiade. This looks like the same issue as #118. Will close this and continue tracking it in that.

[2020-10-02 15:10] #134 closed

[2020-10-02 17:06] aliscott commented on #87
I've improved the integration test performance by about a third by caching the Terraform providers (https://github.com/infracost/infracost/commit/005d9b8f19a3b870711665d898d6ab4da5c108b7#diff-336978a5a517930d99e40a473468326e).

[2020-10-02 18:27] apreshagarwal commented on #58
Hi there, I am interested in taking up this task. Can you please assign it to me?

[2020-10-02 18:27] apreshagarwal commented on #58
Hi there, I am interested in taking up this task. Can you please assign it to me?

[2020-10-02 22:16] sinabakh commented on #132
It seems to be fixed in master branch, my branch was releatively old. `stripInfracostResources` function takes care of it but I couldn't track the commit in which it was added.
Anyway, closing it since it seems to be invalid now.

[2020-10-02 22:16] #132 closed

[2020-10-02 22:19] sinabakh commented on #121
There is value in developers understanding **what are the cost components of this resource** and **how much is the price of each component**, even if the cost shows 0 (since it's usage-based).

It took me ~1h to understand the pricing of ECS Fargate and I had to spin stuff up and read docs to see if the default 20GB docker disk cost money or was free... `infracost` takes that 1h to 1min, that's th

[2020-10-03 07:37] javatarz commented on #34
Sounds good. I've just started working on this. It's my first contribution. I'll jump on to discord in case I have any questions 😄

[2020-10-03 16:15] aliscott commented on #118
Looks like this is related to https://github.com/sirupsen/logrus/issues/564.

[2020-10-03 19:24] sinabakh commented on #121
No changes for `aws_alb`

[2020-10-05 13:16] PeterDaveHello commented on #64
Just notice that there is an Azure Retail Prices API might just be the one needed here!?
https://docs.microsoft.com/en-us/rest/api/cost-management/retail-prices/azure-retail-prices

[2020-10-05 14:39] sinabakh commented on #121
@alikhajeh1 @aliscott I'm checking the resources pricing page one by one to see if we might have a change for level 1 support but it takes me days to complete. It would be great if you can tell which resources need change(if you know any).

[2020-10-05 15:08] alikhajeh1 commented on #121
@sinabakh I re-ordered this list a bit, I'm leaning towards us adding support for new resources that users are requesting so I think we can pause work on this issue just now.

[2020-10-05 15:47] sinabakh opened #145 "Add support for AWS Database Migration Service (DMS)"
https://aws.amazon.com/dms/

https://registry.terraform.io/providers/hashicorp/aws/latest/docs/resources/dms_replication_instance

[2020-10-07 07:20] akhan4u opened #146 "Tell the user when there is no .tf file to estimate cost"
Hi Team,

I have noticed one issue after setting the Infracost API key, that infracost is not complaining about the .tf file not being present at my current location. However, If I am running it at the place where .tf files are present it will present me with the cost estimate.

![Infracost_Error](https://i.ibb.co/gdTpKxf/infracost.png)

Not sure, Is infracost making an API call and generating som

[2020-10-07 17:09] aliscott commented on #146
Thank you @akhan4u! I've added some changes to improve error handling in #147 and it covers this issue. This has now been released in v0.6.2.

[2020-10-07 17:09] #146 closed

[2020-10-07 17:10] #118 closed

[2020-10-07 17:13] aliscott commented on #53
Added in https://github.com/infracost/infracost/pull/129

[2020-10-07 17:13] #53 closed

[2020-10-07 20:35] sinabakh opened #150 "Add support for AWS CloudWatch"

[2020-10-07 20:35] sinabakh opened #151 "Add support for AWS Redshift"
Fixed by https://github.com/infracost/infracost/pull/587

[2020-10-07 20:36] sinabakh opened #152 "Add support for AWS ECR"
Pricing details: https://aws.amazon.com/ecr/pricing/
Terraform resources: aws_ecr_*

[2020-10-07 20:36] sinabakh opened #153 "Add support for AWS Glue"

[2020-10-07 20:37] sinabakh opened #154 "Add free resources feature"
In complex resources, there are tons of additional resources like iam policies and ... which have no cost but fill the skipped resources warning. It would be great if we can add a free resource concept.

[2020-10-07 22:26] jessedobbelaere opened #155 "Error: Decimal division by 0"
I'm running the `infracost/infracost:latest` Docker image successfully in a pipeline since Monday, and today it started failing on this error:

[code]

I run `infracost` as following, inside the container:

[code]

Any idea what might be breaking it?

[2020-10-07 23:40] jamengual opened #156 "Argument --tfflags does not work on brew installed package version 0.6.1"
Looks like the readme point to new options released in 0.6.2.

This does not work on version 0.6.1:

infracost --tfdir /path/to/code --tfflags "-var-file=myvars.tf"

It will be ideal to note that on the readme

[2020-10-08 07:59] aliscott commented on #154
@sinabakh at the moment we can do this with the NoCost field. See https://github.com/infracost/infracost/blob/110d91f8edde971b88967188b21d739bad4e0748/internal/providers/terraform/aws/ecs_service.go#L22-L27 for an example.

I'm happy for a better approach to be added if we want.

[2020-10-08 08:03] #145 closed

[2020-10-08 10:36] aliscott commented on #20
Added `--tfflags` option in https://github.com/infracost/infracost/pull/147 which covers this use case.

[2020-10-08 10:36] #20 closed

[2020-10-08 11:23] sinabakh commented on #154
Seems solid, I was not aware of this feature. I'll check the skipped resources logic to see if sth is missing there.

[2020-10-08 11:28] aliscott commented on #154
@sinabakh I hope you don't mind me keeping this open. I've been thinking about this a little more and think we could have a much better/light-weight approach. We had one user have `89 out of 95 resources` show as unsupported where most of them are free resources (IAM policies, security groups, etc).

I think we could very quickly build a string array of free terraform resource types and exclude th

[2020-10-08 11:36] sinabakh commented on #154
@aliscott I think the general approach is so clean, but creating files and functions to return a single no cost component might take a while (although I think it might be cleaner). For now, we can work on some sort of tricks in our registry so we can provide an array of free resources.
It's a trade off between speed and clean code. I think we can choose speed for now, if you agree I will work on i

[2020-10-08 11:38] sinabakh opened #160 "Handle null_resource resources"
There are `null_resources` which are no-cost components. We can address this issue after #154

[2020-10-08 11:45] aliscott commented on #154
Yeah I think an array will be easier to maintain going forward.

Known free resources:
 * aws_iam_*
 * aws_security_group*
 * null_resource

[2020-10-08 21:43] sashman commented on #58
@alikhajeh1 as per earlier, I'll pick this up

[2020-10-08 22:08] sashman opened #163 "Bump TF version in Dockerfile"
Updating to use latest terraform

[2020-10-09 06:08] robh007 opened #167 "Add support for SQS"
Add support estimates for SQS usage.

[2020-10-09 08:15] #163 closed

[2020-10-09 09:16] alikhajeh1 commented on #156
@jamengual thanks for reporting this, we're starting to use https://www.conventionalcommits.org and want to auto-generate a changelog based on that, there's also an automated check-for-updates feature in-flight as we're releasing versions often given the early nature of the project.

[2020-10-09 10:30] #58 closed

[2020-10-09 16:30] jamengual commented on #156
No problem, and thanks for the response

[2020-10-09 21:21] alikhajeh1 opened #170 "Docker image issues"
1. Running latest master branch code via `docker run infracost/infracost` shows the help text then panics:
[code]

2. Running `docker run infracost/infracost --version` shows the version then hangs.

3. Running the following still runs the update check:
[code]

[2020-10-10 07:11] aliscott commented on #170
Fixed in master

[2020-10-10 07:11] #170 closed

[2020-10-11 09:27] #154 closed

[2020-10-11 09:28] aliscott commented on #160
Added in #162.

[2020-10-11 09:28] #160 closed

[2020-10-12 09:20] #155 closed

[2020-10-12 12:16] aliscott commented on #155
@jessedobbelaere thanks, this is now fixed in v0.6.3.
We've also added versioned docker tags, so you can lock down to an Infracost release.

[2020-10-12 12:27] jessedobbelaere commented on #155
Awesome 🙌  It works now 👍  Will pin the version

[2020-10-13 13:03] alikhajeh1 commented on #57
This is partially done as we build/push released versions to dockerhub (all using Terraform v0.13.4).

[2020-10-13 14:24] jessedobbelaere opened #177 "DMS pricing calculated on wrong region"
I see support for DMS is added in #149 🙌

When running `infracost v0.6.4` I see that DMS cost is calculated at $0.0720/hour, however, these resources run in `eu-central-1` which have a different price.

* Price shown by infracost for `t2.small` (multi-az): `$0.072/hour` --> probably corresponds to price fetched from `us-east-1`?
* Price for `t2.small` (multi-az)  in `eu-central-1`: `$0.084/hour` (

[2020-10-13 14:59] sinabakh commented on #177
Hi, that's a bit strange. Thanks for the complete description of the problem. I will take a look at it ASAP.

[2020-10-13 17:51] alikhajeh1 commented on #177
@jessedobbelaere I think I spoke too soon, that fix looks wrong, your issue mentions multi-az so I'll keep digging...

[2020-10-13 18:09] sinabakh commented on #177
@alikhajeh1 We already manage the multi-az flag, there was a bug in region selection. I think all is ok however we can till confirmed.

[2020-10-13 18:35] alikhajeh1 commented on #177
@sinabakh according to https://registry.terraform.io/providers/hashicorp/aws/latest/docs/resources/dms_replication_instance#availability_zone the availability_zone is optional, and that field cannot be set if multi_az is set (which is what the issue description mentions). I might be missing something?

[2020-10-13 21:37] unfor19 commented on #57
@alikhajeh1 feel free to close this issue if it's irrelevant

[2020-10-14 06:50] alikhajeh1 commented on #57
@unfor19 I think it might be needed long-term as more terraform versions (after the one that infracost supports) come out.

[2020-10-14 09:22] sinabakh commented on #177
@alikhajeh1 Right, the pricing page shows different prices for different regions even for multi-az. And based on my tests, I could set the `availability_zone` alongside the `multi-az`. I might be missig sth so it would be great if you can look through the code and logics.

[2020-10-14 13:13] alikhajeh1 commented on #167
Done in #174

[2020-10-14 13:13] #167 closed

[2020-10-14 13:15] alikhajeh1 commented on #177
@sinabakh Terraform doesn't validate all parameters, it passes them to AWS and returns an error if AWS fails to launch, so we can only tell for sure if we try to launch a DMS. That can get tricky so I thought we could just wait for @jessedobbelaere to share an example resource that lets us reproduce the issue.

[2020-10-14 14:38] alikhajeh1 commented on #177
Thanks @jessedobbelaere. Infracost selects the region based on the provider config, we're adding support for https://www.terraform.io/docs/configuration/providers.html#alias-multiple-provider-configurations just now, is that how you were setting the region for this resource? If not, can you please let us know how the region is being set?

Also, can you please confirm if `replication_instance_arn`

[2020-10-14 14:48] jessedobbelaere commented on #177
Ok 👍  At the moment we only have 1 aws provider which has the `eu-central-1` regio defined though. The ARN of my DMS instance:

[code]

[2020-10-14 15:18] alikhajeh1 commented on #177
Using this?
[code]

[2020-10-14 15:32] jessedobbelaere commented on #177
Oh I see the issue in my terraform plan

[code]

In our CI/CD pipeline, we have an env var that lists our regions, and we loop over them and run terraform plan/apply for each region

[code]

[2020-10-15 17:38] sinabakh opened #183 "Support variables for provider's region"
We currently only support constant values for the provider region, e.g:
terraform:
[code]

But we need to support:
[code]

[2020-10-15 17:38] sinabakh commented on #177
So I created another issue to address this problem
https://github.com/infracost/infracost/issues/183

[2020-10-15 17:58] sinabakh commented on #183
I'm working on it.

[2020-10-16 12:44] #183 closed

[2020-10-16 13:17] sinabakh commented on #177
Now #183 is merged into master I think this issue is resolved too. @alikhajeh1 ping us here when a new release is available so @jessedobbelaere can check it.

[2020-10-16 16:16] aliscott commented on #177
Thanks @sinabakh this is released in v0.6.5.
Thanks @jessedobbelaere please reopen this issue if your problem is not fixed.

[2020-10-16 16:16] #177 closed

[2020-10-16 17:47] jessedobbelaere commented on #177
Tested and it has the correct DMS pricing now for the region ! Thanks for the super quick fix 🙌

![image](https://user-images.githubusercontent.com/1352979/96291447-52264080-0fe8-11eb-8ad2-5d651621e5a5.png)

[2020-10-18 05:40] alikhajeh1 commented on #156
@jamengual the automated check-for-updates feature is live so I'm going to close this issue as we expect users'll upgrade more often, `brew upgrade infracost`...

[2020-10-18 05:40] #156 closed

[2020-10-18 09:44] ablekh opened #187 "Add support for Pulumi"
Kudos on creating a great project! It would be awesome if you could add support for Pulumi as Terraform alternative.

[2020-10-20 12:29] chapayevdauren opened #188 "Show price of whole repository changes (proposal)"
For example, we have terraform directories for production and staging
[code]
and I want show price changes for both of them. Will be nice if we can add like this feature?

[2020-10-21 01:39] emhagman commented on #152
Can I try this one out?

[2020-10-21 09:53] aliscott commented on #152
@emhagman of course, thank you!

There's information for adding new resources here: https://github.com/infracost/infracost/blob/master/CONTRIBUTING.md#adding-new-resources

[2020-10-21 10:19] aliscott commented on #104
Closing since this may be fixed in #142. Please re-open if this can be reproduced.

[2020-10-21 10:19] #104 closed

[2020-10-21 14:50] emhagman commented on #152
Great, thanks :)

[2020-10-21 14:55] delissonjunio opened #190 "Bare CloudFormation templates support"
Hi, is there any chance we could work to support bare CloudFormation templates? At my company we don't really use TF but I'd be interested in contributing & adding support to CF if it fits within the project's scope

[2020-10-21 20:10] ctrlaltdev commented on #90
Bump for that issue - I'm using TerraGrunt and split my infra in a lot of modules and the work around needed are quite painful. Using the tfstate would really help.

[2020-10-26 17:30] aliscott opened #191 "Add VPC pricing"
We currently support `aws_nat_gateway` pricing, but we need to add pricing for the following VPC resources:

* AWS PrivateLink pricing (https://aws.amazon.com/privatelink/pricing/)
  * Terraform resource: `aws_vpc_endpoint
* AWS Site-to-Site VPN pricing (https://aws.amazon.com/vpn/pricing/)
  * Terraform resource: `aws_vpn_connection`
* AWS VPC traffic mirroring pricing (https://aws.amazon.com/vpc

[2020-10-28 13:57] alikhajeh1 commented on #188
@chapayevdauren thanks for creating this issue! Can you possibly provide more context about the use-case, e.g. a variable is being changed that impacts the cost in production and staging, and you'd like to see the cost estimate for both projects by running infracost once? There is also https://github.com/infracost/infracost/issues/90, would that help your use-case?

[2020-11-01 02:34] SiahaanBernard opened #193 "Add support for AWS Codebuild Project"
## Description
I would like to try to create PR for this. I think to calculate Codebuild porejct cost we can use similar approach on how lambda cost calculate, since both of them is usage-based pricing. We can use `monthly_build_minutes` as variable to define the usage duration of codebuild within a month in minutes metric. What do you think?

## Reference:
1. [Codebuild Pricing](https://aws.amazo

[2020-11-01 07:20] alikhajeh1 commented on #193
@SiahaanBernard thanks for creating this issue. That sounds great!

For [level 1 support](https://github.com/infracost/infracost/blob/master/CONTRIBUTING.md#level-1-support), it looks like `environment.type` and `environment.compute_type` in `codebuild_project` can be used to fetch the pricing (https://registry.terraform.io/providers/hashicorp/aws/latest/docs/resources/codebuild_project)

For leve

[2020-11-03 11:17] alikhajeh1 opened #198 "Add Windows installation instructions"
https://www.infracost.io/docs/#installation should be updated to include Windows. Using a zip download is fine initially.

[2020-11-03 20:02] alikhajeh1 commented on #34
@javatarz v0.7.0 of infracost (released just now) has S3 costs, feel free to take it for a spin and let us know what you think: https://www.infracost.io/docs/#installation

[2020-11-03 20:02] #34 closed

[2020-11-03 20:05] alikhajeh1 commented on #121
Going to close this issue as some of these are already done and the remaining ones are being prioritized based on user feedback going forward.

[2020-11-03 20:05] #121 closed

[2020-11-04 02:21] sashman commented on #82
@hassankhosseini I shall pick this up in multiple PRs per resources if that's cool?

[2020-11-04 07:30] alikhajeh1 commented on #82
@sashman thanks! Having 1 PR with multiple resources (e.g. aws_eks_*) is fine

[2020-11-04 10:28] alikhajeh1 commented on #150
Closing this as it's a duplicate of https://github.com/infracost/infracost/issues/54

[2020-11-04 10:28] #150 closed

[2020-11-05 11:56] enribd commented on #90
It could be nice if I could use a set of tfstates instead of just one. Maybe read them from cloud object storages like S3 buckets.

[2020-11-06 16:40] aliscott commented on #90
#203 adds a `--use-tfstate` flag, which might solve this use case.

So in master you can run it with
[code]

This still needs the `terraform` binary to run `terraform show` internally instead of directly reading the state file, which is the recommended way of interacting with the state (https://www.terraform.io/docs/state/index.html#format) and has the added benefit of working with both local and

[2020-11-07 08:28] aliscott opened #205 "Add support for AWS MSK"
Pricing: https://aws.amazon.com/msk/pricing/
Resource: https://registry.terraform.io/providers/hashicorp/aws/latest/docs/resources/msk_cluster

[2020-11-09 19:00] shomeprasanjit opened #208 "Add support for AWS EKS"
Add support for AWS EKS
Pricing: https://aws.amazon.com/eks/pricing/
Resource:
https://registry.terraform.io/providers/hashicorp/aws/latest/docs/resources/eks_cluster

[2020-11-09 19:02] alikhajeh1 commented on #208
@shomeprasanjit the PR for this is almost done (https://github.com/infracost/infracost/pull/206), it should make this week's release.
Closing this issue as it's a duplicate of https://github.com/infracost/infracost/issues/82

[2020-11-09 19:02] #208 closed

[2020-11-10 11:06] alikhajeh1 opened #209 "DRY'ing shared costComponents between AWS resources"
See the discussion in https://github.com/infracost/infracost/pull/206#discussion_r520443193 for details

[2020-11-10 12:36] #82 closed

[2020-11-10 13:51] sashman commented on #82
🥳

[2020-11-10 18:08] ayr-ton commented on #90
I've created a new related issue here:

https://gitlab.com/infracost/infracost-gitlab-ci/-/issues/1

[2020-11-10 19:43] shomeprasanjit opened #212 "Add Support for MCS"
References:
https://aws.amazon.com/mcs/pricing/
https://aws.amazon.com/blogs/aws/new-amazon-managed-apache-cassandra-service-mcs/

don’t know if AWS has already cameout with the SDK for MCS but i was unable to find one in the below link.

https://registry.terraform.io/providers/hashicorp/aws/latest/docs

There is an outstanding request from Terraform as well, https://github.com/hashicorp/terraform

[2020-11-10 19:46] alikhajeh1 opened #213 "Add support for AWS KMS"
AWS pricing: https://aws.amazon.com/kms/pricing/
Terraform resources: `aws_kms*`

[2020-11-10 19:54] alikhajeh1 commented on #212
@shomeprasanjit thanks! Unfortunately infracost can't support it until Terraform supports it but it's good to have the issue here so users can 👍 it here or there...

[2020-11-11 07:57] syphernl opened #215 "0.7.1 throws An unexpected error occurred"
With 0.7.1 I'm getting "An unexpected error occurred" when we run it and provide it with a pre-made json plan:

[code]

[2020-11-11 10:16] alikhajeh1 commented on #215
@syphernl thanks for reporting this, I think #216 should fix this, we'll cut a minor release today

[2020-11-11 10:28] #215 closed

[2020-11-11 12:15] alikhajeh1 commented on #215
@syphernl can you please try https://github.com/infracost/infracost/releases/tag/v0.7.2 and re-open this issue if you're still running into this issue?

The [homebrew version](https://github.com/Homebrew/homebrew-core/pull/64547) can take a few hours to go live but the binaries are available on GH link I mentioned

[2020-11-11 13:57] syphernl commented on #215
@alikhajeh1 Thanks for your quick fix. This has indeed resolved the problem.

[2020-11-13 16:18] alikhajeh1 commented on #90
@ctrlaltdev / @enribd can you possibly try v0.7.2 (available on brew too), and see if the `infracost --tfdir=/path/to/code --use-tfstate` option is good enough to close this issue? It works with remote state. I haven't used TerraGrunt much so it would be great if you can create issues with any difficulties you hit with that.

[2020-11-13 16:35] alikhajeh1 opened #220 "Estimating data transfer costs"
As we're getting close to supporting GCP prices (#24), it would be good to start discussing how we can estimate data transfer costs for AWS and GCP (we'll probably use the same mechanism when we add Azure).

Some options I can think of are:
1. Add one new resource to [the infracost terraform provider](https://github.com/infracost/terraform-provider-infracost) so users could input total amounts of

[2020-11-13 22:49] #205 closed

[2020-11-13 22:50] alikhajeh1 commented on #205
This will be included in the v0.7.3 release

[2020-11-14 14:49] alikhajeh1 opened #221 "Support Terraform Cloud's Remote Execution Mode"
Due to [this Terraform issue](https://github.com/hashicorp/terraform/issues/22779), it's not possible for `infracost --tfdir /path/to/code` to get the plan json, and users are faced with this:
[code]

It's somewhat annoying that the Terraform CLI doesn't support this but there is a way to get the [plan JSON](https://www.terraform.io/docs/cloud/api/plans.html#retrieve-the-json-execution-plan) from

[2020-11-16 20:46] ctrlaltdev commented on #90
@alikhajeh1 It works fine!
Just used on a couple of modules and I get a nice output back!

Regarding terragrunt, I'll open an issue for that.

[2020-11-16 20:57] ctrlaltdev opened #224 "Enable to use of terragrunt instead of terraform"
I always use terragrunt as a wrapper around terraform because I reuse terraform modules between environments or accounts -  and it also allows me to dynamically configure the tf backend and provider I use.

So technically, I don't have a tfdir to provide infracost, as terragrunt only 'compiles' it when I run it.

The good news is most of the terraform commands works with terragrunt (`terragrunt sh

[2020-11-16 20:58] ctrlaltdev commented on #224
If you want an example of what my IAC looks like with terragrunt - based on terragrunt recommended structure: https://github.com/ctrlaltdev/ctrlalt.dev/tree/main/infra

Under modules, you will find the TF modules, and under config, you will find the terragrunt settings to use those modules.

[2020-11-16 21:58] alikhajeh1 commented on #224
The following is copied from https://gitlab.com/infracost/infracost-gitlab-ci/-/issues/1#note_448546649 as it's also a recent and relevant request:

[2020-11-16 22:32] ctrlaltdev commented on #224
So maybe mimick terragrunt *-all command behavior

In terragrunt, you can either go in a module and run a command like `terragrunt plan` or you can go to the parent folder that holds multiple modules and run `terragrunt plan-all` and will run terragrunt plan in the modules in parallel.

Maybe infracost could have a similar way of running for terragrunt, that will look recursively in the children f

[2020-11-17 07:43] robh007 commented on #224
With terragrunt you have an option of a pre & post hook, maybe that's an option for infracost to run at either one of those points?

[2020-11-17 18:22] aliscott commented on #220
The current Infracost provider resources all have a `resources` attribute that specifies a list of resources that it applies to. We could use a similar concept for this - have a single new resource type for data transfer but use the `resources` attribute to associate it to a group of cloud resources. This way the user can either specify one or many of these data transfer resources, depending on ho

[2020-11-17 20:20] sashman commented on #213
yo @alikhajeh1 can take this one on please?

[2020-11-17 20:49] shomeprasanjit commented on #220
As per our use-case, specifying data transfer properties per-resource does give us the flexibility to quantify and single-out cost per resource basis especially needed during drill down of infrastructure cost.  I think we should think about some mechanism to pass a template to the infracost utility containing specific pre-defined keys (ex: requests/sec, data transfer volume(in/out) etc based on pe

[2020-11-17 21:24] ayr-ton commented on #224
@robh007 Hmmm, before apply seems a good one. And it could run for each directory, but probably the output will be messed up. Will try that just for seeing how things will break.

[2020-11-17 21:49] robh007 commented on #224
Yea @ayr-ton I've had a little play with some code today.

[code]

So the above works but as you say the output is generated per directory, the output is to stdout & doesn't look any different. You could also perhaps output to a json file then use the hcl functions to merge the JSON files together.

The main issue I see is that the TF source is nested within a random directory structure. What you

[2020-11-17 22:40] alikhajeh1 commented on #213
@sashman thanks! I assigned it to you. If you notice duplicated costComponents/resources between the new new stuff you're adding, it might make sense to put them in a function in one of the resources and call it from the other ones. e.g. https://github.com/infracost/infracost/pull/222/files#diff-08ef288af65faeed6959c5e5d903167df115ae5fd0df2621b341c53f35856276R39 and https://github.com/infracost/in

[2020-11-17 23:17] robh007 commented on #54
@alikhajeh1 I can take a look at this if you would like?

[2020-11-18 08:04] alikhajeh1 commented on #54
That would be great, thanks @robh007! heads-up that it won't be the simplest resource to add - happy to help :)

[2020-11-18 23:05] ayr-ton commented on #224
@robh007 Yeah, the output is uncomprehensive. :-(

[2020-11-19 08:27] #105 closed

[2020-11-19 08:27] alikhajeh1 commented on #105
Added in https://github.com/infracost/infracost/pull/218

[2020-11-19 08:31] alikhajeh1 commented on #90
@ctrlaltdev thanks for creating https://github.com/infracost/infracost/issues/224, given the interest in that, I've put it at the top of the todo pile in https://github.com/infracost/infracost/projects/2

Closing this issue, new issues can be created for leftovers.

[2020-11-19 08:31] #90 closed

[2020-11-19 11:19] alikhajeh1 opened #228 "Add support for AWS ECR"
Pricing details: https://aws.amazon.com/ecr/pricing/
Terraform resources: aws_ecr_*

[2020-11-19 11:20] #228 closed

[2020-11-19 11:21] alikhajeh1 commented on #228
Duplicate of https://github.com/infracost/infracost/issues/152

[2020-11-19 11:23] alikhajeh1 commented on #152
@emhagman are you still interested in working on this? it should be fairly quite. Also FYI we're willing to pay contributors to add resources, ping me, alikhajeh1, on [Discord](https://discord.gg/rXCTaH3) if you're interested.

[2020-11-19 11:25] alikhajeh1 opened #229 "Add support for AWS SNS"
Pricing details: https://aws.amazon.com/sns/pricing/
Terraform resources: aws_sns_*

[2020-11-19 11:28] alikhajeh1 opened #230 "Add support for AWS Cloudfront"
Pricing details: https://aws.amazon.com/cloudfront/pricing/
Terraform resources: aws_cloudfront_*

[2020-11-19 11:33] alikhajeh1 opened #231 "Add support for GCP Cloud Storage"
Pricing details: https://cloud.google.com/storage/pricing
Terraform resources: google_storage*

This can be a complicated resource to add so it might help to study how aws_s3_* ones were done in Infracost, e.g. https://github.com/infracost/infracost/blob/master/internal/providers/terraform/aws/s3_bucket.go and join [our Discord](https://discord.gg/rXCTaH3) if you want to work on this.

[2020-11-19 11:36] alikhajeh1 opened #232 "Add support for GCP IP Address"
Pricing details: https://cloud.google.com/vpc/network-pricing#ipaddress
Terraform resource: google_compute_address

It might help to study the infracost/internal/providers/terraform/aws/eip.go file before adding this.

[2020-11-19 11:52] alikhajeh1 opened #233 "Add support for Google Cloud Load Balancing"
Pricing details: It's somewhere in https://cloud.google.com/vpc/network-pricing I guess 🤷
Terraform resources: google_compute_target*

[2020-11-19 12:23] alikhajeh1 commented on #224
@ctrlaltdev and @ayr-ton, just FYI that @robh007, @aliscott, myself and another user were online on [Discord#terragrunt](https://discord.com/invite/rXCTaH3) so we have a spontaneous call to discuss the options. @aliscott is digging into this and we'll post updates here. Feel free to jump into #terragrunt if you prefer to have longer discussions there.

[2020-11-19 13:04] alikhajeh1 commented on #220
@shomeprasanjit good points, we're seeing the need to have something like an infracost config file so the things you discuss could possibly be set there. As a first cut, if I understand @aliscott's proposal, users could add something like the following to specify per-resource as well as project-wide data transfer properties. These would be summed by infracost and multiplied by the tiered pricing t

[2020-11-19 13:23] alikhajeh1 commented on #24
Initial support for Google Cloud was added in v0.7.3, released yesterday 🎉 GCP pricing had become quite complicated since we last worked on this stuff years ago so it took longer than expected. We've added support for `google_compute_instance` and `google_compute_disk` as mentioned in the [docs](https://www.infracost.io/docs/supported_resources#google-cloud-platform-gcp).

This GH issue has quite

[2020-11-19 13:42] rottenbytes commented on #24
Works fine !

[2020-11-19 15:42] #209 closed

[2020-11-20 06:42] chapayevdauren commented on #188
@alikhajeh1 yep
i.e. I have the following repository structure

[code]
so I want to show price changes for each file

[2020-11-24 15:34] doribd opened #237 "Add support for Azure"

[2020-11-24 16:14] pmuller commented on #187
+1, I would love to have cost data on my pulumi code!

[2020-11-24 17:50] amioranza commented on #56
Hi, this issue has any updates? I'm really interested to integrate infracost at circleci.

[2020-11-24 18:01] alikhajeh1 commented on #56
@amioranza yep! I've simplified the CI script so it can be re-used across GitHub, GitLab and CircleCI, the refactor will be merged today/tmrw and I'll update the orb to use it next right after that :)

[2020-11-24 18:15] amioranza commented on #56
Awesome!!! Thanks.

[2020-11-25 08:01] aliscott commented on #237
Thanks @doribd. If you're interested in Azure, please subscribe to #64.

[2020-11-25 08:01] #237 closed

[2020-11-25 17:34] aliscott commented on #224
We've added an `infracost report` command which might help with some Terragrunt use cases. It combines multiple infracost JSON files into a single table.

So at the moment for our own infrastructure I can get a table of all the costs by running a script like this:
https://github.com/infracost/infracost/blob/master/scripts/terragrunt/report_all.sh
This runs plan-all, saves all the plan files and th

[2020-11-25 18:11] #24 closed

[2020-11-27 07:55] sinabakh commented on #232
The pricing depends on whether the IP is assigned to an instance or not but the assignment is done in vm's resource:
[code]
As far as I know, there's no easy way to get this info in our current structure. Any thoughts?

[2020-11-27 12:27] alikhajeh1 commented on #232
@sinabakh you're right, we've discussed having a reverse-lookup but only the AWS/GCP EIPs need it so far, so we didn't think it was important to do yet. Please check the logic in `infracost/internal/providers/terraform/aws/eip.go` as I think we can do the similar thing here, i.e. go with the estimation on a best-effort basis, and note that I called the component name `IP address (if unused)` in th

[2020-11-28 14:43] robh007 commented on #229
I'll take this one @alikhajeh1

[2020-11-28 18:46] alikhajeh1 commented on #56
@amioranza this is now released, please see https://github.com/infracost/infracost-orb
1. I added support for GitHub and BitBucket and tested using their cloud offerings, are you using one of these? I also added 2 envs that can be useful for self-hosted ones but I haven't tested those.
2. If you're using BitBucket, please note that it does not show commit comments in the pull request page so you h

[2020-11-28 18:46] #56 closed

[2020-11-29 19:39] #54 closed

[2020-11-30 15:07] amioranza commented on #56
Hi @alikhajeh1:
First of all thanks for your works.

1. We use github cloud. I'll integrate the new orb and test it.
2. As bitbucket is not our current scenario, it is ok for me.

I think that infracost comment is enough, it we need to see the history we can go to the PR and look at the comments.

[2020-11-30 20:57] alikhajeh1 commented on #224
Given that we now have https://www.infracost.io/docs/#terragrunt-users, should we close this issue? People can still leave feedback here or open another ticket

[2020-12-02 16:14] #224 closed

[2020-12-02 18:54] #232 closed

[2020-12-03 07:54] alikhajeh1 commented on #81
Atlantis [doesn't seem to have](https://github.com/runatlantis/atlantis/issues/1221) a way for 3rd parties to integrate into it. However, if Atlantis is run via their Docker image, we can create a [custom atlantis image](https://www.runatlantis.io/docs/deployment.html#customization) to install infracost, then infracost can be run as [a custom command](https://www.runatlantis.io/docs/custom-workflo

[2020-12-03 11:50] alikhajeh1 opened #251 "Add support for AWS Systems Manager's Parameter Store"
**Resource details:**
 - Resource name: AWS Systems Manager's Parameter Store (used to store/access config data, e.g. DB creds)
 - Link to pricing information: https://aws.amazon.com/systems-manager/pricing/ ONLY the Parameter Store pricing
 - Terraform resources: https://registry.terraform.io/providers/hashicorp/aws/latest/docs/resources/ssm_parameter

The parameter store is an interesting resour

[2020-12-03 12:57] alikhajeh1 opened #253 "Add support for GCP projects/services"
**Resource details:**
 - Resource name: GCP project and service resources
 - Link to pricing information: I think these might be free but we need to check https://cloud.google.com/pricing/list
 - Terraform resources: google_project* and google_service_account*

[2020-12-03 12:58] alikhajeh1 opened #254 "Add support for GCP Cloud DNS"
**Resource details:**
 - Resource name: GCP Cloud DNS
 - Link to pricing information: https://cloud.google.com/dns/pricing
 - Terraform resources: google_dns*

[2020-12-03 13:40] ayr-ton commented on #224
@alikhajeh1 I liked it a lot. :-)
Thanks for your time collecting feedback regarding this feature. The infracost report did the thing.

[2020-12-03 23:36] jamengual commented on #81
Since Atlantis holds the plan after comment command is run like `atlantis plan` it is possible to grab the plan and send it over to infracost for evaluation it will be ideal not to use a custom docker image and instead an integration is build on atlantis or better yet a plugin/integration feature could be build to integrate things like infracost.

[2020-12-04 04:32] tyronedougherty commented on #187
+1 would love a Pulumi integration!

Pulumi in combination with this would be such a game changer 😄

[2020-12-05 08:36] alikhajeh1 commented on #81
@jamengual that's an interesting idea! If we had an HTTP API that would accept similar options as the CLI, `curl` can be used to send the [plan JSON file](https://www.infracost.io/docs/#3-terraform-plan-json) and get back the response (table, json, html). Depending on how the terraform project is structured, the plan json file might have cloud creds, but those could be [stripped out](https://gist.

[2020-12-09 08:46] #213 closed

[2020-12-10 17:54] ChrisMcKee opened #257 "Unexpected error occurred [eks node group]"
[code]

[2020-12-10 18:21] alikhajeh1 commented on #257
@ChrisMcKee thanks for reporting this! In your terraform's `eks_node_group` resource, do you have an `instance_types` that's set to `[]`? If so, you can set it to `["t3.medium"]` as the [terraform docs](https://registry.terraform.io/providers/hashicorp/aws/latest/docs/resources/eks_node_group#instance_types) mention that is the default. The current infracost code expects an array with 1 item to be

[2020-12-10 19:05] #257 closed

[2020-12-12 19:40] robh007 commented on #152
@alikhajeh1 I'll pick this one up.

[2020-12-13 09:08] robh007 commented on #191
I'll take this one @aliscott @alikhajeh1, I've got a PR nearly ready to go for vpc_endpoint.

[2020-12-13 12:09] dawidmalina opened #263 "Add support for AWS FSx Windows File System"
**Resource details (please complete the following information):**
 - Resource name: AWS FSx Windows File System
 - Link to pricing information: https://aws.amazon.com/fsx/windows/pricing
 - Terraform resources: `aws_fsx_windows_file_system`

[2020-12-13 18:56] robh007 commented on #191
I'll also include Transit Gateway.

[2020-12-13 21:34] dawidmalina commented on #263
[code]

[code]

[code]

[code]

[code]

[code]

[code]

[code]

[code]

[code]

[code]

[2020-12-14 09:35] alikhajeh1 commented on #263
@dawidmalina thanks for the awesome level of details in the ticket! I've added it to the Todo list :)

[2020-12-14 09:47] hassankhosseini opened #267 "Add support for Google's GKE"
- Resource name: Google GKE
 - Link to pricing information: https://cloud.google.com/kubernetes-engine#section-10
 - Terraform resources: google_container*

[2020-12-14 13:58] alikhajeh1 commented on #229
Closed by #260

[2020-12-14 13:58] #229 closed

[2020-12-14 14:01] alikhajeh1 commented on #152
The PR for this has been merged. FYI @emhagman and @syphernl it'll be in the next release, version v0.7.8, which should go live tmrw.

[2020-12-14 14:01] #152 closed

[2020-12-14 20:55] alikhajeh1 commented on #191
Fixed by https://github.com/infracost/infracost/pull/264, https://github.com/infracost/infracost/pull/265 and https://github.com/infracost/infracost/pull/266.
FYI @dawidmalina, this should be live tmrw in the next release of infracost (v0.7.8).

[2020-12-14 20:55] #191 closed

[2020-12-15 15:58] hassankhosseini opened #272 "Add support for AWS EC2 Windows instances"
- Resource name: AWS EC2 Windows instances. First request: Windows 2016 SQL Enterprise AMI.
 - Link to pricing information: https://aws.amazon.com/marketplace/pp/B01M3SS8LO#pdp-pricing

[2020-12-15 17:46] hassankhosseini commented on #272
This is a duplicate of https://github.com/infracost/infracost/issues/26.

[2020-12-15 17:46] #272 closed

[2020-12-16 08:40] alikhajeh1 commented on #198
Fixed by https://github.com/infracost/docs/pull/20

[2020-12-16 08:40] #198 closed

[2020-12-16 12:44] alikhajeh1 commented on #99
Another option is for infracost to use the output from the `terraform apply` as the diff of the infrastructure about to be created, and show the cost for that. I haven't thought much about the implications of this yet, Atlantis's [Checkout Strategy](https://www.runatlantis.io/docs/checkout-strategy.html#merge) might be relevant to consider.

[2020-12-16 15:09] aliscott opened #274 "Skip init if it has already run"
**Description**
Currently `terraform init` is run each time infracost is run when using `--tfdir`. This is done to ensure the correct providers are installed.

With terraform 13.x this was okay because the providers were cached, but in terraform 14.x the providers are no longer cached and are reinstalled every time (See https://github.com/hashicorp/terraform/issues/27099 and https://github.com/has

[2020-12-16 17:50] alikhajeh1 commented on #221
This has been fixed in [v0.7.9](https://github.com/infracost/infracost/releases/tag/v0.7.9).

@holzro and @tovbinm sorry it took us a while to get to this, we were semi-hoping that Terraform would fix the issue but didn't see any updates. Anyhow, please see https://www.infracost.io/docs/#terraform-cloud-users for the docs and feel free to add a comment here with any issues or ping me on (Slack)[ht

[2020-12-16 17:50] #221 closed

[2020-12-16 18:26] tovbinm commented on #221
@aliscott @alikhajeh1 thanks for adding this!!

Are there any changes required in https://github.com/infracost/infracost-gh-action as well?

[2020-12-16 18:48] hassankhosseini opened #275 "Add support for Fargate spot pricing"
- Resource name: AWS Fargate, with spot pricing.
 - Link to pricing information: https://aws.amazon.com/fargate/pricing/ (but spot pricing)

We will also need to add the spot pricing into the pricing service: https://github.com/infracost/cloud-pricing-api/issues/3

[2020-12-16 20:50] alikhajeh1 commented on #221
@tovbinm nope, https://github.com/infracost/infracost-gh-action uses the [latest version](https://github.com/infracost/infracost-gh-action/blob/master/action.yml#L38) of the infracost docker image so it gets all the goodness automatically. You should only need to set the 2 envs mentioned in https://github.com/infracost/infracost-gh-action/issues/9#issuecomment-746749321 (sorry I should have mentio

[2020-12-16 21:55] sinabakh opened #276 "Make resource registry more dynamic"
The current resource registry was the best one we could come up with but it has a major short-coming. There is a central file for resources that we need to call a function to append it to the registry. Here is a simplified version of such case:

`terraform/google/registry.go`:
[code]

`terraform/google/compute_address.go`:
[code]

Although it's relatively clean, it needs developers to touch a shar

[2020-12-17 08:19] aliscott commented on #276
@sinabakh can we simplify it to something like this?

[code]

[2020-12-17 09:44] sinabakh commented on #276
@aliscott For sure, it's more elegant.

[2020-12-17 11:17] hassankhosseini opened #277 "Add support for Bitbucket pipelines [CI]"
Adding support for users who want to integrate Infracost into their CI pipeline, and are using Bitbucket's pipelines.
https://bitbucket.org/product/features/pipelines

[2020-12-18 10:27] alikhajeh1 commented on #221
FYI we renamed TERRAFORM_CLOUD_API_TOKEN to TERRAFORM_CLOUD_TOKEN. https://www.infracost.io/docs/#terraform-cloud-users has been updated.

[2020-12-18 15:27] oasys opened #281 "Add support for terraform cloud with remote execution mode"
infracost does not appear to work with terraform cloud workspaces in _remote execution mode_.   If I test with a workspace in _local_ mode, it works fine, but that removes much of the value of TFC for us.

I suspect that is more of a limitation of TFC at this time, but would be happy to use this tool if there were a way to make it work.

[code]

[2020-12-18 15:30] hassankhosseini commented on #281
Hey @oasys ! Ah, sorry - and I just emailed you saying its fixed. Apologies. @aliscott / @alikhajeh1 can you take a look please. Cheers!

[2020-12-18 15:33] alikhajeh1 commented on #281
@oasys please try `export TERRAFORM_CLOUD_TOKEN=<removed>`
We renamed the env var between 0.7.9 and 0.7.10 and updated [the docs](https://www.infracost.io/docs/#terraform-cloud-users) but forgot to update the error message in the code, we pushed a fix to master just now.

Sorry about that. Plz lmk if that helps.

[2020-12-18 15:42] oasys commented on #281
Thanks, that was it!

I've  submitted #[282] to fix this.

[2020-12-18 15:42] #281 closed

[2020-12-18 15:50] alikhajeh1 commented on #281
@oasys thanks for the PR! Were you running this on your local machine or on CI? On local machines `TERRAFORM_CLOUD_TOKEN` should not have been needed as infracost tries to use your Terraform CLI config file.

[2020-12-18 15:55] oasys commented on #281
I was running infracost on my local machine against a terraform repo that is configured to use a remote workspace.   I believe this use case needs an API token, as the plan output isn't available/downloadable using the terraform cli currently.   As I said earlier, if I run against a remote workspace using "local" execution mode, it works fine without the token.

[2020-12-18 15:57] alikhajeh1 commented on #281
@oasys understood, we changed infracost in v0.7.10 to make the API call to terraform cloud to fetch the plan (as you mentioned the terraform CLI doesn't support that so we had to work around it, it wasn't fun). Plz lmk if it worked ok without that env?

[2020-12-18 15:59] oasys commented on #281
In this use case, the `TERRAFORM_CLOUD_TOKEN` env was required.  Otherwise, I received the original error above.  Thanks for your work.  I look forward to support for more resource types!

[2020-12-18 16:04] alikhajeh1 commented on #281
@oasys great, just to help us debug future issues, can you please let me know if your laptop has either of these files (I don't want/need to see what's inside, just that they exist or not)?
`~/.terraform.rc` or `~/.terraform.d/credentials.tfrc.json` ?

[2020-12-18 16:08] oasys commented on #281
I have neither of those, but I do have a `~/.terraformrc`.  (From looking at the [docs](https://www.terraform.io/docs/commands/cli-config.html), `terraform.rc` is the name for the terraform config file on Windows only.)

[2020-12-18 16:11] alikhajeh1 commented on #281
@aliscott seems like we should check `~/.terraformrc` too?

[2020-12-18 20:15] sinabakh commented on #263
@alikhajeh1 I will give it a go.

[2020-12-22 18:18] #263 closed

[2020-12-23 10:09] alikhajeh1 opened #292 "Add tags to HTML report output"
When merging multiple infracost outputs, it's not clear which came from what terraform project. We currently add the file name to the HTML output, however, users are more familiar with tags, so having them in addition to the file name can help.

[2020-12-23 13:06] alikhajeh1 opened #293 "Improve the experience for Windows users"
There are a few issues with windows users:
1. Test/update the windows installation steps and docs. We might need to update teh `.github/workflows/create-release.yml` file too.
2. The CLI color output is messed-up, they have to use `--no-color`.
3. The spinner chars are messed-up.
4. During `infracost register` user typing is messed-up. The red-cross and green-tick were not working ok on windows.

[2020-12-23 13:31] alikhajeh1 opened #294 "Explain Infracost's approach to usage-based resources"
We no longer consider https://www.infracost.io/docs/usage_based_resources as a beta feature so we should update the following to ensure users understand how Infracost handles usage-based resources:
1. It might be good if the CLI output mentions why there are `-` for some resources and point users towards the infracost provider via the following link.
2. **already done**: Update https://www.infraco

[2020-12-23 13:38] alikhajeh1 opened #295 "CI integration diff output is missing the table headers"
The `scripts/ci/diff.sh` file that's used in CI integrations doesn't output the table headers so it's not clear what each column is showing, see the `infracost diff` in https://github.com/infracost/ci-demo/commit/17ce010926b4ec1fe8eca4ffd818c44522d0ff45 for an example

[2020-12-23 14:06] alikhajeh1 commented on #220
Should data transfer prices always be shown in the infracost output since it's a "global" price? the AWS pricing pages always seem to include data transfer prices for all resources.

[2020-12-23 14:32] alikhajeh1 opened #296 "Add support for AWS gp3 volume types"
AWS released the gp3 volume types for [EBS](https://aws.amazon.com/ebs/pricing/), I haven't checked other products yet. Terraform is adding it, e.g. https://github.com/hashicorp/terraform-provider-aws/issues/16514

We need to follow the Terraform issues/PRs for this and see which resources support gp3 so we can update infracost.

[2020-12-25 21:03] shomeprasanjit commented on #220
AFAIK, data transfer cost is usually associated with individual resources. hence should be included in the drill down list of total aggregated cost under each resource.

[2020-12-26 09:25] alikhajeh1 commented on #220
Thanks @shomeprasanjit! Let's assume the following setup:
[code]

Since data transfer is tiered, and can be used by most cloud resources, I can think of 3 options for showing it in the infracost output:
1. Show one `data transfer` cost component **per** cloud resource that uses `infracost_aws_data_transfer`. Use the first non-free tier to calculate the cost. The downside is that tiered prices are

[2020-12-26 13:19] sinabakh commented on #230
@alikhajeh1 From the terraform's configs point of view, there is nothing we can calculate. Do we want to support it and show no cost for now? If that's the case I can work on it.

[2020-12-26 16:39] alikhajeh1 commented on #230
@sinabakh we now consider https://www.infracost.io/docs/usage_based_resources out of beta, so we can add [level 1 and 2](https://github.com/infracost/infracost/blob/master/CONTRIBUTING.md) support for it. The location-based pricing is challenging as it'll mean we show lots of prices, our options are:
1. Show all prices unless the users is using the provider, in which case we show the relevant pric

[2020-12-26 17:34] sinabakh commented on #230
@alikhajeh1 Yes I agree, it seems a little complicated to handle all these regions. I will work on it if you don't mind.
The only challenge I can think of is the key names for usages in regions like `Hong Kong, Philippines, Singapore, South Korea, Taiwan, & Thailand`.

[2020-12-28 10:16] robh007 commented on #251
I'll take this one @alikhajeh1 if that's ok.

[2020-12-29 00:59] shomeprasanjit commented on #220
@alikhajeh1, Infracost provides us "before the fact" pricing and hence meant to be ballpark estimates only, so I won't be too concerned about over-estimating.  AFAIC, Option 3 is the best way to describe both resource-specific and non-resource specific (outbound, in-bound traffic) data transfer costs.
And just to be clear we are dealing with on-demand prices only and doesn't include any Savings Pl

[2020-12-29 08:51] alikhajeh1 commented on #220
@shomeprasanjit yep, initially just on-demand pricing. Longer term we could connect to the users cloud account and take into account Savings Plans, RIs and any custom price books.

[2020-12-29 09:38] #277 closed

[2020-12-29 16:35] aliscott opened #302 "Handling usage-based resources"
We currently have a [terraform provider](https://registry.terraform.io/providers/infracost/infracost/latest/docs) for adding usage estimates for usage-based resources such as AWS Lambda or S3. We’ve been thinking about how we can make it easier for the user to see usage-based cost estimates.

Some previous discussions:
* https://github.com/infracost/infracost/issues/34
* https://github.com/infraco

[2020-12-30 20:57] alikhajeh1 commented on #277
@4mation-kyeates and @mhmdio just FYI that we've updated the integrations to support Bitbucket Pipelines: https://www.infracost.io/docs/integrations#bitbucket-pipelines

Please ping here or https://www.infracost.io/community-chat if there are any issues and I'd be happy to help.

[2020-12-31 10:11] alikhajeh1 commented on #295
Fixed by https://github.com/infracost/infracost/pull/301

[2020-12-31 10:11] #295 closed

[2020-12-31 10:12] alikhajeh1 commented on #292
Fixed by https://github.com/infracost/infracost/pull/299

[2020-12-31 10:12] #292 closed

[2020-12-31 15:33] alikhajeh1 opened #304 "Running infracost in screen outputs odd chars"
**Description**
Run `screen` then `infracost --tfdir examples/terraform` and notice the following:
<img width="770" alt="screenshot" src="https://user-images.githubusercontent.com/638577/103416179-69071880-4b7d-11eb-88ad-3d353fa86cae.png">

[code]

**Which version did it happen in (run `infracost --version`):**
Infracost v0.7.11
Terraform v0.14.3
Linux and macOS

[2021-01-04 11:16] jgrumboe commented on #302
Hi Ali,

I think default values for usage are always a little bit tricky, so I wouldn't do that.

Option 3 would be cool, but it wouldn't probably reflect cost-changes which would be generated by new stuff configured. Let's assume an update to an existing lambda function which needs more memory - last month usage wouldn't reflect that, so infracost would probably tell me no cost increase will happ

[2021-01-04 16:39] alikhajeh1 commented on #188
@chapayevdauren sorry for the delay! Can you please try the following bash script and see if it solves your use-case? It uses the [`infracost report`](https://www.infracost.io/docs/#report) command to produce table output in the terminal, and saves an HTML file (called report.html). You can customize it to only grep certain projects or exclude other things. The HTML report includes the file path s

[2021-01-04 17:19] alikhajeh1 opened #309 "The report command's HTML output ignores multiple files with the same name"
`infracost report`'s HTML output seems to have a bug where it ignores multiple files with the same name, reproduction steps:
[code]

[2021-01-05 01:37] shomeprasanjit commented on #302
Ali,
    I think a combination of option 1 and option 2 is ideal, the following are the benefits :

    1) Users don't get to see '-' if no usage data is passed from the user side.
    2) Allow new users to be up and running with this tool without much tweaking and at the same time, they understand these values can be tweaked anytime using the config file.

[2021-01-05 13:46] hassankhosseini opened #311 "Add support for Google Cloud Functions"
Resource name: Google Cloud Functions
Pricing page: https://cloud.google.com/functions#section-15

[2021-01-05 14:16] aliscott commented on #302
Thanks @jgrumboe and @shomeprasanjit I'm investigating doing #2 as part of https://github.com/infracost/infracost/issues/220 so will update here when I have a version to play with.

[2021-01-05 15:44] jeanbaptistebeck opened #312 "Add the ability to customize API endpoints for remote backends"
Terraform CLI doesn't have support for retrieving locally a plan ran remotely, so Infracost has to call the remote backend API. Right now Infracost supports Terraform Cloud endpoints, but there is a need to make the API endpoint configurable to offer support for other remote backends, which may have slightly different endpoints.

Example: The Terraform Cloud API endpoint to retrieve plans ran remo

[2021-01-06 08:45] aliscott opened #313 "`--tfflags` does not work with multiple `-var-file` options"
Thanks to bruceedge on Reddit for reporting this.

[2021-01-06 08:57] aliscott commented on #313
I've been unable to reproduce this with infracost v0.7.11 and terraform v0.14.2 using the command:
[code]
Variables from both files are used as expected.

[2021-01-06 16:07] chapayevdauren commented on #188
@alikhajeh1 I will try

[2021-01-08 00:07] aliscott opened #316 "Terragrunt logs are being logged as level=error"
When using `TERRAFORM_BINARY=terragrunt` the terragrunt binary logs are logged at level=error.

For example:

[code]

These should be logged at level=debug.

[2021-01-08 00:12] aliscott opened #317 "Terragrunt is re-running initialization for plan and show steps"
When using `TERRAFORM_BINARY=terragrunt` the terraform initialization is run 3 times: during the `init`, `plan` and `show` stages.

This means infracost takes a long time to complete. This has more of an effect now that terraform 14.x  will download the required providers each time (#274).

[2021-01-09 17:38] #309 closed

[2021-01-10 14:29] sinabakh commented on #220
I think I might be a bit out of context. As far as I know, we always ignore the free tier in our pricing. So why should we handle it for data transfer costs?

[2021-01-10 14:44] sinabakh commented on #230
This issue was stale for a while since it's so complicated and I was postponing it for some time.
However, regarding the regions in pricing (take *Regional Data Transfer Out to Origin (per GB)* for instance). Here are the grouped regions:

  | United States, Mexico, & Canada | Europe & Israel | South Africa, Kenya, & Middle East | South America | Japan | Australia & New Zealand | Hong Kong, Philip

[2021-01-10 17:01] aliscott commented on #230
I agree with you that we should show the prices in the same way they are on the AWS pricing page. The groupings are probably less likely to change, so I'm not too worried about that at the moment. Here's how I would do the mappings:

[code]

For the usage data I'd start with something like:

[code]

I'd also consider adding `middle_east_data_transfer_gb` and summing it with `south_africa_data_tran

[2021-01-11 09:24] sinabakh commented on #230
@aliscott Looks good to me, the usage data might be a little odd for the user but that's the best we can do.

[2021-01-11 13:22] alikhajeh1 commented on #188
https://github.com/infracost/infracost/pull/321 closes this issue for now, we still have more work to do to simplify things for users with multiple TF projects but we can create new issues based on user requests.

[2021-01-11 13:22] #188 closed

[2021-01-11 16:26] dekimsey opened #322 "[feature] Rollup costs by module"
We tend to be heavy users of modules, it'd be nice to see the cost breakdown be in more of a tree view that showed the total cost of each module. This would be especially helpful for modules that aren't as simple as the one in my example, but say had a mix of resources all over AWS.

Maybe something like the following (a wee bit contrived):
[code]

[2021-01-11 23:39] thomaspicquet opened #324 "I can't setup my SSH key for my private modules"
Hello,

I tried a few things but I can't get my private modules to download correctly:
[code]
Is there a way to use a custom SSH key? I tried setting up a private SSH key with a github action but its not updating the one used inside the docker image for infracost

Thanks for your help

[2021-01-12 09:49] aliscott commented on #324
@thomaspicquet thanks, I'll look into replicating this.

Some quick questions that would help:

Do you have an example of your github action YAML?
What are you using for setting up your private SSH key with the action?
Are you using `ssh-key` and `persist-credentials` inputs here (https://github.com/actions/checkout#usage)?

[2021-01-12 10:19] alikhajeh1 commented on #322
@dekimsey great idea! A few quick questions that might help us when thinking about this feature:
1. How deep do your modules go? Terraform ["strongly recommend keeping the module tree flat, with only one level of child modules"](https://www.terraform.io/docs/modules/composition.html) but we're learning that everyone does Terraform differently, so any observations you have can help us.
2. Have you

[2021-01-12 10:24] alikhajeh1 commented on #313
Should this be closed? it can be re-opened when we have more details or reproduction steps.

[2021-01-12 14:27] dekimsey commented on #322
That's a really interesting question, I was unware of that guidance. Off the cuff I'm going to say about 2 or 3 deep. Usually one of ours wraps/ties together several different third-party modules to give us a common-building block we use in our stack (ASGs come to mind).

At least one module crosses providers which I know is also something that is recommended against. But we end up implementing th

[2021-01-12 14:31] dekimsey commented on #322
FWIW, when we first started with Terraform we ... didn't use as many states as we should have. It's been slow to refactor them, so our primary "main" state is about 757 resources spread over 92 files. We no longer add to that state and make it a point to refactor resources out when time is available to bring it down in scope.

[2021-01-12 20:31] alikhajeh1 commented on #302
Option 2 has been released in [v0.7.12](https://github.com/infracost/infracost/releases/tag/v0.7.12) (also available on homebrew) so I'm going to close this issue, @jgrumboe and @shomeprasanjit feel free to leave any feedback here or on the community Slack channel. New issues can also be created if there are any bugs with it or there are ideas on how to improve it (e.g. does it work ok for bigger

[2021-01-12 20:31] #302 closed

[2021-01-12 20:37] alikhajeh1 commented on #220
@sinabakh we're ignoring the free tier for now for data transfer, I updated https://www.infracost.io/docs/supported_resources just now to mention that "Most expensive price tier is used".

@shomeprasanjit https://github.com/infracost/infracost/blob/master/infracost-usage-example.yml#L24-L29 shows an example of how the data transfer can be defined, each block `aws_data_transfer.my_resource_1` or `a

[2021-01-12 20:37] #220 closed

[2021-01-12 20:49] alikhajeh1 commented on #26
@ztmr we've released [v0.7.12](https://github.com/infracost/infracost/releases/tag/v0.7.12) (also available on homebrew) that enables users to specify usage estimates for things like S3 or Lambda, as well as the operating system for aws_instances (windows, suse, rhel). Users can now pass `--usage-file /path/to/infracost-usage.yml`, see [this example](https://github.com/infracost/infracost/blob/mas

[2021-01-12 20:49] #26 closed

[2021-01-12 20:55] alikhajeh1 commented on #294
@aliscott Now that we have https://www.infracost.io/docs/usage_based_resources, what should we do about Item 1 in this ticket?
Also, is it clear from https://www.infracost.io/docs/usage_based_resources how the infracost-usage.yml could be used? or should we add step-by-step notes? e.g. create the file at the root of your project, use names that map to your terraform resources, for data transfer yo

[2021-01-12 21:10] alikhajeh1 commented on #322
@dekimsey very cool, thanks for sharing your insights with us! We have work to do to make it easier+faster to use infracost with big terraform projects and this feature seems like in that path :) You can see what we're working on now [on the project board](https://github.com/infracost/infracost/projects/2), mainly adding new resources - we'll keep this issue updated.

BTW, the HTML report docs are

[2021-01-13 01:49] thomaspicquet commented on #324
@aliscott here's the full GH action:
[code]

I'm able to fetch my repository but it seems that the infracost/infracost docker image uses its own SSH key and there's no way to easily change it

Thank you!

[2021-01-13 15:27] icereed opened #327 "Cost for AWS PrivateLink VPC Endpoint not per AZ"
Thank you first of all for this awesome tool!

We are testing it and we noticed one potential bug:
When counting the PrivateLink VPC Endpoint it does not include the amount of AZs this endpoint would be instantiated.
So it shows me it will cost 730 hours for my endpoint with the pricing of https://aws.amazon.com/privatelink/pricing/.
However, it is instantiated in two AZs and hence is costing me 2

[2021-01-13 15:45] alikhajeh1 commented on #327
@icereed thank you for reporting the issue! I'm struggling to find a way to detect the number of AZs for the vpc_endpoint from https://registry.terraform.io/providers/hashicorp/aws/latest/docs/resources/vpc_endpoint, any ideas? Would we be able to tell if we follow the `service_name` link, fetch that resource's AZ, then count the total number of unique AZs that refer to the vpc_endpoint?

@robh007

[2021-01-13 16:06] robh007 commented on #327
Yea it needs to count the subnets that the resource is deployed into. It's not AZ specific, albeit you'll more than likely deploy different subnets into separate AZs. I can take a look later.

[2021-01-13 16:11] alikhajeh1 commented on #327
Thanks @robh007! I've assigned it to you in case you have time to dig deeper, please let us know if we need to make changes to enable the lookups.

[2021-01-13 16:14] aliscott commented on #324
@thomaspicquet thank you! I'm trying to reproduce this situation on my own environment just now - will let you know when I have something.

[2021-01-13 20:21] sinabakh commented on #231
I'll give it a go.

[2021-01-13 20:25] alikhajeh1 commented on #231
Thanks @sinabakh! May the force be with you, it's a big one :) ping the community Slack chat or comment here if you need help

[2021-01-14 07:59] #327 closed

[2021-01-14 08:00] alikhajeh1 commented on #327
This will ship in v0.7.13, this should be released on Sunday.

[2021-01-14 10:29] alikhajeh1 commented on #327
@icereed I think I saw a comment on the PR mentioning you'd prefer a patch release so you can test it?
Here you are https://github.com/infracost/infracost/releases/tag/v0.7.13 :)
BTW, if your project has a lot of resources, it would be good to hear your feedback on how long it took for infracost to run (my email is ali@infracost.io if you prefer that).

[2021-01-14 11:06] icereed commented on #327
I will immediately test it. We are still in the evaluation phase of this tooling. In the end we plan to scan resources of over 50 AWS accounts. But this will take some months to integrate for us. For this current fix I may be able to deliver feedback in a few hours.

[2021-01-14 11:09] alikhajeh1 commented on #327
@icereed thank you! That's awesome - happy to help with any issues.

[2021-01-14 11:14] icereed commented on #327
I can confirm it works now as expected 🎉

[2021-01-14 11:18] alikhajeh1 commented on #327
@icereed great! Thanks for the quick turnaround.

[2021-01-14 15:51] magichair commented on #81
I find that I run a custom atlantis docker image for my deployments. We needed some external things provided on the base image for custom providers. While it's not the easiest plug & play experience to document, it wasn't too bad for me since I already took these steps.

Sample simple Dockerfile:
[code]

 I was able to get some basics of this setup (just last night) this way. We use this terraform

[2021-01-14 16:39] aliscott commented on #324
@thomaspicquet thanks for your patience on this one 😄 . I've updated the docker image to support a `GIT_SSH_KEY` environment variable (https://github.com/infracost/infracost/pull/330) and tested this works with my own private modules. You can specify it in your action yaml like this:

[code]

I've pushed this to the latest docker image in Dockerhub so you can try it now. Let me know if it works fo

[2021-01-14 16:39] #324 closed

[2021-01-14 21:46] alikhajeh1 commented on #81
@jamengual and @mwarkentin I just released the Infracost API so `curl` can be used with a Terraform plan JSON: https://www.infracost.io/docs/integrations#infracost-api Please let me know if you find it useful. I'm setting up a test Atlantis deployment so I can write better docs for that integration.

@magichair that is awesome - thank you! I'll take it for a spin and include it as an option in the

[2021-01-15 03:56] jamengual commented on #81
Awesome, @alikhajeh1 I think a bit more detail on the payload will be useful but it can be still worked out from the curl output.

[2021-01-15 15:06] thomaspicquet commented on #324
thanks a lot @aliscott!

[2021-01-16 15:12] alikhajeh1 opened #332 "Make infracost faster"
A Terraform project with 700 resources takes the following times to run. Download [plan.txt](https://github.com/infracost/infracost/files/5824591/bigplan.txt) and rename to plan.json to try it.

- 4mins with `infracost --tfjson plan.json`, this is hitting the hosted Cloud Pricing API. I haven't yet timed how long it takes if it runs a local version - that would be the next thing to try. If the bot

[2021-01-17 10:37] sinabakh commented on #332
It probably needs more in-depth investigation but from the numbers and the nature of the problem, we will probably see a major speedup if we can split the requests and add some level of parallelism to our request sending phase.

[2021-01-17 11:02] sinabakh opened #333 "Fix AWS Cloudfront usage data naming"
All usage data names for AWS CloudFront are missing a `monthly` prefix.

[2021-01-17 11:04] aliscott commented on #332
Currently we batch the requests by resource. So each resource batches all its cost component queries into one request to the GraphQL API. This happens here: https://github.com/infracost/infracost/blob/master/internal/prices/query.go#L152. I don't think this works well because a lot of resources just have 1 cost component and we loop through them synchronously.

One idea would be to batch every X q

[2021-01-17 11:43] #230 closed

[2021-01-17 11:49] #333 closed

[2021-01-17 19:21] alikhajeh1 opened #336 "Add support AWS Secrets Manager"
Terraform resources: aws_secretsmanager_secret* (4 resources)
AWS pricing page: https://aws.amazon.com/secrets-manager/pricing/

[2021-01-19 10:35] copmir opened #339 "trouble with windows installation"
Hi,
I downloaded the infracost-windows-amd64.tar.gz file but when i unzip it (with tar -xvzf ), i find a  simply infracost-windows-amd64 file not an .exe file.

Can you please help me ( maybe i was wrong something)?
Many thanks

[2021-01-19 11:02] alikhajeh1 commented on #339
@copmir sorry about that, I just updated our docs with the following instructions, can you please let me know if this works ok for you?

Download and unzip the [latest release](https://github.com/infracost/infracost/releases/latest/download/infracost-windows-amd64.tar.gz). Rename the file `infracost-windows-amd64` to `infracost.exe`, then run it from the Command Prompt or Powershell using `.\infra

[2021-01-19 12:02] copmir commented on #339
Yes, it works now!

thanks a lot

[2021-01-19 12:48] #339 closed

[2021-01-20 09:15] dawidmalina opened #340 "State read error: Error loading statefile: open : no such file or directory"
I was trying to use infracost to estimate existing (deployed) infrastructure with fallowing command but it is failing:
[code]

I can easily estimate cost based on the plan:
[code]

When I enable trace logging i can see fallowing output:
[code]

I can easily execute the terraform show command without issues.

If I am missing please let me know. I am trying to use this in order to create cost based

[2021-01-20 09:50] dawidmalina commented on #296
Would be good to add this as AWS Compute Optimizer started to propose gp3 as a recommended option.

[2021-01-20 09:56] dawidmalina opened #342 "Gateway type VPC Endpoint is not supported"
It can be a bit misleading as basically aws_vpc_endpoint resource is supported. Would be good to either hide that from list of unsupported resources or add no cost details.

[2021-01-20 09:56] alikhajeh1 commented on #296
Thanks for the heads-up @dawidmalina! [This comment](https://github.com/hashicorp/terraform-provider-aws/issues/16514#issuecomment-762893090) mentions Terraform's AWS provider is going to support gp3 this week.
This issue is on our [project board](https://github.com/infracost/infracost/projects/2) so we'll get to it as soon as we have bandwidth. Stay tuned :)

[2021-01-20 09:57] #313 closed

[2021-01-20 10:09] aliscott commented on #340
@dawidmalina thanks! I've pushed a fix for this in https://github.com/infracost/infracost/pull/341.

This was just in time to get into the v0.7.14 release, so can you try it now with the latest version?

[2021-01-20 10:09] #340 closed

[2021-01-20 10:17] dawidmalina commented on #340
Wow that was quick - great job guys - thanks :)

[2021-01-20 10:23] #342 closed

[2021-01-20 10:25] alikhajeh1 commented on #342
@dawidmalina good catch, we had identified the gateway type as a free resource but were returning the wrong value, I've fixed it in https://github.com/infracost/infracost/pull/343/files#diff-5c5fa8455d4a51483836d5fcaa87ff7ae4c6396d6e999d2047085055f0e61478R38 and it'll ship in the next release.

[2021-01-20 10:27] dawidmalina commented on #342
Great job - thanks :)

[2021-01-20 10:33] dawidmalina opened #344 "Add support AWS Backup"
Terraform resources:
- aws_backup_plan
- aws_backup_selection
- aws_backup_vault
- aws_backup_vault_notifications
- aws_backup_vault_policy
- aws_backup_region_settings

AWS pricing page: https://aws.amazon.com/backup/pricing/

Service is free of charge but pricing is based on the amount of storage space your backup data consumes.

[2021-01-20 10:37] alikhajeh1 commented on #344
@dawidmalina have you tried [infracost-usage.yml](https://www.infracost.io/docs/usage_based_resources) as a way to provide usage estimates? I wonder if that would help with aws_backup* resources. We released it last week and are looking for feedback on that approach (we have ideas to auto-generate that file from sources like cloudwatch in the future but for now, the simplest is if the user adds ro

[2021-01-20 10:40] dawidmalina commented on #344
ok I will try to test it.

[2021-01-20 10:44] dawidmalina opened #345 "Add support AWS Route53 Resolver"
Terraform resources:
- aws_route53_resolver_endpoint
- aws_route53_resolver_rule
- aws_route53_resolver_rule_association
- aws_route53_resolver_dnssec_config
- aws_route53_resolver_query_log_config
- aws_route53_resolver_query_log_config_association

AWS pricing page: https://aws.amazon.com/route53/pricing/#Route_53_Resolver

[2021-01-20 10:48] dawidmalina opened #346 "Add support AWS Config"
Terraform resources:
- aws_config_config_rule
- aws_config_aggregate_authorization
- aws_config_configuration_aggregator
- aws_config_configuration_recorder
- aws_config_configuration_recorder_status
- aws_config_delivery_channel
- aws_config_organization_custom_rule
- aws_config_organization_managed_rule
- aws_config_remediation_configuration

AWS pricing page: https://aws.amazon.com/config/prici

[2021-01-20 20:52] ackbyte opened #348 "[AWS] Costs for Marketplace AMIs"
Run infracost on one of my internal test projects and found the issue with Marketplace AMIs.
The AMIs, which are from the marketplace not in the cost overview.

Example:
`
resource "aws_instance" "kafka-endpoint" {
ami                     = "ami-0034c84e4e9c557bd"
`

The AMI **0034c84e4e9c557bd** is an CentOS 8 and have additional costs.
The Output shows only the EC2 Costs:
_Linux/UNIX usage (on-d

[2021-01-20 21:54] alikhajeh1 commented on #348
@ackbyte thanks for reporting this. I believe you're referring to the extra charges for [this image](https://aws.amazon.com/marketplace/pp/B07YLV9Y8H?qid=1611178886493&sr=0-1&ref_=srh_res_product_title)?

As mentioned in [the supported resources page](https://www.infracost.io/docs/supported_resources/), costs associated with marketplace AMIs are not supported as AWS doesn't seem to have an API for

[2021-01-21 08:28] dawidmalina opened #349 "Cost calculation differ between remote state and plan based calculation"
I am prototyping infracost and I have faced strange issue. For some unknown reasons cost calculation are different between those two calculations:
- `infracost --no-color --tfdir . --tfplan ${PLAN}`
- `infracost --no-color --tfdir . --use-tfstate`

Terraform plan is empty:

[code]

Diff between calculations:
[code]

[2021-01-21 08:41] aliscott commented on #349
@dawidmalina thanks. This looks like it's detecting the wrong region for some reason. Do you have an example of the Terraform file you are using for this?

[2021-01-21 08:44] dawidmalina commented on #349
It is working environment but i will try to provide code example soon.

[2021-01-21 09:49] dawidmalina commented on #349
Additional input. I am using here nasted modules (maybe this will help)
[code]

The module defines this tgw attachment like this:
[code]

[2021-01-21 10:06] aliscott commented on #349
I'm wondering if it's hitting this issue: https://github.com/infracost/infracost/blob/master/internal/providers/terraform/parser.go#L193-L195

Can you run with `INFRACOST_LOG_LEVEL=debug` and see it if it outputs "Falling back to default region"?

If you have an example of how the AWS region is passed into your modules that would be useful as well.

[2021-01-21 11:47] sinabakh commented on #231
I think I've found some kind of logical error in Terraform provider for this resource. So I just wanted to ask your opinion regarding this.

Buckets have a location that indicates where they are located. You can find the list of locations and their region in https://cloud.google.com/storage/docs/locations

They have 3 kinds of locations:
* Regional (like `US-EAST4`)
* Dual-regional (like `US`)
* M

[2021-01-21 11:56] dawidmalina commented on #349
[code]
[code]

[2021-01-21 11:56] dawidmalina commented on #349
[code]
[code]

[2021-01-21 19:32] aliscott commented on #231
@sinabakh okay this took a while to work out. `REGIONAL` and `MULTI_REGIONAL` are legacy. You can't even create them any more in the GCP UI. They map to same pricing as `STANDARD` for that location (see https://cloud.google.com/storage/docs/storage-classes#legacy).

Also this tooltip shows in the GCP UI:

So:
* `location: US, storage_class: MULTI_REGIONAL == location: US, storage_class: STANDARD`

[2021-01-21 22:43] ackbyte commented on #348
Hi @alikhajeh1, thank you for the quick response!

Yes, that's correct. The [CentoOS 8](https://aws.amazon.com/marketplace/pp/B07YLV9Y8H?qid=1611178886493&sr=0-1&ref_=srh_res_product_title) Marketplace images was used in my case. This one produce additional costs.

I understand the issue with the API, which does't provide the required information for proper calculations. Usage of infracost file op

[2021-01-21 22:43] #348 closed

[2021-01-22 03:48] alikhajeh1 commented on #348
@ackbyte thanks, the infracost-usage.yml does not yet support add-on hourly price for resources, and if you use the existing `rhel` with a t3a.xlarge instance, it adds $0.2104/hr vs the centos8 $0.20. Is that close enough to unblock you for now? Also, do you use the hourly or annual pricing for paying for centos8? I guess if we add `hourly_price_addition` you can either use $0.20 or $0.1711 ($1499

[2021-01-22 12:58] aliscott commented on #348
@ackbyte @alikhajeh1 yeah, this is something we can add an override for in the `infracost-usage.yml` file. Maybe `software_hourly_price` to make it consistent with the marketplace terminology.

Longer term, though, I think we do want to support this. AWS recently released an [API for private market places](https://aws.amazon.com/blogs/awsmarketplace/introducing-aws-marketplace-apis-private-marketp

[2021-01-22 13:14] hassankhosseini opened #352 "Support Cloud Formation templates & create cost estimates"
Add support for Cloud Formation Templates. This is for users who are not using Terraform (or not only using terraform).

https://aws.amazon.com/cloudformation/

[2021-01-22 18:18] alikhajeh1 commented on #352
This is a duplicate of https://github.com/infracost/infracost/issues/190

[2021-01-22 18:18] #352 closed

[2021-01-22 20:01] notnmeyer commented on #317
what terragrunt version? based on when you submitted this, you might be describing a bug fixed in https://github.com/gruntwork-io/terragrunt/releases/tag/v0.27.0

[2021-01-22 20:56] aliscott commented on #317
Thanks @notnmeyer you are spot on 😄! Have tested with terragrunt v0.27.0 and this is resolved.

[2021-01-22 20:56] #317 closed

[2021-01-22 21:16] alikhajeh1 commented on #317
I sent a [PR](https://github.com/infracost/infracost/pull/353/files) to update the Terragrunt version we ship in the infracost docker image. @notnmeyer if you use that docker image (it's mostly used for CI integrations), do you think there is a need for multiple terragrunt versions in the dockerfile? (we do [this](https://github.com/infracost/infracost/blob/master/Dockerfile#L17) for terraform ver

[2021-01-22 21:22] notnmeyer commented on #317
i dont use the image, but i'm familiar with how Terragrunt and Atlantis play together. what youre doing looks like what i'd expect. for the most part, the specific TG version doesnt matter much to me.

[2021-01-22 21:25] alikhajeh1 commented on #317
@notnmeyer thanks for the feedback! I'll keep bumping up the infracost image to use latest version of TG until someone screams at me then :)

[2021-01-24 16:35] dawidmalina opened #356 "Smaller version of table output"
Existing table might be quite long (especially when you are using modules or even nested modules), for example:
[code]

Ideally if I would use some additional argument which will omit (`MONTHLY QTY`, `UNIT`, `PRICE`) and produce simplified output like this:
[code]

Full report will still be required but it will be just an build (merge request) artifact which I can refer as link without putting all

[2021-01-24 18:22] sinabakh commented on #274
I would like to give it a try but I'm not a terraform's advanced user so it would be great if you could give me some ideas about how I can tackle this issue.

[2021-01-24 21:18] aliscott commented on #274
@sinabakh I can think of 3 options:

1. Simple check if `.terraform` dir exists
   *  We had this before (https://github.com/infracost/infracost/commit/985075d3d534a5de65fbc5559b3f9fa79ef5496f#diff-72a6035a570221d6612b04b5[…]c4efc7935dc1a972bb3a9ee55d7a4)
   * It doesn't detect if init needs to be re-run due to updated providers/modules

 2.  The same as this (https://github.com/gruntwork-io/terra

[2021-01-24 22:04] #251 closed

[2021-01-25 13:29] alikhajeh1 commented on #356
@dawidmalina great point, we've been trying to keep the cost component names (e.g. Transit gateway attachment) as short as possible without sacrificing clarity, but hadn't thought about modules and their nesting.

Thinking of other things we could do, what do you think about `module.emea.module.vpc_ft_vc01.x.vpc_vc01[0]` for the name, so the aws resource type is omitted? Or is the full name requir

[2021-01-25 15:10] dawidmalina commented on #356
Personally I would keep the original (full) name as it will allow me to quickly identify resource. For the quick diff (review) I would prefer those three columns: `NAME`, `HOURLY COST`, `MONTHLY COST` as a sane minimum.

Btw it is exactly like this: https://www.infracost.io/img/screenshots/pr-step-2.png

I would not go too far with calculating terminal width especially the the name can takeover a

[2021-01-25 15:31] aliscott opened #358 "Add support for Google Cloud Pub/Sub"
* Resource name: Google Cloud Pub/Sub
* Link to pricing information: https://cloud.google.com/pubsub/pricing
* Terraform resources: google_pubsub*

[2021-01-25 15:33] aliscott opened #359 "Add support for Google Cloud NAT"
Resource name: Google Cloud NAT
Link to pricing information: https://cloud.google.com/nat/pricing
Terraform resources: google_compute_router_nat

[2021-01-25 15:36] aliscott opened #360 "Add support for Google KMS"
Resource name: Google KMS
Link to pricing information: https://cloud.google.com/kms/pricing
Terraform resources: google_kms*

[2021-01-25 15:39] aliscott opened #361 "Add support for AWS Secrets Manager"
Resource name: AWS Secrets Manager
Link to pricing information: https://aws.amazon.com/secrets-manager/pricing/
Terraform resources: aws_secretsmanager_secret

[2021-01-25 15:41] aliscott opened #362 "Add support for AWS Certificate Manager"
Resource name: AWS Certificate Manager
Link to pricing information: https://aws.amazon.com/certificate-manager/pricing/
Terraform resources: aws_acm_certificate, aws_acmpca_certificate_authority

[2021-01-25 15:42] aliscott commented on #361
Duplicate of https://github.com/infracost/infracost/issues/336

[2021-01-25 15:42] #361 closed

[2021-01-25 15:51] alikhajeh1 commented on #356
@dawidmalina makes sense, we're going to show some love to the GCP users - we'll get to this feature when we have bandwidth, I also briefly discussed the idea of having users select the columns they want in the output with @aliscott (similar to how `kubectl` has `custom-columns` option).

[2021-01-25 18:47] alikhajeh1 commented on #327
@icereed just FYI that in v0.7.15 (that we just released), users with big projects should see infracost run much faster as we've parallelized the Cloud Pricing API calls. Would be good to know if that makes a difference for you.

[2021-01-25 19:06] alikhajeh1 commented on #230
@syphernl just FYI that support for aws_ssm_parameter and aws_ssm_activation was just released in v0.7.15 (I noticed you +1'd the `aws_cloudfront_distribution` resource too, that was released in the last version but I forgot to move [the ticket](https://github.com/infracost/infracost/issues/230) to released).

[2021-01-25 19:06] alikhajeh1 commented on #251
@syphernl just FYI that support for aws_ssm_parameter and aws_ssm_activation was just released in v0.7.15 (I noticed you +1'd the `aws_cloudfront_distribution` resource too, that was released in the last version but I forgot to move [the ticket](https://github.com/infracost/infracost/issues/230) to released).

[2021-01-26 00:03] robh007 commented on #336
I'll pick this up if that's ok, it seemed pretty straight forward.

[2021-01-26 01:54] robh007 commented on #362
If nobody minds, I can pick this up. I've got a WIP.

[code]

[2021-01-26 11:55] #336 closed

[2021-01-26 12:25] hassankhosseini opened #368 "Add AWS China pricing support"
AWS China is slightly different to other AWS regions, and have specific pricing in place: https://www.amazonaws.cn/en/ec2/pricing/

The ideal output of Infracost in terms of currency for now is that all outputs are in USD.

[2021-01-26 21:10] alikhajeh1 commented on #188
@chapayevdauren did you get a chance to try [this](https://www.infracost.io/docs/report#bulk-run)? [This comment](https://github.com/infracost/infracost-gh-action/issues/16#issuecomment-767820083) got me thinking how your project structure could work in CI... would [this method](https://github.com/infracost/infracost-gh-action/issues/16#issuecomment-767828376) possibly work for you?

[2021-01-26 22:23] #254 closed

[2021-01-27 08:34] alikhajeh1 commented on #253
Fixed by https://github.com/infracost/infracost/pull/369

[2021-01-27 08:34] #253 closed

[2021-01-27 08:50] #274 closed

[2021-01-27 16:38] aliscott commented on #267
Closed by https://github.com/infracost/infracost/pull/370.

[2021-01-27 16:38] #267 closed

[2021-01-28 08:05] aliscott commented on #368
Added in https://github.com/infracost/cloud-pricing-api/pull/32. Currently this converts the CNY to USD and caches it for a day.

Note: there's some options that aren't yet available in the bulk pricing API for China, such as AWS ECS with Fargate.

[2021-01-28 08:05] #368 closed

[2021-01-28 18:59] alikhajeh1 commented on #358
Fixed by https://github.com/infracost/infracost/pull/374

[2021-01-28 18:59] #358 closed

[2021-01-28 20:25] mercuriete opened #375 "docs: lack of documentation about resources inside a module (infracost-usage.yml)"
First of all, thanks for this awesome tool.

I think there is a lack of information in the infracost-usage.yml documentation when the resource is inside a module.
I am trying to estimate the cost of a dynamodb as following:

main.tf
[code]

I want to estimate the cost of a dynamodb

result:
[code]

infracost-usage.yml
[code]

terraform plan
[code]

[2021-01-28 21:34] aliscott commented on #375
Thanks @mercuriete! Agree about the lack of documentation - I'll add some as part of this ticket.

We have been working to make the usage keys more consistent for the next release (in the next couple of days).

If you're using master then the keys you are using are correct.
If you're using v0.7.15 then the keys are here: https://github.com/infracost/infracost/blob/v0.7.15/infracost-usage-example.y

[2021-01-29 01:26] mercuriete commented on #375
Thank you! I Will check that tomorrow.

[2021-01-29 07:55] dawidmalina commented on #368
Does it mean that it is already available on the public pricing endpoint?

[2021-01-29 08:17] aliscott commented on #368
@dawidmalina yes this has now been released in the public pricing endpoint.

[2021-01-29 09:20] mercuriete commented on #375
Thanks it was indeed the indentation problem.

I will leave this ticket open. You can close when you feel the documentation and examples are more complete.

Thanks you very much!

[2021-01-29 15:48] aliscott commented on #359
Done in https://github.com/infracost/infracost/pull/376

[2021-01-29 15:48] #359 closed

[2021-01-31 13:52] #231 closed

[2021-01-31 13:53] alikhajeh1 commented on #332
Fixed by #347

[2021-01-31 13:53] #332 closed

[2021-01-31 21:00] #362 closed

[2021-01-31 22:31] alikhajeh1 commented on #362
@dawidmalina FYI this is now available in v0.7.16

[2021-01-31 22:32] alikhajeh1 commented on #231
Shipped in v0.7.16

[2021-01-31 22:33] alikhajeh1 commented on #267
@bappr and @Yinabled FYI this is now available in the newly released v0.7.16 version

[2021-01-31 22:35] alikhajeh1 commented on #274
@mjad-dazn just FYI that this is now available in the newly released 0.7.16 version

[2021-01-31 22:41] alikhajeh1 commented on #304
This is also happening in the Intelli J IDE

[2021-01-31 23:42] sinabakh commented on #99
I was thinking about working on it, but did not get a general idea and what is needed. Could you please elaborate more?

[2021-02-01 10:47] ekifel commented on #193
Hello! I want to pick it up :)

[2021-02-01 10:47] ekifel commented on #360
Hello! I want to pick it up :)

[2021-02-01 11:11] aliscott commented on #375
Thanks @mercuriete. I've added some examples for modules in #384 and https://github.com/infracost/docs/pull/40.

[2021-02-01 11:11] #375 closed

[2021-02-01 14:28] alikhajeh1 opened #385 "Add Google data transfer cost for Cloud Storage"
The #350 PR already had some of this so the aim of this ticket is to move those to a separate resource like we did with AWS data transfer and add the requires usage-file params too

[2021-02-01 14:33] alikhajeh1 opened #386 "Add support for Google Cloud SQL"
Terraform resources:
google_sql_database_instance
google_sql_user
google_sql_database

Pricing details: https://cloud.google.com/sql/pricing

[2021-02-01 14:34] alikhajeh1 opened #387 "Add support for AWS EventBridge"
Terraform resources:
aws_cloudwatch_event_bus
aws_cloudwatch_event_permission
aws_cloudwatch_event_rule
aws_cloudwatch_event_target

Pricing details:
https://aws.amazon.com/eventbridge/pricing/

[2021-02-01 14:42] alikhajeh1 opened #388 "Add support for AWS EFS"
Terraform resources:
    aws_efs_access_point
    aws_efs_file_system
    aws_efs_file_system_policy
    aws_efs_mount_target

Pricing details: https://aws.amazon.com/efs/pricing/

[2021-02-01 14:43] alikhajeh1 commented on #312
@jeanbaptistebeck plz add a comment here once the Scalr API supports fetching json plans and I'll re-prioritize this.

[2021-02-01 14:53] mercuriete commented on #375
Thank you! It is much more better now.

Keep going with this awesome project :+1:

[2021-02-01 16:49] alikhajeh1 commented on #385
You might need to look at things like https://cloud.google.com/sql/pricing#network-egress-pricing https://cloud.google.com/products/calculator#id= > Networking egress to the available prices

[2021-02-01 19:12] robh007 commented on #345
I'll give this one a go @alikhajeh1

[2021-02-01 19:22] alikhajeh1 opened #389 "Refactor CalculateTierRequests method"
See [this todo](https://github.com/infracost/infracost/blob/master/internal/usage/tier_requests.go#L9-L17) for details, this method can be used in several resources to DRY-up our code

[2021-02-02 13:13] aliscott commented on #99
Notes from discussion

Update JSON output to have the following top level fields:
- existing_resources
- planned_resources
- resource_changes

All these keys have the same field structure as our existing `resources` field.

Cases to think about:
1. Cost component doesn't change -> existingMonthlyCost == plannedMonthlyCost
2. Existing cost component does change, e.g. instance type is changed.
3. Ne

[2021-02-02 17:15] richardj-bsquare commented on #79
For anyone with a micro-service architecture, ECS with EC2 (ASGs) is 90% of the cost of an AWS deployment. Unfortunately its quite complex, since ECS itself doesn't dictate the potential costs, but rather the associated scaling groups associated with metrics or via a Capacity provider.

I think this means to support this all we have to change the existing ECS support to set cost to free for ECS wi

[2021-02-02 18:45] sinabakh commented on #99
For starters, I will try to change the JSON output and then add the original functionality in a separate MR.
@aliscott Are we ok with these fields names? Or it needs more investigation?

[2021-02-02 18:57] sinabakh commented on #385
I took a quick look at the SQL pricing and compared it to storage pricing. It seems their egress pricing method is completely different. I think we can't have a general resource for it. Or am I missing something?

[2021-02-02 19:30] aliscott commented on #385
This looks more complicated than I initially thought. The pricing page for Cloud SQL suggests that egress from us-central1-a to internet is always $0.19/GB. But the pricing API shows some destinations as $0.12/GB. In the pricing API they are listed as resourceGroup=PremiumInternetEgress, but the pricing is not entirely consistent with the Premium Internet Egress pricing here (https://cloud.google.

[2021-02-02 20:29] aliscott commented on #99
As a reference:

Terraform uses:
[code]

Pulumi uses:
[code]

Options:

Currently I'm thinking this hierarchy:

[code]

@sinabakh @alikhajeh1 any thoughts?

[2021-02-02 21:20] alikhajeh1 commented on #99
@aliscott +1 on those names

[2021-02-02 21:28] alikhajeh1 commented on #79
Thanks for the comment @richardj-bsquare, I added this to the priority list yesterday as I saw the 2 👍.
@aliscott had previously looked at how we could work out from the task definitions, how many instances would be needed in the autoscaling groups to satisfy the desired_count of the service. But this required implementing the same scheduling logic that [AWS use](https://aws.amazon.com/blogs/conta

[2021-02-02 23:32] sinabakh commented on #99
It looks good to me, will start working on it.

[2021-02-03 09:37] alikhajeh1 commented on #193
@SiahaanBernard this will be released in next week's release, it was done in #390 thanks to @ekifel!

[2021-02-03 09:45] #193 closed

[2021-02-03 15:44] alikhajeh1 commented on #99
@sinabakh it would be good to have the current top-level JSON keys in the JSON file for the next release `0.7.17`, and ensure that `infracost report` still continues to work (terragrunt users rely on that, I can help you test that if needed), then in `0.8.0` we'll remove the old keys and put in the usual "breaking change" release note.

[2021-02-03 21:08] sinabakh commented on #99
@alikhajeh1 So if I understand correctly, we will first add new keys alongside the current ones and then will remove the current ones right? I just started working on this task, thanks for heads up.

[2021-02-03 21:14] alikhajeh1 commented on #99
@sinabakh correct! Users might appreciate the heads-up and have a little more time to switch.

[2021-02-04 14:42] ekifel commented on #311
Hello! Can I do this if nobody minds?

[2021-02-05 09:25] alikhajeh1 opened #394 "Add diff functionality to table/HTML outputs"
Once [this issue](https://github.com/infracost/infracost/issues/99) is released, we'll want to add the diff functionality to the `--output table|html` outputs. That could then be used in [CI integrations](https://infracost.io/docs/integrations/).

[2021-02-05 11:07] dawidmalina commented on #356
Will this change be compatible with the `infracost diff` or at least with `infracost report`?

[2021-02-05 11:24] richardj-bsquare commented on #79
I think that would be a great compromise.

[2021-02-05 11:28] alikhajeh1 commented on #79
Thanks @richardj-bsquare - I bumped up the priority of this ticket on the [board](https://github.com/infracost/infracost/projects/2).

[2021-02-05 11:32] aliscott commented on #356
@dawidmalina yes this will also be compatible with the functionality for diff and report.

[2021-02-05 12:34] alikhajeh1 commented on #81
A big thank you to everyone for their feedback so far! The Infracost Atlantis integration has been released 🎉
See [this pull-request for a demo](https://github.com/infracost/infracost-atlantis/pull/2#issuecomment-773427685), expand the Show Output sections and scroll down to see the Infracost output.

Please see [this repo's README](https://github.com/infracost/infracost-atlantis/) for the docs, w

[2021-02-05 12:34] #81 closed

[2021-02-05 17:29] dawidmalina opened #395 "Show not yet supported resources in dedicated command"
Just a small improvement which I have in my mind.

Having unsupported resources as part of the diff is quite useless and noisy but I would still like to know which resources are not yet calculated. Maybe we could have small command which without any further calculation can print table or list with unsupported resources.

Such command will be executed in the background and I as a devops can from ti

[2021-02-08 11:58] dawidmalina opened #400 "An unexpected error occurred running infracost on AWS China"
When i was trying to apply infracost from current directory (state file) on AWS China I have faced fallowing issue:
[code]

infracost.yml
[code]

[2021-02-08 12:00] ekifel commented on #346
Hey, I would to pick it up

[2021-02-08 12:05] aliscott commented on #400
Thanks @dawidmalina, looks like there's a resource with a non-standard ARN. Which terraform resource types are in this project?

[2021-02-08 12:07] dawidmalina commented on #400
The execution for plan will run without issues but no estimation will be provided.
[code]

infracost.yml
[code]

[2021-02-08 12:10] aliscott commented on #356
@dawidmalina just an update on this. We've now shipped the config file in the latest release, so this feature will be added to it in the next release. I'll update this ticket when it's done.

[2021-02-08 12:57] dawidmalina opened #401 "Falling back to default region (us-east-1)"
Cost calculation differ between remote state and plan based calculation.

Plan based calculation:
[code]

State based calculation:
[code]

[2021-02-08 12:58] dawidmalina commented on #401
Debug:
[code]

[2021-02-08 12:59] dawidmalina commented on #401
Looks similar: https://github.com/infracost/infracost/issues/349

[2021-02-08 21:33] jayceebernardino opened #402 "Support Atlantis merge checkout strategy"
We are using atlantis' [merge](https://www.runatlantis.io/docs/checkout-strategy.html#merge) strategy

Atlantis performs a local merge so we get

[code]
Because the git rev-parse output is master when the PR is trying to merge to master

ie:
[code]

[2021-02-08 21:40] jayceebernardino opened #403 "Support for running atlantis diff on newly created project"
Atlantis diff fails to run infracost on a commit where the directory doesn't exists.

[2021-02-08 21:52] alikhajeh1 commented on #403
@jayceebernardino thanks for reporting this, can you possibly describe this in a little bit more detail? I'm not sure I understand, the terraform directory has no terraform files? If so, you'd expect Infracost to skip over that dir?

[2021-02-08 22:38] jayceebernardino commented on #403
This happens when we add a new [project](https://www.runatlantis.io/docs/repo-level-atlantis-yaml.html#example-using-all-keys) in atlantis.

[atlantis_diff.sh](https://github.com/infracost/infracost/blob/master/scripts/ci/atlantis_diff.sh) will run `infracost` on the current branch and the base branch. The base branch doesn't have these files available since they are new so infracost fails.

[2021-02-09 01:19] alikhajeh1 commented on #402
@jayceebernardino thanks for reporting this and #403, I think I've fixed them in https://github.com/infracost/infracost/pull/404 and created a temporary [Docker image](https://github.com/infracost/infracost-atlantis/blob/master/Dockerfile) with that updated script.

Can you possibly try running `infracost/infracost-atlantis:temp_test` instead of `infracost/infracost-atlantis:latest` and let me kno

[2021-02-09 02:56] jayceebernardino commented on #402
Thanks you so much for your help on this. I made one modification to your change to make it work.  In https://github.com/infracost/infracost/blob/9c1af38751d08c6cba4d198a5605174aa6c1610e/scripts/ci/atlantis_diff.sh#L46-L50

I replaced `origin` with `head` (Probably because we create pull requests from forks internally )

[code]

[2021-02-09 10:34] alikhajeh1 commented on #395
Thanks for sharing! Can you please try this and let me know if it does what you'd like?
[code]

This is interesting, am I right in assuming that you've deployed and look after Infracost, and there are other teams who consume the Infracost outputs/diffs, so you'd like to see the unsupported resources but the other teams won't find that useful? It would be great to learn more about how you're using

[2021-02-09 12:46] hassankhosseini opened #406 "Add support and documentation for Jenkins CI"
A user would like to see how they can integrate Infracost into Jenkins CI/CD, they've had a few teams look at it but for one reason or another had issues integrating it into the pipeline.

[2021-02-09 13:39] dawidmalina commented on #395
Hi @alikhajeh1 - proposed trick do the job :) thanks for that.

[code]

Basically my use case is quite simple (i guess:D) I don't need to see them as a part of the report or diff added to the every merge request review. But from time to time I want to see what resources are missing to make sure i can create new issue on the github or vote for the exiting one.

[2021-02-09 14:10] alikhajeh1 commented on #395
Great - makes total sense! `--show-skipped` defaults to false so you shouldn't see them in the table or HTML reports by default, the CI integrations also don't show them by default. I [updated](https://github.com/infracost/docs/commit/853e0062a49e38420ecffc2e030ca03cd383871a) the docs to add that useful command :)

[2021-02-09 14:10] #395 closed

[2021-02-09 14:39] aliscott commented on #401
@dawidmalina was it just the S3 bucket cost that you were expecting in the state-based calculation or were you also expecting to see all the other resources that appeared in the plan?

I've pushed a fix for the S3 issue here: https://github.com/infracost/infracost/pull/407

[2021-02-09 14:48] dawidmalina commented on #401
@aliscott I expect that all other calculation will be present. Basically I am not applying any changes to the environment only prototyping with infracost. Expected result in this particular example is no price change.

[2021-02-09 15:41] dawidmalina opened #408 "AWS Resource Access Manager"
Terraform resources:
- aws_ram_principal_association
- aws_ram_resource_association
- aws_ram_resource_share
- aws_ram_resource_share_accepter

RAM is free of charge https://aws.amazon.com/ram/faqs/ so maybe we could make it supported.

[2021-02-09 15:46] dawidmalina opened #409 "AWS Resouces free of charge"
Terraform resources:
- aws_ec2_tag
- aws_ec2_transit_gateway_peering_attachment_accepter
- aws_vpc_peering_connection_accepter
- aws_dx_gateway_association_proposal

We can make it supported to remove the noise.

[2021-02-09 16:00] aliscott commented on #401
It seems to be skipping some modules but I've not been able to reproduce this locally. Can you run the following and send the output:
[code]

This needs `jq` installed and should output the path to each resource in the Terraform state file.

[2021-02-09 16:00] amontalban opened #410 "google_compute_instance pricing not working"
Hi team,

I'm trying to use this tool at my workplace (We are a GCP shop), but for some reason, I can't get the `google_compute_instance` pricing to work. Below is a simple test I used:

[code]

The output is:

[code]

This is happening with multiple machine types, for example, I have tested with `n2-standard-4` and `n2-standard-16` with the same result.

Thank you for the help!

[2021-02-09 16:17] aliscott commented on #410
Thanks @amontalban. This looks like an issue with it working out the correct region to use. I've fixed it in https://github.com/infracost/infracost/pull/411.

We'll push this in the next patch release shortly, but to unblock yourself just now if you set something like `zone = us-central1-a` explicitly in the resource then it should work.

[2021-02-09 16:18] alikhajeh1 commented on #402
Thanks for testing @jayceebernardino! I looked into the [Atlantis code](https://github.com/runatlantis/atlantis/blob/151308998829ebfd1cfd1fb020c27576a65fa339/server/events/working_dir.go#L141-L144) and they use "head" as the git remote for the head branch (base branch uses "origin") so I've [updated](https://github.com/infracost/infracost/commit/d825035affa6b3a205511019cbe6130c3d151a58#diff-d6ad9a

[2021-02-09 16:18] #402 closed

[2021-02-09 16:20] alikhajeh1 commented on #403
Fixed in https://github.com/infracost/infracost/pull/404

[2021-02-09 16:20] #403 closed

[2021-02-09 16:34] amontalban commented on #410
w00t w00t!! That fixed the issue.

Thanks for the quick reply and fix @aliscott!

[2021-02-09 17:29] dawidmalina commented on #401
This commend is failing in my case:
[code]

[2021-02-09 18:01] aliscott commented on #401
Maybe this will work:
[code]

If not then a snippet of the state file json that shows the path to one of the modules in the nested modules would be. You can get this by running `terraform show -json | jq` and then finding a resource like this:

[code]

[2021-02-09 18:58] aliscott commented on #400
@dawidmalina I've fixed the runtime error in https://github.com/infracost/infracost/pull/412, but this suggests there's an odd ARN in there which I can't reproduce. Can you run `terraform show -json | jq | grep arn` and see if any don't match the standard `arn:aws:ec2:cn-north-1:999991234567:vpc-endpoint/vpce-012345d888e554cd2` format?

I'm also looking into the zero costs as well.

[2021-02-09 19:28] dawidmalina commented on #401
[code]

[2021-02-09 19:39] sinabakh commented on #79
I'm interested to work on it.

[2021-02-09 19:45] dawidmalina commented on #400
[code]

[2021-02-09 20:01] dawidmalina commented on #400
[code]
[code]
[code]

[2021-02-09 21:29] netguino commented on #304
I have experienced this in urxvt with version `Infracost v0.7.17`.

The W's seem to come from the bottom, then clean up the screen upwards.

![image](https://user-images.githubusercontent.com/2894061/107431066-cd9d8780-6ada-11eb-87a6-f4f5532fe124.png)

[2021-02-09 21:34] netguino commented on #304
The W's seem to depend on how far down the terminal the prompt starts at, here is another example with --no-color:

![image](https://user-images.githubusercontent.com/2894061/107431628-9085c500-6adb-11eb-8eae-ae3177b8aa91.png)

[2021-02-09 23:53] robh007 commented on #388
I can pick this one up if you like @alikhajeh1

[2021-02-09 23:57] robh007 opened #414 "Add support for AWS directconnect."
I think this is the last of the connectivity resources that are missing, now data transfer is able to be calculated it maybe worth adding direct connect.

[code]

[2021-02-10 07:57] ekifel commented on #387
Good day. Can I pick this up if nobody minds?

[2021-02-10 10:30] #410 closed

[2021-02-10 12:46] aliscott commented on #401
@dawidmalina, thanks. I'm not seeing the resources from the plan output in the above output from the state file, e.g.:
[code]

Do you see these resources when you run `terraform show`?

[2021-02-10 12:57] dawidmalina commented on #401
yes i can see them few times for each region

[2021-02-10 13:57] aliscott opened #417 "AWS China VPC resources showing $0 prices."
This is an issue in the AWS bulk pricing API. I've opened a support ticket with AWS (Case ID 7974374661).

[2021-02-10 13:59] aliscott commented on #417
**Content of support ticket**

**--------**

I'm trying to get the pricing for the following services from the bulk pricing API:

https://www.amazonaws.cn/en/privatelink/pricing/ shows the following prices:

[code]

https://www.amazonaws.cn/en/transit-gateway/pricing/ shows the following prices

[code]

There's no way of getting this pricing from the AWS China endpoint of the bulk pricing API. Thi

[2021-02-10 14:00] aliscott commented on #400
@dawidmalina yeah this looks like the nulls were causing issues, thanks! The fix will go out in the next release (today).

For the zero prices, this is an issue with the AWS bulk pricing API. I've filed a ticket with AWS and created a new issue here to track it: https://github.com/infracost/infracost/issues/417.

[2021-02-10 14:00] #400 closed

[2021-02-10 14:39] #345 closed

[2021-02-10 14:52] aliscott commented on #401
Have debugged this with @dawidmalina. The issue is that `terraform show -json` does not show the resources. Looks like this is related to https://github.com/hashicorp/terraform/issues/25494 and https://github.com/hashicorp/terraform/issues/27351. I've submitted a PR to backport this to Terraform v0.14: https://github.com/hashicorp/terraform/pull/27733.

[2021-02-10 14:52] #401 closed

[2021-02-10 21:51] ccom-dev-platform opened #419 "Infracost Docker image fails to run terraform init correctly"
Setup:
+ Infracost Docker image: v0.7.16
+ AWS Provider: 3.10
+ GItlab integration

Infracost is unable to properly run "Terraform init" when using the docker image, error is as follows:

[code]

TF Code:

[code]

[2021-02-10 22:05] ccom-dev-platform commented on #419
I was able to replicate the issue with a public module and on the docker image version 0.7.18

Error:
[code]

TF code:

[code]

[2021-02-10 22:48] alikhajeh1 commented on #419
Thanks for reporting this! I couldn't reproduce it using the public module code above in [this MR](https://gitlab.com/infracost/gitlab-ci-demo/-/merge_requests/2) but without the S3 backend, using skip_credentials_validation/skip_requesting_account_id; it [worked ok](https://gitlab.com/infracost/gitlab-ci-demo/-/jobs/1022349733). I also tried with TF 0.12 using [this env](https://www.infracost.io/

[2021-02-11 11:14] alikhajeh1 commented on #385
The GCP Cloud Storage service had data transfer pricing for `Service:    strPtr("Cloud Storage")`, and I saw the same when reviewing the Google Cloud Functions PR `Service:       strPtr("Cloud Functions")`. So maybe @sinabakh's approach in that PR was good: anytime data transfer prices are returned as part of that service's pricing data, we include them in that resource's cost components. What do

[2021-02-11 12:31] aliscott commented on #410
@amontalban the fix for this has now been released in v0.7.18.

[2021-02-11 14:31] ccom-dev-platform commented on #419
Im using Terraform 0.13.5 on both my local machine and the pipeline. However the Infracost Docker image uses 0.14.6. The pipeline setup works fine, as we are able to run plans and applys, its just Infracost that fails.

We use the terraform binary only, nothing related to tf cloud. for managing state files we use a s3 backend/

No statefiles or `.terraform` folders are in the git repo. We do run a

[2021-02-11 14:37] ccom-dev-platform commented on #419
This is the configuration we use for the infracost step:

[code]

[2021-02-11 14:58] alikhajeh1 commented on #419
Thanks for the details. Can you please set the variable `INFRACOST_TERRAFORM_BINARY=terraform_0.13` to see if that helps? (it's mentioned [here](https://www.infracost.io/docs/environment_variables/#infracost_terraform_binary))

[2021-02-11 15:03] alikhajeh1 opened #421 "Add usage-file support for all existing resources"
[This docs page](https://www.infracost.io/docs/supported_resources) shows all of the resources Infracost supports. Since a few weeks ago, whenever we add a new resource, we also add support for it to the usage-file.

The aim of this ticket is to go through all of the supported resources, and check which ones need to be updated to add [usage-file](https://github.com/infracost/infracost/blob/master/

[2021-02-12 12:58] ccom-dev-platform commented on #419
Hey @alikhajeh1 just figured out what the problem was! Just like you called out on a previous comment the error was related to having a `.terraform` folder created in previous steps that was getting cached as an artifact and making Infracost do all kind of weird stuff. Will definitely keep it in minds for future reference! Feel free to close the issue, thanks for the help!

[2021-02-12 14:06] alikhajeh1 commented on #419
@ccom-dev-platform that's great! Thanks for digging into it. Can you please review [this PR](https://github.com/infracost/docs/pull/47) for me? might speed-up debugging for future users :)

[2021-02-12 14:06] #419 closed

[2021-02-12 21:20] #409 closed

[2021-02-12 21:20] alikhajeh1 commented on #409
Thanks @dawidmalina! I added the missing ones in https://github.com/infracost/infracost/pull/422/files, the bottom two were already on the free list. This will be released in the next version (probably early next week).

[2021-02-12 21:27] #408 closed

[2021-02-12 21:27] alikhajeh1 commented on #408
Thanks @dawidmalina - putting that FAQ in the description helped me add this one quickly. Every little helps :)

[2021-02-13 08:58] alikhajeh1 opened #424 "Validate config-file syntax"
I think Infracost should error if the config file has a key we don't expect vs failing silently. Two issues I ran into: added terraform_plan_file (thinking it'd match the flag), put json instead of json_file and it defaulted to dir.

[2021-02-14 07:37] sinabakh commented on #385
I highly believe that's the more proper way of doing this even for AWS. I understand that they charge the transfer as a separate cost component but that's just a virtual thing. I can't really change it without changing other resources.
In my point of view(as an Infracost user, not a contributor), I want to know how much of that huge "data transfer" thing is related to a specific resource.
I think

[2021-02-14 17:32] aliscott opened #425 "AWS Launch Template not detected when using terraform-aws-modules/eks/aws module"
Example Terraform:

[code]

Output is:
[code]

We expect that the `aws_autoscaling_group.workers_launch_template[0]` resource has a launch template subresource with costs.

[2021-02-14 17:33] aliscott commented on #425
It seems to work when using `worker_groups` instead of `worker_groups_launch_template`, e.g.:

[code]

Shows:

[code]

[2021-02-14 18:06] aliscott commented on #425
Looks like the plan JSON doesn't add references for fields defined in `dynamic` blocks.

Link to the relevant module code: https://github.com/terraform-aws-modules/terraform-aws-eks/blob/master/workers_launch_template.tf#L165-L177

under `planned_values` in the generated plan JSON:
[code]

under `configuration` in the generated plan JSON:
[code]

[2021-02-15 13:40] #99 closed

[2021-02-15 16:06] alikhajeh1 commented on #346
Thanks @ekifel for adding them!

@dawidmalina currently all AWS Config cost components are shown against the `aws_config_config_rule`. Maybe the following split is a better way to show these? Any thoughts?

[code]

[2021-02-15 16:55] dawidmalina commented on #346
Hmm. To be honest i have no preferences. For me it is fine. 👍

[2021-02-15 19:55] sinabakh commented on #385
So what's the final decision?

[2021-02-15 19:55] alikhajeh1 commented on #385
@sinabakh bring back the commented code and tests - your approach is better for GPC :)

[2021-02-15 19:59] sinabakh commented on #421
For starters, I think we can create a checklist of all resources we currently have as a snapshot. Then we can start checking and adding required usage data as needed gradually through different PRs. What do you think?

[2021-02-15 20:05] sinabakh commented on #386
I'd like to work on it, it might take some time cause it needs to support 3 different dbs.

[2021-02-15 20:11] #79 closed

[2021-02-15 22:27] alikhajeh1 commented on #346
@ekifel based on the Slack chat with @robh007, here's how we could split the cost component names across the resources. Can you possibly send a follow-up PR with this? (branch from latest master as I renamed "Config rule evaluations" to "Rule evaluations").

[code]

[2021-02-16 10:56] ekifel opened #427 "Add support for AWS Config Conformance Pack resource"
Need to add this resource after Terraform AWS v3.28 is available in brew

`aws_config_conformance_pack`

[2021-02-16 11:03] alikhajeh1 opened #428 "Build/release arm64 binaries"
See https://github.com/infracost/infracost/pull/287 for a previous attempt

[2021-02-16 11:09] alikhajeh1 commented on #389
Fixed by https://github.com/infracost/infracost/pull/405

[2021-02-16 11:09] #389 closed

[2021-02-16 11:09] alikhajeh1 commented on #387
Done in https://github.com/infracost/infracost/pull/415

[2021-02-16 11:09] #387 closed

[2021-02-17 08:40] ekifel commented on #421
@alikhajeh1 I want to do this if no one minds

[2021-02-17 10:15] mercuriete opened #434 "[Regression] invalid memory address or nil pointer dereference"
After updating from v0.7.18 to v0.7.19 I have this error:

[code]

Please give me some advice to create a useful ticket.

[2021-02-17 10:32] aliscott commented on #434
@mercuriete thanks, I'm looking into this now. When you run `terraform plan` in that directory is it showing resources being removed or added?

[2021-02-17 10:43] sinabakh commented on #434
I reproduced it, I'm working on the fix.
@aliscott Here's the minimal code to reproduce it:
[code]
If the `old` and `new` are both `nil`, it happens.

[2021-02-17 11:37] mercuriete commented on #434
ok, thanks
if you need me for something please don't hesitate in asking me to do it.

[2021-02-17 11:38] alikhajeh1 opened #437 "Add support for Google Compute Image"
Terraform resource: [google_compute_image](https://registry.terraform.io/providers/hashicorp/google/latest/docs/resources/compute_image), that resource is already in the codebase and `google_compute_machine_image` should be added, just returns nil as it's not been implemented.
Pricing: see [here](https://cloud.google.com/compute/disks-image-pricing?skip_cache=true).

Both of these should have a co

[2021-02-17 11:40] alikhajeh1 opened #438 "Add support for Google disk snapshots"
Terraform resource: [google_compute_snapshot](https://registry.terraform.io/providers/hashicorp/google/latest/docs/resources/compute_snapshot), the resource is already in the codebase, just returns nil as it's not been implemented.

We can add one cost component "Name: Storage" with "Units: GB-months". The following Pricing API filters should be used. The `storage_gb` infracost-usage.yml file para

[2021-02-17 11:54] mercuriete commented on #434
@aliscott
sometimes you do commits and there are no changes in the plan...
for example.... imagine that you do a commit only changing... ``` infracost-usage.yml```
the plan will be:

[code]

[2021-02-17 11:57] aliscott commented on #434
@mercuriete thank you, can you run the following:

[code]

This requires `jq` to be installed and should give us the basic structure of your plan file.

[2021-02-17 11:59] alikhajeh1 opened #439 "Add support for Google Memorystore Redis"
Terraform resource: [google_redis_instance](https://registry.terraform.io/providers/hashicorp/google/latest/docs/resources/redis_instance)
Pricing: see [here](https://cloud.google.com/memorystore/docs/redis/pricing)

[2021-02-17 12:11] alikhajeh1 opened #440 "Add support for AWS Application Auto Scaling"
Terraform resource: aws_appautoscaling_* (3 resources)
Pricing: [Application Auto Scaling](https://aws.amazon.com/autoscaling/pricing/) is itself free but it's used to scale target resources, we could either show the resources as free or do what we did with aws_autoscaling_group and have a usage-file param. I suspect the latter requires a reverse lookup so from a resource, we can find any referenc

[2021-02-17 12:16] mercuriete commented on #434
I did that command but it includes sensible info about the names of our infrastructure...

Can you provideme another way to give useful information?

for example...
can you provide me a branch with some logs enabled and I will try to compile infracost?
or even a binary if you will...

Thanks for the support.

[2021-02-17 12:22] aliscott commented on #434
@mercuriete no worries.

Can you try with the latest master and `INFRACOST_LOG_LEVEL=debug`? The log lines that will help us start with `diffResourcesByKey`.

[2021-02-17 12:38] mercuriete commented on #434
master is not crashing but the logs is a little bit weird:

[code]

there are only 1 double quote but no closing quotes.

[2021-02-17 12:41] mercuriete commented on #434
@aliscott it seems the key is empty?
I compiled using this commit: 29728a941ab2ee44064de3aece33ca0e73061da1

and using docker build and extracting the binary from the container to my workstation.

Can I do something for you?

[2021-02-17 14:19] aliscott commented on #434
Thanks @mercuriete, this was super helpful. We've shipped a patch just now, can you test that v0.7.20 works okay for you?

[2021-02-17 14:34] alikhajeh1 commented on #294
Moved back to the Todo pile until we finish https://github.com/infracost/infracost/issues/421

[2021-02-17 15:30] mercuriete commented on #434
I tested infracost v0.7.20 and it works for me.

thanks for your help.

you can close this ticket.

[2021-02-17 15:52] aliscott commented on #434
Thanks for your help 😄

[2021-02-17 15:52] #434 closed

[2021-02-17 16:10] joetheone commented on #190
Yes please! 🙌

[2021-02-17 20:01] dawidmalina commented on #417
@aliscott is there any reply from the aws support about this issue?

[2021-02-17 20:06] aliscott commented on #417
@dawidmalina have just chased them up.

[2021-02-17 20:08] alikhajeh1 commented on #417
@dawidmalina in a previous startup, I use to tell users to ask their AWS account execs (if they had one) to chase-up the case (Case ID 7974374661 in this case) - sometimes it resulted in them to take the tickets more seriously.

[2021-02-17 20:09] alikhajeh1 commented on #311
@ruanmartinelli we just released this in v0.7.20 🎉 ([install docs](https://www.infracost.io/docs/#installation)), it would be great to hear your thoughts about how infracost handles [usage-based resource](https://www.infracost.io/docs/usage_based_resources) such as Cloud Functions, e.g. using [this](https://github.com/infracost/infracost/blob/master/infracost-usage-example.yml#L187-L190).

[2021-02-17 20:09] #311 closed

[2021-02-17 20:12] alikhajeh1 commented on #346
Released in v0.7.20!

[2021-02-17 20:12] #346 closed

[2021-02-17 20:12] alikhajeh1 commented on #360
Released in v0.7.20!

[2021-02-17 20:12] #360 closed

[2021-02-17 20:17] alikhajeh1 commented on #79
@tsouza85 and @richardj-bsquare support for this was released in v0.7.20 🎉 The [`aws_autoscaling_group.instances`](https://github.com/infracost/infracost/blob/master/infracost-usage-example.yml#L181-L182) usage file parameter can be used to set the number of instances. Would be great to hear your feedback about [our approach](https://www.infracost.io/docs/usage_based_resources) towards usage-based

[2021-02-17 20:19] alikhajeh1 commented on #385
@sinabakh I changed the title of this ticket so we can use to track adding back the stuff we commented-out during the Google Cloud Storage PR.

[2021-02-17 20:31] alikhajeh1 commented on #24
Heads-up: since this issue was closed in Nov, we've found our Google groove and are adding new GCP resources like there is no tomorrow :shipit: [Upgrade](https://www.infracost.io/docs/#1-install-infracost) to the latest version (v0.7.20) to see the [14 resources](https://www.infracost.io/docs/supported_resources/#google-cloud-platform-gcp) that are now supported.

Also, plz 👍 the [open issues](htt

[2021-02-17 22:43] dawidmalina commented on #349
@aliscott i still see this issue with latest TF 0.14.7 and Infracost 0.7.20:
[code]

In the output i see:
[code]

[2021-02-17 22:51] dawidmalina opened #441 "Add support AWS Directory Service"
Terraform resources:
- aws_directory_service_conditional_forwarder
- aws_directory_service_directory
- aws_directory_service_log_subscription

AWS pricing page: https://aws.amazon.com/directoryservice/pricing/

Fallowing resources are free of charge:
- aws_directory_service_conditional_forwarder
- aws_directory_service_log_subscription

Currently directory sharing is not possible via terraform so

[2021-02-18 08:16] ameeno opened #443 "Please compile for darwin arm64"
yea, I know it's really annoying.

Mac m1 and all that, and perhaps I could build it myself (have not really read)

it was a tough cookie to get terraform to work and providers had to be built manually for darwin_arm64

but there we go, new architecture and all that.

Would it be possible for you to release an arm64 darwin build? and perhaps even an arm64 Linux/windows build, cos why not eh?

[2021-02-18 08:18] ameeno commented on #443
NVM.
 Homebrew already installed an arm64 version for me, aren't them guys nice? :)

[2021-02-18 08:26] sinabakh commented on #296
I'll give it a shot.

[2021-02-18 08:41] alikhajeh1 commented on #443
Thanks for the heads-up @ameeno! Going to close this issue as it's a duplicate of https://github.com/infracost/infracost/issues/428, now that Go 1.16 is released I've added it to the [Todo list](https://github.com/infracost/infracost/projects/2). Homebrew folks are indeed very nice!

[2021-02-18 08:41] #443 closed

[2021-02-18 08:58] dawidmalina opened #444 "AWS Resource free of charge"
Terraform resources:
- aws_resourcegroups_group

We can make it supported to remove the noise.

[2021-02-18 09:06] #444 closed

[2021-02-18 09:08] dawidmalina commented on #444
Hehe @alikhajeh1 you were quicker ;)

[2021-02-18 09:08] alikhajeh1 commented on #444
Done via https://github.com/infracost/infracost/pull/445/files (sharing the link in case you prefer to send a PR if it saves you time vs creating the issue first for adding free resources)

[2021-02-18 09:10] alikhajeh1 commented on #444
@dawidmalina doh! sorry about that - I didn't see the open PR, you added it in **exactly the right place**. As the community gets bigger maybe we should update the contributing guide to encourage people to add a comment on issues they're working on to avoid that woopsie 😹

[2021-02-18 09:17] alikhajeh1 commented on #444
Tweaked it [here](https://github.com/infracost/infracost/commit/efe69e72eaaae607278aa033b12a6bfee12833db)

[2021-02-18 12:00] aliscott commented on #349
Thanks @dawidmalina. I've been digging into this a bit.
So the issue is that the AWS API don't return an ARN or region from the AWS API for the VPC attachments so we have to get it from the Transit Gateway itself.

I see you're passing the `var.tgw_id` to the `aws_ec2_transit_gateway_vpc_attachment`. Are you defining the `aws_ec2_transit_gateway` anywhere in the Terraform code?

[2021-02-18 16:08] dawidmalina commented on #349
It's consumed as an output from different state in the network account

[2021-02-18 17:45] aliscott opened #449 "Add a Nix package for Infracost"
See: https://nixos.org/manual/nixpkgs/stable/#idm140737317098448

[2021-02-18 21:02] alikhajeh1 opened #450 "Add support for AWS RDS Serverless"
Pricing: https://aws.amazon.com/rds/aurora/pricing/

This ticket has two parts:
1. Update `aws_rds_cluster_instance` to include prices:
  a) for T3 CPU Credits, look at the `eksCPUCreditsCostComponent` to see if that type of logic helps.
  b) Storage, IOs, Backup Storage, Backtrack, Snapshot Export
2. Add the `aws_rds_cluster` resource to cover the serverless case where there are no `aws_rds_clust

[2021-02-19 08:35] alikhajeh1 opened #451 "google_storage_bucket returns no price for EU"
The following resource returns no prices, but according to [this](https://cloud.google.com/storage/pricing) the EU multi-region has prices:
[code]

Terraform resource:
[code]

CLI logs:
[code]

[2021-02-19 08:58] robh007 commented on #414
I'll pick this one up @alikhajeh1

[2021-02-19 13:01] sinabakh opened #453 "AWS Elasticsearch volume naming does not comply the convention"
Here's a sample output of this resource:
[code]

According to the contribution guidelines:

So it seems the Storage cost component needs refinement.

[2021-02-19 13:08] aliscott commented on #349
@dawidmalina good idea! I've added this here: https://github.com/infracost/infracost/pull/454.

[2021-02-19 13:32] sinabakh commented on #451
I'm looking into it.

[2021-02-20 13:51] #453 closed

[2021-02-20 22:02] #385 closed

[2021-02-20 23:10] #388 closed

[2021-02-21 15:34] #451 closed

[2021-02-22 14:44] mercuriete opened #460 "docs: infracost usage yaml aws_s3_bucket"
there are no documentation in this file: https://github.com/infracost/infracost/blob/master/infracost-usage-example.yml

when I do infracost I see this:

[code]

If you need more information about the problem I can rewrite this ticket.

thanks.

PS: It would be nice to have a feature request where you can query the YAML schema for a given infracost version instead of reading outdated documentation

[2021-02-22 15:07] mercuriete commented on #460
I am not sure if the following idea is good or bad:

infracost --showKeys

a parameter that instead of see human readable report... see the usage keys that we need to put on a usage file. (or another column in the same report)

I don't know if that is very difficult to implement but it would be nice to have some functionality like that.

Anyways...
thanks for your product

PS: If you can point me

[2021-02-22 15:27] alikhajeh1 commented on #460
Good point! I just pushed [this](https://github.com/infracost/infracost/commit/25d0c6dd48f3cbc827cc61ff9c10b0c62ac2026c) to clarify it. In case it helps, the work involves updating [s3_bucket.go](infracost/internal/providers/terraform/aws/s3_bucket.go) to read params from the usage-file and use those in the `CostComponent`'s `monthlyQuantity` param. If you'd like to help, plz add a comment to #421

[2021-02-23 15:37] richardj-bsquare commented on #79
Great thanks, I'll trial the usage-based stuff and see how well my predicted costs match actual.

[2021-02-23 15:56] richardj-bsquare commented on #79
A quickbit of feedback, I'm getting some anomalous output in the cost report where a sub-part of the displayed tree is completely unrelated to the resource in question, best explained by example:

[code]

[2021-02-23 21:42] alikhajeh1 commented on #79
So `module.companion.aws_autoscaling_group.cluster-service-on-demand` and `module.companion.module.unrelated-module.null_resource.wth` share the same "root" module but are separate resources? Is `null_resource` really a TF null_resource or sanitized in that output?

It would be useful if you can share the terraform snippet/resource that lead to that output. The instance type should be after "on-de

[2021-02-23 21:48] aliscott commented on #460
Thanks @mercuriete. Will close this issue for just now 😄

[2021-02-23 21:48] #460 closed

[2021-02-24 09:20] richardj-bsquare commented on #79
Yes, it really is a null_resource; I only masked 'unrelated-module' and 'wth' for customer privacy reasons.

I didn't actually fill out the infracost-usage.yml; so I'll do that first.

[2021-02-24 12:06] alikhajeh1 commented on #79
@richardj-bsquare cool - can you please create a separate issue when you've had a chance to try it with the infracost-usage.yml too? Seems like a bug :) Also, if you run it with `--log-level=debug`, there should be lines like "No products found for" or "No prices found for", those lines plus any repro steps would help us debug much faster.

[2021-02-24 14:06] hassankhosseini commented on #86
@pwithnall this would be super interesting (especially for me personally) - I'm asking around YCombinator partners to see if they know where we can source the data from to connect it up. Any ideas? I'll update this ticket if I find anything else. So far I've looked at https://carbonchain.com/ and http://ourworldindata.org/

[2021-02-24 17:21] robh007 opened #463 "Take output from infracost & reuse in TF / Terragrunt creating an AWS budget."
It would be good if possible to take the infracost estimates and feed back into terraform / terragrunt in some way to then create an AWS budget. This way you can create an alerting mechanism from the original estimate, especially if you have usage based estimates i.e. a set of AWS resources being used for 35% of the time. You can then alert if the environment is being used beyond the initial 35% v

[2021-02-25 20:12] sinabakh opened #469 "Add support for Google Load Balancer"
Terraform resources:
// google_compute_forwarding_rule
// google_compute_global_forwarding_rule
// google_compute_target_grpc_proxy
// google_compute_target_http_proxy
// google_compute_target_https_proxy
// google_compute_target_ssl_proxy
// google_compute_target_tcp_proxy
// google_compute_region_target_http_proxy
// google_compute_region_target_https_proxy

Google pricing page:
https://cloud.go

[2021-02-25 20:15] sinabakh opened #470 "Add support for Google VPNs"
Terraform resources:
`google_compute_vpn_gateway`
`google_compute_vpn_tunnel`
`google_compute_external_vpn_gateway`
`google_compute_ha_vpn_gateway`

Pricing page:
https://cloud.google.com/network-connectivity/docs/vpn/pricing

[2021-02-25 20:18] sinabakh opened #471 "Add support for Google Logging"
Google pricing page:
https://cloud.google.com/logging#section-6

Terraform resources:
Needs more investigation

[2021-02-25 20:21] sinabakh opened #472 "Add support for Google Monitoring"
Pricing page:
https://cloud.google.com/stackdriver/pricing

[2021-02-25 20:23] sinabakh opened #473 "Add support for Google Container Registry"
Terraform reosurce:
`google_container_registry`

Pricing page:
https://cloud.google.com/container-registry/pricing

[2021-02-25 20:29] sinabakh opened #474 "Add support for AWS Route53 Health Checks"
Terraform resource:
`aws_route53_health_check`

Pricing page:
https://aws.amazon.com/route53/pricing/#Health_Checks

[2021-02-26 11:32] alikhajeh1 commented on #463
Cool idea!

Have you used AWS Cost Anomaly Detection before? If so, what's good/bad about it? I'm wondering if [AWS budget alerts](https://registry.terraform.io/providers/hashicorp/aws/latest/docs/resources/budgets_budget) are still the main cost guardrails or if users are moving to the cost anomaly stuff.

[2021-02-26 11:48] mercuriete opened #477 "Bad calculation on EC2 spot instances when are inside a managed node_group"
Description:

When an EC2 instance group is created because they are created using aws_eks_node_group ...
If the capacity type is SPOT the calculation is done as if they were ON_DEMAND.

step to reproduce:

1. create an EKS cluster with aws_eks_cluster
2. create an EKS node_group with aws_eks_node_group
3. put  ```  capacity_type  = "ON_DEMAND"```
4. change to -> ```capacity_type  = "SPOT"```

Act

[2021-02-26 18:43] robh007 commented on #463
Hi @alikhajeh1 we do have cost Anomaly detection but I see this as a slightly different use case. With budgets I see that different environments / workloads can have estimates generated and then a budget created. Within budgets you can also create actions i.e. Stop the workload or notify that a particular workload is breaching a threshold.

With anomaly detection that's going to show something tha

[2021-02-26 23:32] pwithnall commented on #86
Great! I have loose estimates for a few things (from the work I’ve done on this internally at Endless previously, which is specific to the infra we have set up), but I’ve found it hard to come by reliable numbers, and there’s an order of difference between a good data centre and a bad one. I’d be tempted to make best estimates and then refine them in time, as better information comes available. Fo

[2021-02-28 07:37] sinabakh commented on #394
I'm thinking about working on it, what ideas we have for it?

[2021-02-28 07:49] aliscott commented on #394
@sinabakh I've got a work in progress branch for the CLI (https://github.com/infracost/infracost/tree/feat/diff-cli) that's almost ready. It's not really a table view, and there's no HTML view for it yet, so I think it will replace this ticket.

[2021-03-01 09:55] alikhajeh1 commented on #294
Going to close this ticket as the next version of the CLI will have clearer description of usage-based resources.

[2021-03-01 09:55] #294 closed

[2021-03-01 21:26] sinabakh commented on #394
Seems promising 👍🏼

[2021-03-02 12:47] davidmytton commented on #86
[The cloud vendors do not release enough information](https://www.nature.com/articles/s41558-020-0837-6) to be able to make accurate assessments of carbon intensity, so you need to use proxies like the ones mentioned by @pwithnall to provide estimates with upper/lower bounds. That is probably sufficient for directional assessments e.g. is this more or less carbon intensive? which will generally co

[2021-03-02 14:17] alikhajeh1 commented on #477
@mercuriete thanks for reporting this in a detailed way that enabled us to [fix it](https://github.com/infracost/infracost/pull/485) quickly :) It'll go out in the next release in ~1week.

[2021-03-02 14:55] mercuriete commented on #477
thanks!!!
:+1:

[2021-03-02 15:05] #414 closed

[2021-03-02 19:29] alikhajeh1 commented on #421
@ekifel can this issue be closed? all done? 🚀

[2021-03-02 20:02] saranicole opened #486 "No Google Cloud resources shown, although at least two are supported resources"
First time user of infracost, I'm trying to estimate my Google Cloud Platform resources and I'm getting an output that none are supported, even though at least two are listed as supported resources.  I am storing my statefile in the free version of Terraform Cloud, not sure if that matters though.

Here is my debug output:
[code]

As you can see, google_container_cluster and google_container_node_

[2021-03-02 20:22] aliscott commented on #486
@saranicole thanks! Which version of Infracost are you running? (`infracost --version`). Version 0.7.20 should work with these resources.

[2021-03-02 20:31] saranicole commented on #486
@aliscott  indeed I see my version is set to:
[code]

I installed with brew which doesn't seem aware of version 0.7.20.  Is there a brew tap with the later version?  Or is the recommended path to install directly from the repo?

[2021-03-02 20:44] alikhajeh1 commented on #486
@saranicole we [publish](https://formulae.brew.sh/formula/infracost) the latest version to brew, have you already tried `brew upgrade infracost` ?

[2021-03-02 21:06] saranicole commented on #486
Yes I had been ignoring this error:
[code]
I executed `git -C "/usr/local/Homebrew/Library/Taps/homebrew/homebrew-core" fetch --unshallow`  to get `brew update` to work (which took a while), then `brew upgrade infracost` worked as expected.  Thank you so much for the help!

[2021-03-02 21:06] #486 closed

[2021-03-02 21:10] alikhajeh1 commented on #486
Awesome! thanks for reporting this, I [tweaked](https://github.com/infracost/docs/commit/16ab627c46d346fb79f91729cfc551c6b31692d2) our docs to help future users :)

[2021-03-03 07:14] ekifel commented on #421
@alikhajeh1 Yes, that's all! You can close it

[2021-03-03 07:42] #421 closed

[2021-03-03 07:44] sinabakh commented on #386
@alikhajeh1 If no one is working on it I will give it a try.

[2021-03-03 11:08] alikhajeh1 commented on #386
Thanks @sinabakh!

[2021-03-03 12:30] ekifel commented on #472
@alikhajeh1 Hello, can I pick it?

[2021-03-03 12:37] alikhajeh1 commented on #472
Thanks @ekifel 🕺

[2021-03-03 13:06] alikhajeh1 commented on #86
Thanks for creating this issue @pwithnall, and @hassankhosseini / @davidmytton for the input!
Assuming with make something like `infracost carbon` that works with raw primitives like compute, storage, and data transfer, who do you think would use this and what would they do with the output (aside from dev/ops)? The [Microsoft Sustainability Calculator](https://appsource.microsoft.com/en-GB/product

[2021-03-03 22:03] robh007 opened #488 "Support cross region AWS Direct connect data transfer costs."
Data transfer charges for AWS direct connect are currently calculated from the region where the connection is created. If you use DX gateway you can then incur data transfer costs from a specific region to your DX location. We should look to support both data transfer within the DX Gateway resource & / Or adding support into data transfer usage for AWS region to DX location.

[2021-03-04 13:40] dawidmalina commented on #349
@aliscott I found today new similar issue with ecs (fargate in this case) - no changes in the terraform

[code]

[2021-03-05 07:05] davidmytton commented on #86
The Microsoft Sustainability Calculator is great, but it's only available to Enterprise Azure customers. Microsoft say they will make it generally but available but haven't delivered on that yet. We really want to see all cloud providers offering the same kind of tool because they will always be able to provide the most accurate data on this.

The reason for providing the data depends on your size

[2021-03-05 17:26] robh007 commented on #474
I'll pick this one up @alikhajeh1

[2021-03-05 19:08] alikhajeh1 opened #490 "Auto-discovery of all TF workspaces"
Infracost can use `terraform workspace list` to automatically discovery of all workspaces in a repo, and return a cost diff for all workspace when a component changes. For example, if I change a module or component to add an EBS volume, and that component is used in dev, stage and prod, what is the cost impact?

This can also help with onboarding new users if we could auto-generate a config file f

[2021-03-05 20:00] alikhajeh1 commented on #472
@ekifel it might be good to look at the other 7 `google_monitoring_*` resources as part of this issue, we can still do 1 PR per resource but use the same GH issue.

[2021-03-06 16:01] #428 closed

[2021-03-07 10:14] alikhajeh1 opened #494 "Update aws_api_gateway_rest_api to show no costs when the usage-file isn't used"
The resource currently outputs 0 costs. We could probably also refactor it to remove `calculateAPIRequests` and change it to use `CalculateTierBuckets` that's used by other resources.

[2021-03-08 11:11] robh007 opened #495 "add support for AWS ActiveMQ"
Provide support for the following resources.

[code]

https://aws.amazon.com/amazon-mq/pricing/

[2021-03-08 14:15] advissor commented on #425
Same thing , when using module.eks.aws_autoscaling_group.workers_launch_template shows 0

`
[code]
 Terraform EKS versions
`
[code]

Mix of Spot & Ondemand worker launch templates

[code]

[2021-03-08 19:27] calebtote opened #496 "Plaintext Output"
We're including your project in our GitLab CI pipelines, but it seems that the coloring codes aren't represented the same as they would be in GitHub?
![Screen Shot 2021-03-08 at 1 25 16 PM](https://user-images.githubusercontent.com/1459202/110370923-ec2b6b80-8011-11eb-8dcc-361f2d8226f4.png)

Is there an option for plaintext output? Or better, a way to get these color codes to show up properly in G

[2021-03-08 19:30] calebtote commented on #496
I'm not sure if this is helpful, but linking just in case: https://gitlab.com/gitlab-org/gitlab-foss/-/issues/24167

[2021-03-08 21:45] aliscott commented on #349
@dawidmalina thank you! https://github.com/infracost/infracost/pull/497 has a fix for this.

[2021-03-09 04:39] ekifel commented on #494
@alikhajeh1 Hey, I guess I can do it fast if no one is doing it

[2021-03-09 10:18] ondrejsika commented on #428
Thank you guys!

[2021-03-09 10:21] alikhajeh1 commented on #428
@ondrejsika anytime :) it'll go live in today's release, we're finalizing the docs just now, will post a comment when it ships

[2021-03-09 10:39] jimsmith opened #499 "Add support and documentation for BuildKite CI"
A engineer/developer would need to be able to see how to integrate infracost into their BuildKite CI/CD platform, will there be support and documentation for this in order to integrate into buildkite pipeline as I would like to get this implemented to show infracost for the team but I'm unable to do so.

Buildkite Pipelines documentation -> https://buildkite.com/docs/pipelines

[2021-03-09 22:28] alikhajeh1 commented on #472
Released v0.8.0

[2021-03-10 02:31] sushant-pradhan opened #500 "Issue running breakdown on EFS resources"
Environment:
terraform 0.12.29
infracost: 0.8.0
OS: debian buster

Command:
[code]

Error:
[code]

[2021-03-10 03:45] sushant-pradhan opened #501 "ASG/launch template cost mismatch with 0.8.0"
Environment:
terraform: 0.12.29
infracost: 0.7.20
OS: Ubuntu 20 LTS

TF resources: aws_autoscaling_group, aws_autoscaling_notification, aws_launch_template, aws_iam_instance_profile, aws_iam_role, aws_iam_role_policy, aws_cloudwatch_log_group, aws_sns_topic, aws_lb_target_group etc.

Commands:
[code]
Returns valid result:
![image](https://user-images.githubusercontent.com/16751240/110573075-3864d1

[2021-03-10 08:24] alikhajeh1 commented on #296
@sinabakh https://aws.amazon.com/ebs/pricing/ mentions GP3 volume types have Storage, IOPS and Throughput. I don't see the last one in https://github.com/infracost/infracost/pull/452 so just wondering if that also needs to be added? or am I missing something?

[2021-03-10 08:27] alikhajeh1 commented on #496
@calebtote thanks for reporting this issue and sorry for the delay, I was waiting for v0.8.0 to be released as we've simplified the integration and changed the CI integrations to use the new `infracost diff` command. Can you please follow the [migration guide](https://www.infracost.io/docs/guides/v0.8_migration/), specifically the [GitLab section](https://www.infracost.io/docs/guides/v0.8_migratio

[2021-03-10 08:27] alikhajeh1 commented on #494
Released in v0.8.0.

[2021-03-10 08:27] #494 closed

[2021-03-10 09:36] alikhajeh1 opened #503 "Refactor AWS DocumentDB pricing"
Currently we support `aws_docdb_cluster_instance` but we could improve it if we:
- add `aws_docdb_cluster`: this should only have the `Backup storage` cost component, which should be removed from `aws_docdb_cluster_instance` and moved into this resource. This cost component should only apply if `aws_docdb_cluster.backup_retention_period` is more than 1 (the cost component has the `backup_storage_g

[2021-03-10 11:43] alikhajeh1 commented on #499
[Docker Buildkite Plugin](https://github.com/buildkite-plugins/docker-buildkite-plugin) seems useful, some options are:
1. document how infracost commands can be used with that plugin and our [Docker image](https://hub.docker.com/repository/docker/infracost/infracost)
2. update [diff.sh](https://github.com/infracost/infracost/blob/master/scripts/ci/diff.sh) to handle source control systems support

[2021-03-10 13:44] mercuriete opened #505 "0.9.0 will be a breaking change and should be 1.0.0"
today i updated infracost to 0.8.0 and I see this message:

[code]

according to semver (https://semver.org) a breaking change should not occur until a major version bump.

please change the message to:
[code]

[2021-03-10 14:02] mercuriete commented on #477
@alikhajeh1 please reopen this issue:

infracost 0.8.0 reports the following:

[code]

but if you go to aws -> ec2 -> spot instances -> savings summary..

this is shown:

[code]

so the total is $0.59 instead of $170.01
Thanks

[2021-03-10 14:09] mercuriete commented on #477
@alikhajeh1 please reopen this issue....

the report from infracost 0.8.0 is:

[code]

but if you see what was before:

[code]

the cost has increased instead of go down.
something is wrong there.

Thanks for your work.

[2021-03-10 16:27] aliscott commented on #505
@mercuriete thanks for the issue. We're still iterating on the interface and will remain in v0.* until we finalize the API (taking a [little inspiration from Hashicorp](https://www.hashicorp.com/resources/the-path-to-terraform-1-0)). Once that's done we will release v1.

Let us know if there's anything we can help with during the upgrade process.

[2021-03-10 16:27] #505 closed

[2021-03-10 16:33] dawidmalina commented on #349
Another one usecase:
[code]

[2021-03-10 16:42] dawidmalina opened #506 "Add support AWS WAFv2"
Terraform resources:
- aws_wafv2_rule_group
- aws_wafv2_web_acl

AWS pricing page: https://aws.amazon.com/waf/pricing/

Fallowing resources are free of charge:
- aws_wafv2_ip_set
- aws_wafv2_regex_pattern_set
- aws_wafv2_web_acl_association
- aws_wafv2_web_acl_logging_configuration

Price example
| Resource Type | Price |
| --- | --- |
| Web ACL | $5.00 per month (prorated hourly) |
| Rule | $1.00

[2021-03-10 17:00] aliscott commented on #417
Update from AWS:

[code]

[2021-03-10 17:06] jimsmith opened #507 "color flag is missing"
Hey, I don't see how to get color by default as it's set to 'no-color'

`time="2021-03-10T17:00:31Z" level=info msg="Running command: /usr/bin/terraform plan -input=false -lock=false -no-color -var-file=./../../variables/dev.tfvars -out=/tmp/tfplan508083620"`

`time="2021-03-10T17:00:39Z" level=info msg="Running command: /usr/bin/terraform show -no-color -json /tmp/tfplan508083620"`

I don't see a

[2021-03-10 17:34] aliscott commented on #507
@jimsmith thanks for the issue. Currently the Infracost output itself color by default and the `--no-color` flag disables that.

Is it the output from the terraform binary you are wanting the color option for? When we run the terraform binary under the hood we always run them with no-color since the output goes to the logs.

[2021-03-10 18:01] robh007 opened #508 "Add support for Amazon EFS One zone"
AWS released a new storage class within EFS, it will require TF support issue here -

hashicorp/terraform-provider-aws#18016

AWS Blog post on the storage class.
https://aws.amazon.com/about-aws/whats-new/2021/03/introducing-lower-cost-storage-classes-for-amazon-elastic-file-system/

[2021-03-10 18:58] alikhajeh1 commented on #394
The diff functionality has been added in v0.8, see migration guide [here](https://www.infracost.io/docs/guides/v0.8_migration). The HTML format doesn't have diffs yet, it's not clear if it's needed in HTML as that's being used more as a report format (i.e. like breakdown). I'll leave it for the community to create an issue and explain their diff in HTML use-cases.

[2021-03-10 18:58] #394 closed

[2021-03-10 19:01] alikhajeh1 commented on #428
@ondrejsika if you get 5mins, it would be good if you can test the brew and manual macOS [install](https://www.infracost.io/docs/#1-install-infracost) options and let us know if they have any issues. (`infracost --version` or something similar to test is fine)

[2021-03-10 19:01] alikhajeh1 commented on #414
Released in v0.8.0

[2021-03-10 19:03] alikhajeh1 commented on #294
See v0.8 for the [next iteration](https://www.infracost.io/docs/guides/v0.8_migration/#simplified-table-output) on this, I hope that makes the output clearer, please comment if you have any feedback.

[2021-03-10 19:03] alikhajeh1 commented on #501
@sushant-pradhan v0.8.1 has this fix.

[2021-03-10 19:04] alikhajeh1 commented on #451
Released in v0.8, migration guide is [here](https://www.infracost.io/docs/guides/v0.8_migration).

[2021-03-10 19:04] alikhajeh1 commented on #388
Released in v0.8

[2021-03-10 19:16] #496 closed

[2021-03-10 19:17] alikhajeh1 commented on #500
Fixed in v0.8.1

[2021-03-10 19:17] #500 closed

[2021-03-10 19:30] alikhajeh1 commented on #508
@robh007 this is great, thanks for keeping Infracost in-sync with cloud vendor and Terraform changes. It's the sort of thing we need to do across all cloud vendors and IaC tools longer term 🕺

[2021-03-10 22:01] sushant-pradhan opened #509 "infracost diff html format"
Hello team, I was wondering if we can enable html format for diff command. The console output looks good but if I have to send the diff output over email, the console output doesn't really go well. It will be better if we have a html equivalent like we have for breakdown command

infracost v0.8.1

[2021-03-10 22:19] alikhajeh1 commented on #509
@sushant-pradhan hah, funny you mention that as I posted [a comment](https://github.com/infracost/infracost/issues/394#issuecomment-795914531) a few hours ago asking for exactly this sort of feedback.

[2021-03-11 07:52] ashokalinux commented on #406
How can integrate Infracost into Jenkins CI/CD ?

[2021-03-11 08:42] ekifel commented on #471
@alikhajeh1 Hello, can I pick it?

[2021-03-11 09:07] jimsmith commented on #507
@aliscott good point, am I missing something obvious 👀 or something else as it's the latest docker version using `breakdown`  as I see `-no-color` by default

[code]

[code]

Then the infracost output.... just white and grey text

[2021-03-11 10:19] aliscott commented on #507
Thanks @jimsmith, good spot! Yeah the `--log-level` disables the spinners and logs those steps instead - spinners don't play nicely with logs. It still keeps the coloured output in the breakdown table (although this is only white and grey), the diff (this has more colors) and any errors. I've updated the docs to clarify that log-level disables the spinners.

Closing this just now - let me know if

[2021-03-11 10:19] #507 closed

[2021-03-11 14:00] alikhajeh1 commented on #509
@sushant-pradhan who would you email the HTML reports to? fellow team mates? other teams? managers? clients? This context helps us as we think about how the output of Infracost can be shared with others

[2021-03-11 16:48] sushant-pradhan commented on #509
@alikhajeh1 we plan to send to the team mates who can review the delta and approve the plan. It something similar to the PR comments we add from GH actions.

[2021-03-11 17:13] mattlqx opened #511 "infracost output loses version when combining multiple breakdowns"
When combining multiple json outputs from `infracost breakdown` with `infracost output`, the resulting json output loses the version and is just an empty string. This is infracost 0.8.1.

[code]

[2021-03-11 17:22] aliscott commented on #511
@mattlqx good find and thanks for the reproduction steps 😄! Have added a fix in https://github.com/infracost/infracost/pull/512 so this will be released in 0.8.2.

[2021-03-11 17:22] #511 closed

[2021-03-12 08:18] aliscott commented on #64
Thanks everyone for the comments and 👍 s

A quick update: I had a quick look at the Azure PR that’s in progress and it’s looking pretty good. I’ll have time to dive deeper into this at the end of the month so stay tuned.

[2021-03-12 10:32] pwithnall commented on #86
+1 to everything @davidmytton said. It’s great to see someone with more time to focus on these issues rigorously, rather than my spare-time attempts. :grin:

Here’s a few replies to specific points:

It’s possible I’ve made a mistake, but I have just re-checked the formulae and they type check. They use the units they do because the source data from the different papers comes in different formats,

[2021-03-12 13:44] jimsmith commented on #499
Hey glad you got a sample structure. Each teams do things differently for projects but it seems that workspaces is per buildkite some are PR based and some seem branch based, Github for SCM.

Looking forward to seeing what becomes of this :)

[2021-03-12 15:04] alikhajeh1 opened #516 "Use fixed cost component names"
I updated the contributing docs to say the following. The aim of this ticket is to find all cost component names that change based on other params, and refactor them. There shouldn't be many, but finding them might take some grep foo, or VS Code might have a better answer...

The cost component name should not change when the IaC resource params change; anything that can change should be put in br

[2021-03-12 21:15] sinabakh commented on #296
It seems I missed them. I Will work on it in the coming week If no one does it sooner.

[2021-03-14 07:36] #349 closed

[2021-03-14 09:23] robh007 commented on #450
I'll look at this one @alikhajeh1

[2021-03-14 10:34] alikhajeh1 commented on #450
Thanks @robh007!

[2021-03-15 09:48] uncodable opened #519 "[docker] terraform latest version"
Hey,

Can we get the docker image built for the latest terraform build?

Thanks in advance.

[2021-03-15 09:52] uncodable commented on #519
ping @alikhajeh1 - thanks in advance

[2021-03-15 09:58] alikhajeh1 commented on #519
Thanks for reporting this! I sent [a PR](https://github.com/infracost/infracost/pull/520) to bump the version.

[2021-03-15 17:22] b4nst opened #522 "Error: An unexpected error occurred [ElasticsearchDomain]"
[code]

[2021-03-15 17:33] aliscott commented on #522
@b4nst thanks for reporting this. We will get a fix for this into v0.8.2.