[2021-03-15 20:19] #519 closed

[2021-03-15 20:32] b4nst commented on #522
@aliscott thanks for the quick answer.

[2021-03-15 21:32] b4nst commented on #522
Hum, after updating my configuration the issue disappear. I did not catch which part of the config were causing it though.

[2021-03-15 21:33] aliscott commented on #522
@b4nst it looks like `ebs_options` is causing the issues if that's the part you changed.

[2021-03-15 21:34] b4nst commented on #522
Indeed I changed it.

[2021-03-15 21:35] b4nst commented on #522
That tool is dope btw, congrats.

[2021-03-15 21:57] aliscott commented on #519
@uncodable I've actually pushed this now to `infracost/infracost:latest`.

[2021-03-16 15:11] aliscott opened #524 "Allow breakdown table columns to be specified"
In v0.8.0 we simplified the breakdown table view by removing some default columns. We can now look at adding an option to specify the output columns.

a) Add a `--fields` flag to the `infracost breakdown` that takes the following as a string array argument. The output order should always be the following. Output a warning if the format is not table. If fields is empty, use the defaults (name, mont

[2021-03-16 15:15] aliscott commented on #356
@dawidmalina thanks for all the input here 🙏. I'm closing this in favour of https://github.com/infracost/infracost/issues/524 so we can keep speccing it out as part of that ticket.

[2021-03-16 15:15] #356 closed

[2021-03-16 17:46] guilhermerenew opened #525 "add shell-completion to infracost commands 🚀"
## About Issue 👋🏾
@alikhajeh1 as we talked, follows the issue to add bash-completion to infracost commands! Such a feature can be compatible with the main bash `bashrc/zsh`! Looking at some examples that may help: [completion.go by Helm](https://github.com/helm/helm/blob/7b6dcfae98527c3ff7233fc16cbeac782dd82977/cmd/helm/completion.go)

[2021-03-16 18:57] sinabakh commented on #524
A nice feature to have 🚀

Q1: I also prefer `fields`.
Q2: I got no concrete idea.
Q3: I believe we have to support the HTML output but for starters, the table should be enough.
Q4: I think so. I would prefer to configure my config file instead of passing 2 lines of arguments to the cmd.

[2021-03-17 08:47] #522 closed

[2021-03-17 11:33] robh007 commented on #463
I've created a working example workflow using ``terragrunt`` here https://github.com/robh007/infracost-budgets. I'm using terragrunt dependencies to drive the ordering. I don't think it's possible to achieve this directly in terraform.

[2021-03-17 12:53] #472 closed

[2021-03-17 17:24] #474 closed

[2021-03-17 17:42] robh007 commented on #463
Yea, that's correct.

[2021-03-17 22:17] aliscott commented on #471
Thanks @ekifel!

[2021-03-17 22:17] #471 closed

[2021-03-17 22:18] aliscott commented on #522
@b4nst thanks for reporting this! The fix has now been released in v0.8.2.

[2021-03-17 22:18] aliscott commented on #511
@mattlqx thanks for reporting this! The fix has now been released in v0.8.2.

[2021-03-18 01:15] PatMyron commented on #417
similar thread: https://github.com/vantage-sh/ec2instances.info/issues/330

[2021-03-19 09:07] aliscott opened #528 "Support resource arrays in usage file"
Terraform resources can be created using `for_each` or `count`. This creates an array of resources. We could support setting usage values for all elements of the array by using a wildcard like this:

[code]

I think expected functionality would be that the usage value should apply individually to each element of the array. But an alternative is that the usage value is the aggregated using across a

[2021-03-19 19:27] alikhajeh1 opened #529 "Support AWS EC2 RI prices"
Currently Infracost supports on-demand prices. We can add the following options to [aws_instance](https://github.com/infracost/infracost/blob/master/infracost-usage-example.yml#L118-L119) in the infracost usage-file to enable users to switch to see RI prices:
- reserved_instance_type: standard or convertible
- reserved_instance_term: 1_year or 3_year
- reserved_instance_payment_option: no_upfront,

[2021-03-22 02:04] PatMyron commented on #190
CloudFormation has an API with limited coverage:
https://github.com/aws-cloudformation/aws-cloudformation-coverage-roadmap/issues/217
Definitely reach out if anyone's planning on picking this up. Can at least point towards CloudFormation template recognition logic and unresolved CloudFormation template syntax that'll likely need to be ignored, as well as some other thoughts

[2021-03-23 10:58] Pauluson commented on #503
@alikhajeh1 I want to do it

[2021-03-23 13:38] alikhajeh1 opened #530 "Auto-generate usage-file from Terraform project"
Currently users have to write this out manually and everyone loves automation to help them.

[2021-03-23 17:31] sinabakh commented on #530
I would like to work on it, here are my initial ideas:
* There will be a sub-command like: `infracost autogen -g usage_file -o ./usage_file.yml`. `-g` flag indicates what kind of file to generate so we can add more functionality to it later and `-o`.
* It will iterate over the resources of terraform project and will add 0 for all usage keys.

Here are some additional steps to make it more robust b

[2021-03-23 18:42] aliscott commented on #530
Thanks @sinabakh! Here's some more thoughts on this:

I like the separate command. It would need the same flags that are passed to breakdown (`--path, --terraform-plan-flags, etc`) so it can generate the plan JSON file.

Another option to think about is to add it as a flag to the existing breakdown command, e.g:
[code]

I don't have a strong preference yet, so can be convinced either way. Whicheve

[2021-03-24 08:18] anmoel opened #531 "Add support and documentation for Azure DevOps CICD"
Hi,

we also use Azure DevOps for some Projects. Can you add an Azure DevOps extension to the marktplace (https://marketplace.visualstudio.com/) or document how to integrate it?

Thanks in advance
André

[2021-03-24 09:17] robh007 commented on #530
I previously spoke about maybe supporting a variable map in terraform something like. This then can be part of the terraform input to the module.  In this example you could build usage support into the terraform modules & therefore not necessarily need the yaml file. Or the requirement to generate is done a usage file is within the internals of infracost. You're then not running multiple infracost

[2021-03-25 11:29] alikhajeh1 commented on #530
@robh007 great feedback! I think this is the first of a few iterations we need to do on usage-based resources, the next iteration can be to fetch the last day/week/month values from CloudWatch as you pointed out at the bottom.

Can you possibly expand on the benefits of having a `INFRACOST_USAGE` variable in TF as it feels like I'm missing something. Our old approach of using the terraform-provide

[2021-03-25 20:14] robh007 commented on #530
@alikhajeh1 so the old approach was as you say `clunky`. It's definitely a lighter option, I'm more thinking around the terms of the actual values than the config file itself. Using cloudwatch is in an option if there's a valid metric to poll, there's also a cost associated with that and a separate authentication method outside of the terraform provider. This approach provides a native approach to

[2021-03-25 21:19] #503 closed

[2021-03-25 21:27] alikhajeh1 commented on #531
Hey @anmoel - thanks for creating this issue, it's something we should support.

I've not used Azure DevOps before and happy to learn. Do you know if it's possible to run docker tasks in Azure pipelines? That's how most of the current CI/CD integrations work, e.g. see the [GitLab one](https://gitlab.com/infracost/infracost-gitlab-ci/-/blob/master/infracost.yml). If so, then it should be fairly sim

[2021-03-26 09:24] Pauluson commented on #516
I want to do it

[2021-03-26 12:57] alikhajeh1 opened #535 "Differentiate path-not-found vs undetectable path type"
The following two runs produce the same error, which confuses CI/CD users as they think the `path` param file/dir is present and something is wrong with the CLI. Usually in CI/CD, the issue is that the file cannot be found, because the path is wrong or, in the case of CircleCI, a previous task produced the plan.json file but this hasn't been attached to the infracost orb.

[code]

It would be clea

[2021-03-29 11:08] aliscott commented on #530
Yes this is a good point and something we need to think more about. I wonder if we could even calculate the potential cost of polling the metrics and display it!

One thing we have to consider is that we don't want this to be Terraform only, as we plan on supporting multiple IaC tools. This doesn't mean that we shouldn't provide a native Terraform way of specifying usage, but we should see it as a

[2021-03-29 16:57] aliscott commented on #439
This should have one cost component:
* name: `Redis instance (basic, M1)`. The metadata in brackets should have basic/standard and M1-M5.
* unit: `GB-hours`. This should be an hourly quantity with a value of the `memory_size_gb` field from Terraform

The price will depend on the storage tier for the `tier` field as well as the capacity tier for the given `memory_size_gb`.

[2021-03-29 17:17] aliscott commented on #473
This resource is just a wrapper around a `google_storage_bucket`. This should show exactly the same cost components as the [google_storage_bucket resource](https://github.com/infracost/infracost/blob/master/internal/providers/terraform/google/storage_bucket.go).
* Storage (standard)
* Data retrieval
* Object adds, bucket/object list (class A)
* Object gets, retrieve bucket/object metadata (class B

[2021-03-29 17:25] alikhajeh1 opened #536 "Update aws_ebs_volume gp3 type to include IOPS and Throughput"
See https://aws.amazon.com/ebs/pricing/ that includes the following for gp3 volume types:
[code]

The following two cost components should be added for `aws_ebs_volume` with the `type=gp3`:
1. The `iops` terraform property should be used to add `Name: Provisioned IOPS`, `Unit: IOPS-months`. This should only be shown if `iops > 3000` and 3000 should be subtracted from the number to account for the

[2021-03-29 17:25] alikhajeh1 commented on #296
Closing this issue as https://github.com/infracost/infracost/issues/536 has details of what's left.

[2021-03-29 17:25] #296 closed

[2021-03-29 21:12] sinabakh commented on #473
It might be a suitable issue for new contributors.

[2021-03-30 12:06] ekifel commented on #439
@alikhajeh1 I want to work on it

[2021-03-30 16:30] Pauluson commented on #536
I want to do this

[2021-03-30 21:48] jrobison-sb opened #540 "cost diff not detected"
This might be user error, but I'm not getting cost diffs as I would expect them. I have InfraCost running via the Atlantis integration (`infracost/infracost-atlantis:latest`, which is `v0.8.2` at the time of writing this). I populated an environment variable for the API key and for the Terraform binary. When I make a pull request Atlantis runs as expected and comments on the PR with a `plan`, and

[2021-03-31 10:30] alikhajeh1 commented on #540
@jrobison-sb thanks for reporting this, can you please try the same thing with the env `INFRACOST_LOG_LEVEL=debug`? Maybe the CLI is not able to find a price for the instance, setting this env should show warnings if that's the case. Another way to debug is to share the TF resource block of `module.production_application.aws_instance.just_testing` with us so we can try to reproduce it.

[2021-03-31 12:17] ekifel commented on #438
@alikhajeh1 hey, I want to work on it!

[2021-03-31 18:17] ekifel commented on #386
@alikhajeh1 Hey! I want to finish it if nobody mind

[2021-03-31 19:07] alikhajeh1 commented on #386
Thanks @ekifel, @sinabakh mentioned https://github.com/infracost/infracost/pull/491#issuecomment-809711462 so feel free to fork his fork to finish it 🍴

[2021-03-31 19:09] #450 closed

[2021-04-01 09:33] robh007 commented on #477
@alikhajeh1 I'll take a look at this.

[2021-04-01 13:08] Pauluson commented on #473
i want to do this

[2021-04-01 20:27] jrobison-sb commented on #540
@alikhajeh1 Thanks for your reply. I turned on `INFRACOST_LOG_LEVEL=debug` and was able to reproduce this. The output that was commented back to the pull request is massive and contains a good bit of our Terraform state, so I'll need to redact a lot of it. But here is what I can paste:

[code]

The Terraform resource that is proposed in the pull request and for which I'm expecting a cost diff is m

[2021-04-02 08:11] aliscott opened #547 "Remove deprecated commands, flags and envs"
The following should be removed for v0.9. This work should be branched from the `v0.9` tag.

* https://github.com/infracost/infracost/blob/master/cmd/infracost/root_deprecated.go
* https://github.com/infracost/infracost/blob/master/internal/output/table_deprecated.go
* https://github.com/infracost/infracost/blob/master/cmd/infracost/output.go#L124
* the diff.sh and atlantis_diff.sh scripts and the

[2021-04-02 08:17] alikhajeh1 commented on #540
Thanks @jrobison-sb! That ruled-out the "not able to find a price" theory.

@aliscott / @sinabakh notice the `diffResourcesByKey` debug line above and how the [resourceKey](https://github.com/infracost/infracost/blob/master/internal/schema/diff.go#L61-L63) is not output in that debug line? any ideas?

[2021-04-02 08:30] aliscott opened #548 "Update HTML output to be consistent with CLI output"
We should update the HTML output to be consistent with the new CLI table output

* Support multiple projects. We should update it so it doesn't use the following deprecated output fields: `resources`, `totalMonthlyCost`, `totalHourlyCost`, and instead uses the `projects` field.
* Remove the file grouping logic we have - this can now be done with the multiple project
* Support the `--fields` flag (

[2021-04-02 08:32] aliscott commented on #524
If we add JS to the page then another option for Q3 is to allow the columns to be shown/hidden on the HTML page itself.

[2021-04-02 08:35] aliscott opened #549 "Remove deprecated JSON keys from output"
Remove the following keys from the JSON output: https://github.com/infracost/infracost/blob/master/internal/output/output.go#L18-L20

The HTML output currently relies on these so this will need to be done with https://github.com/infracost/infracost/issues/548.

[2021-04-02 13:51] aliscott commented on #540
Not seeing anything immediately obvious. I wonder if it's something to do with how the module is structured. @jrobison-sb are you able to run the following with JQ so we can get an idea of the structure of the plan file:

[code]

[2021-04-02 14:03] jrobison-sb commented on #540
@aliscott Sure, thanks for investigating this.

[code]

[2021-04-03 06:29] aliscott commented on #540
Thanks @jrobison-sb that looks expected and I haven't been able to reproduce with this structure yet.

Does the resource show when running either of these?
[code]
or
[code]

I wonder if the total cost is high and the cost change is minimal so we're rounding the percentage incorrectly to zero and therefore not showing a comment.

[2021-04-05 14:38] jrobison-sb commented on #540
@aliscott Thanks, and after running those commands your hunch about rounding to zero is almost certainly correct. When using the planfile for my `aws_instance.just_testing` change, I can get `infracost breakdown` to show a breakdown of all the resources in my Terraform state which infracost supports, including the `just_testing` instance. And `infracost diff` is even more telling, in that it repor

[2021-04-05 15:56] #530 closed

[2021-04-05 16:00] aliscott commented on #540
@jrobison-sb thanks. I'll push a fix to the latest Docker image in the next couple of hours to use 6dp precision for the calculations which I think should solve your issue.

Also, in the next release (probably tomorrow) we'll have this option `post_condition:'{"has_diff":"true"}'` for the script which will make sure it always posts a comment if there's a cost diff.

[2021-04-05 19:15] robh007 commented on #477
I've had a look into this and the price for the EC2 instances is correct. If you look at the two examples one uses a t2 & one uses a t3. With t3 instances CPU credits are being calculated & that's what's increasing the cost. I think the CPU credits can be calculated better. So I'll raise another issue for that & I'll reference this in the new issue. However I think this can be closed @mercuriete @

[2021-04-05 19:19] robh007 opened #554 "AWS burstable instance credits calculations."
Currently the way CPU credits for T2 / T3 & T4 instances are being calculated incorrectly. I'm just raising this as an issue here, it came to light when I was looking into #477. @alikhajeh1 If you can allocate this to me, I've got a WIP branch. It currently affects `EKS Node Groups` `Autoscaling Groups` & `EC2 Instances`.

[2021-04-05 20:37] alikhajeh1 commented on #477
Thanks @robh007

[2021-04-05 20:37] #477 closed

[2021-04-05 21:05] mercuriete commented on #477
thanks @robh007

[2021-04-06 09:09] alikhajeh1 opened #557 "sync-usage-file doesn't work with TF modules"
Repro steps:

[code]

I expected `test.yml` to have
[code]

[2021-04-06 11:46] #557 closed

[2021-04-06 13:46] pwithnall commented on #86
I have since come across https://cloud.google.com/sustainability/region-carbon and https://github.com/GoogleCloudPlatform/region-carbon-info which provide machine-readable information about the carbon-free energy times for different Google data centres (higher is better — it means the data centre is running on actual renewable energy for that time, rather than offsets for a different time or locat

[2021-04-06 18:40] jrobison-sb commented on #540
@aliscott thanks for fixing this. I see that https://github.com/infracost/infracost/pull/553 was merged and that separately 0.8.3 was released. A new image was pushed for infracost/infracost, but I don't see a corresponding new image for infracost/infracost-atlantis. Could you push a new image for Atlantis with this fix?

[2021-04-06 19:09] alikhajeh1 commented on #540
@jrobison-sb sorry for the delay, I had prepared all the PRs and got side-tracked, the infracost/infracost-atlantis image is now updated with the fix @aliscott mentioned as well as the new post_condition feature: https://github.com/infracost/infracost-atlantis/#post_condition

[2021-04-06 19:09] #540 closed

[2021-04-06 19:39] #439 closed

[2021-04-06 19:40] #516 closed

[2021-04-06 19:47] alikhajeh1 commented on #437
Released in v0.8.3

[2021-04-06 19:47] #437 closed

[2021-04-06 19:47] alikhajeh1 commented on #438
Released in v0.8.3

[2021-04-06 19:47] #438 closed

[2021-04-06 19:47] alikhajeh1 commented on #536
Released in v0.8.3

[2021-04-06 19:47] #536 closed

[2021-04-06 19:47] alikhajeh1 commented on #503
Released in v0.8.3

[2021-04-06 20:30] alikhajeh1 commented on #22
This issue is stale because it has been open 30 days with no activity. Remove stale label or comment or this will be closed in 5 days.

[2021-04-06 20:33] alikhajeh1 commented on #32
This issue is stale because it has been open 30 days with no activity. Remove stale label or comment or this will be closed in 5 days.

[2021-04-06 20:40] #32 closed

[2021-04-06 20:41] #55 closed

[2021-04-06 20:47] #427 closed

[2021-04-06 20:51] alikhajeh1 commented on #57
Going to close this issue as the infracost Dockerfile now has the latest patch versions that are supported and users can use [this env](https://www.infracost.io/docs/integrations/environment_variables#infracost_terraform_binary) to define which they'd like to use.

[2021-04-06 20:51] #57 closed

[2021-04-06 20:55] alikhajeh1 commented on #101
We've not had issues with linux runners so going to close this issue

[2021-04-06 20:55] #101 closed

[2021-04-06 20:56] #153 closed

[2021-04-06 20:57] #233 closed

[2021-04-07 05:48] ekifel commented on #528
@alikhajeh1 hey, I want to work on it

[2021-04-07 07:07] Pauluson commented on #535
i want to do it

[2021-04-07 13:10] aliscott opened #561 "Add Azure App Service Plan and Environment"
The initial work has already been done by @DanielMabbett's here: https://github.com/infracost/infracost/pull/457/commits/c0d00adbac5a1bf89ac6984f5eae9db9fce0016e

Azure pricing page: https://azure.microsoft.com/en-gb/pricing/details/app-service/

Resources:

`azurerm_app_service_plan`

* Instance usage (S1) - unit is hours. Quantity is based on `capacity`. We should also allow the user to pass in

[2021-04-08 05:53] ekifel commented on #524
@alikhajeh1 Hey, I want to work on it!

[2021-04-09 17:18] yi2020 opened #566 "Support using resource_changes instead of relying on planned_values"
As part of [Indeni Cloudrail](https://www.indeni.com/cloudrail)'s flow, the `indeni/cloudrail-cli` container filters a Terraform plan's JSON before uploading it to the Cloudrail service. This is done to remove sensitive data from being uploaded. As part of this filtration, the `planned_values` are removed, but the `resource_changes` remain (only resources and fields that Cloudrail wants to keep).

[2021-04-09 17:19] yi2020 commented on #566
Sample filtered JSON plan:

[code]

[2021-04-09 17:31] sinabakh commented on #406
I started working on adding support for Jenkins and writing some docs.

[2021-04-10 21:57] alikhajeh1 commented on #425
Is this something that would benefit from reporting to Terraform?

[2021-04-12 14:31] #22 closed

[2021-04-12 15:25] aliscott opened #567 "Add Azure managed disks"
* Terraform resource: https://registry.terraform.io/providers/hashicorp/azurerm/latest/docs/resources/managed_disk
* Pricing page: https://azure.microsoft.com/en-gb/pricing/details/managed-disks/

Cost components and units:
* `Storage (S4)` - Azure disks are set sizes and have a name, so we can display the disk name in brackets. Unit should be `months`
* `Disk operations` - this is a usage-based c

[2021-04-12 15:28] aliscott commented on #567
The price components for Standard HDD, Standard SSD and Premium SSD disks has already been done here: https://github.com/infracost/infracost/blob/feat/azure-pricing-changes/internal/providers/terraform/azure/virtual_machine.go#L100. This can be moved out of there and into helpers in the `azurerm_managed_disk` resource, so it can be used for both the `azurerm_*_virtual_machine` and `azurerm_managed

[2021-04-12 16:24] aliscott opened #568 "Add Azure VM Scale Set"
Pricing page: https://azure.microsoft.com/en-gb/pricing/details/virtual-machine-scale-sets/

`azurerm_linux_virtual_machine_scale_set`
* Should be the same as `azurerm_linux_virtual_machine` in https://github.com/infracost/infracost/pull/560 with the quantities multiplied by `sku.0.capacity`. We should also have an `instances` usage key that overrides the capacity.

`azurerm_windows_virtual_machin

[2021-04-12 17:21] aliscott opened #569 "Add Azure MSSQL Database"
Pricing page: https://azure.microsoft.com/en-gb/pricing/details/sql-database/single/

`azurerm_mssql_database`

* `Compute (provisioned, GP_Gen5_2)` or `Compute (serverless, GP_S_Gen5_1)` - unit is hours.
  * The instance type can be taken from `sku_name`. If this is `ElasticPool` then this resource has no cost since it will be handled by the `azurerm_sql_elastic_pool` resource.
  * `zone_redundan

[2021-04-13 11:27] aliscott commented on #425
I've created an issue in the Terraform repository here: https://github.com/hashicorp/terraform/issues/28346

[2021-04-13 11:38] aliscott commented on #425
One thought I have is that since this specific case is for a well-known module we might be able to add a workaround for this specific module since the resources have set names.

In the `aws_autoscaling_group` resource we could add logic to check if the address of the resource implies it was created with this module, and if so we can infer the address of the launch template resource.

I haven't tri

[2021-04-13 12:31] aliscott opened #570 "Add Azure App Service Certificate Order"
The Azure App Service Plan and Environment are included in https://github.com/infracost/infracost/issues/561.

Azure pricing page: https://azure.microsoft.com/en-gb/pricing/details/app-service/

Resource:

[`azurerm_app_service_certificate_order`](https://registry.terraform.io/providers/hashicorp/azurerm/latest/docs/resources/app_service_certificate_order)
* `SSL certificate (standard) or SSL cert

[2021-04-13 13:46] aliscott opened #571 "Add Azure MySQL Database"
Pricing page: https://azure.microsoft.com/en-gb/pricing/details/mysql/server/

`azurerm_mysql_database`

* `Compute (GP_Gen5_2)` - unit is hours.
  * The instance type can be taken from `sku_name`.
* `Storage` - unit is GB-months. The quantity should be based on `storage_mb`
* `Additional backup storage` - unit is GB-months. Price is based on `geo_redundant_backup_enabled`. Usage-based, usage key

[2021-04-13 14:06] aliscott opened #572 "Add Azure PostgreSQL Database"
Pricing page: https://azure.microsoft.com/en-gb/pricing/details/postgresql/server/

`azurerm_postgresql_server`

* `Compute (GP_Gen5_2)` - unit is hours.
  * The instance type can be taken from `sku_name`.
* `Storage` - unit is GB-months. The quantity should be based on `storage_mb`
* `Additional backup storage` - unit is GB-months. Price is based on `geo_redundant_backup_enabled`. Usage-based, us

[2021-04-13 14:12] aliscott opened #573 "Add Azure MariaDB Database"
Pricing page: https://azure.microsoft.com/en-gb/pricing/details/mariadb/

`azurerm_mariadb_server`

* `Compute (GP_Gen5_2)` - unit is hours.
  * The instance type can be taken from `sku_name`.
* `Storage` - unit is GB-months. The quantity should be based on `storage_mb`
* `Additional backup storage` - unit is GB-months. Price is based on `geo_redundant_backup_enabled`. Usage-based, usage key shoul

[2021-04-13 15:16] aliscott opened #574 "Add Azure Storage Account (block blob)"
Pricing page: https://azure.microsoft.com/en-gb/pricing/details/storage/blobs/

`azurerm_storage_account`

* Azure Storage Accounts can represent different types of storage. This ticket is for implementing the block blob storage prices. Initially we can return an unsupported resource if `account_kind` is not `BlockBlobStorage`.
* Capacity, operations and data prices are based on the following attr

[2021-04-13 16:11] aliscott opened #575 "Add Azure Storage Account (file)"
Pricing page: https://azure.microsoft.com/en-gb/pricing/details/storage/files/

`azurerm_storage_account`

* Azure Storage Accounts can represent different types of storage. This ticket is for implementing the file storage prices. The base resource will be implemented in https://github.com/infracost/infracost/issues/574 so this should be done after that.
* Capacity, operations and data prices are

[2021-04-13 16:15] sinabakh commented on #406
What would you expect from Jenkins provider? Here are my initial thoughts:

* Generate an HTML output and store it as an artifact.
* Setting thresholds so pipelines fail if they are violated

[2021-04-13 18:34] ulm0 opened #576 "Params for terraform init"
Hi guys,
I have a workflow where terraform is initialized based on context from env vars, it uses params for that purpose (`terraform init --backend-config ...`) so no backend config is present in terraform files, and i can't seem to find a way to specify those params for infracost, is this currently supported? if not, anything i can do to help building this feature?

Thanks in advance

[2021-04-13 18:38] alikhajeh1 commented on #576
@ulm0 would [this method](https://www.infracost.io/docs/#terraform-plan-json) work? So you can generate the Terraform plan JSON before running Infracost, and point `--path` to it (instead of the Terraform project directory).

[2021-04-13 20:43] ulm0 commented on #576
That did the trick, thanks a lot @alikhajeh1

[2021-04-13 20:43] #576 closed

[2021-04-13 21:33] alikhajeh1 commented on #576
Awesome!

[2021-04-14 12:20] tim775 commented on #151
I'm going to take a crack at this.

[2021-04-14 12:26] alikhajeh1 commented on #151
Thanks @tim775!

[2021-04-14 12:43] tim775 commented on #151
Looking at the [aws pricing page](https://aws.amazon.com/redshift/pricing/) and the terraform registry it seems like I can add pricing for [aws_redshift_cluster](https://registry.terraform.io/providers/hashicorp/aws/latest/docs/resources/redshift_cluster) resource.  There are also prices for 'spectrum', 'concurrency scaling', 'managed storage', and 'ML' but I don't see any way to map those to a te

[2021-04-14 13:00] alikhajeh1 commented on #151
@tim775 `aws_redshift_cluster` would be great, "Backup storage" also seems hard to include given that it talks about anything above the cluster size is charged S3 rates (which we have as a supported resource).

I know it's too late for this ticket but we've started putting more details in tickets to make it easier for contributors, e.g. https://github.com/infracost/infracost/issues/574.

[2021-04-14 13:09] aliscott commented on #151
Here's what I've found from a quick look:
* Spectrum - the AWS calculator allows this to be calculated by entering "Data scanned", so I think we can add a usage-based cost component with name `Spectrum data scanned` and key `monthly_spectrum_data_scanned_gb`.
* Concurrency scaling - from what I can tell this is enabled by default, but looks difficult to model. The AWS calculator doesn't include th

[2021-04-14 13:10] tim775 commented on #574
The details in initial comment seem pretty helpful.  It might be nice to also include a link to the terraform registry docs.

[2021-04-14 14:03] tim775 commented on #151
Ok I think that makes sense to me (for now anyway :)).
So the "main" cost component would look something like:
`
		{
			Name:           fmt.Sprintf("Redshift Cluster (%s)", nodeType),
			Unit:           "hours",
			UnitMultiplier: 1,
			HourlyQuantity: decimalPtr(decimal.NewFromInt(numberOfNodes)),
			ProductFilter: &schema.ProductFilter{
				VendorName:    strPtr("aws"),
				Region:        strPtr

[2021-04-14 14:20] tim775 commented on #151
So for "Concurrency scaling" it looks like the cost is equal to the hourly rate of the cluster billed at 1 second granularity (after you go over some limit).  Assuming there's no explicit price for concurrency scaling in the json, we _could_ make a usage cost component based on the cluster price:
[code]

[2021-04-14 15:20] aliscott commented on #151
We don't have a hard rule on this, not sure it has come up before. Just had a quick look at this and I see there are specific listed prices for the Concurrency Scaling in the Pricing API, using the following MongoDB query:

[code]

[2021-04-15 06:59] sergiorojodxc opened #579 "index out of range error with --sync-usage-file"
infracost breakdown --sync-usage-file --usage-file env/dev/networking/vpc/resources-usage.yml --path env/dev/networking/vpc --terraform-plan-flags "-var-file=vars.tfvars -var-file=endpoint.tfvars"

Detected Terraform directory at env/dev/networking/vpc
  ✔ Running terraform plan
  ✔ Running terraform show

Error: An unexpected error occurred

runtime error: index out of range [-1]
goroutine 1 [run

[2021-04-15 08:29] aliscott commented on #579
Thanks @sergiorojodxc, looks like this is caused by the `--sync-usage-file` flag.

@sinabakh any ideas what could be causing this? Looks like a resource name isn't in the expected format.

[2021-04-15 14:08] c0ntax opened #581 "runtime error: index out of range [-1]"
I just got the following error when running a sync-user-file

`
$ infracost breakdown --sync-usage-file --usage-file infracost-usage.yml --path=.
Detected Terraform directory at .
  ✔ Running terraform plan
  ✔ Running terraform show

Error: An unexpected error occurred

runtime error: index out of range [-1]
goroutine 1 [running]:
runtime/debug.Stack(0xc000b46fc0, 0x240, 0x5555555555555555)

[2021-04-15 15:46] #579 closed

[2021-04-15 15:56] aliscott commented on #579
Thanks for reporting @sergiorojodxc, the fix will be in v0.8.4 which will be released tomorrow.

[2021-04-15 15:57] aliscott commented on #581
Thanks for reporting @c0ntax, this has been fixed in #582 and will be released in v0.8.4 tomorrow.

[2021-04-15 16:45] caphrim007 opened #583 "Add support for AWS Neptune"
Pricing information is found here

https://aws.amazon.com/neptune/pricing/

I think pricing is specific to the instances. Neptune organizes instances in clusters, but afaik there is not pricing that is specific to a cluster. Terraform has modules for instance and cluster.

[2021-04-16 14:41] c0ntax commented on #581
Thank you @aliscott . I look forward to getting hold of this!

[2021-04-16 17:06] alikhajeh1 commented on #293
Closing this as we've addressed some of these issues in recent versions, people can open new issues for specific ones that we should look at

[2021-04-16 17:06] #293 closed

[2021-04-16 19:03] alikhajeh1 commented on #386
@tobbbles, @wrighbr, @mercuriete just FYI that this was released today in v0.8.4.

[2021-04-16 19:03] #386 closed

[2021-04-16 19:04] alikhajeh1 commented on #528
Released today in v0.8.4 - thanks @ekifel!

[2021-04-16 19:04] #528 closed

[2021-04-16 19:05] alikhajeh1 commented on #473
@guilhermerenew just FYI this was released today in v0.8.4. Thanks @Pauluson!

[2021-04-16 19:05] #473 closed

[2021-04-16 19:06] alikhajeh1 commented on #567
Released in v0.8.4

[2021-04-16 19:06] #567 closed

[2021-04-16 19:06] alikhajeh1 commented on #535
Released in v0.8.4

[2021-04-16 19:06] #535 closed

[2021-04-16 19:27] alikhajeh1 commented on #64
We completed adding around 300,000 prices from Microsoft Azure to the Cloud Pricing API are are now looking for contributors to help us add [Azure resources](https://github.com/infracost/infracost/issues?q=is%3Aissue+is%3Aopen+label%3Aazure) to Infracost. For anyone interested, please take a look at the [contributing guide](https://github.com/infracost/infracost/blob/master/CONTRIBUTING.md) and jo

[2021-04-16 19:29] alikhajeh1 commented on #581
@c0ntax v0.8.4 is live with the fix :)

[2021-04-16 19:35] alikhajeh1 commented on #579
@sergiorojodxc this is released now.

[2021-04-17 16:26] NissesSenap opened #591 "Add Azure Kubernetes Service AKS"
Pricing page: https://azure.microsoft.com/en-gb/pricing/details/kubernetes-service/

Make it possible to calculate how much a AKS cluster costs.

A basic graphql query to get info about AKS pricing.
[code]

[2021-04-19 07:49] aliscott opened #593 "Make units and quantities more understandable"
**Problem:**

The unit in the pricing API is not the same as the unit we want to display.

For example, for Azure Managed Disks we currently show:
[code]

It would be more understandable if we show:
[code]
But we still need the `-hours` values to calculate the cost from the price.

**Proposal:**

Have separate attributes to represent these:

* DisplayUnit: What we show in the Unit column
* Display

[2021-04-19 08:51] ekifel commented on #573
I want to work on it!

[2021-04-19 11:01] alikhajeh1 commented on #529
I think we can add the above usage file parameters to the following supported resources:
- aws_instance
- aws_eks_node_group
- aws_autoscaling_group (which has aws_launch_configuration as a sub-resource)

That would mean we support EC2 RI prices anywhere that uses them.

[2021-04-19 11:18] ekifel commented on #529
@alikhajeh1 Good. Can I work on it?

[2021-04-20 09:23] alikhajeh1 opened #596 "Add Azure App Service Certificate Binding"
The Azure App Service Plan and Environment are included in https://github.com/infracost/infracost/issues/561 and Certificate Order is included in https://github.com/infracost/infracost/issues/570

Azure pricing page: https://azure.microsoft.com/en-gb/pricing/details/app-service/

`azurerm_app_service_certificate_binding`
* IP SSL certificate - unit is months. only has a cost if `ssl_state` is `IpB

[2021-04-20 11:38] ekifel commented on #571
@alikhajeh1, @aliscott, Hey, I want to work on it!

[2021-04-20 11:39] ekifel commented on #572
@alikhajeh1, @aliscott, Hey, I want to work on it!

[2021-04-20 14:17] swade1987 opened #598 "Displaying double negative on percentage decreases"
See below ...

[code]
Looks like a bug in this function: https://github.com/infracost/infracost/blob/master/internal/output/diff.go#L281

[2021-04-20 19:01] alikhajeh1 commented on #524
@ekifel any update on this? plz lmk if I can help :)

[2021-04-20 19:32] alikhajeh1 commented on #591
Thanks for adding this! I haven't used [`azurerm_kubernetes_cluster`](https://registry.terraform.io/providers/hashicorp/azurerm/latest/docs/resources/kubernetes_cluster) or [`azurerm_kubernetes_cluster_node_pool`](azurerm_kubernetes_cluster_node_pool) before but it look similar to how we added the Google Kubernetes Engine service in that the cluster has a node pool, see `internal/providers/terrafo

[2021-04-20 20:33] alikhajeh1 opened #600 "Add support for Google BigQuery"
The following two resources were requested by a user, would be good to add the other bigquery resources at the same time if it's straightforward:
`google_bigquery_table`
`google_bigquery_dataset`

https://cloud.google.com/bigquery/pricing

[2021-04-21 05:56] ekifel commented on #524
Oops, forgot about it, my bad. Sent PR on review.

[2021-04-22 11:50] #570 closed

[2021-04-22 13:59] ekristen opened #605 "Request: Add Markdown as Output Option"
Markdown is practically supported everywhere in terms of parsing and displaying. I think markdown tables could work nicely.

You can use markdown lists for the tree affect as well.

I'm looking to want to generate outputs whenever it changes and store it along with my documentation which is all written in markdown already. Would be nice to run and redirect output to file to include in my docs.

[2021-04-23 07:04] dustpan28646 opened #606 "bug"
https://github.com/infracost/infracost/issues

[2021-04-23 07:06] aliscott commented on #605
@ekristen thanks, I think this is a good idea. We also use markdown outputs for the CI/CD integrations.

Do you see the markdown output being similar to the `infracost breakdown` cli output or the `infracost diff` output?

[2021-04-23 07:44] #606 closed

[2021-04-23 09:20] ekifel commented on #569
@alikhajeh1, hey, I want to work on it!

[2021-04-23 09:42] alikhajeh1 commented on #86
Just FYI that @aliscott published [a new blog](https://www.infracost.io/blog/carbon-costs) related to this ticket.

[2021-04-23 09:50] davidmytton commented on #86
Additional resource: detailed methodology and data sources are available at https://www.cloudcarbonfootprint.org/docs/overview

[2021-04-23 11:53] aliscott commented on #571
Closed by https://github.com/infracost/infracost/pull/604.

[2021-04-23 11:53] #571 closed

[2021-04-23 11:54] aliscott commented on #572
Closed by https://github.com/infracost/infracost/pull/603.

[2021-04-23 11:55] aliscott commented on #568
Closed by https://github.com/infracost/infracost/pull/595.

[2021-04-23 11:55] #568 closed

[2021-04-23 11:55] aliscott commented on #573
Closed by https://github.com/infracost/infracost/pull/594.

[2021-04-23 11:55] #573 closed

[2021-04-23 13:27] ekristen commented on #605
I was originally thinking the breakdown as a table?

[2021-04-23 14:25] keslerm opened #607 "Git removed from Docker image which breaks remote modules"
In the PR #585 Git was removed from the list of installed packages but it is required by Terraform to pull remote modules

[code]
I think maybe removing git was unintentional without realizing Terraform depended on it

[2021-04-23 14:56] #607 closed

[2021-04-23 14:59] aliscott commented on #607
Thanks @keslerm 🙌, sorry for missing that!

[2021-04-23 15:38] keslerm opened #609 "Issue when using INFRACOST_TERRAFORM_CLOUD_TOKEN and multiple projects in a config file"
I have a very simple project file:

[code]

And when using the env variable to set the TF CLOUD credentials, the first project will run but the second project fails.

The output is:

[code]

I snipped the logs that didn't seem relevant

I see the file 333311547 get created, but ultimately it's empty when I check it after it fails.

[2021-04-23 15:53] aliscott commented on #607
@keslerm this fix is now in the infracost/infracost:latest Docker image.

[2021-04-23 16:23] aliscott commented on #609
Thanks @keslerm. I was able to reproduce and have fixed in https://github.com/infracost/infracost/pull/610.

[2021-04-23 17:09] keslerm commented on #609
@aliscott excellent! thank for the quick response, this is an fantastic tool!

[2021-04-23 17:33] aliscott commented on #572
@ekifel reopening this since I'm seeing these warnings in the test logs:
[code]

[2021-04-23 19:42] alikhajeh1 commented on #609
@keslerm this has been fixed in [v0.8.5](https://github.com/infracost/infracost/releases/tag/v0.8.5)

[2021-04-23 19:42] #609 closed

[2021-04-23 21:01] alikhajeh1 commented on #554
@robh007 just wanted to check something: once this issue is resolved, would CPU credits on T2 / T3 & T4 instances show as "costs depend on usage: ..."?

[2021-04-24 16:25] robh007 commented on #554
Yes @alikhajeh1. I'm going to write some findings in the contributors channel.

[2021-04-25 18:53] NissesSenap commented on #596
Started to look at this one.
I'm curios though.

It looks like **IP SSL** costs 39$ just as specified.
[code]

But **SNI SSL** isn't free:
[code]

So I guess I misunderstand the Azure docs or some pricing is wrong in your DB or in the azure pricing API.
If you have some pointer that would be great.

[2021-04-26 09:53] alikhajeh1 commented on #529
This was released in v0.8.5

[2021-04-26 09:53] #529 closed

[2021-04-26 09:58] alikhajeh1 commented on #151
Released in v0.8.5

[2021-04-26 09:58] #151 closed

[2021-04-26 09:59] alikhajeh1 commented on #570
Released in v0.8.5

[2021-04-26 10:06] #572 closed

[2021-04-26 10:17] alikhajeh1 commented on #548
Initially let's just have the current HTML output format show a breakdown.

[2021-04-26 11:39] alikhajeh1 opened #615 "Add CSV output format"
Infracost's `breakdown` and `output` commands currently supports JSON for machine consumption and table/HTML for human consumption. Would people be interested in having `csv` as a new format for those commands? If so, can you please add a quick comment to describe your use-case and what roles in your team/company would use this?

Used together with the upcoming `--fields` flag, this enables users

[2021-04-26 12:37] alikhajeh1 commented on #596
@NissesSenap awesome PR! Do you have a support contract with MS Azure? If so, maybe you can ask them that question? If not, I'll do that from our side. Their support teams usually escalate these detailed pricing questions to the right teams internally so we can get an answer.

Until then, I'd go with the Azure pricing page and skip the resource as free for SNI (see following example from the contr

[2021-04-27 06:15] NissesSenap commented on #596
Glad to hear it :)
I don't have a easy way of creating tickets with them so it would be good if you can reach out.

I will update the PR with the NoPrice during this week.

[2021-04-27 08:12] NeverovDS commented on #561
@alikhajeh1, Hey, I want to work on it!

[2021-04-27 08:39] hassankhosseini opened #616 "Support private clouds / On-prem infrastructure"
Feature for: Larger enterprises who have on-prem or private clouds. These could include VMWare, OpenStack etc.

Currently Infracost shows prices for workloads running on public cloud providers. This feature would enable the central IT team or the infrastructure managers within larger companies to define a price book for their private cloud / On-prem infrastructure, and those prices could be used w

[2021-04-27 13:04] tim775 commented on #593
I"m going to work through it the way you propose but I'm wondering if we could achieve the same result without a breaking change by just adding DisplayQuantity and removing UnitMultiplier.

I had another thought (probably wrong due to inexperience 🙂 ): It seems like Hourly/Monthly Quantity and PriceTimeUnit are really used as arguments to a function that (along with a price) calculates the cost (C

[2021-04-27 13:15] aliscott commented on #593
Definitely open to better/quicker ways of doing this. What do you mean by "without a breaking change". Would that be not changing the JSON format?

I like the `CalculateCosts` function idea. We might want it to be `CalculateMonthlyCost` to make it clear what time frame the cost applies for.

There's also an edge case with Google instances we'll want to consider. For almost every resource `hourly_c

[2021-04-27 13:59] tim775 commented on #593
Clearly what I mean by that is "I'm not really sure what I'm talking about" 😀.  So... *maybe* this is where I'm headed: It seems like there are two parts to the proposal 1) Change Unit & UnitMultiplier -> DisplayUnit & DisplayQuantity, 2) Change HourlyQuantity & MonthlyQuantity -> PriceQuantity & PriceTimeUnit.  I guess it seems like we're trying to fix UnitMultiplier and I don't (yet) see why we

[2021-04-27 14:37] aliscott commented on #593
Ah ok. So the issue with the quantities is for cases like "Case 3" above. If someone creates an Azure Managed Disk with 2048GB storage, 4000 IOPS and 5000MB/s throughput, we currently show the below since the price is listed per hour.
[code]
 Ideally I think we want to show the quantities that match what the user entered in their Terraform code/usage file. These also match the inputs used by the A

[2021-04-28 03:51] tim775 commented on #593
It looks like UnitMultiplier pretty much does what we want already so this seems to be a fairly simple change (no need to add or remove fields).  The trick is to remove the automatic calculation of UnitMultiplier quantities that's done in UnitWithMultiplier().  Once that's out of the way, we convert from GiB-hours by setting `Unit: "GiB"` and `UnitMultiplier: 730`.  https://github.com/infracost/in

[2021-04-28 13:10] aliscott commented on #593
👍 This makes a lot of sense.

Most non-monthly prices are shown monthly as well on pricing pages as well, so I think changing the price is okay.

We should update any cost component rows with no cost to show something like this: "Monthly cost depends on usage: $0.4745 per WCU" (Currently they show "Cost depends on usage: ...").

[2021-04-29 08:54] ekifel commented on #548
@aliscott, I want to work on it!

[2021-04-29 11:50] aliscott commented on #591
Here's the pricing I've found for AKS.

We might want to add support for the following services before we tackle this:
* [Azure Load Balancers](https://azure.microsoft.com/en-us/pricing/details/load-balancer/)
* [Azure DNS](https://azure.microsoft.com/en-gb/pricing/details/dns/#pricing)
* [Azure Monitoring](https://azure.microsoft.com/en-gb/pricing/details/monitor/)

If not, then I've split this i

[2021-05-01 02:24] tim775 commented on #593
I've got two PRs for this.  First https://github.com/infracost/infracost/pull/619 adds the golden file tests.  Once that is merged the changes made in https://github.com/infracost/infracost/pull/622 should be easy to see in the golden file diffs.

[2021-05-01 08:50] robh007 opened #625 "bug(aws): root block device calculation - autoscaling launch template."
Currently when using a launch template with ```aws_autoscaling_group``` storage is being calculated twice in some scenarios. Infracost by default calculates a 8gb root volume is calculated, however with a launch template you don't have a root_block_device attribute in terraform. Launch templates use a ``block_device_mapping`` which also allows you to override the root volume.

[2021-05-01 13:34] #554 closed

[2021-05-01 13:57] alikhajeh1 commented on #625
Thanks for reporting this, can you possibly add a TF snippet that can be used to reproduce this?

[2021-05-01 16:56] robh007 commented on #625
Yeah sorry this probably would have helped.

[code]

Infracost reports the following.

[code]
This code assumes there's a root_block_device, which isn't available within a launch_template.
https://github.com/infracost/infracost/blob/89c9256ee2fe281d9573e1ad20c397800e24e91e/internal/providers/terraform/aws/autoscaling_group.go#L170-L172

[2021-05-02 19:16] alikhajeh1 opened #627 "Add support for Azure Functions"
Pricing web page: https://azure.microsoft.com/en-gb/pricing/details/functions/
Terraform resource: https://registry.terraform.io/providers/hashicorp/azurerm/latest/docs/resources/function_app

The `app_service_plan_id` can be followed to see what type of pricing applies:
1. If the `app_service_plan.kind=elastic` OR `app_service_plan.sku.tier=ElasticPremium` then `Premium plan` pricing applies so t

[2021-05-03 11:37] NeverovDS commented on #627
@alikhajeh1, Hey, I want to work on it!

[2021-05-03 14:57] alikhajeh1 commented on #596
Thanks @NissesSenap - sure will do, they usually take a while to get back to us so we can merge this PR once the outstanding issue is resolved and I'll create a new issue if required.

[2021-05-04 13:03] alikhajeh1 commented on #569
@ekifel can you please take a look at these warnings that are happening on the latest master:
[code]

[2021-05-04 13:44] alikhajeh1 commented on #477
@mercuriete just FYI that as part of the v0.8.6 release these usage file params are available, the bottom two were added/updated by @robh007 as part of https://github.com/infracost/infracost/issues/554

[code]

[2021-05-04 13:47] alikhajeh1 commented on #524
@dawidmalina, @lcbm and @sinabakh just FYI that `--fields` was released in v0.8.6, it works with `infracost breakdown` and `infracost output` with the table output format, the HTML format is being updated as part of https://github.com/infracost/infracost/issues/548:

[code]

[2021-05-04 13:47] #524 closed

[2021-05-04 13:50] alikhajeh1 commented on #406
@simonmcc, @justinjtownsend and @ashokalinux just FYI that thanks to @sinabakh we released Jenkins support today in v0.8.6, see https://www.infracost.io/docs/integrations/cicd#jenkins.

It would be great to hear your feedback on how you found the integration.

[2021-05-04 13:50] #406 closed

[2021-05-04 13:51] alikhajeh1 commented on #569
Released in v0.8.6

[2021-05-04 13:51] #569 closed

[2021-05-04 13:55] 06kellyjac opened #630 "Gone from 0.8.5 -> 8.5.6, release should be 0.8.6"
The latest release is `8.5.6`. I'm guessing it was meant to be `0.8.6`

[2021-05-04 13:58] alikhajeh1 commented on #630
@06kellyjac thanks for reporting this! I've messed up :( fixing things now...

[2021-05-04 14:11] alikhajeh1 commented on #630
@06kellyjac fixed https://github.com/infracost/infracost/releases/tag/v0.8.6 😅

[2021-05-04 14:11] #630 closed

[2021-05-04 14:40] Tjstretchalot opened #631 "Add version command"
Hello! A minor annoyance I have with this CLI is it doesn't respect `-v`, `--version` or the command `version`. It does print the version out when you just run e.g. `infracost help` when using an out of date version, but it's nice to see the correct version number for peace of mind after updating infracost.

[2021-05-04 14:44] alikhajeh1 commented on #631
@Tjstretchalot thanks for reporting this! We added `infracost --version` a while ago (can't remember the date but it feels like a few months ago), perhaps you're using an old version when we didn't have that?

[2021-05-05 00:27] Tjstretchalot commented on #631
I must be insane but I see it now; thank you!

[2021-05-05 00:27] #631 closed

[2021-05-05 08:44] ekifel commented on #574
Hey, I want to work on it!

[2021-05-05 12:20] aliscott commented on #598
Fixed in https://github.com/infracost/infracost/pull/636, thanks @swade1987 and @ekifel.

[2021-05-05 12:20] #598 closed

[2021-05-05 14:58] tim775 opened #637 "Convert integration tests to golden files."
We should convert existing infrastructure tests in `internal/providers/terraform/` to use `tftest.GoldenFileResourceTests`.

Please comment on this issue when you begin a conversion so we can avoid conflicts.

The basic steps to do this are:

1. Create a new sub directory of testdata for the resrourceL `mkdir internal/providers/terraform/aws/testdata/my_resource_test`
2.  Create `my_resource_test.

[2021-05-05 15:06] avst-dmartino opened #638 "Add support for Kinesis Firehose"
Terraform resource:

aws_kinesis_firehose_delivery_stream

Pricing details:

https://aws.amazon.com/kinesis/data-firehose/pricing/?nc=sn&loc=3

[2021-05-05 15:08] avst-dmartino opened #639 "Add support for Kinesis Data Analytics"
Terraform Resources:

aws_kinesis_analytics_application
aws_kinesisanalyticsv2_application

Pricing details:

https://aws.amazon.com/kinesis/data-analytics/pricing/?nc=sn&loc=3

[2021-05-06 14:42] aliscott commented on #637
I'm taking the following:

- [ ] acm_certificate
- [ ] acmpca_certificate_authority
- [ ] api_gateway_stage
- [ ] autoscaling_group
- [ ] cloudwatch_dashboard

[2021-05-06 17:24] tim775 commented on #637
I'll take:
- [ ] aws/secretsmanager_secret_test.go
- [ ] aws/sns_topic_subscription_test.go
- [ ] aws/sns_topic_test.go
- [ ] aws/sqs_queue_test.go
- [ ] aws/ssm_activation_test.go
- [ ] aws/ssm_parameter_test.go
- [ ] aws/vpc_endpoint_test.go
- [ ] aws/vpn_connection_test.go

[2021-05-07 07:58] aliscott commented on #637
Next up I'll do:
- [ ] aws_cloudwatch_event_bus
- [ ] aws_cloudwatch_log_group
- [ ] aws_cloudwatch_metric_alarm
- [ ] aws_codebuild_project
- [ ] aws_config_config_rule

[2021-05-07 12:09] ekifel commented on #637
I'll take Azure resources:

- [ ] azurerm_app_service_certificate_binding
- [ ] azurerm_app_service_certificate_order
- [ ] azurerm_app_service_environment
- [ ] azurerm_app_service_plan
- [ ] azurerm_mariadb_server
- [ ] azurerm_mssql_database
- [ ] azurerm_mysql_server
- [ ] azurerm_postgresql_server

[2021-05-07 19:28] sinabakh commented on #495
I like to work on it if no one is on it.

[2021-05-08 13:14] alikhajeh1 commented on #495
Thanks @sinabakh!

[2021-05-08 13:30] alikhajeh1 opened #646 "Add support for AWS EC2 Savings Plan pricing"
EC2 RIs are [already supported](https://www.infracost.io/docs/usage_based_resources#ec2-reserved-instances) in the usage file. We could take a similar approach with Savings Plans, I think we'd first need to add their pricing into the pricing service.

[2021-05-09 14:44] alikhajeh1 opened #647 "Add support for Azure Key Vault"
Resources: azurerm_key_vault*
Pricing: https://azure.microsoft.com/en-us/pricing/details/key-vault/

[2021-05-09 14:54] alikhajeh1 opened #648 "Add support for Azure Container Registry"
Resources: azurerm_container_registry as the paid resource with these free resources: azurerm_container_registry_scope_map, azurerm_container_registry_token, azurerm_container_registry_webhook

Pricing: https://azure.microsoft.com/en-us/pricing/details/container-registry/

Cost components:
1. "Registry usage (sku_here)", units "days", set MonthlyQuantity to 30 so we assume a 30 day month. sku defa

[2021-05-10 21:14] sinabakh commented on #637
I'll work on:
- [ ] aws/config_configuration_recorder
- [ ] aws/config_organization_custom_rule
- [ ] aws/config_organization_managed_rule
- [ ] aws/dms
- [ ] aws/dx_connection

[2021-05-11 09:46] JamesWoolfenden opened #652 "Packing your windows file executable without .exe extension"
Your release 0.8.6 for windows is packaged with no extension. Should be .exe

[2021-05-11 18:45] tim775 commented on #490
Ok so after some more digging I see that infracost can look at the state or plan json.  So here's how I'm thinking about this now:
When the user runs infracost with something like `infracost diff --terraform-workspace-all --path .` we should sequentially run and ouput infracost diff for each workspace (diff will automatically generate a tf plan for each workspace based on the shared config and the

[2021-05-11 19:30] aliscott commented on #490
The way I was thinking about it was that if the user runs `infracost diff --path <path>` or `infracost breakdown --path <path>`, we detect that the `<path>` has multiple Terraform workspaces and we treat each workspace as a separate Infracost project, so they would be looped through as separate projects here: https://github.com/infracost/infracost/blob/master/cmd/infracost/run.go#L39.

We could th

[2021-05-11 20:54] alikhajeh1 commented on #490
I'm struggling to think of any downsides of going with what @aliscott suggested above. It seems simpler for users too vs having to specify another flag.

My only hesitation is that while Terraform Cloud has [a solution](https://www.terraform.io/docs/cloud/workspaces/variables.html#loading-variables-from-files) for [workspaces variable definition files](https://www.terraform.io/docs/language/values

[2021-05-12 05:35] ekifel commented on #637
I'll take:

- [ ] aws_efs_file_system
- [ ] aws_eip
- [ ] aws_elasticache_cluster
- [ ] aws_elasticache_replication_group
- [ ] aws_elasticsearch_domain
- [ ] aws_elb
- [ ] aws_fsx_windows_file_system
- [ ] aws_kms_key

[2021-05-12 09:12] alikhajeh1 commented on #490
@JulienChampseix I noticed you liked this GH issue... are you using Terraform Cloud to manage multiple workspaces? If not, how do you store/load workspace-specific var files? any feedback is appreciated

[2021-05-12 09:39] alikhajeh1 commented on #652
Thanks @JamesWoolfenden! I added the issue to our [main board](https://github.com/infracost/infracost/projects/2#card-60947485)

[2021-05-13 10:42] sinabakh commented on #637
I'll take:

- [ ] aws/db_instance
- [ ] aws/docdb_cluster_snapshot
- [ ] aws/docdc_cluster
- [ ] aws/dx_gateway_assosiaction
- [ ] ebs_snappshot_copy

[2021-05-13 10:54] ekifel commented on #637
I'll take:
Google:

- [ ] google_cloudfunctions_function
- [ ] google_compute_address
- [ ] google_compute_disk
- [ ] google_compute_image
- [ ] google_compute_instance
- [ ] google_compute_machine_image
- [ ] google_compute_router_nat
- [ ] google_compute_snapshot

[2021-05-13 10:58] sinabakh commented on #549
It seemed like a 10 minutes task so I gave it a go.

[2021-05-13 11:57] ekifel commented on #591
@alikhajeh1, hey, I want to work on it!

[2021-05-13 15:11] NeverovDS commented on #648
@alikhajeh1, Hey, I want to work on it!

[2021-05-14 08:35] #652 closed

[2021-05-14 08:42] alikhajeh1 commented on #652
@JamesWoolfenden this'll be fixed in the next version

[2021-05-14 09:33] alikhajeh1 opened #665 "Add support for Azure IP address"
Pricing: https://azure.microsoft.com/en-us/pricing/details/ip-addresses/, ignore the "Basic (Classic)" column as Terraform only works with ARM (Azure Resource Manager)

Terraform resource: [azurerm_public_ip](https://registry.terraform.io/providers/hashicorp/azurerm/latest/docs/resources/public_ip) has 1 cost component: "IP address (type_here)" where type is "dynamic" or "static", units is "hours"

[2021-05-14 10:03] alikhajeh1 opened #666 "Add support for Azure Load Balancer"
Pricing page: https://azure.microsoft.com/en-us/pricing/details/load-balancer/ (also available in the [Azure pricing calculator](https://azure.microsoft.com/en-gb/pricing/calculator/))

Terraform resources:

1. `azurerm_lb`:
if `sku` is Basic (the default), then this is a free resource (search contributing guide for "free resources:" to see how to handle that). Else show one cost component "Data p

[2021-05-15 08:43] JamesWoolfenden commented on #605
If this could work to update a section Readme that would be ideal, well for me anyway.

[2021-05-17 10:32] alikhajeh1 opened #669 "Add support for Azure Cosmos DB"
Terraform resources: azurerm_cosmosdb* (there are around 12 resources) but they all have the same pricing model mentioned in https://azure.microsoft.com/en-us/pricing/details/cosmos-db/#pricing so we can probably use the same logic between those resources

[2021-05-17 10:34] alikhajeh1 opened #670 "Add support for Azure HDInsight"
Terraform resources: azurerm_hdinsight*, there are 8 resources but I think they all share the same pricing details mentioned in https://azure.microsoft.com/en-us/pricing/details/hdinsight/ so we can re-use the logic

[2021-05-17 10:39] alikhajeh1 opened #671 "Add support for Azure Databricks"
Terraform resource: https://registry.terraform.io/providers/hashicorp/azurerm/latest/docs/resources/databricks_workspace
Pricing details: https://azure.microsoft.com/en-us/pricing/details/databricks/

We can support the Pay as you go pricing for DBUs only initially (not the VM or storage costs as those require other non-Azure terraform resources to be processed). Use the Terraform `sku` field to f

[2021-05-17 10:41] alikhajeh1 opened #672 "Add support for Azure Firewall"
Terraform resources: https://registry.terraform.io/providers/hashicorp/azurerm/latest/docs/resources/firewall. The other 5 azurerm_firewall* resources should be added as free resources
Pricing details: https://azure.microsoft.com/en-us/pricing/details/azure-firewall/

[2021-05-17 10:58] alikhajeh1 opened #673 "Add support for Azure NAT Gateway"
Terrafom resource: https://registry.terraform.io/providers/hashicorp/azurerm/latest/docs/resources/nat_gateway
Pricing details: https://azure.microsoft.com/en-us/pricing/details/virtual-network/#pricing > NAT Gateway

Cost components:
- "NAT gateway", unit "hours".
- "Data processed", unit "GB", usage file parameter: `monthly_data_processed_gb: 10 # Monthly data processed by the NAT Gateway in GB.

[2021-05-17 11:02] NeverovDS commented on #665
@alikhajeh1, Hey, I want to work on it!

[2021-05-17 11:17] alikhajeh1 opened #674 "Add support for Azure Logic App Integration Service Environments"
Terraform resource: https://registry.terraform.io/providers/hashicorp/azurerm/latest/docs/resources/integration_service_environment
Pricing page: https://azure.microsoft.com/en-us/pricing/details/logic-apps/ > Integration Service Environment

Cost components:
Split the terraform "sku_name" property on `_` to find out if the type is Developer or Premium and multiply the scale number (also known as

[2021-05-17 12:08] #495 closed

[2021-05-17 12:09] alikhajeh1 opened #675 "Add support for Azure legacy VMs"
Terraform resources: azurerm_virtual_machine and azurerm_virtual_machine_scale_set
Pricing details: https://azure.microsoft.com/en-us/pricing/details/virtual-machines/windows/ and https://azure.microsoft.com/en-us/pricing/details/virtual-machines/linux/

Ping @aliscott before starting to work on this as I think he worked on the non-legacy versions of these resources

[2021-05-17 14:05] NeverovDS commented on #674
@alikhajeh1, Hey, I want to work on it!

[2021-05-17 17:26] NeverovDS commented on #673
@alikhajeh1, Hey, I want to work on it!

[2021-05-17 20:37] tim775 commented on #637
Taking:

- [ ] aws/ebs_volume_test.go
- [ ] aws/kms_key_external_test.go

[2021-05-17 22:52] alikhajeh1 opened #682 "Add Azure App Service Certificate Binding (for hostname)"
This ticket has 2 parts:

1. the existing `azurerm_app_service_certificate_binding` resource needs to be updated to use the location from its `certificate_id` reference (https://registry.terraform.io/providers/hashicorp/azurerm/latest/docs/resources/app_service_certificate, which has location as required). Current it's using region=Global (the prices look to be the same so it's best to use the loc

[2021-05-18 03:06] tim775 commented on #637
Taking:

- [ ] google/container_cluster_test.go
- [ ] google/container_node_pool_test.go
- [ ] google/container_registry_test.go
- [ ] google/dns_managed_zone_test.go
- [ ] google/dns_record_set_test.go
- [ ] google/google_test.go
- [ ] google/kms_crypto_key_test.go

[2021-05-18 06:51] ekifel commented on #669
@alikhajeh1, Hey, I want to work on it

[2021-05-18 07:20] ekifel commented on #670
@alikhajeh1, Hey, I want to work on it!

[2021-05-18 09:46] NeverovDS commented on #682
@alikhajeh1, Hey, I want to work on it!

[2021-05-18 11:50] ekifel commented on #637
I'll take:

- [ ] google_monitoring_metric_descriptor
- [ ] google_pubsub_subscription
- [ ] google_pubsub_topic
- [ ] google_redis_instance
- [ ] google_sql_database_instance
- [ ] google_storage_bucket

[2021-05-18 13:39] sbalajisivaram commented on #666
Thanks @alikhajeh1 for the details will take it up and keep you updated...

[2021-05-18 15:28] NeverovDS commented on #575
@alikhajeh1, Hey, I want to work on it!

[2021-05-18 15:30] alikhajeh1 commented on #575
![yoda](https://user-images.githubusercontent.com/638577/118680165-66d4ec00-b7f6-11eb-8496-930685aade85.jpg)

[2021-05-18 19:18] ekifel commented on #672
@alikhajeh1, Hey, I want to work on it! :)

[2021-05-19 03:59] ekifel commented on #669
@alikhajeh1, Hey, I want to work on it!

[2021-05-19 09:46] sbalajisivaram commented on #666
@alikhajeh1, one quick question, when I look at the available regions for Load balancer services in mongo from cloud pricing api it shows three regions(Global, China & US Gov) but the actual pricing page(https://azure.microsoft.com/en-us/pricing/details/load-balancer/) does not show china region.

[2021-05-19 09:51] alikhajeh1 commented on #666
@sbalajisivaram Azure China has different pricing that we don't fully yet (we have to fetch the pricing from different endpoints vs the other regions). For now, you can use [this logic](https://github.com/infracost/infracost/blob/master/internal/providers/terraform/azure/nat_gateway.go#L23-L31), so we can try to future-proof it.

[2021-05-19 09:51] aliscott commented on #666
@sbalajisivaram Looks like Azure China pricing is listed differently. I found this: https://www.azure.cn/en-us/pricing/details/load-balancer/.

[2021-05-19 10:43] alikhajeh1 commented on #672
@ekifel I noticed that the `attributes.skuName` mongo field has "Secured Virtual Hub" and "Premium Secured Virtual Hub" options. Can you please send a new PR that checks if `azurerm_firewall.virtual_hub` is set? if so, then these two options can be used instead of the existing ones. That should cover the "Azure Firewall with Secured Virtual Hub" [pricing section](https://azure.microsoft.com/en-us/

[2021-05-19 13:28] aliscott commented on #675
What I've found so far:

To find if it's a windows or Linux VM we should assume Linux for default. If either `storage_os_disk.os_type == "Windows"` or `storage_image_reference.offer == "WindowsServer"` then we should use Windows. We can then use the existing `linuxVirtualMachineCostComponent` and `windowsVirtualMachineCostComponent` cost components.

We should also add a cost component for `Ultra

[2021-05-19 14:54] tim775 commented on #637
It looks like eks_node_group is done.  It still has the old style test for the spot pricing case since those prices change too frequently to use golden files.

[2021-05-20 06:03] ekifel commented on #671
@alikhajeh1, Hey, I want to work on it!

[2021-05-20 08:28] ekifel commented on #675
@alikhajeh1, Hey, I want to work on it!

[2021-05-20 11:32] NeverovDS commented on #506
@alikhajeh1, Hey, I want to work on it!

[2021-05-20 16:55] alikhajeh1 commented on #506
Notice this bit at the bottom of the pricing table:
In addition, you will be charged $1.00 per month (prorated hourly) for each **rule group** or each **managed rule group** that you add to your web ACL"

The main resource is `aws_wafv2_web_acl` and it has the following cost components:
- "Web ACL usage", units "hours"

- "Rules", units "hours". To calculate the monthly quantity, sum these three n

[2021-05-22 17:10] alikhajeh1 commented on #605
@ekristen and @JamesWoolfenden any thoughts on the following output options? Markdown tables don't have cell-merge, and indentation isn't supported AFAIK :(
BTW, there's also https://github.com/infracost/infracost/issues/43 if your use-case lends itself more to linking to a badge/shield in the readme?

# Option 1: markdown list

Monthly cost estimate from Infracost.io: **$742.64**
- aws_instance.w

[2021-05-22 17:22] alikhajeh1 commented on #43
I played around with a few markdown options, feel free to vote on an option in https://github.com/infracost/infracost/issues/605#issuecomment-846437383. @sashman shields.io seems cool!

We could make a small app (that we'll host) that asks the user for: their public git repo URL, a cloud region based on the cloud provider being used, and any variable defaults they need to provide (i.e. all the thi

[2021-05-22 17:25] robh007 opened #702 "Add support for AWS Step functions."
Terraform providers a resource `aws_sfn_state_machine` for AWS Step functions. Infracost should be able to take the workflow type & then calculate the cost based on the state machine definition.

Link to pricing page.
https://aws.amazon.com/step-functions/pricing/

[2021-05-22 20:04] sinabakh commented on #605
I might be biased but I think option 3 seems more readable.

[2021-05-22 20:11] sinabakh commented on #43
We also could have a Github bot to submit PRs to update the infracost's part of the readme.

[2021-05-22 20:22] JamesWoolfenden commented on #605
I like the third option, I was  manually copying in the output and using codeblocks and that seems to give the best layout.

[2021-05-23 01:07] praveenghuge commented on #702
@alikhajeh1, Hey, I want to work on it!

[2021-05-23 09:27] alikhajeh1 commented on #702
Thanks @praveenghuge, https://calculator.aws/#/createCalculator/StepFunctions has clues as to what our usage file params could be, the `type` terraform field can tell us which pricing applies.

[2021-05-23 13:57] alikhajeh1 commented on #702
@robh007 do you mean we can parse the aws_sfn_state_machine.definition JSON to calculate something? I haven't used the resource but I see that @praveenghuge has added a usage file param (which is the same thing that the AWS calculator does).

[2021-05-24 07:42] robh007 commented on #702
Yes - not sure how complex it would be. But I think you can take the state definition & the workflow type and work out how many transitions occur, you're billed based on these calculations. I'm happy to help if required.

[2021-05-24 09:26] alikhajeh1 opened #705 "Add support for Azure API Management"
Pricing: https://azure.microsoft.com/en-us/pricing/details/api-management/
Terraform resources: azurerm_api_management* (there's a lot of resources but most are free)

[2021-05-24 09:29] alikhajeh1 opened #706 "Add support for Azure Application Gateway"
Pricing: https://azure.microsoft.com/en-us/pricing/details/application-gateway/
Terraform resource: https://registry.terraform.io/providers/hashicorp/azurerm/latest/docs/resources/application_gateway

[2021-05-24 09:31] alikhajeh1 opened #707 "Add support for Azure Automation"
Pricing details: https://azure.microsoft.com/en-us/pricing/details/automation/
Terraform resources: azurerm_automation* (there's quite a lot of resources but most are free)

[2021-05-24 09:34] alikhajeh1 opened #708 "Add support for Azure CDN"
Pricing: https://azure.microsoft.com/en-us/pricing/details/cdn/
Terraform resources: azurerm_cdn_profile and azurerm_cdn_endpoint

[2021-05-24 09:46] alikhajeh1 opened #709 "Add support for Azure DNS"
Pricing details: https://azure.microsoft.com/en-us/pricing/details/dns/
Notice the bottom of the pricing page has a question with "Which Regions correspond to Zone 1, Zone 2, Zone 3, US Gov Zone 1 and Germany Zone?". All all the following resources, the `resource_group_name` param can be used to fetch the location and map that to the zone.

Terraform resources `azurerm_dns_zone` and `azurerm_priva

[2021-05-24 11:31] alikhajeh1 opened #710 "Add support for Azure Kubernetes Load Balancer and HTTP Application Routing"
The [azurerm_kubernetes_cluster](https://registry.terraform.io/providers/hashicorp/azurerm/latest/docs/resources/kubernetes_cluster), which Infracost supports, has a `load_balancer_sku` param. Once we support the [Azure LB resource](https://github.com/infracost/infracost/issues/666) is merged, we can update the AKS resource to include costs of the LB if that param is used.

[2021-05-24 12:22] aliscott commented on #710
I've added some details for the load balancer and DNS pricing for AKS here: https://github.com/infracost/infracost/issues/591#issuecomment-829163605.

The DNS pricing applies if `http_application_routing.enabled == true`. [This page](https://docs.microsoft.com/en-us/azure/aks/http-application-routing) contains a bit more detail, but basically when this option creates a new DNS Zone, so any pricing

[2021-05-24 14:30] alikhajeh1 opened #712 "Tests fail due to order of unsupported resources in `--show-skipped` not being fixed"
When `show-skipped` is used, we don't output a sorted list of the unsupported resources:
[code]

This causes the tests to sometimes fail randomly (shown below), I think we should sort the list by count (highest should be listed first) then alphabetically by the resource type (a to z) so the order is always consistent between subsequent runs of the same project.

[code]

[code]

[2021-05-24 15:06] alikhajeh1 commented on #87
Going to close this as the tests run in ~5mins on GH just now (down from ~17mins), some of the ideas in this ticket were implemented in https://github.com/infracost/infracost/issues/637

[2021-05-24 15:06] #87 closed

[2021-05-24 15:27] alikhajeh1 opened #713 "Investigate/fix AWS data transfer price warnings"
[code]

[2021-05-24 15:28] alikhajeh1 commented on #713
@sinabakh can you possibly take a look at this when you get the chance? It's from the recent golden tests

[2021-05-24 17:27] ekifel commented on #712
@alikhajeh1, Hey, I want to work on it! :)

[2021-05-24 18:59] sinabakh commented on #713
@alikhajeh1 Sure, I used a script to generate all combinations for regions.

[2021-05-24 19:06] sinabakh commented on #470
I'll work on it.

[2021-05-25 03:07] tim775 commented on #708
Terraform resource `azurerm_cdn_endpoint` should have

- A `monthly_outbound_gb` usage parameter displayed as `Outbound data transfer (<type>, <tier>)` with unit `GB` where type is determined by the azure_cdn_profile.sku (e.g. 'Standard Microsoft', 'Standard Akamai',...) and tier is the pricing tier (e.g. 'first 10 TB', 'next 40 TB', etc...).  When the usage key is not provided, all tiers should b

[2021-05-25 12:42] tim775 commented on #706
Terraform resource azurerm_application_gateway should have

- An hourly charge based on the size and type from the sku displayed as `Gateway usage (<type>)` with unit `hours` where type is based on sku ( e.g. `basic, small`, `WAF, large`, `basic, v2`)
- A `monthly_data_processed_gb` usage parameter displayed as `Data processing (<tier>)` with unit `GB` where tier is `(0-10TB)`, `(10-40TB)`, or (`o

[2021-05-25 13:07] ekifel commented on #708
@alikhajeh1, Hey, I want to work on it!

[2021-05-25 13:45] tim775 commented on #707
@alikhajeh1 I had trouble wrapping my head around this, but I think the best option is:

For `azurerm_automation_account `:
- A `monthly_job_run_ mins` usage parameter displayed as `Job run time (over 500 mins)` with unit `minutes`.
- A `monthly_watcher_hours` usage parameter displayed as `Watchers (over 744 hours)` with unit `hours`.
- A `monthly_non_azure_configuration_node_count` usage paramete

[2021-05-25 18:39] tim775 commented on #705
Terraform resource `azurerm_api_management` should have

- For all but the 'Consumption' tier: `API management (<tier>)` with unit `units` where tier is determined from the first part of the `sku_name`  and the quanity of units from the second part of the `sku_name` (see the terraform docs).
- Add a `monthly_api_calls` usage parameter displayed as `API management (consumption over 1M)` with unit `

[2021-05-25 19:35] sinabakh commented on #713
For the sake of reference, @aliscott where do we got the human-readable values of regions like: `ap-northeast-3` -> `Asia Pacific (Osaka-Local)`

[2021-05-25 21:43] aliscott commented on #713
@sinabakh this has all of them I think: https://github.com/aws/aws-sdk-go/blob/main/aws/endpoints/defaults.go

[2021-05-26 11:20] ekifel commented on #705
@alikhajeh1, Hey, I want to work on it!

[2021-05-26 12:49] NeverovDS commented on #707
@alikhajeh1, Hey, I want to work on it!

[2021-05-26 12:50] alikhajeh1 commented on #707
@NeverovDS maybe go for #709 until we finalize the details on this one? I've not had a chance to look into Tim's comments

[2021-05-26 12:57] NeverovDS commented on #707
@alikhajeh1 Sure!

[2021-05-26 13:07] NeverovDS commented on #709
@alikhajeh1, Hey, I want to work on it!

[2021-05-26 14:37] JanCallewaert-TomTom opened #722 "Add support for Azure Postgres Flexible Server"
Terraform has recently added support: https://registry.terraform.io/providers/hashicorp/azurerm/latest/docs/resources/postgresql_flexible_server.

Pricing details: https://azure.microsoft.com/en-us/pricing/details/postgresql/flexible-server/#pricing

[2021-05-26 15:29] alikhajeh1 commented on #702
The basic form of this was merged as part of https://github.com/infracost/infracost/pull/704 / https://github.com/infracost/infracost/pull/720. Going to close this ticket, feel free to create another ticket with the advanced version details to calculate the transitions (I think there was some Slack discussion on it too that might be useful in the new ticket).

[2021-05-26 15:29] #702 closed

[2021-05-26 15:44] alikhajeh1 commented on #722
Thanks @JanCallewaert-TomTom! Seems like `create_mode` can be:
- `default`, which [requires](https://github.com/terraform-providers/terraform-provider-azurerm/blob/master/azurerm/internal/services/postgres/postgresql_flexible_server_resource.go#L224-L232) `sku_name` and `storage_mb` params to be set (which we can use for cost calcs).
- `PointInTimeRestore`, which means we can use the `source_serve

[2021-05-26 15:50] praveenghuge commented on #706
Hey, I can work on this

[2021-05-26 15:59] alikhajeh1 commented on #706
Thanks @tim775 and @praveenghuge!

I would keep that separate just now since there is no specific price for it in this resource (this seems similar to what we did with AWS where we added a separate data_transfer resource)

I just reviewed what we were doing elsewhere and we only display the **first tier** (so the output is simpler for users to understand, otherwise the output becomes pretty long f

[2021-05-26 17:15] alikhajeh1 opened #724 "Price rounding for "cost depends on usage" is sometimes misleading"
In the following example, the price is $0.000025/transition, or $0.25 per 1K transitions. The costs are shown correctly but the "cost depends on usage" line is rounding to 2 decimal places when `unitMultiplier` is set to larger numbers. Should we round to 4 decimal places to handle this case?

[code]

[2021-05-26 17:25] aliscott commented on #724
Currently we round to 2dp if price < 0.01. We could change that to 0.10 maybe?
Code is here: https://github.com/infracost/infracost/blob/master/internal/output/format.go#L45

[2021-05-26 17:26] alikhajeh1 commented on #669
@ekifel the master branch test logs are showing this, can you please check?
[code]

[2021-05-26 17:28] alikhajeh1 commented on #673
@NeverovDS the master branch test logs are showing this, can you please check?
[code]

[2021-05-26 17:29] alikhajeh1 commented on #591
@ekifel the master branch test log output is showing this, can you please check?
[code]

[2021-05-26 17:35] alikhajeh1 commented on #675
@ekifel the master branch test logs are showing this, can you please check?
[code]

[2021-05-26 18:05] alikhajeh1 commented on #712
Thanks @ekifel!

[2021-05-26 18:05] #712 closed

[2021-05-26 18:19] tim775 commented on #709
@alikhajeh1 Just to confirm: Should we really show both usage tiers if the param is not present or just the (first 1B) tier?
[code]

[2021-05-26 22:15] alikhajeh1 commented on #709
Good catch @tim775 - I updated the description (to say just the first tier).

[2021-05-27 07:59] ekifel commented on #724
@alikhajeh1 hey, I want to work on it!

[2021-05-27 09:26] #673 closed

[2021-05-27 09:26] alikhajeh1 commented on #673
Fixed warnings in https://github.com/infracost/infracost/commit/e40eb392757a9e47c6844424a9265ddb07c42444

[2021-05-27 11:21] #713 closed

[2021-05-27 11:27] #637 closed

[2021-05-27 13:14] #531 closed

[2021-05-27 13:57] vladkosarev commented on #304
I see this in urxvt but xterm works fine.

[2021-05-27 14:52] alikhajeh1 opened #729 "Review/fix case sensitive Terraform inputs"
- [x] Google
- [x] Azure
- [x] AWS

Terraform ignores case sensitivity in most cases for AWS, GCP and Azure (I haven't checked other providers). The aim of this GH issue is to review and update all existing cloud resources to ensure that:

1. case-insensitive string comparison are used, e.g.:
Bad: `input == "large"`
Good: `strings.ToLower(input) == "large"`
We might be able to grep for something l

[2021-05-27 15:42] alikhajeh1 opened #730 "Improvements for usage-based resources (feedback wanted!)"
I'd like to get feedback from the community on what they'd like from the `--usage-file` and `--sync-usage-file` features next. See the docs for them [here](https://www.infracost.io/docs/usage_based_resources#1-generate-usage-file):
[code]

Some ideas for improvements are:
1. Output the comments from the [`infracost-usage-example.yml`](https://github.com/infracost/infracost/blob/master/infracost-us

[2021-05-27 17:15] sinabakh commented on #730
I personally think one of the challenges of moving to more advanced features is the current schema-less structure.
It produces some challenges like parsing issues and limited flexibility. For instance, implementing number 1 is not only hard and limited but hacky in nature.

I believe in the first place, we can create an easy to define schema for usage based data.

[2021-05-28 03:52] krishnaindani commented on #729
Is this issue open to take? I am new and would like to learn and contribute since it is tagged as the good first issue.

[2021-05-28 07:59] alikhajeh1 commented on #729
@krishnaindani sure! Thanks for offering to help.

[2021-05-28 10:34] alikhajeh1 opened #734 "Add grand total to bottom of table+HTML output"
Currently we show the per-project total. Should we show the total for all projects at the bottom of the table and the new HTML (v0.9) output formats? It's already in the JSON output but marked as deprecated, depending on what we decide with this feature we can rename that param so it's consistent with the table+html outputs.

Should we call this Grand Total or Run Total (each CLI run)?

<details>

[2021-05-28 10:40] alikhajeh1 opened #735 "Rename JSON format's projects to projectResults"
We have internal concepts of:
1. runs: each time the CLI runs. This is similar to what Terraform Cloud call runs.
2. projects: a project contains the infra-as-code and any [configs](https://www.infracost.io/docs/multi_project/config_file/) (e.g. the terraform_binary version to be used) that are needed to run that project through Infracost.
3. project results: the JSON output of a project run. We c

[2021-05-28 10:45] aliscott commented on #730
For 1. Looks like the [yaml.v3](https://pkg.go.dev/gopkg.in/yaml.v3) introduced some support for parsing and writing comments, so it might not be hard to add if we use that and parse the current file into `yaml.Node` types. If this is quick, I think we should do it.

Overall though I agree that a schema-based approach is better in the long term.

[2021-05-28 10:48] alikhajeh1 commented on #525
We use https://github.com/spf13/cobra internally so we should be able to use the `Automatically generated shell autocomplete for your application (bash, zsh, fish, powershell)` feature it has to do the same thing as https://cli.github.com/manual/gh_completion and create a new command:

`infracost completion: Generate shell completion scripts`

[2021-05-28 11:10] aliscott commented on #43
I can see this being useful for third-party or shared Terraform modules, but one thing I wonder is how we handle the input variables. For most Terraform modules I've used the cost would depend on the variables passed to the module, so as a user of that module I'd want to be able to specify those, or see some example costs for different options.

[2021-05-28 11:11] alikhajeh1 commented on #425
@aliscott good idea, the `terraform-aws-modules/eks/aws` seems fairly popular so that workaround is probably good enough to start with.

[2021-05-28 13:58] aliscott commented on #734
1. Should we use grand total or overall total? When we were showing resource totals before we used the terminology "Overall total", but I don't have a strong preference.
2. Should we add this to `infracost diff` as well? If we do then I can see the output getting too cluttered, e.g:
[code]
3. Is there any point showing the project totals if there's only one project?

[2021-05-28 14:06] alikhajeh1 commented on #734
2. I don't think it's useful to see the overall/grand total in the diff output.
3. Nope, best to avoid that as it's confusing seeing 2 totals.

[2021-05-28 14:15] alikhajeh1 opened #737 "Check/fix Windows color output"
https://www.infracost.io/docs/ > Windows tab asks users to run with `--no-color`. The aim of this ticket is to investigate and fix terminal color issues we have with Windows. We can provide access to a Windows remote desktop to enable the debugging/testing of this. We can check what the `gh` CLI tool does on Windows.

If it's not easy to fix the color/animations looking odd in Windows, we can disa

[2021-05-28 15:54] alikhajeh1 opened #738 "aws_rds_cluster shows $0 monthly cost but it should show "cost depends on usage""
Running `INFRACOST_LOG_LEVEL=info make -s run ARGS="breakdown --path=internal/providers/terraform/aws/testdata/rds_cluster_test"` (without usage-file) shows costs as 0:
[code]

These should be updated so they show "cost depends on usage"

[2021-05-28 18:06] krishnaindani commented on #729
My pleasure and thank you for giving me a chance to work on it. I will go through a bit and may ask some questions before getting started.

[2021-05-28 19:52] PatMyron commented on #730
Could probably quickly start with a schema automatically generated from that example if it's currently the source of truth, especially since schemas can be a bit more verbose to maintain
Can start actively maintaining the generated schema eventually if needed

[2021-05-28 20:22] PatMyron commented on #293
worth building / unit testing on Mac / Windows in addition to Linux?
https://github.com/infracost/infracost/blob/70456d08b21a43fce7716e366c7c1b893b8cd3d6/.github/workflows/go.yml#L11-L13

[2021-05-28 20:32] alikhajeh1 commented on #293
Good point! Maybe we should start with ensuring the CLI runs ok on those with something like https://github.com/infracost/infracost/blob/master/.github/workflows/go.yml#L33-L39 ?

[2021-05-28 22:57] alikhajeh1 commented on #26
@ztmr if there was a way to find any additional costs that apply to AMIs by using the AWS creds (that Terraform has) to make an `aws ec2 describe-images` call, would you want that to happen automatically when you run Infracost?

[2021-05-28 23:00] alikhajeh1 commented on #348
@ackbyte when you run `aws ec2 describe-images --image-ids ami-0034c84e4e9c557bd`, do you see a `UsageOperation` result for it? If so, can you plz paste that here? I'm searching the pricing DB to see if we can find additional costs for such AMIs based on that.

If that method works, would you want Infracost to automatically make AWS API calls, using the creds that Terraform has, so it can show any

[2021-05-29 13:23] alikhajeh1 opened #742 "Tidy-up the Azure registry.go file"
1. All the functions in ResourceRegistry should start with `AzureRM`, some are missing the `RM` part (which clarifies that we support the "Azure Resource Manager" terraform resources). These functions' files are also missing the "RM" in their `RFunc: NewAzureMariaDBServer` function names.
2. The `ResourceRegistry` and the `FreeResources` lists should be sorted alphabetically to make it easier for

[2021-05-30 15:24] alikhajeh1 commented on #531
@anmoel we shipped initial support for Azure DevOps Pipelines, can you possibly review https://github.com/infracost/infracost-azure-devops/ and let me know if it works ok for you?

[2021-05-30 15:25] #724 closed

[2021-05-30 15:25] #708 closed

[2021-05-30 15:25] #675 closed

[2021-05-30 15:26] #705 closed

[2021-05-30 15:26] alikhajeh1 commented on #702
Shipped in v0.8.7

[2021-05-30 15:26] #670 closed

[2021-05-30 15:26] #665 closed

[2021-05-30 15:26] #575 closed

[2021-05-30 15:27] #672 closed

[2021-05-30 15:27] #671 closed

[2021-05-30 15:28] alikhajeh1 commented on #591
Shipped in v0.8.7 - @NissesSenap let us know if you find any issues with it!

[2021-05-30 15:28] #591 closed

[2021-05-30 15:29] alikhajeh1 commented on #591
The "future" is being handled as part of https://github.com/infracost/infracost/issues/710

[2021-05-30 15:29] #647 closed

[2021-05-30 15:29] #682 closed

[2021-05-30 15:29] #674 closed

[2021-05-30 15:29] #574 closed

[2021-05-30 15:31] alikhajeh1 commented on #652
Shipped in v0.8.7, @JamesWoolfenden feel free to comment on https://github.com/infracost/infracost/issues/737 if there are other Windows output issues.

[2021-05-30 15:32] alikhajeh1 commented on #598
@swade1987 this was shipped in v0.8.7 (we've also upgraded the infracost-atlantis image to the latest version of Atlantis and the Infracost 0.8.7 CLI version)

[2021-05-30 15:32] #648 closed

[2021-05-30 15:32] #627 closed

[2021-05-30 15:33] #561 closed

[2021-05-30 15:33] #596 closed

[2021-05-30 21:26] sinabakh commented on #730
@aliscott Yeah it's possible, I gave it a short time with no success. Will get deeper when I have more free time.

If we want to start transforming to schema-full structure then experiencing stuff with @PatMyron idea makes sense to me.

[2021-05-31 08:17] alikhajeh1 opened #743 "Update docs for v0.9"
- add v0.8 to v0.9 migration guide
- update docs pages

[2021-05-31 08:23] alikhajeh1 opened #744 "Test CI/CD integrations with v0.9"
Test the 3 diff scripts
Test the Azure DevOps Pipeline as that requires a binary (not docker image)
Test https://github.com/infracost/infracost-atlantis/#2-infracost-api

[2021-05-31 10:32] aliscott commented on #316
This might no longer be an issue due to this change. https://github.com/infracost/infracost/commit/5e0867afbae25cc5b9d167f49cde4bc02ac7a9ff. If it is still reproducible then we probably want to start by looking here: https://github.com/infracost/infracost/blob/master/internal/providers/terraform/cmd.go#L55-L72

[2021-05-31 10:51] alikhajeh1 opened #746 "Handling case-senstive IaC values"
Following up from https://github.com/infracost/infracost/issues/729, it would be good if we can find a way to handle case-sensitive comparisons or cloud-pricing-api filters by default vs having to catch them in code review or integration tests.

[2021-05-31 11:36] ekifel commented on #737
@alikhajeh1, Hey, I want to work on it!

[2021-05-31 12:08] alikhajeh1 commented on #707
@tim775 how about this?

1. `azurerm_automation_job_schedule` (since a runbook by itself doesn't seem to run):
    - Cost component "Job run time" with unit "minutes", usage file param `monthly_job_run_mins: 0 # Monthly number of job run minutes.`.
    - Cost component "Watchers" with unit "hours", usage file param `monthly_watcher_hours: 0 # Monthly number of watcher hours.`

2. `azurerm_automati

[2021-05-31 12:38] aliscott commented on #735
@alikhajeh1 should we also update any of the following for v0.9?
* Rename `metadata` to `projectMetadata`
* Move `path` into `projectMetadata`
* Add `name` that creates a name from the repo URL/path?

[2021-05-31 15:05] tim775 commented on #600
Terraform resource [`google_bigquery_dataset`](https://registry.terraform.io/providers/hashicorp/google/latest/docs/resources/bigquery_dataset) should have

- A new `monthly_queries_tb` float usage parameter displayed as `Queries (on-demand)` with unit TB.  The free tier should be ignored since it is per-customer not per-dataset.

[`google_bigquery_table `](https://registry.terraform.io/providers/

[2021-05-31 17:30] tim775 commented on #469
For `google_compute_forwarding_rule` and `google_compute_global_forwarding_rule`
- `Forwarding rule` with unit `hours`.  Since we can't really determine how many rules are in a project, this price should ignore the "Minimum Service Charge" for the first 5 rules and use the "Forwarding Rule Additional Service Charge..." price.  Be sure to add a note to the registry items:`Notes: []string{"Price for

[2021-05-31 17:55] krishnaindani commented on #729
While going through code I see there is a lot of comparisons in the internal/providers directory where it is something like let's say `input == "LARGE"`.  Do we need to fix them all with strings.ToLower(input) == "large" to convert everything to lower case for comparison

[2021-05-31 18:14] tim775 commented on #344
It looks like we should add usage params for the different types of backup and restore to `aws_backup_vault`.  Except for EFS item-level restore the unit for each should be `GB`:

- `monthly_efs_warm_backup_gb` `EFS backup (warm)`
- `monthly_efs_cold_backup_gb` `EFS backup (cold)`
- `monthly_ebs_snapshot_gb` `EBS snapshot`
- `monthly_rds_snapshot_gb` `RDS snapshot`
- `monthly_aurora_snapshot_gb` `

[2021-05-31 19:08] tim775 commented on #583
For `neptune_cluster_instance`:
- `Database instance (on-demand, <instance type>)` with unit `hours`.  Iinstance type is determined from the tf `instance_class`.  The `count` field, if present, should be used to multiply the number of monthly hours.
- For t3 instances, a `monthly_cpu_credit_hrs` usage parameter should be displayed as `CPU credits` with unit `vCPU-hours`.

For `aws_neptune_cluster`

[2021-05-31 19:33] tim775 commented on #707
That seems good except I can't say if a 'watcher' makes sense on a job schedule or not.

I guess I wasn't sure how a "one-time" run of a runbook would be represented in tf but I think have the ability to put `monthly_job_run_mins` on `azurerm_automation_account` is sufficient to handle that.

[2021-05-31 19:50] alikhajeh1 commented on #729
@krishnaindani yep, the `internal/providers/terraform` contains the files that need to be reviewed and fixed. I think the tests should not need to be changed and they should continue to pass, but feel free to post here if you find a test that looks like it needs to be changed.

[2021-05-31 20:30] alikhajeh1 commented on #707
Good point, I can't tell from https://docs.microsoft.com/en-us/azure/automation/automation-scenario-using-watcher-task either, maybe it's not possible to create watcher in TF yet as I don't see anything in their docs for it. So we can do this:

1. `azurerm_automation_job_schedule` (since a runbook by itself doesn't seem to run):
    - Cost component "Job run time" with unit "minutes", usage file p

[2021-05-31 20:30] alikhajeh1 commented on #707
@NeverovDS this is ready

[2021-05-31 20:35] krishnaindani commented on #729
Thanks. Yeah from the few changes with the aws I don't see the changes are required for the tests. But will continue to check more on AWS and on GCP and azure as well.

[2021-06-01 02:16] tim775 commented on #470
`google_compute_vpn_tunnel` should have `VPN Tunnel` with unit `hours`.

`google_compute_external_vpn_gateway` should have a usage parameter `monthly_egress_data_transfer_gb` with sub parameters for the three categories specified in the princg ( this is similiar to `monthly_egress_data_transfer_gb` in  `storage_bucket`):
[code]
These should display with the following names and tiers with unit `GB`

[2021-06-01 07:36] JanCallewaert-TomTom commented on #722
Do you require some more information or support from me with regards to this?

[2021-06-01 07:37] sinabakh commented on #470
Thanks, @tim775 for the throughout description.

[2021-06-01 08:06] alikhajeh1 commented on #722
@JanCallewaert-TomTom if you created this resource on Azure with TF, can you possibly check if a new DB was created when create_mode was left undefined?

[2021-06-01 08:39] holzro opened #752 "Error when AzureRM App Service Custom Hostname Binding is in Terraform environment"
I get the following error when trying to generate an Infracost breakdown using Infracost 0.8.7. This only happens when there is an AzureRM App Service Custom Hostname Binding in the Terraform environment

[code]

[2021-06-01 08:42] JanCallewaert-TomTom commented on #722
I checked with my colleagues. We didn't specify a value for `create_mode` and a new database was created. Is this what you need?

[2021-06-01 09:08] alikhajeh1 commented on #722
Yep - thanks! I've updated my previous description

[2021-06-01 09:30] alikhajeh1 commented on #752
Thanks for reporting this! since [`azurerm_app_service_custom_hostname_binding`](https://registry.terraform.io/providers/hashicorp/azurerm/latest/docs/resources/app_service_custom_hostname_binding) does not have a `location` property, we lookup its `resource_group_name.location` and use that to find the price for that region. The issue here seems to be that the `resource_group_name` is not defined

[2021-06-01 09:41] holzro commented on #752
The azurerm_app_service_custom_hostname_binding resource is deployed as a part of a module, but the azurerm_resource_group is not a part of the module. So azurerm_resource_group.locaton is passed to the module input, and that input variable is used for the location on azurerm_app_service_custom_hostname_binding

[2021-06-01 09:50] holzro opened #755 "Error when running cost estimation on environment with azurerm_mssql_database with standard DTU SKU"
I get the below error when trying to run a cost estimate on an environment with an azurerm_mssql_database with a SKU in the standard DTU tier (i.e. S0, S1, S2)

[code]

[2021-06-01 09:56] holzro opened #756 "$0 cost on azurerm_windows_virtual_machine resource with CPU constrained AMD memory-optimised SKU"
I get a $0 cost when running a cost estimation on an azurerm_windows_virtual_machine resource with a CPU constrained AMD memory-optimised SKU (i.e. E16-8as v4)

[code]

[2021-06-01 10:00] alikhajeh1 commented on #756
Can you possibly paste the TF resource block that resulted in the 0 cost line? That helps us find the bug quicker and verify that the fix addressed this specific issue

[2021-06-01 10:09] ekifel commented on #737
@alikhajeh1 it looks like color output works fine, only special symbols is broken

[2021-06-01 10:33] holzro opened #757 "azurerm_function_app and azurerm_storage_account showing as not supported on Infracost 0.8.7"
When I try to run a cost breakdown with azurerm_function_app and azurerm_storage_account resources, they show as not supported, even when the usage file is populated. This is on Infracost 0.8.7

[code]

[code]

[2021-06-01 10:34] alikhajeh1 commented on #752
Here's what we do to find the location for Azure just now:

1. parse location from the Terraform resource if it exists.
2. otherwise parse the location from a parent Terraform resource if it exists. E.g. `azurerm_mssql_database` points to `azurerm_mssql_server`, which has location.
3. otherwise parse the location from the resource group.

Here's what we could do next, any feedback on which options

[2021-06-01 10:36] holzro commented on #756
Here you go

[code]

[2021-06-01 10:38] aliscott commented on #722
Here are the details for the cost components we should add. This is very similar to the [`azurerm_postgresql_server`](https://github.com/infracost/infracost/issues/572) resource.

* Compute (GP_Standard_D2s_v3) - unit is hours. The instance type can be taken from `sku_name`
* Storage - unit is GB-months. The quantity should be based on `storage_mb`. The price is based on the tier part of the `sku_

[2021-06-01 10:43] alikhajeh1 commented on #756
Awesome! And `var.vm_size` is set to `E16-8as v4` in a var file? If so, when you pass that var file into Infracost with `--terraform-plan-flags "-var-file=my.tfvars"` does the above still show 0 cost?

[2021-06-01 10:45] holzro commented on #752
Here is the custom hostname binding snippit

[code]

var.resource_group_name is a module input. No location setting is defined, as this is not expected in this resource
https://registry.terraform.io/providers/hashicorp/azurerm/latest/docs/resources/app_service_custom_hostname_binding

[2021-06-01 10:46] ekifel commented on #722
@alikhajeh1, I want to work on it

[2021-06-01 10:47] holzro commented on #756
E16-8as v4 is passed through as a module input. When i pass through the tfvars, it still shows as 0 cost

[2021-06-01 11:01] #752 closed

[2021-06-01 11:05] alikhajeh1 commented on #752
Thanks @holzro - I've merged the fix as the prices for `azurerm_app_service_custom_hostname_binding` were not region-specific. We'll cut a new release in the next day or two so we can address some of the other bugs.

[2021-06-01 11:16] alikhajeh1 commented on #757
Can you possibly paste the `azurerm_function_app` and `azurerm_storage_account` TF resource blocks? That helps check if there's a condition in them that's causing us to skip them.

[2021-06-01 11:24] holzro commented on #757
Here you go

[code]

[2021-06-01 11:28] alikhajeh1 commented on #755
This seems to be a "we can't find the location" issue too, `azurerm_mssql_database` requires `azurerm_sql_server` and we use the server's `location`. Is the `azurerm_sql_server` defined in another module?

[2021-06-01 11:35] holzro commented on #755
MSSQL server is defined in the same environment, this specific environment is not using any modules

[2021-06-01 11:37] alikhajeh1 commented on #755
Interesting! Can you possibly paste the `azurerm_mssql_database` and the `azurerm_sql_server` and any resource group they refer to? I'm working on this just now

[2021-06-01 11:43] holzro commented on #755
Here you go

[code]

[2021-06-01 12:34] alikhajeh1 commented on #756
Is `var.vm_size` set to `Standard_E16-8as_v4` or `E16-8as v4`? Terraform plan works with both but I can't tell if the Azure API accepts both.

[2021-06-01 12:43] holzro commented on #756
The SKU is set to Standard_E16-8as_v4 at the moment

[2021-06-01 16:01] aliscott opened #758 "Azure MSSQL database should show license cost by default"
When launching a `azurerm_mssql_database` with Terraform the SQL license is included by default.

Infracost currently only includes the SQL license cost if `license_type == LicenseIncluded`, but we should update this to be the default and only exclude it if `license_type == BasePrice`.

Relevant code: https://github.com/infracost/infracost/blob/master/internal/providers/terraform/azure/mssql_datab

[2021-06-01 17:51] alikhajeh1 commented on #756
Thanks @holzro, I think [this PR](https://github.com/infracost/infracost/pull/759) should fix this. It'll be included in the next release.

[2021-06-01 17:51] #756 closed

[2021-06-01 21:11] alikhajeh1 opened #762 "Show/use `vm_size` in Azure HDinsight resources"
In https://github.com/infracost/infracost/pull/759/files, I removed the references to `parseVMSKUName` from the Azure Windows/Linux VM resources. This method is now only being used in the `infracost/internal/providers/terraform/azure/hdinsight_hadoop_cluster.go` file, so the aim of this ticket is to see:
1. if we still need that function or if like the Azure Windows/Linux VMs, we can use the `{Key

[2021-06-01 21:39] ztmr commented on #26
@alikhajeh1 that would be great!

[2021-06-01 21:53] alikhajeh1 commented on #757
Awesome, can you possibly also add the TF resource block that `app_service_plan_id = azurerm_app_service_plan.function.id` is pointing to?
Is the `azurerm_app_service_plan.function` resource defined in the TF project that is being processed by Infracost, or is it in a separate module?

[2021-06-01 22:25] alikhajeh1 opened #763 "Use multiple methods to find Azure region (including a default)"
The aim of this ticket is to review/update all Azure resources to set a default region and use 4 ways to override that default. The default ensures that we never panic/crash. Since cloud prices different in small way between regions, and we show cost estimates (not 100% accurate costs), it seems better to use a default region price if none of the 4 methods work, vs showing nothing and skipping the

[2021-06-02 07:38] ekifel commented on #758
@alikhajeh1, I want to do it

[2021-06-02 12:10] aliscott commented on #743
Changes in https://github.com/infracost/docs/pull/69

[2021-06-02 13:37] NeverovDS commented on #707
@alikhajeh1 Strarting work on it!)

[2021-06-02 14:25] #757 closed

[2021-06-02 15:54] #669 closed

[2021-06-02 15:54] #709 closed

[2021-06-02 15:54] alikhajeh1 commented on #506
Will be released in the next version (this week).

[2021-06-02 15:54] #506 closed

[2021-06-02 15:55] alikhajeh1 commented on #722
This has been merged and will be released in the next version (this week).

[2021-06-02 15:55] #722 closed

[2021-06-02 15:56] alikhajeh1 commented on #737
Thanks for checking @ekifel, @aliscott would a work-around be not show the symbols in windows?

[2021-06-02 17:03] aliscott commented on #737
Yes, but @ekifel can you check if https://github.com/infracost/infracost/pull/749 fixed it? It fixed this issue: https://github.com/briandowns/spinner/issues/110

[2021-06-03 09:23] ekifel commented on #737
@aliscott, I checked this again, CMD and PowerShell have the same results, but in VSCode's terminal everything is fine.
![image](https://user-images.githubusercontent.com/62132367/120621178-15279500-c477-11eb-98de-d34db5521e6a.png)
![image](https://user-images.githubusercontent.com/62132367/120621255-283a6500-c477-11eb-9dc9-eb074b329d7d.png)

[2021-06-03 09:41] aliscott commented on #737
Can we detect if the shell is CMD or PowerShell using `echo $0`? If not then I think we should just disable the spinners for windows.

[2021-06-03 09:41] #755 closed

[2021-06-03 10:18] #758 closed

[2021-06-03 10:18] #763 closed

[2021-06-03 10:18] alikhajeh1 commented on #763
I updated the contributing docs:
https://github.com/infracost/infracost/commit/6582db38c193e0a978c68deba3755a630e4ec3b1

[2021-06-03 15:27] alikhajeh1 commented on #755
@holzro we pushed a fixed for this in v0.9.0 (released just now), feel free to comment if there are still issues (plz run with `--log-level=warn` if there are issues and include any interesting warnings).

[2021-06-03 15:28] alikhajeh1 commented on #722
@JanCallewaert-TomTom this was released in v0.9.0 (released just now) - let us know if you notice any issues with it!

[2021-06-03 15:29] alikhajeh1 commented on #757
@holzro we pushed a fixed for this in v0.9.0 (released just now) - plz let us know if that works for you.

Re the `azurerm_storage_account` issue, plz run with `--log-level=warn` and create a new issue if you'd like us to dig into it.

[2021-06-03 15:32] alikhajeh1 commented on #506
@dawidmalina we added support for WAF and WAFv2 in v0.9.0 (released just now). Please let us know if you have any feedback on the output or notice any issues.

It was one of the more complicated resources - thanks to @NeverovDS for sticking with it!

[2021-06-03 15:32] #549 closed

[2021-06-03 15:32] #547 closed

[2021-06-03 15:33] alikhajeh1 commented on #548
Released in v0.9.0

[2021-06-03 15:33] #548 closed

[2021-06-03 15:33] #743 closed

[2021-06-03 15:33] #744 closed

[2021-06-03 15:34] alikhajeh1 commented on #734
released in v0.9.0

[2021-06-03 15:34] #734 closed

[2021-06-03 15:41] aliscott commented on #735
In the end we decided to do this only for v0.9. We weren't sure about the `projectResults` change so thought it was best to leave it as is just now.

* Move path into metadata
* Add name that creates a name from the repo URL/path?

[2021-06-03 15:41] #735 closed

[2021-06-03 15:44] NeverovDS commented on #625
@alikhajeh1, Hey, I want to work on it!

[2021-06-04 00:26] PatMyron commented on #763
https://github.com/infracost/infracost/blob/6ccdc06ce0c89ca55a4927396898f168e0d033bb/internal/providers/terraform/parser.go#L19-L23

Interested to know how the current default regions were chosen, tried looking into the best default regions / instance types a couple years ago here:

https://github.com/patmyron/cloud

[2021-06-04 06:23] ekifel commented on #525
@alikhajeh1, I want to work on it!

[2021-06-04 07:31] JanCallewaert-TomTom commented on #722
Thanks @alikhajeh1, I will check it out next week when my colleagues are back.

[2021-06-04 10:53] alikhajeh1 commented on #763
Good question! @aliscott picked those; I think we picked the region that had the most number of services. The list is a fall-back mechanism; if there is no other way to find the region from the resource, we use this and log a warning since it's an assumption we make.

The link you posted does bring-up another question: what if the default region doesn't have prices for the resource being estimated

[2021-06-04 11:25] aliscott commented on #763
@PatMyron what did you find and do you have any recommendations?

One way we could do it by using what the cloud vendors use as the default for their pricing pages/calculators. So that would be:
AWS: us-east-2
Azure: westus
Google: us-central1

[2021-06-04 11:51] alikhajeh1 opened #777 "How should Infracost CI/CD integrations be versioned?"
## Background
Users should consider 3 versions when using Infracost:
1. Infracost CLI version: `infracost --version` shows this. We follow semantic versioning. Our current thinking is influenced by [the HashiCorp Requirements for a 1.0 Release](https://www.hashicorp.com/resources/the-path-to-terraform-1-0), thus we've had many minor and patch versions but no major versions yet.
2. Infracost CI/CD

[2021-06-04 12:19] alikhajeh1 opened #778 "Automatically detect AWS EC2 AMI costs"
A few users have requested this and our answer has been to use the usage file so far:
https://github.com/infracost/infracost/issues/26
https://github.com/infracost/infracost/issues/272
https://github.com/infracost/infracost/issues/348
https://twitter.com/gortron/status/1348209997583437824

@PatMyron pointed out [an AWS announcement](https://aws.amazon.com/about-aws/whats-new/2020/02/amazon-ec2-add

[2021-06-04 12:19] alikhajeh1 commented on #26
@ztmr great, feel free to watch https://github.com/infracost/infracost/issues/778 for updates :)

[2021-06-04 13:51] NeverovDS commented on #49
@alikhajeh1, Hey, I want to work on it!

[2021-06-05 14:32] sushant-pradhan commented on #777
@alikhajeh1 I exactly had the same problem outlined above. Every time there is a upgrade, I have to upgrade my pipeline executors and run a regression test. A bit of a hassle.
I have one thought: can we keep the cli and core rules/engine separate? cli will just be a shell to call the core engine (default point to latest rules/engine but can be downgraded/pinned if required).

Inspired from [gitlea

[2021-06-05 21:54] alikhajeh1 commented on #777
@sushant-pradhan great idea! This is also similar to how Terraform has split the providers from the CLI itself.

[2021-06-06 19:35] krishnaindani commented on #729
@alikhajeh1 I have pr in which I have updated the code for the first which is string comparison. But while going through the second one which is `Value` or `ValueRegex` filters, I have few questions. From what I see in the regex package and what I understand, adding `i` will do case insensitive comparison, correct? For example, if I take this `{Key: "usagetype", ValueRegex: strPtr("/PaidPrivateCA/

[2021-06-06 20:10] alikhajeh1 commented on #729
Correct! However, in your example above, no variables are being used, thus there is no need to add the `/i`. If it was `{Key: "usagetype", ValueRegex: strPtr(fmt.Sprintf("/%s-PaidPrivateCA/", userVariable))}` then the `/i` would be needed as we do not know if `userVariable` will have lower or upper case letters.

Sure, here are two examples:

1. In [this example](https://github.com/infracost/infra

[2021-06-07 00:29] krishnaindani commented on #729
That makes sense. Thanks.

[2021-06-07 14:35] hassankhosseini commented on #64
Thank you to everyone who left a +1, a comment and code! We have now added support for more than 65 Azure resources in Infracost, and all is live now in the latest version. We have also added support for Azure DevOps CI/CD!

Keep the votes and issues coming, we'd love to keep iterating and making Infracost better - I'd especially love to see issues around other resources you'd like us to support,

[2021-06-07 14:35] #64 closed

[2021-06-07 20:01] alikhajeh1 opened #783 "Investigate failing Azure storage account test"
We didn't change the resource file but the integration test for it has broken twice now: once when cost components were added, and once when they were removed, e.g.:
[code]

I've [updated the test](https://github.com/infracost/infracost/commit/18d766225d065fa007f9f9e175c6ed02f746ed9c) until we have time to investigate why this is happening. Perhaps something odd is happening in the Azure pricing A

[2021-06-07 20:42] johnmlivingston commented on #187
Another +1, a Pulumi integration would be fantastic!

[2021-06-07 21:05] alikhajeh1 opened #784 "azurerm_automation_dsc_nodeconfiguration_test location warnings"
`INFRACOST_LOG_LEVEL=info go test -v internal/providers/terraform/azure/automation_dsc_nodeconfiguration_test.go` shows this, which is odd as underneath, that resource calls `NewAzureRMAutomationDscConfiguration`, which does not have this issue. This might be related to how the Terraform plan JSON represents this the node resource. I've included the 2 plan JSON files in this ticket so they can be

[2021-06-08 09:54] #783 closed

[2021-06-08 11:58] alikhajeh1 commented on #784
@NeverovDS Alistair found the cause... we need to add `ReferenceAttributes` to **all** Azure resources, otherwise the `lookupRegion` method will not have access to the resource_group_name. Can you possibly do that?

[code]

[2021-06-08 18:00] bgrainger opened #790 "Add support for Azure Cognitive Search Service"
Pricing: https://azure.microsoft.com/en-us/pricing/details/search/#pricing
Terraform: https://registry.terraform.io/providers/hashicorp/azurerm/latest/docs/resources/search_service

[2021-06-08 18:01] bgrainger opened #791 "Add support for Azure Redis Cache"
Pricing: https://azure.microsoft.com/en-us/pricing/details/cache/#pricing
Terraform: https://registry.terraform.io/providers/hashicorp/azurerm/latest/docs/resources/redis_cache

[2021-06-08 18:04] bgrainger opened #792 "Add support for Azure Database for MySQL Flexible Server"
Resource information: https://docs.microsoft.com/en-gb/azure/mysql/flexible-server/
Pricing information: https://azure.microsoft.com/en-gb/pricing/details/mysql/flexible-server/

### Paid resource

`azurerm_mysql_flexible_server`

https://registry.terraform.io/providers/hashicorp/azurerm/latest/docs/resources/mysql_flexible_server

Cost components:

| Name | Unit | Usage param | Notes|
| -- | -- |

[2021-06-08 18:21] sinabakh commented on #730
My suggestion:
[code]
So we will have:
[code]

[2021-06-08 18:23] sinabakh commented on #304
I'm taking a look at it to see if I can find the culprit.

[2021-06-08 18:25] alikhajeh1 commented on #304
Thanks @sinabakh! https://github.com/briandowns/spinner/issues/110 might be interested to checkout (we use that package as mentioned in #737 too)

[2021-06-08 18:57] sinabakh commented on #304
The master branch seems to no longer have the problem. Bumping the `spinner` from 1.12 to 1.13 in [this](https://github.com/infracost/infracost/commit/12a4603fa276e4b210e92d90d6b2793a45ebe37c) commit solved the issue.

[2021-06-08 19:36] NeverovDS commented on #469
@alikhajeh1, Hey, I want to work on it!

[2021-06-09 03:41] tim775 commented on #791
Terraform resource azurerm_redis_cache should have
- An hourly charge based on the sku_name and capacity, displayed as `Cache usage (<sku_name>_<family><capacity>, <number of nodes> node)` and unit `hours` where the quantity is 730 * number of nodes.  For sku_name `Basic` `<number of nodes>` is `.  For Standard it is 2.  For Premium number of nodes defaults to 2.  If `replica count` is set number

[2021-06-09 03:54] ekifel commented on #600
@alikhajeh1, Hey, I want to work on it

[2021-06-09 04:13] tim775 commented on #790
Terraform resource azurerm_search_service should have

- An hourly charge based on the sku and number of units, displayed as `Search usage (<sku (capitalized)>, <number of units> unit)` with unit `hours` where the number of units is calculated based as `replica_count` * `partition_count` with a default of 1. The number of hours should be 730 * number of units.
- A `monthly_images_extracted` usage

[2021-06-09 05:15] ekifel commented on #790
@alikhajeh1, Hey, I want to work on it!

[2021-06-09 06:27] ekifel commented on #791
@alikhajeh1, Hey, I want to work on it!

[2021-06-09 06:56] JanCallewaert-TomTom commented on #722
This works perfectly. Great job!

[2021-06-09 09:39] FredTiercin opened #796 "Markup/discount on prices based on Region, Services, etc"
Large companies often use an internal markup to apply teams costs to resources. For example 1000$ on demand EC2 will cost $1000$ + 20% for the project. The 20% are used to pay the company devops teams that handle the work on the instance.

It would be great to have a global way to add markup configuration to be able to say for example EC2 in Asia will cost %20 more, in Europe 15%, etc ...

[2021-06-09 16:27] JamesWoolfenden opened #798 "add package manager support for windows - chocolatey"
- [ ] Add package manager support for windoz users with chocolatey: like here: https://github.com/bridgecrewio/yor-choco
- [ ] use zip format for the [Windows release](https://github.com/infracost/infracost/releases) so users can just unzip it without a separate tool.

### Note for community
Please 👍 if you'd like to upvote this or receive updates.
See our [contributing guide](https://github.com/i

[2021-06-09 16:27] JamesWoolfenden opened #799 "Add package manager support for windoz users with chocolatey:"
Add package manager support for windoz users with chocolatey:
like here: https://github.com/bridgecrewio/yor-choco

[2021-06-09 16:37] aliscott commented on #799
Duplicate of https://github.com/infracost/infracost/issues/798

[2021-06-09 16:37] #799 closed

[2021-06-09 19:21] alikhajeh1 opened #801 "Running with HCL JSON fails"
Repro steps:
1. use https://www.hcl2json.com/ to convert `examples/terraform/main.tf` to a json file
2. create a new directory called `jsontest` and inside it create a new `main.tf.json` file with the above content.
3. run `infracost breakdown --path jsontest` and `infracost breakdown --path jsontest/main.tf.json` both fail with:
[code]

Running `terraform init` inside the `jsontest` dir, then run

[2021-06-09 21:44] aliscott commented on #801
I think adding `.tf.json` to https://github.com/infracost/infracost/blob/65f9c7d43e3e13611272ccfe8a9d6935d36532ac/internal/providers/terraform/dir_provider.go#L347 should fix this.

[2021-06-10 10:27] alikhajeh1 commented on #784
@NeverovDS is this issue resolved? if so, plz feel free to close it

[2021-06-10 22:10] alikhajeh1 commented on #796
Interesting use-case! How are you handling this just now?

[2021-06-11 07:13] ekifel commented on #762
@alikhajeh1, hey, I want to work on it!

[2021-06-11 07:38] #470 closed

[2021-06-11 09:34] alikhajeh1 commented on #593
This has been released

[2021-06-11 09:34] #593 closed

[2021-06-11 14:25] NeverovDS commented on #583
@alikhajeh1, Hey, I want to work on it!

[2021-06-11 15:12] alikhajeh1 opened #807 "Improve support for Terragrunt projects"
Currently our CI/CD integrations ask users to read https://www.infracost.io/docs/iac_tools/terragrunt, which doesn't mention how the user should use Infracost with Terragrunt in those integrations. For example, for GitLab, they could currently do the following.

However, could we detect a Terragrunt project from `--path` and support this natively without the user having to create a config file? Th

[2021-06-11 15:54] hassankhosseini opened #808 "Add support for Digital Ocean resources"
User request: Add Digital Ocean to Infracost!

Pricing: https://www.digitalocean.com/pricing/

This ticket can capture the overall request, and we can create other issues to track specific resources from Digital Ocean to be covered. Please add a 👍🏽 to this issue so we can prioritize the counts (comment with specific resources are welcome, but a +1 will make a little busy, a thumbs up would be appr

[2021-06-11 23:25] alikhajeh1 commented on #470
Released in v0.9.1

[2021-06-11 23:25] alikhajeh1 commented on #784
Released in v0.9.1

[2021-06-11 23:25] #784 closed

[2021-06-11 23:26] #304 closed

[2021-06-11 23:26] alikhajeh1 commented on #801
Released in v0.9.1

[2021-06-11 23:26] alikhajeh1 commented on #600
Released in v0.9.1

[2021-06-11 23:26] #600 closed

[2021-06-11 23:26] #801 closed

[2021-06-11 23:29] alikhajeh1 commented on #49
@nocquidant, @miyurusankalpa, @guilhermerenew, @danielbayerlein and @RichardDRJ support for costs of CloudFormation used in Terraform projects was released in v0.9.1 today.

If you're interested in seeing Infracost process CloudFormation templates as input, please 👍 [this issue](https://github.com/infracost/infracost/issues/190)

[2021-06-11 23:29] #49 closed

[2021-06-11 23:29] alikhajeh1 commented on #738
Released in v0.9.1

[2021-06-11 23:29] #738 closed

[2021-06-11 23:29] alikhajeh1 commented on #707
Released in v0.9.1

[2021-06-11 23:29] #707 closed

[2021-06-11 23:31] alikhajeh1 commented on #525
@PatMyron and @guilhermerenew we released this in v0.9.1 today, please upgrade and run ` infracost completion --help` and add a comment if it works ok on your shells! We should have done this earlier, makes it much faster to run infracost commands 🕺

[2021-06-11 23:31] #525 closed

[2021-06-11 23:32] alikhajeh1 commented on #469
Released in v0.9.1

[2021-06-11 23:32] #469 closed

[2021-06-11 23:32] alikhajeh1 commented on #625
Released in v0.9.1

[2021-06-11 23:32] #625 closed

[2021-06-11 23:33] alikhajeh1 commented on #737
@ekifel any update on this?

[2021-06-11 23:38] alikhajeh1 commented on #791
@bgrainger thanks for creating this issue and https://github.com/infracost/infracost/issues/790 - these resource were added in v0.9.1 released today - plz add a comment if you notice any issues with them!

[2021-06-11 23:38] #791 closed

[2021-06-11 23:38] alikhajeh1 commented on #790
Released in v0.9.1 released today

[2021-06-11 23:38] #790 closed

[2021-06-11 23:40] alikhajeh1 commented on #605
I'm going to close this issue as Option 3 above seems the most readable, which doesn't require any changes since the text output can be wrapped in ```code``` blocks in markdown. Feel free to comment with better suggestions and we can revisit it.

[2021-06-11 23:40] #605 closed

[2021-06-11 23:48] alikhajeh1 commented on #275
@siutsin / @matpumapay for EC2 spot prices, we update the prices every hour, do you think that be good enough for Fargate spot prices too? Also, can you possibly paste an example terraform resource(s) that you use for this? That helps us ensure we support the required resources.

[2021-06-11 23:49] alikhajeh1 commented on #276
The merge conflicts haven't been an big issue since we moved to list the resources alphabetically in them. Should we close this issue? Seems like we're making bigger changes to how we model resources anyway...

[2021-06-11 23:51] alikhajeh1 commented on #449
Going to close this issue as it hasn't received much love since February

[2021-06-11 23:51] #449 closed

[2021-06-11 23:52] alikhajeh1 commented on #490
Going to close this issue as it doesn't seem to be a big issue - happy to re-open it if users request it.

[2021-06-11 23:52] #490 closed

[2021-06-12 00:01] alikhajeh1 commented on #488
@robh007 can you possibly add some details of what the cost components could be, and which AWS pricing page has the prices for this?

[2021-06-12 00:05] alikhajeh1 commented on #509
@sushant-pradhan we're working on a dashboard so team members can view run details, plz email me at ali.hosseini@infracost.io if this is something that might interest your team!

[2021-06-12 00:10] alikhajeh1 commented on #566
@yi2020 that's interesting, can you possibly email hassan.hosseini@infracost.io if you're interested in talking about a partnership? We recently announced our partnership with HashiCorp and are also working with others like [env0](https://docs.env0.com/docs/cost-estimation).

[2021-06-12 00:36] uid0 commented on #808
👍

[2021-06-12 02:19] guilhermerenew commented on #525
@alikhajeh1 I performed the autocomplete test following the help steps of the `infracost completion` command and it worked perfectly! This feature will be extremely welcome by the community, good job guys! 🎉

[2021-06-12 10:27] soulshake opened #809 "Create-or-update PR comments"
Infracost seems great so far!

I've noticed it has the potential to get a bit noisy on busy PRs.
Would it be a possibility to make it so only a single comment is created? Subsequent commits would then update the existing comment instead of creating a new one (and previous versions would still be available in the comment history, at least on Github).

If so, I could give this a shot if needed.

P.S

[2021-06-12 11:42] sinabakh commented on #276
Yeah, I personally think it's also more cleaner from a software point of view. The init model discussed here causes unpredictable code executions.

[2021-06-13 01:28] yi2020 commented on #566
Emailed Hassan and closing this.

[2021-06-13 01:28] #566 closed

[2021-06-13 15:37] #276 closed

[2021-06-13 18:03] alikhajeh1 commented on #809
Good idea! @aliscott mentioned something similar last week.

We could change [this code](https://github.com/infracost/infracost/blob/master/scripts/ci/diff.sh#L147-L152) such that:
1. if there's a pull request, create-or-update the [PR comment](https://docs.github.com/en/rest/guides/working-with-comments#pull-request-comments-on-a-line).
2. else keep the current behavior (i.e. post a commit commen

[2021-06-13 20:28] 1mamute opened #810 "No such file or directory"
Hi,

Just bumped the version of infracost to v0.9.1 in my CI/CD Dockerfile and maybe i'm doing something wrong but looks like it can't read any files anymore. `infracost breakdown --path ANYTHING` always returns `No such file or directory`

Tried to output some debug logs and maybe --log-level debug is not working either?

![image](https://user-images.githubusercontent.com/22196761/121821036-9992c

[2021-06-13 21:07] aliscott opened #811 "Support internal Terraform state representation"
Currently we support the state JSON representation that is generated by running `terraform show -json`.
We could also look at supporting the state snapshot representation since it is also JSON, however, this may be more difficult since it might not work with remote backends and is subject to change.

(https://www.terraform.io/docs/language/state/index.html#format)

The use case for this is for whe

[2021-06-13 21:40] 1mamute commented on #810
As we discussed in the slack channel, turns out there isn't any instability with the CLI.

I was providing terraform's [JSON internal state snapshots](https://www.terraform.io/docs/language/state/index.html#format) download from Gitlab's Terraform Remote Backend but infracost currently only parses terraform's [JSON output](https://www.terraform.io/docs/internals/json-format.html) generated by `ter

[2021-06-13 21:40] #810 closed

[2021-06-14 09:50] anon65856 opened #812 "Support Bicep/ARM"
Fantastic project and would love to use this! Unfortunately I don't use Terraform. It'd be awesome if once all Azure resources were added we could support Bicep/ARM templates.

I'm sure there's lots of other people who would benefit from this.

[2021-06-14 15:05] hassankhosseini commented on #812
Thanks for creating the issue @anon65856 - we have a few other tools in priority order (in terms of votes in GitHub): CloudFormation, Pulumi, but it looks like Azure ARM is super helpful for Azure users. Will keep this issue so the community can see and vote for it. Cheers!

[2021-06-14 16:41] tim775 commented on #441
Pricing page for Microsoft AD is https://aws.amazon.com/directoryservice/pricing/
Pricing page for Simple AD and AD Connector is https://aws.amazon.com/directoryservice/other-directories-pricing/

Terraform resource `aws_directory_service_directory` should have:
- `Directory service (<type>, <size/edition>)` with unit `hours` where type is one of `Microsoft AD`, `Simple AD` or `AD connector`, and

[2021-06-14 16:58] tim775 commented on #508
It looks like we can use the presence of tf `availability_zone_name` param to determine if the EFS should use `Standard` or `One Zone` pricing.  We should update the display of the `storage_gb` and `infrequent_access_storage_gb` to differentiate between standard and one zone:
- `Storage (standard)`
- `Storage (standard, infrequent access)`
- `Storage (one zone)`
- `Storage (one zone, infrequent ac

[2021-06-14 17:59] tim775 commented on #638
`aws_kinesis_firehose_delivery_stream` should have:
- A `monthly_data_ingested_gb` usage param displayed as `Data ingested (<tier>)` with unit `GB` where tier is one of `first 500TB`, `next 1.5PB`, `next 3PB`, `over 5PB`
- If there is a `data_format_conversion_configuration` block with `enabled: true`, an additional cost for `Format conversion` with unit `GB` should be shown with the quantity from

[2021-06-14 20:21] tim775 commented on #639
`aws_kinesisanalyticsv2_application` should have:
- A `kinesis_processing_units` usage param displayed as `Processing (stream)` with unit `KPU`.
- A `Processing (orchestration)` cost with unit `KPU` determined based on the resources `runtime_environment`.  This should be 1 KPU for FLINK, and 2 KPU for Studio (when it is supported by terrfaform).  This should not be displayed for SQL runtimes.
- A

[2021-06-14 21:09] PatMyron commented on #293
@alikhajeh1 tried seeing if either OS would already pass with no changes to add to the build, but both Windows and Mac look like they'd need some changes to get building in Github Actions

[2021-06-14 22:36] alikhajeh1 commented on #293
huh, that's odd as we have a makefile that builds the .exe. Any clues in the logs?

[2021-06-15 09:11] FredTiercin commented on #796
At the moment we use JS in Bigquery to calculate the markup based on region found in the CUR (aws and gcp). We automate this using Dataform. We also filter Oracle license fees where markup doesn't apply.

[2021-06-15 10:56] alikhajeh1 commented on #811
@1mamute can you possibly share a bit more about how Infracost is used in your workflow? Most users we see run Infracost before `terraform apply`, but this sounds like you want to run Infracost after, to see a breakdown of the current costs? If so, what's the purpose for this? as a sanity check?

[2021-06-15 13:13] NeverovDS commented on #638
@alikhajeh1, Hey, I want to work on it!

[2021-06-15 13:58] 1mamute commented on #811
I've been running infracost in two scenarios:
- `infracost diff` before `terraform apply` so we can see in the merge request approximately how much the changes will cost. We use this to see the cost **diff**erence between our actual state file and the configuration we are planning to apply.
- `infracost breakdown` in a scheduled pipeline that runs everyday at 8am. In this pipeline, I run `infracos

[2021-06-15 13:59] #762 closed

[2021-06-15 13:59] #737 closed

[2021-06-15 14:00] alikhajeh1 commented on #666
@sbalajisivaram any update on this?

[2021-06-15 14:06] aliscott commented on #417
**Content of support ticket**

**--------**

Hello Alistair,

Greetings for the day.

I'm glad to inform you that our service team has provided us with an update, and we have been able to successfully resolve your issue. The Bulk Pricing API for China will now have Amazon VPC in the list. You will get the pricing for VPC Endpoints and Transit-Gateway in the BJS and ZHY regions.

I hope this helps.

[2021-06-15 14:13] aliscott commented on #417
I've checked and can confirm that there is now pricing for VPC Endpoints and Transit-Gateways. @dawidmalina can you please confirm if this works for you now?

[2021-06-15 14:44] 1mamute opened #816 "Report output to CSV"
# The problem
As mentioned in https://github.com/infracost/infracost/issues/811#issuecomment-861522629 I use `infracost breakdown` in a daily scheduled pipeline that generate a daily report about our infrastructure total approximated cost. For the moment, we have three state files that generates a uniform report in JSON. I send this uniform report via cURL to our Discord Channel (slack would work

[2021-06-15 14:50] alikhajeh1 commented on #615
Closing this in favor of https://github.com/infracost/infracost/issues/816

[2021-06-15 14:50] #615 closed

[2021-06-15 15:00] alikhajeh1 commented on #792
@bgrainger infracost already supports azurerm_mysql_server, so unless I'm missing something we can update the title/description of this ticket to be focused on terraform-providers/terraform-provider-azurerm#8884 ?

[2021-06-15 15:50] dawidmalina commented on #417
I can see now prices for vpc endpoints :)

[2021-06-15 15:58] bgrainger commented on #792
Sorry, my mistake; for some reason I thought I wasn't getting cost information for `azurerm_mysql_server`. I'll update the issue to just cover Flexible Server.

[2021-06-15 16:50] alikhajeh1 commented on #792
No problems - thanks! I've subscribed to the Terraform ticket you mentioned to get a reminder when that ships so we can unblock this :)

[2021-06-15 18:20] siutsin commented on #275
Hey @alikhajeh1, thanks for getting back. I use it for the dev environment only so a rough estimation will be very helpful 👍

[2021-06-15 18:48] alikhajeh1 commented on #796
Thanks for sharing the details! If I understand it correctly, you use that process to apply the markup for post-bill chargeback, and would like the same markup to apply to cost estimates, so the end users have the correct expectations set? vs seeing a lower cost estimate in Infracost, then the markup "surprising" them somewhat in the chargeback step?

[2021-06-15 19:01] alikhajeh1 commented on #816
Awesome! This would probably work nicely with `--fields` too so you can select the CSV fields.
Any suggestions on what the CSV output could like for the breakdown and the diff? The diff might be challenging

[2021-06-15 19:18] 1mamute opened #817 "Ideas to improve the user experience"
Infracost is awesome, we already know that. We can estimate our cloud infrastructures easily, set usage configurations and even run your own cloud pricing API. But, as a new user, I'm having a hard time setting it up, it doesn't feels natural to me like other terraform tools i've been using.

## The problem
The three main points i'd like to talk is that:
1. **There are many caveats as which file f

[2021-06-15 20:14] 1mamute commented on #816
Maybe something like this could work: [simple example](https://docs.google.com/spreadsheets/d/1oU4o-K-LZqjE6y5G3ToH7Bq3ZsjdL0MBhXpjqm75jmM/edit?usp=sharing).

[2021-06-16 02:57] FredTiercin commented on #796
That's exactly right. We have a markup that can goes up to 100% which double the "on demand" price for certain services/regions. So we don't want bad surprises for project leaders :)

[2021-06-16 06:57] ekifel commented on #344
@alikhajeh1 Hey, I want to work on it

[2021-06-16 15:47] alikhajeh1 commented on #730
@sinabakh it might help to see a code spinnet example of a numeric and string usage file param using the schema, would numeric ones need `uageDataValidatorFuncType`? I guess it could just check if a number is positive, or could we have that as a global function that all numeric params can use?

[2021-06-16 20:18] aliscott commented on #817
Thanks @1mamute, this is incredible feedback. Let me provide some context to explain where we currently are, and then I'll dive into some ideas of what we can do/where to start.
* The use-cases we've seen so far with Infracost have been mainly for pre-deploy, after the plan stage, so we haven't concentrated much on anything after the apply stage yet.

* We've started with the formats that Terrafor

[2021-06-17 01:42] 1mamute commented on #817
I thought the purpose of `infracost breakdown` was to generate a breakdown of the costs of your infrastructure, not only for the planned changes (in a pull request for example) but also for an existing state of the infrastructure. I don't see why people aren't using it for that.

I think the importance of this is directly related to the support of the internal states representations. Curling a sta

[2021-06-17 09:53] Terryromeu opened #819 "Support currency conversions as a setting"
Hello,
How can i change the currency USD to EUR ?
![image](https://user-images.githubusercontent.com/22493255/122374394-a2ccaf80-cf62-11eb-9617-6aea3757ed34.png)

[2021-06-17 09:53] ekifel commented on #425
@alikhajeh1, Hey, I want to work on it!

[2021-06-17 10:39] aliscott commented on #819
Thanks @Terryromeu! Unfortunately multiple currencies are not supported yet. I think the different cloud vendors all handle them slightly differently when listing prices and billing. Which cloud vendors are you using and would a straight up conversion using the current exchange rate work for you or are you looking for it to pull in listed prices in EUR from somewhere?

[2021-06-17 11:02] soulshake commented on #809
The Codecov PR comment behavior seems ideal, especially because it handles posting multiple updates per commit. I can't find the source code that handles this, though (I did reach out and will update if I hear back).

On a related note, we have multiple Terraform directories in our repo and run infracost against each of those plans. It would be awesome if infracost could add one comment per PR, an

[2021-06-17 12:40] alikhajeh1 commented on #816
The `output` command's format is making me wonder if there's a need to split between format and report type, e.g. we have a breakdown and diff report types, and those can be in text, HTML or CSV format (so you have csv_diff, or html_breakdown). JSON has been our machine format so it has all the data required to create either of those report types.

Can you possibly share what roles in the company

[2021-06-17 14:35] NeverovDS commented on #639
@alikhajeh1, Hey, I want to work on it!

[2021-06-17 14:59] aliscott opened #821 "Investigate using terraform-exec to wrap the Terraform commands"
Currently Infracost calls out to a Terraform binary. The problem with this is that it requires the user to have the Terraform binary pre-installed, which is rarely the case in CI/CD systems.

We could look at using the [terraform-exec](https://github.com/hashicorp/terraform-exec) package to install Terraform automatically and wrap the Terraform commands.

See some [previous discussion here](https:

[2021-06-17 15:00] aliscott commented on #817
Yeah this could be really interesting and definitely something I think we should investigate more. Even if it's not possible to be as accurate as using a plan file, it could provide users with immediate feedback and be used in a lot more places.

Thanks for all the feedback, there's definitely a lot we need to do to make Infracost better for the user 🚀

[2021-06-17 16:50] aliscott commented on #730
For `SubUsageData` it looks like Terraform do a similar thing for their blocks, so we could maybe take some inspiration from there: https://github.com/hashicorp/terraform-provider-aws/blob/main/aws/resource_aws_dynamodb_table.go#L116.

Another option is just having everything flat and using dot separators in the key, e.g. `Key: "standard.storage_gb"` and `Key: "intelligent_tiering.storage_gb"`.

[2021-06-17 21:29] hassankhosseini commented on #819
@AErmie - one you requested too, just in case you wanted to follow it 👍

[2021-06-18 08:04] sinabakh commented on #730
Here's a small poc code for my suggestion:
[code]

I also agree with what @aliscott purposed, terraform uses similar approach with few differences that we can use.

[2021-06-18 11:17] aliscott commented on #816
Yeah this is a very good point, but I wonder if we need different formats for the CSV diff and breakdown. We handle both already in the JSON, so maybe one CSV format that has both would work. For each resource we could show the current, projected and diff cost in a single row. Maybe something like this:

|project   |resource                |costComponent |price|unit|monthlyQuantity|hourlyQuantity|

[2021-06-18 13:29] alikhajeh1 commented on #816
Hah, you're right, we already have the fields in JSON so we can use the same in CSV. For HTML, do you mean an HTML tab for each project inside the HTML page? We can default to the breakdown tab being visible.

[2021-06-18 14:44] aliscott commented on #816
Yeah something like that could work. Or showing the diff as a summary at the top and then a bit you can expand to view the whole details.

[2021-06-18 17:52] 1mamute commented on #816
I explain my two use-cases in this comment here: https://github.com/infracost/infracost/issues/811#issuecomment-861522629

In this case, i'm planning to append our costs daily into to a Google Sheets using [this pipedream integration](https://pipedream.com/apps/google-sheets) and handle this sheet to our non-profit financial people so they can keep a history of the expected costs of the 3 environm

[2021-06-18 18:34] aliscott commented on #449
This has now been done in https://github.com/NixOS/nixpkgs/pull/127365. Thanks @davegallant! 🚀 🚀 🚀

[2021-06-19 10:35] alikhajeh1 commented on #816
@1mamute awesome - thanks! I've added this to the project board so we/community can get to it when there's bandwidth.

[2021-06-19 10:41] alikhajeh1 commented on #809
Thanks @soulshake! I've added this ticket to the project board so we or the community can get to it when there's bandwidth.

Are you using a [config file](https://www.infracost.io/docs/multi_project/config_file) for that? It can be specified in GH Actions like [this](https://github.com/infracost/infracost-gh-action#config_file). If so, the [diff.sh](https://github.com/infracost/infracost/blob/mast

[2021-06-19 12:36] soulshake commented on #809
Awesome! :tada:

Unfortunately I don't think this would work, because they are running in a parallel job matrix (and therefore there's no shared filesystem).

[2021-06-21 09:24] aliscott commented on #730
@sinabakh looks good. With the [ValueType](https://github.com/infracost/infracost/pull/824/files#diff-335d4d958fe7d93d12e2055e53842b4c02b7836d5cb1ef6feb8311bd862d99e6R23) key @tim775 added as well we should be able to check that it's the right type before the validator func is called. The majority of values in the usage file are positive integers, so I wonder if we want a specific `ValueType` for

[2021-06-21 10:15] alikhajeh1 commented on #706
@praveenghuge any update on this?

[2021-06-21 11:27] tim775 commented on #639
Note that `Processing (stream)` and `Processing (orchestration)` can both use the same cloud price (e.g. `"$0.11 per Kinesis Processing Unit-hour for Java applications"`).  The difference is that `Processing (stream)` is strictly a usage param, while `Processing (orchestration)` is an automatic charge that depends on `runtime_environment`.

[2021-06-21 11:56] 1mamute commented on #821
The idea in using [terraform-exec](https://github.com/hashicorp/terraform-exec) would be to minimize the dependency on the Terraform binary for infracost users. Yet, reading through the code, seems like the module only downloads the terraform binary in the system and then wraps the terraform CLI commands.

I mean, we're already wrapping the terraform commands, so just refactoring here.
Downloading

[2021-06-21 12:24] 1mamute commented on #811
We're still pretty dependent on the Terraform binary to generate the JSON output that Hashicorp recommends to ingest. Seems like terraform-exec wouldn't help much. https://github.com/infracost/infracost/issues/821#issuecomment-864973421

The internal state JSON's is on version 4 for quite some time now and Hashicorp says (but don't promise) that it will be _generally_ [backwards compatible](https:

[2021-06-21 16:44] AErmie commented on #819
@aliscott  / @hassankhosseini, if we changed the "USD" manually to something else (ie. "CAD"), would that work? Or would that break anything in the code somewhere else?

To weigh in on the questions posed...
1. Azure (though other customers use AWS)
2. How would straight conversion compare to what the Cloud Provider API's own conversion mechanisms differ? Usually, you get your cloud bill monthly,

[2021-06-21 17:24] NeverovDS commented on #508
@alikhajeh1, Hey, I want to work on it!

[2021-06-22 09:07] ekifel commented on #778
@alikhajeh1, I want to work on it!

[2021-06-22 09:29] alikhajeh1 commented on #417
Can we close this ticket?

[2021-06-22 09:29] #417 closed

[2021-06-22 10:28] aliscott commented on #425
@ekifel Here's how I think we can do it:

If resource names ends with `aws_autoscaling_group.workers_launch_template[0]` we should check if there's a resource that has a name ending in `aws_launch_template.workers_launch_template[0]` and add a reference on the `launch_template` attribute of `aws_autoscaling_group.workers_launch_template[0]` that points to the `aws_launch_template.workers_launch_te

[2021-06-23 13:32] hassankhosseini opened #828 "Cost estimates for 'other' services such as RabbitMQ & Kafka"
This will be a longer term GitHub issue, so we can track the 'other' resources the community want to see added as well as dig deeper into use cases etc.

Resources like RabbitMQ and Kafka run on VM's. The development teams do not manage these however, they do use them (request queues etc) via Terraform. Currently these are not assigned costs, but do actually have costs.

The request is having some

[2021-06-23 15:02] tim775 commented on #811
I was thinking about what would be involved in actually parsing the tfstate.  Please forgive (and correct) all my misunderstandings and flawed assumptions 🙂:

Initially it seems straightforward because we usually only need a few attributes from a resource so it's just a matter of discovering the correct json path for them.  But how do we discover those paths?

Working with the plan.json is pretty

[2021-06-24 13:47] NeverovDS commented on #706
If it’s ok with Pravin, I can work on this

[2021-06-24 16:28] sinabakh commented on #730
Nice! @tim775's PR seemed solid. I just have a question:

Regarding the nested usage data, are we going to use nested keys ('internet.asia.egress') or nested objects?

I'll submit a PR with few tweaks to already transformed resources like dynamodb to discuss it in depth.

[2021-06-24 19:02] aliscott commented on #730
I'm leaning towards nested objects because I think that is more flexible in the long term, maybe there will be nested types we can abstract. But interested to hear other thoughts.

[2021-06-25 09:05] vagonas opened #829 "Add support for Azure Key Vault azurerm_key_vault_secret resource"
Hi there, At the moment there is only support for `azurerm_key_vault_certificate`  and `azurerm_key_vault_key` as per https://github.com/infracost/infracost/pull/657

We need support for `azurerm_key_vault_secret` otherwise, how can we estimate secrets operations?

https://azure.microsoft.com/en-us/pricing/details/key-vault/
<img width="1378" alt="Screenshot 2021-06-25 at 11 03 50" src="https://us

[2021-06-25 09:22] alikhajeh1 commented on #706
Thanks @NeverovDS!

[2021-06-25 09:33] vagonas opened #830 "Add support for Azure Application Insights"
Pricing page: https://azure.microsoft.com/en-us/pricing/details/monitor/  (also available in the Azure pricing calculator)

Terraform resources is [`azurerm_application_insights`](https://registry.terraform.io/providers/hashicorp/azurerm/latest/docs/resources/application_insights).

[2021-06-25 13:07] tim775 commented on #706
- An hourly charge based on the size and type from the sku displayed as `Gateway usage (<type>, <size>)` with unit `hours` where type and size are determined from `sku.name`:  type should be one of `basic, WAF, basic v2, WAF v2`, size should only be present from non v2 instances and should be one of `small, medium, large`.   Number of hours is determined by`sku.capacity * 730`.

[2021-06-25 13:53] alikhajeh1 commented on #829
👋 hey @vagonas, great question! We modeled that price as part of the `azurerm_key_vault_key` resource as we thought that users would have a key that is used for secret operations (alongside other operations), so the output below is generated:

[code]

If you use the Infracost [usage file](https://www.infracost.io/docs/usage_based_resources), and add something like this:
[code]

Then the output wou

[2021-06-25 15:41] adamconnelly opened #832 "Don't warn about missing usage file unless usage syncing enabled"
If you run the `infracost breakdown` command and set the log-level to warn, a warning is output about the usage file not being specified, even if the `--sync-usage-file` flag hasn't been specified.

Here's an example:

[code]

I'd only expect this if the `--sync-usage-file` flag was specified, for example:

[code]

This is with Infracost 0.9.1.

[2021-06-25 15:47] adamconnelly commented on #832
@alikhajeh1 here's a PR if you want it: https://github.com/infracost/infracost/pull/833

I've left a bit of a question in the description because it looks to me like the warning could just be removed, but I didn't wanna take that step without checking first.

[2021-06-26 03:05] tim775 commented on #830
`azurerm_application_insights` should have:
- A usage param `monthly_data_ingested_gb` with unit `GB` displayed as `Data ingested`
-`Data retention (<days> days)` with unit `GB` where `days` is determined by the `azurerm_application_insights.retention_in_days`.  The cost is calculated by multiplying `monthly_data_ingested_gb` by the number of retention days over 90.  This should only be displayed

[2021-06-26 11:19] #832 closed

[2021-06-28 07:22] ekifel commented on #830
@alikhajeh1, I want to work on it!

[2021-06-28 08:11] alikhajeh1 commented on #830
Thanks @ekifel!

[2021-06-28 09:58] alikhajeh1 commented on #796
Assuming we design a good way for such markups to be modeled, a new line-item could be output in `infracost breakdown` to show the cost component, DevOps services, in this case. How does that sound?

[code]

I'm not quite sure what we'd do for the `infracost diff` output, probably omit this cost component since it doesn't change between runs.

[2021-06-28 10:00] FredTiercin commented on #796
That would be great !

[2021-06-28 13:23] aliscott commented on #811
Yeah, we would have to launch resources to generate these. All the arguments we use currently for each resource should be available in the state JSON. The file contains everything listed under the "Attributes Reference" sections in the Terraform docs (example: https://registry.terraform.io/providers/hashicorp/aws/latest/docs/resources/dynamodb_table#attributes-reference), and each of these says "I

[2021-06-28 15:33] NeverovDS commented on #666
If it’s ok with @sbalajisivaram, I can work on this

[2021-06-28 15:35] alikhajeh1 commented on #666
Thanks @NeverovDS! @sbalajisivaram there are plenty of more resources we want to add support for in the future :)

[2021-06-29 12:16] NeverovDS commented on #710
@alikhajeh1, Hey, I want to work on it!

[2021-06-29 13:31] tim775 commented on #830
The charge for data retention is GB-month, so I think this should actually be `monthly_data_ingested_gb * number_of_months_over_3_months` (where a month == 30 days).

So if ingested == 1000, and retention == 120, then `((120-90) / 30) == 1` so the cost would be `1000 * 1 * $0.12 per GB per month == $120`.
If retention == 550, then `(550-90) / 30 == 15.3` so cost would be `1000 * 15.3 * $0.12 per G

[2021-06-29 20:25] tim775 opened #840 ""Usage-for-everything" or "Should we build a multi-cloud cost calculator?""
Is there any interest in the community in a "Multi-Cloud Cost Calculator (MC3)"?

We could make it so you can specify all the variables in a usage file , then generate costs estimates without IaC.  Maybe then the usage file becomes something that can be shared with people who don't have access to IaC?  Or maybe we wrap an API around our calculators so they can be incorporated into tools beyond the

[2021-06-30 13:50] SarmaKHCL opened #843 "Query: Is there a possibility to include enterprise discounts offered by the cloud provider in calculating the individual resource cost or the overall cost?"
Query: Is there a possibility to include enterprise discounts offered by the cloud provider in calculating the individual resource cost or the overall cost?

[2021-06-30 18:56] akastav commented on #425
@ekifel
Good job! After these changes, I get the cost only for the first lunch template. What about another?

![image](https://user-images.githubusercontent.com/11705103/124016202-0d173280-d9ee-11eb-992e-788c98c829f5.png)

[2021-06-30 19:02] aliscott commented on #425
Thanks @akastav, I'll dig into this a bit more and see if we can push a fix for this case.

[2021-07-01 09:33] craigthackerx commented on #819
Hey, me and my team love the tool.  We were also wondering about getting USD converted to GBP in Azure.

My thoughts are I'd like just a straight up conversion of USD to GBP at the time of running, and as @AErmie says, a notice that "This is not 100% accurate" would suffice, for us at least.

I'm not completely familiar with the operation of the code, so apologies if this is a dumb question - Is i

[2021-07-01 09:46] alikhajeh1 commented on #666
This was released in v0.9.2 today.

[2021-07-01 09:46] #666 closed

[2021-07-01 09:47] alikhajeh1 commented on #832
Thanks @adamconnelly! This was released in v0.9.2 today.

[2021-07-01 09:47] alikhajeh1 commented on #639
@avst-dmartino just FYI this was released in v0.9.2 today.

[2021-07-01 09:47] #639 closed

[2021-07-01 09:48] alikhajeh1 commented on #508
@robh007 just FYI this was released in v0.9.2 today.

[2021-07-01 09:48] #508 closed

[2021-07-01 09:48] alikhajeh1 commented on #638
@avst-dmartino just FYI this was released in v0.9.2 today.

[2021-07-01 09:48] #638 closed

[2021-07-01 09:48] alikhajeh1 commented on #762
This was released in v0.9.2 today.

[2021-07-01 09:49] alikhajeh1 commented on #344
@dawidmalina this was released in v0.9.2 today.

[2021-07-01 09:49] #344 closed

[2021-07-01 09:50] alikhajeh1 commented on #583
@caphrim007 just FYI this was released in v0.9.2 today, plz let us know if it works ok for you.

[2021-07-01 09:50] #583 closed

[2021-07-01 09:50] alikhajeh1 commented on #425
@aliscott should we open a new issue for the "multiple lunch templates" use-case?

[2021-07-01 09:51] alikhajeh1 commented on #710
Released in v0.9.2 today.

[2021-07-01 09:51] #710 closed

[2021-07-01 09:51] alikhajeh1 commented on #830
Released in v0.9.2 today.

[2021-07-01 09:51] #830 closed

[2021-07-01 09:51] alikhajeh1 commented on #706
Released in v0.9.2 today.

[2021-07-01 09:51] #706 closed

[2021-07-01 09:53] alikhajeh1 commented on #729
@krishnaindani any update on this? We can take the old PR and run with it as it looked pretty close - or maybe a send a partial PR that fixes some of them and we can do the rest.

[2021-07-01 09:56] alikhajeh1 commented on #312
Going to close this as we're going to help Scalr integrate so we can tackle this as part of that work if required.

[2021-07-01 09:56] #312 closed

[2021-07-01 09:57] aliscott commented on #425
Added a fix in https://github.com/infracost/infracost/pull/844. I think we should keep this open until that is merged.

[2021-07-01 10:04] alikhajeh1 commented on #316
Closing this as I can't reproduce it anymore

[2021-07-01 10:07] alikhajeh1 commented on #425
Merged :) @akastav if you like, you can test it from the latest master branch. Assuming this repo is cloned and go is installed:
[code]

[2021-07-01 10:07] #425 closed

[2021-07-01 10:09] alikhajeh1 commented on #440
@aliscott what do you think? We've seen a few resources that have needed reverse lookup so I wonder if we should create a GH issue for that and add this (and others) as examples in that ticket that we can use during development/testing?

[2021-07-01 10:23] alikhajeh1 commented on #796
Thanks for the input @FredTiercin! We'll keep this issue open so we can get 👍 or more input from the community, in July we're focusing on improving the self-hosting experience for our Cloud Pricing API

[2021-07-01 10:25] alikhajeh1 commented on #829
Going to close this issue, feel free to comment if the above doesn't address the issue

[2021-07-01 10:25] #829 closed

[2021-07-01 10:31] alikhajeh1 commented on #843
@SarmaKHCL I'd love to learn more about your use-case and which of the various enterprise discount programs you're more interested in, if you like we can have a quick call as it'll be faster than many back-n-forth detailed comments here, my email is ali.hosseini@infracost.io

[2021-07-01 11:02] aliscott opened #849 "Allow resources to use attributes from other resources that reference them"
We currently allow resources to use attributes from resources they reference through the `.References` call but this is just a one way lookup. We want to allow resources to also use attributes from resources that reference them as well.

This issue is to keep track of the resources that need this and to start adding details about how we can support this.

Resources that need this:
* [AWS Applicati

[2021-07-01 11:02] aliscott commented on #440
Agree, I've added https://github.com/infracost/infracost/issues/849 so we can start tracking them.

[2021-07-01 11:17] akastav commented on #425
Yep, it works now for all ASG. Wait for a new release, you are awesome guys!

[2021-07-01 13:27] krishnaindani commented on #729
My apologies, I got caught up with something past sometime. I am planning to get ready with the changes by the EOW, does that works?

[2021-07-01 13:39] alikhajeh1 commented on #729
Thanks @krishnaindani - that would be awesome! It can go into next week's release.

[2021-07-01 13:55] krishnaindani commented on #729
Great, Thanks for waiting!!

[2021-07-01 21:46] alikhajeh1 commented on #819
+1 on straight up conversion of USD to GBP (or other currencies) at the time of the CLI running. That's the simplest thing we could do just now and it seems to be good enough for estimation purposes.

[2021-07-01 22:08] alikhajeh1 commented on #840
@tim775 this is awesome! I'm not sure if you saw https://infracost-community.slack.com/archives/C01G63RG63D/p1624368107153400 and the thread after that, but I suspect this proposal can enable such tools to integrate into Infracost.

[2021-07-02 02:50] krishnaindani commented on #729
@alikhajeh1 should I split in three different PR's one for azure, google, and aws each. That way it would be easier for the review and testing as well. What are your thoughts?

[2021-07-02 06:29] alikhajeh1 commented on #729
@krishnaindani good idea - smaller PRs are easier to review/test

[2021-07-02 11:09] endriu0 opened #852 "Infracost core dumps under atlantis 17.1 and 17.2 on some repos"
Hey team, running into issue with infracost since upgrading to atlantis 17.1 / 17.2 - issue only appears on some plans. Not all - specifically I was able to find one application that causes it. Tried with all infracost 9.x versions.

After going back to atlantis 17.0 and infracost 9.0 issues are gone.

When trying to narrow it down it seems to be running into issues on this line in atlantis_diff :

[2021-07-02 11:48] aliscott commented on #852
I wonder if this could this be an out of memory issue if it's only happening in the pod. What is the size that of the `infracost_breakdown.json` it generates when it hits the issue?

[2021-07-04 17:03] krishnaindani commented on #729
Thank you for updating the task list, will make azure next. Last time you were mentioning you can provide me some temporary credentials for Azure, would you still be able to do that?

[2021-07-05 07:20] idan-gur commented on #852
Also happens to me, would be glad for any help, doesn't seem to be a memory issue as my pod's peak memory isn't near full.

[2021-07-05 07:33] alikhajeh1 commented on #729
@krishnaindani thanks for that! Since this is a one-off, I can just run the tests against the Azure PR and paste in any issues if that's ok with you?

[2021-07-05 08:54] sinabakh commented on #840
It's awesome, I'm interested in helping with this issue.
I'll review the mentioned PRs, discussion, and codes and will leave my ideas. I think what @tim775 proposed is the way to do it.

@tim775 I was thinking about automating the code conversion, what do you think about it?

[2021-07-05 09:31] endriu0 commented on #852
Sorry - just saw this - wouldn't say it's that big :

[code]

Also looking at the pod it doesn't do much - I was able to replicate it in our testing atlantis deployment which doesn't do anything 99% of the time.

[2021-07-05 10:24] aliscott commented on #852
Thanks @idan-gur and @endriu0 🙂  I've been able to reproduce this now so will investigate.

[2021-07-05 14:06] aliscott commented on #852
@idan-gur, @endriu0 I've pushed a fix in https://github.com/infracost/infracost/pull/855. It looks like it was an issue with the shell, not sure if this changed in the underlying Atlantis image or not.

I've also pushed this in the `infracost-atlantis:latest` Docker image. Note: this still uses Atlantis v0.17.0, but I've tested the fix with v0.17.2 as well.

Can you confirm this is now working for

[2021-07-05 14:23] endriu0 commented on #852
Just tested - outputted correctly now. Thanks

[2021-07-05 14:32] aliscott commented on #852
Awesome, thanks for your help with this 🚀!

[2021-07-05 14:32] #852 closed

[2021-07-05 17:08] krishnaindani commented on #729
Sounds good, that works.

[2021-07-05 22:59] krishnaindani commented on #729
I have noticed this while running lint stage.
[code]

Do you plan to migrate to revive? I can work on this next if you plan to. @alikhajeh1

[2021-07-06 07:42] alikhajeh1 commented on #729
@krishnaindani thanks for sticking with this issue through completion!

Re golint, @aliscott WDYT?

[2021-07-06 07:42] #729 closed

[2021-07-06 10:11] alikhajeh1 opened #858 "Update `infracost register` to let users know upfront if they already have an API key"
I've seen many users with multiple keys soon after they register. I wonder if it's because when they run `infracost register`, it creates the API key then checks/informs them if one already exists. We should change this so the first step in register is to check for an existing key, and tell them that it's saved in `~/.config/infracost/credentials.yml`, then ask if they'd like to create a new key.

[2021-07-06 11:06] tim775 commented on #840
@sinabakh I was hoping you would like this!  That would be amazing if we could automate the conversion.  I wouldn't even know where to start with that so I'd love to see what you have in mind.

[2021-07-06 12:39] sinabakh commented on #840
So we are going to have a `core` that:
1. Is not dependent on any IAC tool
2. For each resource, it knows what data it needs to calculate the costs
3. It has no idea where these data come from (whether it's from IAC config or usage data)

So, for our main `internal/resources` I have few ideas:
A. We remove the whole usageSchema and usageData concept from it and just use args
B. Each IAC tool would

[2021-07-06 15:26] tim775 commented on #840
1.	Is not dependent on any IAC tool
	2.	For each resource, it knows what data it needs to calculate the costs
	3.	It has no idea where these data come from (whether it's from IAC config or usage data)

Yes that's a nice way to state it.  Would it be clearer to call it `calculator` instead of `core`?  We could rename `internal/resources` to `internal/calculators`.

A. We remove the whole usageSchem

[2021-07-06 15:50] krishnaindani commented on #729
Thank you so much for your patience and for letting me work on this. Looking forward to contributing more to this project. Let me know if there is any other work I can pick up. I will keep eye on board though.

[2021-07-06 17:04] aliscott commented on #840
My main thought is where should `calculator/core` live (both the short term and the long term)? We maybe don't need to decide long-term now, but something we should think about and keep in mind.

We already have a lot of the logic in the infracost CLI for it, so short-term it could make sense to keep it here. In the future it could be its own API, part of the [Cloud Pricing API](https://github.com

[2021-07-06 18:46] sinabakh commented on #840
I would let it be `internal/resources`, I think it makes more sense.

So I think the `calculator` can accept a kind of usage data input and we could generate it internally or the users can provide it explicitly to our cmd. So we just convert IAC input to it and the calculator would ingest it.

Yes exactly.

@aliscott Your comments are all valid. I think with the current approach we can easily move

[2021-07-08 06:52] camaeel opened #861 "Infracost docker image runs with root"
Infracost docker image requires to be started with root or to create a child image with dedicated user created.
If I try to run it with other user:
[code]
 it throws a segmentation fault:
[code]

[2021-07-08 08:06] aliscott commented on #861
Thanks @camaeel I've been able to reproduce it. As a workaround at the moment you can add something like `-e HOME=/tmp` to the Docker command.

[2021-07-08 08:25] camaeel commented on #861
Thanks, @aliscott

Workaround, works like a charm.

[2021-07-08 08:38] alikhajeh1 commented on #861
FWIW, this issue also popped-up when @sinabakh was working on the https://github.com/infracost/infracost-jenkins integration, though in there we went with `--user=root` to work around it.

[2021-07-08 11:53] sinabakh commented on #861
It would be great if we could create an image with a non-root user.

[2021-07-08 20:47] aliscott commented on #861
Thanks for reporting this @camaeel 😄. I've merged a fix in https://github.com/infracost/infracost/pull/862 that will be in the next release.

[2021-07-08 20:47] #861 closed

[2021-07-09 02:36] krishnaindani commented on #858
Hey @alikhajeh1, is this open for work, I would like to try if that's okay?

[2021-07-09 06:35] alikhajeh1 commented on #861
Should we create a new ticket to update all of Dockerfiles to run as non-root? There's no reason they'd need root, right?

[2021-07-09 07:12] alikhajeh1 commented on #858
Yep, go for it, @aliscott will review it - not sure if he has any pointers before the work begins

[2021-07-09 07:19] aliscott commented on #858
@alikhajeh1 only question I have for this is: If the user has an API key and still wants to generate a new one, should it always overwrite the one they have saved in `~/.config/infracost/credentials.yml` or should they still get the option to overwrite it or not?

[2021-07-09 07:25] alikhajeh1 commented on #858
It's probably better to give them a choice as if they overwrite it, there's no going back.

[2021-07-09 14:49] krishnaindani commented on #858
I have skimmed the code for the register command yesterday, will go through it so that I have a clear understanding, and ask questions if I get any. And then I can start the work. Thank you so much @alikhajeh1 and @aliscott.

[2021-07-09 19:44] sinabakh commented on #840
I'll work on a PR so we can discuss about it better

[2021-07-11 03:40] krishnaindani commented on #858
For this issue, are we addressing it by giving the user the option to provide a different path if they want? I have a bunch of questions if we are going to implement it that way.

[2021-07-11 12:48] 06kellyjac commented on #170
docker run -e INFRACOST_SKIP_UPDATE_CHECK=true infracost/infracost version

[2021-07-11 13:09] sinabakh commented on #840
I submitted a PR: #863

[2021-07-11 18:42] alikhajeh1 commented on #170
@06kellyjac it's `--version` as show in `--help`, so `docker run -e INFRACOST_SKIP_UPDATE_CHECK=true infracost/infracost --version` should work as expected but plz lmk if you run into issues.

[2021-07-11 18:44] alikhajeh1 commented on #858
@krishnaindani I'd keep it simple and not worry about changing paths. The aim is to ensure users are aware that a key already exists before the existing flow kicks-in.

[2021-07-11 18:51] krishnaindani commented on #858
That means we are good with giving the warning here https://github.com/infracost/infracost/blob/master/cmd/infracost/register.go#L60 and overwriting it, right? We just need to change the flow to

1. check if the key exists
2. If the key exists, ask the user if he still wants to generate.
3. If yes to 2, overwrite the key that is saved in `config/infracost/credentials.yml`.
4. If no to 2, will exit

[2021-07-11 18:57] alikhajeh1 commented on #858
Almost...
1. Check if the key exists
2. If it exists, output `You already have an API key saved in %s, would you like to generate a new one?`
3. If yes to 2, ask for Name and Email, show the new API key, and ask `Would you like to overwrite your existing saved API key` then overwrite if they say yes, otherwise just show the API key and exit (current behavior).
4. If no to 2, exit.

[2021-07-11 18:57] 06kellyjac commented on #170
Sorry I seem to have accidentally commented that :sweat:

I was looking into a crash I was having and I wanted to see if it was due to my build sandbox having no networking so I was going to run `docker run --network none -e INFRACOST_SKIP_UPDATE_CHECK=true infracost/infracost --version`

Then I found this PR: https://github.com/infracost/infracost/pull/862 I tried making the directory and it fixe

[2021-07-11 18:59] krishnaindani commented on #858
oh got it. WIll need to change the prompt order from what I thought. Thanks, that makes sense. Also, do we have a way to delete the keys, because while I was testing I see a user can only have 5 keys and after that, it throws an error?

[2021-07-11 19:14] alikhajeh1 commented on #858
I emailed you about it :)

[2021-07-11 19:26] krishnaindani commented on #858
Thank you. Haven't received it yet. Will wait.

[2021-07-13 15:02] krishnaindani commented on #858
Looks like the AWS test is failing even though I have no changes there.  Would someone correct me what's wrong here, I only have changes in the `register` command file. https://github.com/infracost/infracost/runs/3053394850?check_suite_focus=true

[2021-07-13 15:07] alikhajeh1 commented on #858
@krishnaindani yep, looks like something changed in the AWS pricing that caused the integration test to fail for that resource. I'll look at it later tonight but it's not related to your PR :)

[2021-07-13 15:10] krishnaindani commented on #858
sounds good. Thank. I have my pr mostly ready will be testing again and will add a description and move to review later. I don't see tests for the command, do we plan to have that?

[2021-07-13 15:53] krishnaindani commented on #858
@alikhajeh1 @aliscott I have PR ready for review, have tested this locally. Looking forward to the review and what do you think. https://github.com/infracost/infracost/pull/864

[2021-07-13 20:33] tovbinm opened #866 "Unsupported Terraform Core version"
When running Infracost with Terraform 1.0.2

[code]

[2021-07-13 20:46] alikhajeh1 commented on #866
Hey @tovbinm! Infracost calls out to `terraform plan` to get the plan JSON, and that error suggests that `which terraform` is pointing to the terraform 0.15.4 version on that system.

Can you please try setting `INFRACOST_TERRAFORM_BINARY=/path/to/new_terraform_binary infracost breakdown --path /path/to/code` and see if that works?

[2021-07-13 20:56] tovbinm commented on #866
Where can set Terraform version for Infracost to use?

[2021-07-13 20:58] alikhajeh1 commented on #866
That can be set by either:
1. `export INFRACOST_TERRAFORM_BINARY=/path/to/new_terraform_binary_on_your_machine`, then run infracost as normal
2. if you're using a [config-file](https://www.infracost.io/docs/multi_project/config_file), the `terraform_binary` param

[2021-07-13 22:01] tovbinm commented on #866
I updated the `infracost.yml`:
[code]

And now I get:

[code]

[2021-07-13 22:43] tovbinm commented on #866
Oh, it has to be a local binary. I see.

[2021-07-13 22:55] tovbinm commented on #866
Can I just set up the Terraform with https://github.com/marketplace/actions/hashicorp-setup-terraform ?

[2021-07-14 16:36] alikhajeh1 commented on #866
@tovbinm ah you're using the GH Action, sorry I should have checked that. I've sent a PR to add the latest TF version to our Dockerfile. After that's released you can set the infracost config file `terraform_binary: terraform_1.0` (that way it'll use the latest patch version of 1.0).

We'll aim for a release tmrw.

[2021-07-14 16:43] tovbinm commented on #866
Got it. Thank you!

[2021-07-14 16:43] #866 closed

[2021-07-15 09:19] aliscott commented on #858
Fixed in #864, thanks @krishnaindani! 🚀

[2021-07-15 09:19] #858 closed

[2021-07-16 14:01] alikhajeh1 commented on #843
Closing this ticket as I believe you're discussing this with @hassankhosseini over email. Other users can add comments here or create new issues so we can understand their use-case.

[2021-07-16 14:01] #843 closed

[2021-07-18 18:47] WrightInTheCloud commented on #812
I've actually just been looking for a comment about bicep being added. This looks like a fantastic project (only just found it) and think as more Azure users are moving to Bicep it would be a great addition.

[2021-07-19 19:46] dgcaron opened #870 "new feature (azure): azurerm_private_endpoint"
I was looking at some components that we add regularly that aren't too complex and should be a good first try. we rely heavily on networking features and therefore azurerm_private_endpoint looks like an ideal candidate.

the resource has an hourly rate and two usage parameters outbound and inbound data processed.

*** Note ***
the docs mention something about bandwidth pricing (https://azure.micro

[2021-07-19 21:09] alikhajeh1 commented on #870
@dgcaron thanks for creating this ticket! That looks like an ideal first resource to add, here are some details that might help:

Cost components:
- "Private endpoint", unit "hours".
- "Inbound data processed", unit "GB", usage file parameter: `monthly_inbound_data_processed_gb: 100 # Monthly inbound data processed in GB.`
- "Outbound data processed", unit "GB", usage file parameter: `monthly_outb

[2021-07-20 19:18] alikhajeh1 opened #871 "Add support for GCP instance groups"
We already support google_compute_instance costs.

We can add support for [compute_instance_group_manager](https://registry.terraform.io/providers/hashicorp/google/latest/docs/resources/compute_instance_group_manager) and [compute_region_instance_group_manager](https://registry.terraform.io/providers/hashicorp/google/latest/docs/resources/compute_region_instance_group_manager) as they have a `targ

[2021-07-21 20:15] dgcaron commented on #870
i can't seem to find the private endpoint / link service in the cloud costs database?
i tried these two calls:

[code]

checking the networking family, it also isn't showing
[code]

[2021-07-21 23:00] irl-segfault commented on #187
Bump!  Pulumi gaining steam, would love to be able to use this tool for my Pulumi IaC

[2021-07-22 12:15] alikhajeh1 commented on #870
Azure sure don't make it easy... I found them with the following:
[code]

Notice how each of the above meterNames has 3 prices (Global, US Gov and China). This is common for these global resources and the following methods can help you convert the region:
[code]

For the `AttributeFilters`, it looks like `meterName` and `productName` is all that's needed. You can also add the `PriceFilter` so if A

[2021-07-22 12:38] dgcaron commented on #870
i created this devcontainer for setting up a GO development env, run the make deps and preload a mongodb in a container. do I need to add the .devcontainer folder to the .gitignore or is it something that would be helpful for other contributors?

my initial stab -> https://github.com/dgcaron/infracost/tree/feat/vscode_devcontainer/.devcontainer

details on dev containers -> https://code.visualstud

[2021-07-22 13:04] alikhajeh1 commented on #870
that's awesome! these tooling improvements help other contributors (I use vscode too). Can you possibly create an issue with the above comment so it can be worked-on separately? I suggest that as there's a [big change](https://github.com/infracost/cloud-pricing-api/issues/52#issuecomment-881225486) going on in the Cloud Pricing API and we're removing the mongo dependency in favor of postgres so it

[2021-07-22 13:08] dgcaron opened #872 "add devcontainer for setting up a GO development env, run the make deps and install other dependencies"
i created this devcontainer for setting up a GO development env, run the make deps and preload a mongodb in a container. do I need to add the .devcontainer folder to the .gitignore or is it something that would be helpful for other contributors?

my initial stab -> https://github.com/dgcaron/infracost/tree/feat/vscode_devcontainer/.devcontainer

details on dev containers -> https://code.visualstud

[2021-07-23 10:45] m-yosefpor opened #874 "Enhancement: Add support for wildcard resource usage for module arrays/maps"
As of Terraform 0.13 `for_each` and `count` works with modules as well.
Currently we support `count `and `for_each` for modules in price breakdown, however the for usage based resources, some has to express the module resource usages such as:

[code]
for resource arrays and

[code]
for resource maps.

Currently it's not possible to define wildcard resource usage for **module** arrays/maps (althoug

[2021-07-23 10:54] m-yosefpor opened #875 "Bug: --sync-usage-file flag is destructive when used with wildcard resource usage"
When using `--sync-usage-file` flag with [wildcard resource usage](https://www.infracost.io/docs/usage_based_resources#resource-arrays) such as:

[code]

the values are removed and replaced with each index/key specific resources with default `0` usage value:

[code]

This is also true for resource maps with `for_each`.

**Expected behavior**:

`--sync-usage-file` flag
1. should not delete the wild

[2021-07-23 11:01] m-yosefpor opened #876 "Proposal: Adding an option which cause the output to contain all the fields"
Having an option such as `--fields=all` which caused the output to contain all the supported fileds: price, monthlyQuantity, unit, hourlyCost, monthlyCost.

[2021-07-23 11:23] m-yosefpor opened #877 "Proposal: Add support for specifying resource_usage for usage based resources in HCL code with comment"
Handling resources usage also with comment in Terraform HCL files. This way we could have multiple ways of specifying the usage and they all get translated into a standard format. We can also do the same with other tools (Pulumi, etc) and translate all comments into a standard format (i.e. current usage-file), which is then used to calculate pricing.

The similar approach is used in tools such as

[2021-07-23 11:35] dgcaron commented on #870
i am trying  to run the integration tests as described in the contributing.MD but I am getting an Go error indicating decimalPtr and strPtr don't exist. however, when I run make build everything compiles. is there a way to run a single integration test?
this fails for me
[code]

[2021-07-23 13:38] alikhajeh1 commented on #870
hmm what was the failure error message? That's how we run individual integration tests locally. Note that Azure integration tests requires creds since Azure Terraform provider needs them: https://github.com/infracost/infracost/blob/master/CONTRIBUTING.md#azure

Edits to the contribution docs are also welcome!

[2021-07-23 13:48] dgcaron commented on #870
it's probably just me, sorry.

[2021-07-23 18:52] alikhajeh1 opened #880 "Interested in joining the Infracost team?"
We are currently hiring on the Infracost team! 🚀

We are looking for a Software Engineer, Senior Software Engineer or Principal Software Engineer to join us. To see the full job descriptions and details on how to apply go to:

https://infracost.io/join-the-team

If you have any questions about the role, or want to chat, please reach out to me at ali@infracost.io

[2021-07-23 18:53] alikhajeh1 commented on #870
Closed by https://github.com/infracost/infracost/pull/878

[2021-07-23 18:53] #870 closed

[2021-07-23 21:34] alikhajeh1 commented on #876
Good idea! This'll place nice with breakdown, diff and output

[2021-07-23 21:51] alikhajeh1 commented on #877
Comments seem like a nice/light-weight way of doing this if we can solve the challenges. https://github.com/infracost/terraform-provider-infracost didn't really work well as changes in it showed-up in `terraform plan` and it seemed too heavy-weight overall.

[2021-07-25 19:44] krishnaindani commented on #875
Hey @alikhajeh1 , is this the bug in the breakdown command? Can I try to attempt this issue if not time crunch? I might have to go through the breakdown command code though to understand before starting to work.

[2021-07-25 20:43] dgcaron commented on #812
with the what-if capability of azure, the implementation would look a lot like the plan based implementation for terraform. do you guys want to implement this yourself or would you take contributions for this part?

https://docs.microsoft.com/en-us/azure/azure-resource-manager/templates/deploy-what-if?tabs=azure-powershell

[2021-07-26 11:38] alikhajeh1 commented on #875
I suspect it's a bug in the `SyncUsageData` function, no time crunch yet (if it does become time-sensitive then I'll comment here)

[2021-07-26 14:20] alikhajeh1 commented on #812
Hey @dgcaron we'd like to make 2 big refactors to enable us to add the second IaC in Infracost (be it Bicep/ARM or CDK/CloudFormation):
1. We've been prototyping how we can use a schema to represent resources and their usage file params. See https://github.com/infracost/infracost/issues/840 from @tim775 and the associated PR that @sinabakh has worked on. This work hasn't progressed much as we've b

[2021-07-26 15:05] krishnaindani commented on #875
sounds good, I will start looking into this. Does that work?

[2021-07-26 20:30] dgcaron opened #881 "new resource for azure: azurerm_synapse_workspace"
Ii would like to add the resources that are attached to synapse analytics:

terraform resource:  azurerm_synapse_workspace
https://azure.microsoft.com/en-us/pricing/calculator/

supporting resources:
- azurerm_synapse_private_link_hub
- azurerm_synapse_spark_pool
- azurerm_synapse_sql_pool
- azurerm_synapse_managed_private_endpoint

![image](https://user-images.githubusercontent.com/9764640/127054

[2021-07-26 20:57] dgcaron commented on #881
this is what i found in the cloudpricing database:

[code]
from what I know from synapse, these products/costs are usage based for the workspace:
        "Azure Synapse Analytics Data Flow - Compute Optimized",
        "Azure Synapse Analytics Data Flow - General Purpose",
        "Azure Synapse Analytics Data Flow - Memory Optimized",
        "Azure Synapse Analytics Storage",
        "Azure Syna

[2021-07-27 20:58] dgcaron commented on #881
so i have been searching in the pricing for synapse and found the following for the data flows:

[code]

the dataflow numbers need to be multiplied by the number of vcores and instances
![image](https://user-images.githubusercontent.com/9764640/127226225-e987e684-d46c-40d2-b788-10ee0a6c48c5.png)

145.47 * 8 * 1  = 1,163.76 but how do I multiply the price when it comes back as vcore per hour?

[cod

[2021-07-27 21:57] alikhajeh1 commented on #881
Thanks for the awesome investigation! I haven't dug into this service's pricing yet but here's how I think we can handle the cost calc:

[code]

Is the number of cores coming from the usage file or is there a way to detect that from Terraform? If it's the usage file, are all 3 types of Data flow always applicable? In general, we try to only show applicable prices to reduce the noise for users, so:

[2021-07-27 22:54] florianpialoux opened #883 "Terraform Cloud and GitHub Action - can't retrieve remote state"
I was trying to get a Github repository that contains my .tf files with your [GitHub Action](https://github.com/marketplace/actions/infracost)

It seems that Infracost is unable to grab the current state from Terraform Cloud although I've set `INFRACOST_TERRAFORM_CLOUD_TOKEN` and `INFRACOST_TERRAFORM_WORKSPACE`

**infracost.yml:**
[code]

**infracost-config-gcp.yml:**
[code]
It is able to generate

[2021-07-28 10:11] alikhajeh1 commented on #883
@florianpialoux thanks for creating this issue! Can you please:
1. remove `INFRACOST_TERRAFORM_WORKSPACE: gcp-stage` from `infracost.yml`
2. add the env `INFRACOST_LOG_LEVEL=debug` to `infracost.yml`
3. remove the `terraform_workspace: gcp-global` lines from the `infracost-config-gcp.yml`

Since you're using TFC, the workspaces are already defined in the TF blocks as follows so they're not needed

[2021-07-28 11:10] alikhajeh1 commented on #875
@krishnaindani sure, I assigned it to you, and maybe @m-yosefpor can review the PR later on since his GH issue descriptions is nicely detailed :)

[2021-07-28 11:20] alikhajeh1 opened #884 "Should using terraform workspace in config-file in addition to env variable error?"
Running `infracost breakdown --config-file infracost.yml --terraform-workspace=ali-test` correctly shows:
[code]

However, running `INFRACOST_TERRAFORM_WORKSPACE=ali-test infracost breakdown --config-file infracost.yml` does not show the error. Is the environment variable overriding the workspace for all projects in the config file? That doesn't make much sense as why would you want that? So it fe

[2021-07-28 15:39] dgcaron commented on #881
these dataflow components are activities inside https://docs.microsoft.com/en-us/azure/data-factory/control-flow-execute-data-flow-activity#type-properties so they can all be active at some point depending on your usage of synapse. what I can do is show a general message:

" Data flow - Monthly cost depends on usage: between $0.0228 and $0.0321 per hour

[2021-07-28 15:55] dgcaron commented on #881
i tried your suggestion but it makes the overview a bit weird:

[code]

the costs match the calculator but the quantity isn't matching

[code]
that 8 hour should be 730 hour

[2021-07-28 16:32] florianpialoux commented on #883
@alikhajeh1 thank you for pointing me in the right direction!

I followed your steps but the one that helped was having a `state.tf`. A long time ago when I set TF Cloud I removed the `state.tf` as I felt it was unnecessary to keep it.

[2021-07-28 17:05] alikhajeh1 commented on #883
Great - so can we close this issue? I created https://github.com/infracost/infracost/issues/884 as a semi-related issue that we'll address separately.

Out of interest, what was inside state.tf?

[2021-07-28 17:12] florianpialoux commented on #883
Yes! You may close that issue. Appreciate the help on that one.

My `state.tf` looks like this:

`gcp/global/state.tf`
[code]

`gcp/prod/state.tf`
[code]

`gcp/stage/state.tf`
[code]

[2021-07-28 17:16] alikhajeh1 commented on #883
Great. BTW, we're a HashiCorp partner and are working on a new integration directly into Terraform Cloud - plz lmk if you're interested in that beta feature.

[2021-07-28 17:16] #883 closed

[2021-07-29 10:24] alikhajeh1 commented on #881
I think we can use the units "vCPU" instead of "hours", we do something similar for `azurerm_function_app`.

Unfortunately we don't support ranges yet (it'll require some schema changes to our JSON too), and given that all 3 could be active at any point, showing 3 cost components makes sense.

[2021-07-29 17:58] Theragus opened #887 "Add Support for Azure VPN Gateway"
Terraform Resource:

`azurerm_virtual_network_gateway`

Pricing Information:

https://azure.microsoft.com/en-us/pricing/details/vpn-gateway/

VPN Gateway uses different SKU Sizes for per hour rates

[2021-07-29 21:03] alikhajeh1 opened #888 "Add support for Azure Virtual Desktop"
From [this PR comment](https://github.com/infracost/infracost/pull/886#discussion_r679387103):
 alikhajeh1: Looking at https://azure.microsoft.com/en-us/pricing/details/virtual-desktop/, I assume the user has to provision the VMs so we'll show costs for those, and there's no additional fee for "configuring" the VMs with desktop apps? Sorry if that's a dump question, I haven't used these resources

[2021-07-29 21:05] alikhajeh1 opened #889 "Add support for Azure Sentinel"
Microsoft Sentinel (former name Azure Sentinel) is a security analytics service that uses analytics log data ingested via Azure Monitor Log Analytics platform (TF resource `azurerm_log_analytics_workspace`). It's enabled on a workspace and it supports different data connectors. The billing is based on the amount of log
data.

There are several Terraform data connector resources that depend on `azu

[2021-07-29 21:41] Theragus commented on #888
A small note on this one.
For AVD, the costs are basically the same as any VM, Microsoft does not charge any additional costs, apart from the O365/M365 licenses, and the usual stuff like Managed Disks etc...
For AVD there is only the host pool that uses x times the same VM Size.

[2021-08-02 03:31] VasseurLaurent commented on #819
+1 I would also be interested by conversion from USD to Euro at the time of the CLI running. It would be great to be able to specify the currency within infracost command or with an environment variable.

[2021-08-03 08:51] praveenghuge commented on #887
@alikhajeh1 I can work on this

[2021-08-03 16:13] hassankhosseini opened #895 "Add support for AWS MWAA"
Adding support for AWS Managed Workflows for Apache Airflow:
https://aws.amazon.com/managed-workflows-for-apache-airflow/pricing/

Thumbs up for votes! 👍🏽

[2021-08-03 22:16] alikhajeh1 commented on #887
@praveenghuge thank you! feel free to add a comment on what cost components/units you think the resource needs if you like feedback on that before the code (or we can do that if you prefer).

Also, plz note that the contributing docs have been updated based on the new Cloud Pricing API release, any feedback/issues on that is also very welcome :)

[2021-08-04 14:49] alikhajeh1 commented on #881
@dgcaron heads-up that the contributing docs have been updated as we released the new Cloud Pricing API yesterday: https://github.com/infracost/infracost/pull/882/files

Please let us know how you get on as I'm sure we have lots to improve...

[2021-08-07 00:55] Theragus opened #898 "Add support for Azure Active Directory Domain Services"
Terraform Resource:

[code]

Pricing Information:

https://azure.microsoft.com/en-us/pricing/details/active-directory-ds/

Different prizes for directory size

[2021-08-11 20:07] kevinkengne commented on #898
Hi :wave:, may I start working on this issue?

[2021-08-11 20:11] alikhajeh1 commented on #898
Sure! @tim775 if you get the chance, it might be nice to add details of the cost components to this.

[2021-08-12 02:13] tim775 commented on #898
Looks like this should be fairly straightforward:
For `azurerm_active_directory_domain_service` we'll need a line item for `Active directory domain service (<type>)` with unit `hours` where <type> is one of 'standard', 'enterprise', or 'premium' and is determined by the `sku` argument.

`azurerm_active_directory_domain_service_replica_set` should have an identical line item where type is determine

[2021-08-12 14:21] aliscott opened #905 "Support setting env overrides in the config file"
## Problem

In the Infracost config file you can specify paths to different projects, e.g:

[code]

These projects may use different cloud credentials, so it would be good to be able to pass in different `AWS_ACCESS_KEY_ID` and `AWS_SECRET_ACCESS_KEY` env variables for each project

## Proposal

* Add an `env` key to each project in the config file which can be used to override the env for that pr

[2021-08-12 19:22] kevinkengne commented on #898
Thanks for the description. In the sentence for the first resource "where is one of 'standard', 'enterprise', or 'premium'", after where did the word you mean to write is type? That's my intuition but I'm not 100% sure

[2021-08-12 22:58] tim775 commented on #898
Your intuition was correct, I've corrected it.

[2021-08-13 19:17] tim775 opened #906 "Add Support for Azure VPN Gateway S2S Connections"
This is a follow up for #887.

azurerm_virtual_network_gateway_connection

Pricing Information:

https://azure.microsoft.com/en-us/pricing/details/vpn-gateway/

VPN Gateway has an hourly charge for S2S Tunnels over some limit.  In TF these are represented as azurerm_virtual_network_gateway_connection with type "IPsec".  We can add a usage charge `VPN gateway S2S tunnel (<type>)` with unit `hours`

[2021-08-15 09:26] praveenghuge commented on #906
Hi Tim, will work on this 🙂

[2021-08-15 09:29] praveenghuge commented on #840
Hi @alikhajeh1 @sinabakh @aliscott to add to multi cloud cost calculator, if we could compare the multi cloud resource cost at one place to help user to purchase that particular resource will be helpful? eg cheapest VM in multi cloud(aws,azure, gcp)

[2021-08-15 12:17] tim775 commented on #906
Thanks!

[2021-08-15 17:39] kevinkengne commented on #898
Thanks, I've raised a PR for the `azurerm_active_directory_domain_service` to get some early feedback. I have a question concerning the `azurerm_active_directory_domain_service_replica_set` resource: basically since it will reference a `azurerm_active_directory_domain_service`, how do I make sure that a file containing both resources only takes into consideration one of them when calculating the p

[2021-08-16 14:55] tim775 commented on #898
My reading of the TF docs was a little different:  I was thinking that since `azurerm_active_directory_domain_service` requires an `initial_replicate_set_id` that would count as the first set and be charged.  Each `azurerm_active_directory_domain_service_replica_set` would be an additional set and also be charged.

Like I said though, that's just from reading TF and I don't actual experience with

[2021-08-16 15:08] Theragus commented on #898
Hi,

I already had some interaction with HashiCorp and MS on this resource type.
The pricing for AAD Domain Services is the rate for the SKU (Standard, Enterprise, or Premium) multiplied by the number of replica sets.
So @tim775 assumption on this one is correct.

SKU x Number of replica sets = Charged Price (see also here https://docs.microsoft.com/en-us/azure/active-directory-domain-services/con

[2021-08-16 20:35] Theragus opened #909 "Add Support for Azure Frontdoor"
Terraform Resource:

`azurerm_frontdoor`

Pricing Information:

https://azure.microsoft.com/en-us/pricing/details/frontdoor/

[2021-08-16 20:39] Theragus opened #910 "Add Support for Azure VirtualWAN"
Terraform Resources:

`azurerm_virtual_wan`
`azurerm_virtual_hub`

Pricing Information:

https://azure.microsoft.com/en-us/pricing/details/virtual-wan/

## azurerm_virtual_hub

Terraform resource: https://registry.terraform.io/providers/hashicorp/azurerm/latest/docs/resources/virtual_hub

Cost components:

* Deployment - unit `hours`
* Data processing - unit `GB`

Notes:

* If `type` is `Basic` th

[2021-08-16 21:06] dgcaron commented on #881
sorry about the slow progress on this one but the pricing structure appears to have changed during my holiday. checkout this twitter thread about my findings:

https://twitter.com/dgcaron/status/1427345352844251141

[2021-08-16 21:51] hassankhosseini opened #911 "Add Oracle Cloud (OCI) to Infracost"
Pricing details: https://www.oracle.com/cloud/price-list.html

Hashicorp also has official support for Oracle cloud: https://registry.terraform.io/providers/hashicorp/oci/latest/docs

[2021-08-17 14:58] aliscott commented on #909
Thanks @Theragus!

Adding some details for the cost components, cc @alikhajeh1 and @tim775 for the open question.

### Open questions:

1. Frontend hosts are charged for when there are >100. We can count the number by counting the `frontend_endpoint` attributes of the `azurerm_frontdoor` resource, but I can't work out if the 100 limit is per-account or per-frontdoor instance. Options are:
  a. Ign

[2021-08-17 18:27] aliscott commented on #910
I see as well as deployment and data processing prices, there's also prices for connections and scale units. I'm not familiar with these Azure resources, so here's a suggestion for how we could break this down. @Theragus please add any suggestions you have for how to match these to the Terraform resources.

## azurerm_virtual_hub

Terraform resource: https://registry.terraform.io/providers/hashico

[2021-08-18 14:19] aliscott commented on #807
When supporting the `terragrunt run-all` commands we need to work out how to handle usage file parameters. Since this will show multiple projects, and each project can have the same resource names, then there's no way of scoping the usage file resources to a specific terragrunt module.

As an initial version we could apply the matching usage file values to all resources that match, but I would lik

[2021-08-18 17:13] sinabakh commented on #840
Hi @praveenghuge, that's an interesting idea. We are currently trying to find an optimal approach to supporting multiple IACs with minimum effort for contributors. By supporting multiple IACs your idea could be a valuable feature for sure! 👍🏼

[2021-08-18 17:20] aliscott commented on #807
Currently for Terragrunt projects with a hierarchy we require each Terragrunt module to be specified in the Infracost config file. Using this method you can pass in a different usage file for each module.

[code]

When we support Terragrunt as first-class, we will allow the root Terragrunt directory to be passed in, like:

[code]

The issue with this is that we now cannot specify a different usage

[2021-08-18 17:22] sinabakh commented on #840
The POC for the Tag based approach is ready in this PR: #863
The advantages and disadvantages that we discussed so far:
### Advantages
* High level of automation and minimum loc

### Disadvantages
* Impossible for major changes in logic without breaking the codes. Since it uses the tags, it's not as flexible as it was before.

[2021-08-18 19:55] kevinkengne commented on #876
👋, may I start working on this issue? this should be fairly straightforward.

[2021-08-18 19:59] alikhajeh1 commented on #876
Thanks @kevinkengne! Sure, let us know if you run into any issues

[2021-08-19 11:03] azamora-zsc opened #913 "Diff command is showing differences even when "terraform show" does not."
I find the tool really useful, but this situation is really weird and brings a lot of doubts about it. The matter is that I'm saving some terraform plans from several terraform modules and analyzing them with infracost.

When I execute terraform show I get the following:
[code]

Then I save the plan as json by executing this:
`$ terraform show --json plan.bin > plan.json`

and finally this to get

[2021-08-19 11:10] aliscott commented on #913
Thanks @azamora-zsc, yeah this looks like a bug with parsing some resources in modules.

Are you able to provide the following?
1. An example of the Terraform HCL code so we can reproduce
2. Terraform version
3. Infracost version

[2021-08-19 11:33] azamora-zsc commented on #913
Hi @aliscott, thank you for your quick answer. The versions used are:
Infracost v0.9.5
Terraform v0.12.31

As you can see the Terraform version is pretty old, and that could be a problem. It should be updated in the near future.
About the HLC code, I cannot provide the original code... Let's see if I can reproduce the bug with some other code and post it here.

[2021-08-19 11:44] aliscott commented on #913
Thanks @azamora-zsc!

[2021-08-19 20:18] kevinkengne commented on #876
Thanks. In my opinion, it would be worth having unit tests for the CLI command to give people modifying arguments/options the confidence that they haven't introduced any regressions.

[2021-08-19 20:32] #898 closed

[2021-08-19 20:36] tim775 commented on #876
I agree that's a good idea.  Would something like the golden file tests we have for resources work or do you have something different in mind?

[2021-08-20 11:25] kevinkengne commented on #876
Something like the existing golden file tests for resources would be perfect.

[2021-08-20 19:55] #876 closed