[2022-07-06 19:37] kayman-mk commented on #1827
Our bastion module is published in the public registry at Hashicorp. No private registry.

Will do the test tomorrow.

[2022-07-07 00:13] theseanodell opened #1828 "Unsolicited Email After Starring Repository"
Hello,

I have been following Infracost for some time and a big fan of the work from this project and community. I don't know why or how but I failed to star the repository in the past. After changing that today, I received an unsolicated email from an individual representing a company called [Pluralith](https://www.pluralith.com). They also have a [GitHub organization](https://github.com/Pluralit

[2022-07-07 06:39] kayman-mk commented on #1827
I built the binary locally. Version number shown `Infracost v0.10.6+13-ga5415c2a`

- [x] Checked with `terraform init`
- [x] Checked without `terraform init`

Great job. Can't wait for the next release 😏

[2022-07-07 06:40] kayman-mk commented on #1827
Closing. Will be solved with the next release.

[2022-07-07 06:40] #1827 closed

[2022-07-07 07:50] HoLengZai commented on #1725
Will it work on a self-hosted model too as discounted contracts could be sensitive?

[2022-07-07 08:46] alikhajeh1 commented on #1827
Awesome - thanks for helping us test this!

[2022-07-07 09:04] alikhajeh1 commented on #1828
Hi @theseanodell! Thanks for reporting this, it's news to us. Pluralith is not associated with Infracost Inc. in any way, but I know their founder so I'll reach out and let him know.
p.s. awesome stuff you're building at Spacelift :)

[2022-07-07 09:36] DanThePutzer commented on #1828
Hi @theseanodell Dan from Pluralith here. My co-founder Philipp reached out to you, he got your email from your Github profile. We didn't mean any harm at all, we're still very early so we're just looking for people who we think might be interested in giving feedback on our tool. Since you made your email public on your profile we thought it would be ok to reach out. If that wasn't the case we're

[2022-07-07 09:43] aliscott opened #1829 "Comment showing "Module path" column even though it's empty"
Infracost comment is showing the "Module path" column even though it's empty.

<img width="942" alt="Screenshot 2022-07-07 at 10 41 33" src="https://user-images.githubusercontent.com/158824/177743870-b847be6d-fa9f-40bc-af87-56958e4db6fd.png">

**Expected result:**
If "Module path" is column is empty it should be hidden

[2022-07-07 11:26] aliscott commented on #1824
Is this a bug with `DefaultProviderRegion` ([link](https://github.com/infracost/infracost/blob/master/internal/providers/terraform/azure/azure.go#L8)) not being used properly?

[2022-07-07 12:09] hugorut commented on #1824
Yeah it must be, I think it's most likely because of incorrect empty string check somewhere

[2022-07-07 22:30] alikhajeh1 opened #1833 "August community call"
### Topics

We're going to cover the following topics (5mins each):
- Quick intros
- Support for [private Terraform registry modules](https://www.infracost.io/docs/features/terraform_modules/)
- Demo of VSCode extension [project cost tree](https://github.com/infracost/vscode-infracost/#navigate-your-projects-by-costs)
- Demo of [Infracost Cloud's](https://www.infracost.io/docs/infracost_cloud/get_

[2022-07-07 22:31] alikhajeh1 commented on #1735
Thanks everyone for dialing-in, the recording is here: https://youtu.be/9LZBJ1Meh_k

[See you in August](https://github.com/infracost/infracost/issues/1833)!

[2022-07-07 22:31] #1735 closed

[2022-07-07 23:42] sawyerw-mastery commented on #1616
@deepto98 are you still working on this? I picked it up without realizing you were working on it. I *think* I'm about done with it.

@craigbryson for the `azurerm_iothub_dps`, I see that the `sku` allows a `capacity` to be set however, I don't see in the Azure portal where you can scale DPS. Do you know if it's possible to scale DPS?

[2022-07-08 07:47] aliscott opened #1834 "`runtime error: slice bounds out of range [:-1]` panic in terraform parser"
Stack trace:
[code]

Infracost version: v0.10.6

[2022-07-08 07:49] aliscott opened #1835 "Panic in Azure CosmoDB resource"
Stack trace:
[code]

[2022-07-08 09:27] craigbryson commented on #1616
@sawyerw-mastery - I don't know if that's possible sorry, I cant see any docs for capacity and we currently have 1

[2022-07-08 11:34] luis-guimaraes-exoawk opened #1837 "Allow users to self-host the Infracost API"
Hi

We would love to use Infracost, but we would feel more at ease hosting our own Infracost API, instead of only only hosting the Cloud Pricing API and still being dependent on a remote API.

Could you please consider this?

Thanks

[2022-07-08 12:00] #1824 closed

[2022-07-08 12:00] hugorut commented on #1824
This has been fixed and is now in master awaiting the next release.

[2022-07-08 12:02] #1773 closed

[2022-07-08 12:02] hassankhosseini commented on #1837
Hey, thanks for the issue. We had this running for a while before, but the pricing APIs from the cloud providers are hard to work with (they changed without notifications, pricing were missed / wrongly updated, and bulky downloads), so they kept breaking user's CI/CD systems as the pricing service failed. This is how we have solved these issues.

You can stop the weekly download job from running s

[2022-07-08 12:02] #1837 closed

[2022-07-08 12:02] hugorut commented on #1773
@pacorreia this has now been fixed and is merged into master awaiting the next release. I'll ping here to let you know when it's live.

[2022-07-08 12:22] pacorreia commented on #1773
@hugorut will be glad to test asap and give a shout out 😊

[2022-07-08 13:05] #1835 closed

[2022-07-08 15:09] hugorut commented on #1667
Private module support is now available in the [0.10.7](https://github.com/infracost/infracost/releases/tag/v0.10.7) release.

[2022-07-08 15:11] hugorut commented on #1701
@SunnyOswal / @sunnyoswalcro just and FYI that the `--project-name` flag is now live and can be used in the latest [0.10.7](https://github.com/infracost/infracost/releases/tag/v0.10.7) release

[2022-07-08 15:12] hugorut commented on #1786
Hey @jgrumboe thanks for your work on this issue. These changes are live in the [v0.10.7](https://github.com/infracost/infracost/releases/tag/v0.10.7) release.

[2022-07-08 15:13] hugorut commented on #1792
Hey @philharle thanks for your contribution to this issue. These changes are now live in the [v0.10.7](https://github.com/infracost/infracost/releases/tag/v0.10.7) release.

[2022-07-08 15:14] hugorut commented on #1824
Changes addressing this issue have been published in the [v0.10.7](https://github.com/infracost/infracost/releases/tag/v0.10.7) release.

[2022-07-08 15:20] pacorreia commented on #1773
Just saw it, already testing it, great work not only with this, but with other features!

[2022-07-08 17:01] alikhajeh1 commented on #1616
Thanks @sawyerw-mastery!

[2022-07-09 00:53] alikhajeh1 opened #1841 "Only run Infracost on changed dirs in CI/CD"
## Problem
Users with large mono repos or large number of modules find it slow to run Infracost in CI/CD since integrations like the GitHub Actions run a baseline on every dir/module, even if no TF code changed in that dir/module. One user, who switched from our Atlantis integration to GitHub Actions using HCL parsing, mentioned:

## Proposed solution

See [this example](https://github.com/infraco

[2022-07-10 08:22] mshiriv opened #1842 "Add support for MongoDB Cloud"
We manage our infra with a mix of clouds and data product services. Would it be possible to add support for
Atlas Database as the main NoSQL DBaaS player to enable us clusters and data lakes cost estimation before provisioning.

Provider: https://registry.terraform.io/providers/mongodb/mongodbatlas

Note for community
Please 👍 if you'd like to upvote this or receive updates.

[2022-07-10 23:16] alikhajeh1 commented on #1842
Thanks for creating this @mshiriv! This is the sort of thing we'd love to support longer term but our team is currently focused on supporting AWS, Azure and GCP so we prefer not to work on adding new vendors at this time. We would like to move towards a provider model where community-supported cloud vendors could also be added (similar to Terraform providers). We'll keep this open so users can sub

[2022-07-11 09:04] aliscott opened #1843 "`assignment to entry in nil map` panic in HCL parser"
[code]

Infracost version: v0.10.6

[2022-07-11 09:17] hugorut opened #1844 "Use Terragrunt `mock_outputs` as a fallback when dependency outputs fail"
Terraform often generates resource attributes from cloud state. Take the following example:

[code]

In the above example `google_compute_region_ssl_certificate.default.name` is populated by Terraform after an `apply`. This is problematic for Infracost when parsing the raw files directly. As Infracost does not run Terraform to fetch the cloud state.

Expressions that rely on these attributes will

[2022-07-11 09:18] aliscott opened #1845 "`index out of range [0]` panic in Azure VM Scale Set"
[code]

Infracost version: v0.10.7

[2022-07-11 09:21] aliscott opened #1846 "`not a string` panic in HCL parser"
Chatting with @hugorut, we have seen several similar panics. We might want to fix them more generally by checking the value type any time we call the `cty` `As*` functions or using the `ToCtyValue` function.

[code]

Infracost version: v0.10.6

[2022-07-11 09:37] gerbil opened #1847 "Alicloud integration?"
subj

[2022-07-11 11:05] alikhajeh1 commented on #1847
Thanks for creating this @mshiriv! This is the sort of thing we'd love to support longer term but our team is currently focused on supporting AWS, Azure and GCP so we prefer not to work on adding new vendors at this time. We would like to move towards a provider model where community-supported cloud vendors could also be added (similar to Terraform providers). We'll keep this open so users can sub

[2022-07-11 11:59] rmgpinto commented on #1841
We've extended the infracost on CircleCI to include skipping non-terraform directories:

[code]

[2022-07-11 13:19] rmgpinto opened #1848 "Issue with module outputs"
# Config
I have a config which is similar to the one below:

`main.tf`
[code]

`_ecs/main.tf`
[code]

`_config/main.tf`
[code]

`config/config.base.json`
[code]

# Error
Running `terraform plan` works fine:

[code]

Task CPU and Memory are ok in the above terraform plan, which should be the values used for infracost computation.
However `infracost breakdown --path=.` outputs zero costs:

[code]

[2022-07-11 13:20] rmgpinto commented on #1848
@tim775 reproducible error from our slack thread.
Thanks for taking a look at this.

[2022-07-11 15:14] rmgpinto commented on #1848
We can't use absolute paths due to CI/local machines.
I'll wait for your resolotion 😄

[2022-07-11 15:43] jrmash commented on #1841
I ran into a similar scenario with a Terragrunt project and used the [Changed Files Action](https://github.com/marketplace/actions/changed-files) to retrieve a list of directories changed in the pull request -- Something like this:

[code]

The project I was working on used something derived from the above combined with the [GitHub Workflow Matrix](https://docs.github.com/en/actions/using-jobs/usi

[2022-07-12 14:57] alikhajeh1 commented on #1574
@vdmgolub correct, the error should only be if: `--usage-file` is used AND the file does not exist AND `--sync-usage-file` is not being used.

[2022-07-12 22:32] mirusky opened #1853 "[Question] - Infracost as SDK"
Is possible to use infracost as SDK ? If so where do I start?

[2022-07-13 08:51] #1848 closed

[2022-07-13 08:54] tim775 commented on #1848
@rmgpinto Thanks for the awesome test case, that made all the difference in being able to track this down.  The fix will go live in the next release, which should be in the middle of next week.

[2022-07-13 09:46] #1616 closed

[2022-07-13 09:54] aliscott opened #1856 "data block `aws_availability_zones` providing `names` attribute as a string"
**Terraform code:**
[code]

**Actual result:**

This shows me the price assuming there's 22 subnets, when there's actually only 3. This looks like it's because the HCL parsing is mocking `data.aws_availability_zones.available.names` to `"availability_zone-mock"` which is a string with length 22.

[code]

 **Expected result:**

I think the expected result would be to match the availability zone cou

[2022-07-13 09:55] alikhajeh1 commented on #1853
@mirusky this is a duplicate of https://github.com/infracost/infracost/issues/1685 - it would be good if you could add a comment there to describe your use-case a little more, what are you trying to do? what programming language are you planning to use?

[2022-07-13 10:21] alikhajeh1 opened #1857 "Azure Repos that have a space in name don't work with `infracost comment`"
### Problem

In the [Infracost Azure DevOps](https://github.com/infracost/infracost-azure-devops) integration, when `$(Build.Repository.Uri)` has a space in the repo name, e.g. `CloudSolutions Playground`, Azure DevOps automatically encodes the space as `%20` and outputs something like `https://blah/@dev.azure.com/org/CloudSolutions%20Playground/_git/CloudSolutions%20Playground`. That then causes

[2022-07-13 13:13] ckdake commented on #1856
A default of one would be nice, but as an infracost user I would be happy to either add an annotation to the file. e.g.:

[code]

Or include something in a infracost.yml config file in / that helps this out.

[2022-07-13 14:58] mirusky commented on #1685
@hugorut let's discuss a little futher.

# SDK

I belive that a SDK would be amazing since we could inject the infracost functionalities inside the souce code of any existing product.

# Features

- Custom values list OR extensibility via Hooks / Middlewares
- Estimate (breakdown)
- Estimate comparison between two configurations

# Explain / Scenarios

- I have some customers that are part of the

[2022-07-14 08:08] silasmahler opened #1858 "Add terraspace support, fix variable inferred instance_type cost estimate"
I noticed that variables inferred by terraspace are not parsed correctly.
E.g.  Having a cost estimate of an aws_instance like:
![image](https://user-images.githubusercontent.com/14834495/178933040-a6a7b6a3-5ecd-4e9d-a0d2-cc86dd926905.png)
because the instance type is coded like:
  `instance_type               = var.server_instance_type`.
where var.server_instance_type is a variable of terraspace.

[2022-07-14 08:36] hugorut commented on #1858
Hi @silasmahler, this doesn't sound like a Terraspace issue but more a naming convention issue. I can see you've included screenshots from the VSCode extension, which uses a naive way to apply `tfvar` files at the moment. They need to use a specific naming convention: https://github.com/infracost/vscode-infracost#how-can-i-supply-input-variables-to-infracost-vscode-extension for more information.

[2022-07-14 13:57] aliscott commented on #1789
Thanks for adding the test case @jgrumboe! After investigating this we concluded the panic log is a non-issue and the parsing still works after this for this case. We make multiple passes over the HCL to find the correct value of the `id` variable. For this case, in the first pass the underlying hcl library throws a panic, but the correct value gets set in the second pass once the `transformed_tag

[2022-07-14 13:57] #1789 closed

[2022-07-14 16:34] netguino opened #1860 "Support for multiple paths."
It would be great if the cli supported the inclusion of multiple `--path` flags.

[code]

This currently results in only `bar` being evaluated. This would be a great solution that could solve this https://github.com/infracost/infracost/issues/1841

[2022-07-15 08:42] #1834 closed

[2022-07-15 10:24] #1671 closed

[2022-07-15 10:25] vdmgolub commented on #1671
This is merged to master and will go live with the next release. Big thanks to @sawyerw-mastery for the contribution!

[2022-07-15 11:35] #1845 closed

[2022-07-17 14:33] #1843 closed

[2022-07-18 09:15] alikhajeh1 opened #1869 "Consistent configuration options across flags, env vars and config-file"
### Problem
It can be confusing to tell which CLI option has to be configured using which method (e.g. env var vs flags).

Depending on the setting being changed, the Infracost CLI can be configured by:
- CLI flags (e.g. `infracost breakdown --project-name=blah`)
- [env vars](https://www.infracost.io/docs/features/environment_variables/)
- `infracost configure`
- [config-file](https://www.infracos

[2022-07-18 14:02] silasmahler commented on #1858
Yes, haven't tested it, but should be the case cause it uses normal var interpolation mechanisms of terraform. Other than that the dot-dir is interferring with terraspace caching, but I'd say this would be configurable. Maybe i'll test it out sometime.

[2022-07-18 14:02] #1858 closed

[2022-07-18 16:20] #1846 closed

[2022-07-18 20:10] alikhajeh1 commented on #1685
@mirusky feel free to join the [August community call](https://github.com/infracost/infracost/issues/1833), it would be useful to better understand the use-cases you have in mind

[2022-07-19 06:22] aliscott opened #1871 "`interface conversion` panic in HCL provider"
Version: v0.10.7

Stacktrace:
[code]

[2022-07-19 08:23] eddavies6 opened #1872 "AWS-CDK Integration"

[2022-07-19 09:04] aliscott opened #1873 "`ForDisplay called on invalid Hostname` panic"
Version: v0.10.7.

Error:
`ForDisplay called on invalid Hostname: idna: disallowed rune U+0040`

Stack trace:
No stack trace available, but looks like this is happening here: https://github.com/infracost/infracost/blob/9cc06e8e38334e0bd4ecd635b3c600b71f8326d0/internal/hcl/modules/credentials_source.go#L76

A potential fix might be to check `svchost.IsValid` when we parse out the module location he

[2022-07-19 09:09] aliscott opened #1874 "`index out of range [1] with length 1` panic in for AWS CodeBuildProject"
Version: v0.10.7

Stacktrace:
[code]

[2022-07-19 09:30] aliscott opened #1875 "`decimal division by 0` panic"
Version: v0.10.7

Stack trace:
[code]

`c. UnitMultiplier` should never by zero on [this line](https://github.com/infracost/infracost/blob/f49bbde19fa417f774ed1847924e1183171d95ef/internal/schema/cost_component.go#L75) because we set it for every cost component. One fix here would be to check it and default it to 1 if it is zero, but this probably won't solve the underlying issue.

We might want t

[2022-07-19 09:34] aliscott opened #1876 "`value is unknown` panic in HCL parser"
Version: v0.10.7

Stacktrace:
[code]

[2022-07-19 12:19] alikhajeh1 commented on #1725
Hi everyone, option 1, that we discussed is now live on [Infracost Cloud](https://www.infracost.io/docs/infracost_cloud/get_started/) 🎉 You can define the percentage discounts that should be applied for AWS, Azure and Google, see [the docs](https://www.infracost.io/docs/infracost_cloud/custom_price_books/) for more information - feel free to email me at ali.hosseini@infracost.io if you need more h

[2022-07-19 12:19] #1725 closed

[2022-07-20 07:18] lvkins opened #1882 "Infracost comment don't include per-project path breakdown"
First of all, kudos for a great tool!

I'm having an issue presenting per-project path price breakdown. Currently, the pricing table looks as follows:

---

💰 Infracost estimate: **monthly cost will not change**
<table>
  <thead>
    <td>Project</td>
    <td>Previous</td>
    <td>New</td>
    <td>Diff</td>
  </thead>
  <tbody>
    <tr>
      <td>All projects</td>
      <td align="right">$45</td>

[2022-07-20 08:26] #1783 closed

[2022-07-20 08:36] yuliyantsvetkov commented on #1760
Same here. We are using the same module and here is the infracost breakdown:
[code]

And here is our Terraform code:

[code]

Having in mind our Terraform code complexity this is the only component that is not detected.

Really great product. Thank you.

If there is a need of additional testing, more code examples and etc. just ping me and I will provide it immediately.

Also, if I have time, I wi

[2022-07-20 08:44] hugorut commented on #1760
Thanks, @yuliyantsvetkov, for the additional info. It looks like Infracost is struggling with the `eks` module. I'll discuss this with the team for prioritising tomorrow, and we should hopefully get to it soon. Thanks.

[2022-07-20 09:14] alikhajeh1 commented on #1882
@lvkins I'll close this issue but can you please look at the two proposed solutions in https://github.com/infracost/infracost/issues/1538 and add a comment there with your thoughts?

[2022-07-20 09:14] #1882 closed

[2022-07-20 10:19] alikhajeh1 commented on #1556
@hugorut plz close this after v0.10.8 is live as it looks like it's being released as part of that.

[2022-07-20 10:25] alikhajeh1 commented on #1662
I'm going to close this as we can't reproduce it but feel free to test again with the [latest release](https://www.infracost.io/docs/#1-install-infracost) (v0.10.8 is being released today) and re-open if it's still an issue.

[2022-07-20 10:25] #1662 closed

[2022-07-20 10:30] alikhajeh1 commented on #1732
Going to close this as there doesn't seem to be much demand from other users about it - feel free to re-open if you disagree

[2022-07-20 10:30] #1732 closed

[2022-07-20 10:34] alikhajeh1 commented on #1761
@yellowhat can you please check the proposed solution in https://github.com/infracost/infracost/issues/1796 and add a comment there if that is helpful? I'm going to close this issue as we're tracking a similar problem for AWS/Azure in that issue.

[2022-07-20 10:34] #1761 closed

[2022-07-20 10:55] lvkins commented on #1538
Agreed, current comment is not very informative in terms of costs breakdown per project if no changes were made. Given that we process so many details but output very little is unfortunate and should certainly be more configurable. Option 2 sounds reasonable, though we might also make use of the toggle block to display more detailed estimates breakdown. What you think?

[2022-07-20 14:14] hugorut commented on #1698
Hey @m00lecule, any chance you could try the latest release [v0.10.8](https://github.com/infracost/infracost/releases/tag/v0.10.8) and see if this resolves your issue. We've made lots of improvements to the HCL parsing layer, and I'm hoping we could get some more info from you running this. If it fails, could you try running Infracost with the `--debug-report` flag and uploading the debug file her

[2022-07-20 14:15] hugorut commented on #1671
This is now live in the [v0.10.8](https://github.com/infracost/infracost/releases/tag/v0.10.8) release. Thanks again @sawyerw-mastery  ❤️

[2022-07-20 15:39] MHarutunian opened #1884 "Missing cost estimate for `azurerm_postgresql_flexible_server`"
Hi,
the breakdown for `azurerm_postgresql_flexible_server` seems to have broken, it currently reports `$0.00` for all tiers (and possibly all SKU names in general). I tested various infracost versions (all `linux-amd64`), and it was still working in `v0.9.24`, but not in any of the `v0.10.x` versions I tested (including v0.10.0, v0.10.4, v0.10.7 and v0.10.8 which was just released).

Output in v0.

[2022-07-20 15:46] yellowhat commented on #1796
That would be great.

Thanks

[2022-07-20 15:55] hugorut commented on #1884
Thanks @MHarutunian, for bringing this to our attention and providing a detailed way to replicate it. We'll look at this as soon as we can.

[2022-07-20 16:26] vdmgolub commented on #1884
Thank you for the TF example! I had a quick look and it seems the issue is with the `location` attribute being specified as a string instead of a reference, it is not detected. The fix would be changing this line https://github.com/infracost/infracost/blob/master/internal/providers/terraform/azure/postgresql_flexible_server.go#L20 to
[code]

[2022-07-20 16:35] armenr commented on #1694
@hugorut - I was actually going to pop in here and apologize for my absence - I got really, really sick with the virus we all know keeps going around.

I pulled down the LATEST release 2 days ago, and it worked LIKE A CHARM! It was INCREDIBLY fast, and I didn't hit any bugs or bumps.

The progressive enhancements and changes you've applied have made a significant difference in the speed and usabil

[2022-07-20 16:38] #1694 closed

[2022-07-20 16:38] hugorut commented on #1694
Thanks @armenr, glad it's working for you now 🚀

[2022-07-20 16:39] armenr commented on #1694
@hugorut - Just as a note, I wanted to say that our business is deriving an immense value from this tool, but on the engineering side, but also on the budgeting/cost-management/cost-planning side.

You guys have built something that's really, really valuable. And we are very grateful. I'm glad you're productizing this. It's a hit.

[2022-07-20 16:41] hugorut commented on #1694
nice to hear @armenr, I hope you have a play around with [Infracost Cloud](https://www.infracost.io/docs/infracost_cloud/get_started/) and give us your feedback. I know @alikhajeh1 would be thrilled to hear any suggestions or gripes you have with it!

[2022-07-20 16:43] hugorut commented on #1884
good spot @vdmgolub, this should be an easy fix, and hopefully out in the next release. Thanks, @MHarutunian 👍

[2022-07-20 17:14] armenr commented on #1694
@hugorut & @alikhajeh1 - We'd gladly beta test stuff for you guys as customers, if you're interested. We're called 5thKind, and our customers are some of the biggest names in Film/TV/Media. :)

Feel free to reach out to me - armen.rostamian@5thkind.com

[2022-07-21 07:34] nooperpudd opened #1887 "Can not combine the multiple infracost json outputs into one single file"
[code]
[code]
infracost output -path "infracost-*.json" --format json --out-file infracost.json

error message :
[code]

[2022-07-21 08:20] hugorut commented on #1887
hey @nooperpudd, it seems like you've got a typo in your command. The `path` input requires a double dash `--`. So:

[code]

should work.

I've tested this locally, and this performs as expected. Could you give that a try and see if this resolves your issue. Thanks

[2022-07-21 08:29] nooperpudd commented on #1887
@hugorut oops, yes, it resolved. sorry I just missed the double dash .

[2022-07-21 08:29] #1887 closed

[2022-07-21 08:49] aliscott commented on #1869
While I like the idea of making these consistent, I'm not convinced it makes sense in all cases. Atlantis has one main top-level command so for their case it's more intuitive.

One thought is to think of the the different configuration options being at different levels and adding the config for each level that makes sense, i.e:

* `infracost configure` & env vars - machine-level config
* Infracost

[2022-07-21 09:26] MHarutunian commented on #1884
Awesome, thank you very much for the quick replies and action :slightly_smiling_face:

[2022-07-21 21:05] EppO opened #1889 "issue when using "count" and private terraform registry"
Using a `count` when provisioning a resource seems to break the code path if you use a Private Terraform registry:

[code]

When removing the count, the VM is taken into account:
[code]

No errors show up in debug level when putting back `count` but I found these 2 interesting warnings:
[code]

[2022-07-21 23:01] alikhajeh1 commented on #1860
@netguino can you possibly share a bit more about how this would help? Could the [solution](https://github.com/infracost/infracost/issues/1841#issuecomment-1180571569) mentioned here be used? Alternatively, a [config-file](https://www.infracost.io/docs/features/config_file/) could be auto-generated with the project dirs that have changed, and run `infracost breakdown --config-file /tmp/changed-inf

[2022-07-22 06:29] hugorut commented on #1889
Hey @EppO, I believe this may have been fixed by https://github.com/infracost/infracost/pull/1885. Is there any chance that you could test a master build to see if this fix works for you? If I remember correctly, this is something you're already familiar with. i.e:

1. clone https://github.com/infracost/infracost
2. `cd` into infracost
3. run `make build` (you'll need [go](https://go.dev/doc/insta

[2022-07-22 08:27] mablanco opened #1890 "Missing cost estimate for `azurerm_redis_cache`"
Hi there. The breakdown for `azurerm_redis_cache` doesn't seem to work, as it reports $0.00 for all tiers and SKU names I've tested (quite a good amount of them). I tested various linux-based infracost versions from 0.10.x (including 0.10.8) branch to no avail. Be aware that the Redis resources were added in the 0.10.x branch.

Current output:
[code]
I can provide more info if needed/requested. Th

[2022-07-22 08:40] hugorut commented on #1890
Thanks @mablanco this seems like a configuration issue. Premium nodes can only use `P` for the family type. See the `azurerm_redis_cache` docs [here]( https://registry.terraform.io/providers/hashicorp/azurerm/latest/docs/resources/redis_cache) that state:

This is inline with the [azure pricing page](https://azure.microsoft.com/en-gb/pricing/details/cache/) which only shows pricing for premium cac

[2022-07-22 08:40] #1890 closed

[2022-07-22 08:53] hugorut opened #1891 "Should Infracost validate users Terraform configuration"
Infracost often runs on Terraform configuration that is incorrect or incomplete. For example, users can specify incorrect attribute values for Terraform blocks. Infracost has historically left validation of these values to Terraform and the `apply` step. This means that when users specify incorrect Terraform values, Infracost reports them as a `0` price resource.

This is often confusing for users

[2022-07-22 09:09] mablanco commented on #1890
Yes, you're completely right. The thing is that I was quite sure I had tested several combinations that failed before opening the issue. Thanks for clarifying and sorry for taking your time. Good job!

[2022-07-22 14:31] EppO commented on #1889
Indeed, just tested on master branch, #1885 does the trick! I get the same price with `count = 2` or manually defining the resources twice. Thanks for the quick fix!

[2022-07-22 14:31] #1889 closed

[2022-07-22 15:01] hugorut commented on #1889
Great news @EppO, this fix should hopefully be out next week as part of the `v0.10.9` release. I'll ping you here when it's live, thanks

[2022-07-25 08:23] aliscott commented on #1841
@alikhajeh1 I think for 'Proposed solutions' number 2 here we discussed wanting to look at https://github.com/actions/cache instead so it caches across runs.

[2022-07-25 08:34] LiamDeaconAntarcticaAM opened #1899 "Add support for using a repo default config file automatically"
Many other tools (e.g. checkov, trunk, yamllint, etc.) search for the presence of a config file in specific location(s) and automatically use it if found.

To the best of my knowledge there is not yet any such functionality. In my ideal situation I would like `infracost` to automatically check for a file such as `.infracost.yml` in the git repo root directory and use that as the default configurat

[2022-07-25 09:28] #1871 closed

[2022-07-25 09:28] #1873 closed

[2022-07-25 09:28] #1876 closed

[2022-07-25 10:32] alikhajeh1 commented on #1899
@LiamDeaconAntarcticaAM since an infra repo can have multiple workspaces/projects, I'm curious to hear your thoughts on having a top-level repo config-file vs per-directory config files, see [question 2](https://github.com/infracost/infracost/issues/1280#issuecomment-1013851153) in this comment for an example.

[2022-07-25 11:36] #1874 closed

[2022-07-25 15:54] stefan-matic commented on #1695
I have the following directory structure:

[code]
There is a dependency in _envcommon/aurora.hcl for the VPC:
[code]
The Aurora module in sandbox also has a dependency to the VPC module for sandbox specific inputs:
[code]
When I run `infracost breakdown --path=.` in `terragrunt/sandbox/eu-central-1/sandbox/aurora` I get the following error:

[code]

If I remove the dependency block in `_envcommon/

[2022-07-26 07:28] hugorut commented on #1695
@stefan-matic hmm, this looks like a terragrunt specific issue, what's the output of running the following command in your project:

[code]

Thanks

[2022-07-26 09:16] stefan-matic commented on #1695
Interesting. By experimenting around the above command I've managed to trace the issue.

It seems that infracost needed to run `terragrunt-info` and `show` commands (which I didn't realize at first).
I ended up changing the value of my `mock_outputs_allowed_terraform_commands`:

`["validate", "init", "plan"]` ---> `["validate", "init", "plan", "terragrunt-info", "show"]`

Now the `infracost breakd

[2022-07-27 09:44] anitakrueger commented on #1300
While most of our task definitions are run in ECS Service, we have a few that are being scheduled by EventBridge so would need to be usage based as well. Would love to see this implemented.

[2022-07-27 09:57] anitakrueger opened #1915 "Missing cost for ECS Service when task definition is used from a module and family is used instead of ARN"
I was able to reproduce this and made a sample in https://github.com/anitakrueger/infracost-test

It comes down to infracost not being able to make the link between the ecs service and the task definition when the task definition is in a module and the task_definition parameter is set to the family instead of the arn.
This does seem to work when the task definition and ecs service are in the same

[2022-07-27 10:01] pacorreia opened #1916 "Enhancement: Allow to specify a custom text for comments to Pull requests"
Hi team,

Let me give you the following use case:
- Single project
- Terraform code using single module (root)
- Multiple environments specified by distinct terraform input var files

When I run Infracost under PR, I'm running it for all environments, meaning, specifying different input var files.

What happens when pushing comments back to devops is this:
![image](https://user-images.githubuserco

[2022-07-27 11:08] alikhajeh1 commented on #1916
@pacorreia great setup! Would [using `--project-name`](https://www.infracost.io/docs/features/cli_commands/#project-names) to set the text in the Project column help? Also, have you considered using a [config-file](https://www.infracost.io/docs/features/config_file/#usage) so you get 1 combined PR comment with both environments? The config-file also supports project name:

[code]

[2022-07-27 11:18] pacorreia commented on #1916
Will give it a try, thanks for pointing that out, will definitely try it and provide feedback

[2022-07-27 11:37] alikhajeh1 commented on #1916
Awesome - looking forward to it :)

[2022-07-27 11:41] aliscott commented on #1915
I've added a fix for this specific case in #1917.

This fixes it for cases where the user specifies the family:
[code]

but it doesn't work if the user also specifies a revision, i.e:
[code]

Fixing this final bit will probably require a bit of a refactor with how we handle references, so will be a more involved task.

[2022-07-27 11:49] pacorreia commented on #1916
Just tested using a config file, although I've specified names for each, it picks my laptop names as project name for all in the output :| (tested locally first)

[code]

And sample outcome:

[2022-07-27 11:54] alikhajeh1 commented on #1916
@pacorreia what `infracost --version` are you using locally? (v0.10.8 is the [latest](https://www.infracost.io/docs/#1-install-infracost)).

[2022-07-27 11:58] pacorreia commented on #1916
yep that one precisely!, just double checked docs and it is supposed to work, I guess we just found out a bug by accident, maybe not many users are using this kinds of approach otherwise an issue would have been reported already.

This solution would be really really cool 👯

[2022-07-27 12:05] alikhajeh1 commented on #1916
yeah that's odd! what's your operating system?
@aliscott can you take a look please?

[2022-07-27 12:43] aliscott commented on #1916
@pacorreia, hmmm this is definitely an odd one. Can you try the below and let me know.

1. What command are you using the to run Infracost?
2. On line 8 of your config file (`name:hat-development`), can you try adding a space after the `:`, i.e. `name: hat-development`
3. Can you run with `--format=json --out-file=infracost.json`. What does it show for the `name` and `metadata` keys for the projec

[2022-07-27 13:17] pacorreia commented on #1916
@aliscott

I've that space after `:`, was a typo when removing sensitive information in my comment.

when running with JSON output there's  a sample from the file:

[code]

About output of ls-remote:
https://xxx@dev.azure.com/xxx/xxx.tools/_git/xxx.xxxx.heart-age

[2022-07-27 13:27] aliscott commented on #1916
Thanks @pacorreia, can you also please let me know the full command you are using the to run Infracost?

[2022-07-27 13:38] pacorreia commented on #1916
@aliscott
`infracost breakdown --config-file infracost.yml --format=json --out-file=./infracost.json`

[2022-07-27 14:25] samarth3112 opened #1918 "Customize the name of the PR commenter"
Hello ,

I have been observing that the PR commet being posted by the github owner of the org not by the repo owners .

Is there a way to change the name of the github user who is commenting the cost on the PR ?

[2022-07-27 15:05] aliscott commented on #1918
@samarth3112 thanks for issue. Can you provide a bit more information please. Which integration are you using? Is it the GitHub Actions integration or something else like CircleCI or Atlantis?

[2022-07-27 15:35] pacorreia commented on #1916
Well, I'm not adding anything from you guys :)

no env vars, just checked.

Yes I'll grab proper time so we can crack on this one :) my mail is pcportugal@gmail.com, so you can expect some ping from that one, but will join slack for sure and reach you there

[2022-07-27 16:39] aliscott commented on #1916
@pacorreia and I paired on Zoom. The issue is that the `NAME` env variable was overwriting the config file's name. This was because we didn't have this ignored properly when loading the envs with envconfig. I've pushed a fix for this that we will get into the next release (https://github.com/infracost/infracost/pull/1919). I've also updated to enforce an `INFRACOST_` prefix for any of our envs goi

[2022-07-27 16:40] aliscott commented on #1916
@pacorreia thanks for your help debugging this. I'll close this issue now and the fix will ship for this in v0.10.9 which should be sometime early next week.

[2022-07-27 16:40] #1916 closed

[2022-07-27 20:55] Scoppio opened #1921 "Serverless integration"
Infracost is terrific and would fit perfectly in our use case, but we use almost exclusively Serverless [Serverless](https://www.serverless.com/).
Do we have more people interested in it? Because I sure am!

[2022-07-27 20:57] paulcruse-syn commented on #1921
I second what @Scoppio is saying...

[2022-07-28 09:12] amanenk opened #1922 "decimal division by 0"
Hello. I am having problems with running infracost action after `terraform plan`. I have added some glue resources and infracost started crashing with `decimal division by 0`. I've removed my glue resources to roll everything back but it still crashes.
Below are the logs from the action:
[code]

[2022-07-28 09:16] aliscott commented on #1922
@amanenk thanks for reporting this. I've just been trying to debug this issue myself as part of https://github.com/infracost/infracost/issues/1875, so it would be great if you had any more information that could help us track this down.

Are you able to try and track down which resource/module is causing this by just commenting different ones out until it doesn't happen? I'm happy to jump on a cal

[2022-07-28 10:39] aliscott commented on #1922
@amanenk I've pushed a potential fix in #1923. You can try this in your action by using a dev build of Infracost I've pushed to an S3 bucket, by temporarily updating your action to have:
[code]

You'll then need to update any `infracost` command in your workflow to use `/tmp/infracost`.

Let me know if this fixes you issue, and if so we will get this out in the next release.

[2022-07-28 11:10] aliscott commented on #1841
I'm testing adding an example for GitHub Actions that caches the baseline result and remote modules. I'm hoping this will speed things up a fair amount for people.

It would be super helpful 🙏  if anyone could try it on their workflows and see if it reduces the total time (it won't reduce the first run, only subsequent runs).

Here's the example I've added:
https://github.com/infracost/actions/tre

[2022-07-28 13:45] kneipp commented on #1921
That's a great idea!

[2022-07-28 14:12] diegomeireles commented on #1921
It will really be great!

[2022-07-28 15:41] #1915 closed

[2022-07-28 15:44] alikhajeh1 commented on #1921
Thanks for creating this so we can track the feedback! (I tweaked the description to ask the community to upvote/comment too).
We've got similar requests for [Pulumi](https://github.com/infracost/infracost/issues/187), [AWS CloudFormation/CDK](https://github.com/infracost/infracost/issues/190) and [Azure ARM/Bicep](https://github.com/infracost/infracost/issues/812). We're focusing on going deeper

[2022-07-29 06:29] samarth3112 commented on #1918
@aliscott  its simple github action uses: infracost/actions/setup@v2

[2022-07-29 08:21] #1922 closed

[2022-07-29 08:52] aliscott opened #1930 "panic: `invalid memory address or nil pointer dereference` in HCL parser"
Infracost version: v0.10.8

Stacktrace:
(I've fixed to get the actual file paths in https://github.com/infracost/infracost/pull/1929)
[code]

[2022-07-29 08:56] aliscott opened #1931 "panic: `invalid memory address or nil pointer dereference` with aws_data_transfer"
Infracost version: v0.10.8

Stacktrace:
(I've fixed to get the actual file paths in https://github.com/infracost/infracost/pull/1929)
[code]

[2022-07-29 08:58] aliscott opened #1932 "panic: `invalid memory address or nil pointer dereference` in google_container_node_pool"
Infracost version: v0.10.7

Stacktrace:
[code]

[2022-07-29 11:27] danielbmeireles opened #1933 "Error trying to use infracost comment with GHE"
Hello!

I am getting the following error during the posting of an infracost diff report in the PR's comment session:

[code]

I am using the following syntax (Azure Pipelines + GHE 3.3.7)

[code]

I have a PR opened and I am using a token with all scopes selected.

Do I need to add any extra parameters when using this command against a GHE instance?

[2022-07-29 11:32] aliscott commented on #1933
Hi @danielbmeireles, thanks for reporting. I don't have a GHE instance myself to test on just now, but looking at the code I wonder if it works if you pass `--github-api-url="https://API_SERVER_ADDR/api"` or `--github-api-url="https://API_SERVER_ADDR"`?

[2022-07-29 13:24] danielbmeireles commented on #1933
Presto!

[code]

Thank you so much for your help!

[2022-07-29 13:25] #1933 closed

[2022-07-29 17:27] aliscott commented on #1933
Thanks @danielbmeireles. For now I've updated the docs here https://www.infracost.io/docs/features/cli_commands/#github for Azure Repos.

[2022-07-31 21:21] danielgadd opened #1938 "terraform.workspace parameter not parsed --terraform-workspace"
Hi Infracost Team!

The terraform parameter `terraform.workspace` doesn't appear to be parsed correctly when using the `--terraform-workspace` argument?
I use workspaces (dev/stage/prod)  to differentiate things like instance_types (without the need for additional variables) - If I have the below code snippet:

[code]

And run infracost: (both locally compiled, and latest release binary)

[code]

[2022-08-01 08:51] aliscott commented on #1938
Thanks for writing up the issue @danielgadd 🙏

[2022-08-01 09:10] aliscott commented on #1760
@yuliyantsvetkov thanks for the code sample. I've been looking into this but so far I'm having trouble reproducing it. When I use your Terraform block I get the following output:

[code]

This isn't the same as what you're seeing and the output I see seems to be the expected output, since the m5.large instances have a 0 `desired_capacity` they don't appear.

Can you confirm the following please:

[2022-08-02 16:37] aliscott commented on #1874
This is now fixed in the [v0.10.9](https://github.com/infracost/infracost/releases/tag/v0.10.9) release.

[2022-08-02 16:37] aliscott commented on #1873
This is now fixed in the [v0.10.9](https://github.com/infracost/infracost/releases/tag/v0.10.9) release.

[2022-08-02 16:37] aliscott commented on #1876
This is now fixed in the [v0.10.9](https://github.com/infracost/infracost/releases/tag/v0.10.9) release.

[2022-08-02 16:38] aliscott commented on #1871
This is now fixed in the [v0.10.9](https://github.com/infracost/infracost/releases/tag/v0.10.9) release.

[2022-08-02 16:39] aliscott commented on #1922
@amanenk thanks for your help debugging this issue 🙏 . It is now fixed in the [v0.10.9](https://github.com/infracost/infracost/releases/tag/v0.10.9) release, so you can revert the `Setup Infracost` step changes and point to the `infracost/actions/setup@v2` action now.

[2022-08-02 16:42] aliscott commented on #1915
@anitakrueger this is now fixed in the [v0.10.9](https://github.com/infracost/infracost/releases/tag/v0.10.9) release, so you can update your action to point to the `infracost/actions/setup@v2` again now.

Thanks for your help debugging this issue 🙏. It was one of the best formed bug reports we have received since it had a fully reproducible example we could clone.

[2022-08-02 16:45] aliscott commented on #1916
@pacorreia the `NAME` issue is now fixed in [v0.10.9](https://github.com/infracost/infracost/releases/tag/v0.10.9) release. Thanks for hopping on a Zoom call to help debug that 🙏.

[2022-08-02 16:48] pacorreia commented on #1916
cool, many thanks, great product and team

[2022-08-02 16:51] aliscott commented on #1857
This is now fixed in the [v0.10.9](https://github.com/infracost/infracost/releases/tag/v0.10.9) release.

[2022-08-03 00:35] alikhajeh1 commented on #1538
@lvkins sorry I missed your comment - I updated the issue description with Option 2 as the proposed solution.

[2022-08-03 00:36] #1556 closed

[2022-08-03 00:38] alikhajeh1 commented on #1559
@NunoAMFerreira did you ever hear back from MSFT support about China East 2 prices?

btw, custom price discounts (e.g. for Azure EA discounts) are live in [Infracost Cloud](https://www.infracost.io/docs/infracost_cloud/get_started/): https://www.infracost.io/docs/infracost_cloud/custom_price_books/

[2022-08-03 01:18] alikhajeh1 commented on #1918
@samarth3112 since you're probably using the default [GitHub Actions Token](https://docs.github.com/en/actions/security-guides/automatic-token-authentication) I don't think that's possible.

I think you can achieve this by creating a new GitHub user with whatever name you want, then create a [personal access token](https://docs.github.com/en/authentication/keeping-your-account-and-data-secure/crea

[2022-08-03 01:23] alikhajeh1 commented on #1860
@netguino just FYI we merged [this](https://github.com/infracost/actions/blob/master/examples/using-cache/README.md) after testing/using it with other users, it seems to be helping them. Later this week, I'll publish a new github issue about an interface change we'd like to propose to make it easier to run infracost against a config-file, I'll tag you in that for feedback as we're leaning towards

[2022-08-03 01:23] #1860 closed

[2022-08-03 10:41] aliscott opened #1946 "panic: `not a string` in HCL evaluator"
Infracost version: v0.10.8

Stacktrace:
(I've fixed to get the actual file paths in https://github.com/infracost/infracost/pull/1929, this is happening in evaluator.go):
[code]

[2022-08-03 16:45] armenr opened #1947 "[Bug]: Failed to parse the Terragrunt code using the Terragrunt library - invalid character ',' looking for beginning of value"
[code]
[code]
[code]

### Explanation of odd behavior:

**Terragrunt works without issue when running `terragrunt run-all --terragrunt-non-interactive plan`** in:
`/Users/REDACTED/Development/widget-corp/terraform_aws/config/dev-account/us-west-2/my-awesome-env/`

Infracost errors out when running `infracost breakdown --path .` in the same directory.

Logs from running infracost are attached below

[2022-08-03 17:33] aliscott commented on #1947
Thanks for reporting @armenr 🙏. Are you able to provide any relevant debug logs to help us track this issue down? You can generate these by running with `--log-level=debug`.

In the meantime you could try running with `--terraform-force-cli` which means Infracost will run the terragrunt binary under the hood. See https://github.com/infracost/infracost/issues/1695 for more details on this workaroun

[2022-08-05 12:55] aliscott opened #1949 "Support AWS Lambda tiered pricing"
AWS [announced support](https://aws.amazon.com/about-aws/whats-new/2022/08/aws-lambda-tiered-pricing/) for tiered Lambda pricing. We should update the `aws_lambda_function` resource to support multiple tiers for the Duration cost component.

[2022-08-05 13:59] rottenbytes opened #1951 "Add support for GCP CUD"
GCP offers [Committed Use Discounts](https://cloud.google.com/compute/docs/instances/signing-up-committed-use-discounts) (CUDs) that can significantly alter the price of an instance on a monthly basis. It would be awesome to support this

[2022-08-05 14:48] orbitz opened #1952 "breakdown produces a file that cannot be consumed with diff"
Given a configuration file like:

[code]

The output of breakdown will have multiple entries for `foo/bar` due to the recursive nature.  But this output cannot be used with `diff` because it states there are multiple projects with the same name.

In my case, I would like to process specifically only those paths that I specify, no recursively.  I am using tooling that decides what to operate.

I tr

[2022-08-07 00:33] lintaonz opened #1953 "Add support for Azure route table resources"
[code]
Both `azurerm_route_table` and `azurerm_subnet_route_table_association` are quite common for Azure networking.

Could Infracost support them, please?

[2022-08-08 12:12] #1938 closed

[2022-08-08 12:13] hugorut commented on #1938
Thanks @danielgadd for raising this issue. We've merged a fix for this bug into master, and it will go out with the next release (0.10.10). We'll notify you here when it's available.

[2022-08-08 16:28] aliscott commented on #1760
@yuliyantsvetkov and @demigoldberg just wanted to check if you're able to help by providing more information as per above? That will help us narrow down what the issue is so we can get a fix out soon.

[2022-08-09 00:55] danielgadd commented on #1938
Thanks @hugorut - Tested in my environment with the latest commit in master and can confirm its working 👍

[2022-08-09 11:31] demigoldberg commented on #1760
Hi
Well now it doesn't calculate at all my ec2 instances as part of the auto
scale group
So it is not even close to my estimation.

module.eks.module.eks.aws_autoscaling_group.workers_launch_template[0]
 └─ module.eks.module.eks.aws_launch_template.workers_launch_template[0]
    ├─ Instance usage (Linux/UNIX, on-demand, )
        730  hours                  $0.00
    └─ block_device_mapping[0]

[2022-08-09 15:49] JochemBoersma opened #1955 "add support for service plan"
![image](https://user-images.githubusercontent.com/17458761/183698739-7569f240-618e-4d86-968a-0ba746bb51b8.png)

renamed compared to the old app_service_plan in newest terraform providers.

[2022-08-09 15:50] JochemBoersma commented on #1955
/label azure
/label "new resource"

[2022-08-09 16:10] tim775 commented on #1955
Thanks for the issue!

[2022-08-09 19:19] alikhajeh1 opened #1957 "September community call"
### Topics

We're going to cover the following topics (5mins each):
- Quick intros
- Review of the [most recent updates](https://www.infracost.io/blog/sep-2022-update/)
- Weekly email digests
- GitHub App integration
- Any other topic that you’d like to discuss

### When
**Tue 6 September 2022**, 10:00 Los Angeles (PDT) = 13:00 New York (EDT) = 19:00 Berlin (CEST), [convert to your timezone](https

[2022-08-09 19:20] alikhajeh1 commented on #1833
Recording of the call is here: https://youtu.be/mnTM3PpehZA

Next community call is here: https://github.com/infracost/infracost/issues/1957

[2022-08-09 19:20] #1833 closed

[2022-08-09 20:21] alikhajeh1 opened #1958 "GitHub comment fails to post as it's too big"
## Problem

Github comments have a max size as mentioned [here](https://github.com/orgs/community/discussions/27190). When the Infracost CLI diff output goes beyond that, the comment fails to post with this error:
<img width="1355" alt="Screen Shot 2022-08-09 at 1 53 33 PM" src="https://user-images.githubusercontent.com/638577/183752285-6cb7e43b-570d-43d1-b3e1-f6a42c6983d5.png">

## Proposed solut

[2022-08-10 01:41] tim775 opened #1959 "Cleanup CLI flags and require configuration files."
## **Problem**

The Infracost CLI has many command options that can be provided either in a configuration file, as environment variables, or as command line flags.  Some options can be provided in multiple forms, and a lack of coherent system for a particular option can be provided causes confusion when users are initially setting up Infracost for their projects.

## **Proposed solution**

Things

[2022-08-10 02:32] alikhajeh1 commented on #1280
We've created https://github.com/infracost/infracost/issues/1959 with a proposal on how Infracost could be run in the future with a config file. I'm going this issue so we can continue the discussions there.

[2022-08-10 02:32] #1280 closed

[2022-08-10 02:32] alikhajeh1 commented on #1899
@LiamDeaconAntarcticaAM this issue influenced our thinking a lot :) We've created https://github.com/infracost/infracost/issues/1959 with a proposal on how Infracost could be run in the future with a config file. I'm going this issue so we can continue the discussions there.

[2022-08-10 02:32] #1899 closed

[2022-08-10 02:33] alikhajeh1 commented on #1869
We've created https://github.com/infracost/infracost/issues/1959 with a proposal on how Infracost could be run in the future with a config file. I'm going this issue so we can continue the discussions there.

[2022-08-10 02:33] #1869 closed

[2022-08-10 02:38] alikhajeh1 commented on #1884
@hugorut any update on this?

[2022-08-10 09:15] hugorut commented on #1884
@alikhajeh1 we have this in our backlog, but it's not in the current sprint. So won't be done for ~2 weeks.

[2022-08-10 09:46] demigoldberg commented on #1760
v0.10.9
ireland (eu-west-1)

On Tue, Aug 9, 2022 at 2:40 PM Alistair Scott ***@***.***>
wrote:

--
Regards,
Demi Goldberg
***@***.***
+972-54-2228459
***@***.***

[2022-08-10 11:31] #1946 closed

[2022-08-10 13:00] #1930 closed

[2022-08-10 13:35] #1932 closed

[2022-08-10 16:44] fatihtokus commented on #1829
Hi all, I am working on this issue

[2022-08-10 16:47] aliscott commented on #1959
I wonder if it's confusing overloading the `--path` flag in this way. I think I see the path and the config file as two separate options. I think the `path` arg/flag could default to the current working directory and the `--config-file` flag could default to the `infracost.yml` in that path. If you want to run Infracost against a Terraform plan JSON you could specify that as the path. For specifyi

[2022-08-10 16:52] #1884 closed

[2022-08-10 16:54] hugorut commented on #1884
Hey @MHarutunian, we've merged a fix for this, and it's sitting in master. The fix will go out with the next release. We'll ping you here when it's available. Thanks.

[2022-08-10 16:55] fatihtokus commented on #1829
I think this issue has already been addressed:
![image](https://user-images.githubusercontent.com/19647150/183970636-3d845ae7-64b6-48f9-9200-d2eb040aa8da.png)

[2022-08-10 17:02] fatihtokus commented on #1672
Hi, I am working on this, please assign it to me.

[2022-08-10 19:27] aliscott commented on #1760
Thanks @demigoldberg. I'm still unable to reproduce. If you have reproducible Terraform code you are using that calls the eks module then we should be able to find a fix.

[2022-08-11 11:00] Official-James opened #1965 "Add support for Azure static site"
azurerm_static_site (Azure Static Web Apps) is currently not supported. Two SKUs, Free and Standard. Other than the Standard SKU fixed price, bandwidth is the only additional cost which cannot be taken into consideration on IaC.

Terraform ref: https://registry.terraform.io/providers/hashicorp/azurerm/latest/docs/resources/static_site

Azure pricing: https://azure.microsoft.com/en-gb/pricing/detai

[2022-08-11 11:30] tim775 commented on #1965
Thanks @Official-James.  Any interest in adding pricing details or working on this one before I open it up to the community?  The pricing for this one looks straight forward so adding an example of what you expect the breakdown output to look like would be cool, something like:
[code]

[2022-08-11 11:36] Official-James commented on #1965
Assign it to me @tim775 and I'll work on it.

[2022-08-12 15:50] aliscott commented on #1829
Thanks for looking at it @fatihtokus 🙏 . I can still reproduce the issue and I've now updated the issue description with some steps.

[2022-08-12 16:32] tim775 commented on #1884
@MHarutunian the fix is live in v0.10.10, cheers.

[2022-08-12 16:35] tim775 commented on #1938
@danielgadd v0.10.10 is live and includes this fix.

[2022-08-12 16:41] oliver-sentianse opened #1968 "Terraform resources with count=0 appear in the costs"
Awesome tool and presentation.

BUT we noticed a cost breakdown error when we were trying it out today, so with today's version as installed per your instructions using curl.

We have 2 terraform-managed stacks based on the same underlying terraform code, one stack has count=0 for the redshift DB, the other has count=1. I checked with `terraform state list` that redshift is only in the stack with

[2022-08-12 17:33] tim775 commented on #1968
Hi @oliver-dss, thanks for the issue!

I checked that `count = 0` is working at least in simple cases.  Could you share a sanitized version of the terraform code that causes the problem?  There are some simple [redshift examples here](https://github.com/infracost/infracost/blob/master/internal/providers/terraform/aws/testdata/redshift_cluster_test/redshift_cluster_test.tf) if you prefer to start f

[2022-08-12 18:03] schollii commented on #1968
Ah good to know. I'm sure it's nothing to do with redshift specifically, it was just obvious in that particular case.

I suspect it is because the `count` is set from json loaded via `jsondecode(file(...))`.

I might be afk for next days so if you don't get to try the above sooner, I'll try to pare down my stack and post the code when I get back.

Thanks for a quick reply!

[2022-08-12 19:31] oliver-dss commented on #1968
So this is super weird: I was able to pare it down to just one small .tf file and a .json file, and I could see the error. Then I added a couple more cases, one using a json string hardcoded and another using a variable with default value, and indeed those 2 were good. Then the error on the file case was gone. I commented out the 2 extra cases and the error is gone.

My code was this:
[code]
and t

[2022-08-12 20:46] tim775 commented on #1968
This is awesome thanks for the effort!  I've come up with a couple test cases which may be related.  It looks like we're somehow defaulting to a value of 1 if we can't read the local properly:

[code]

This doesn't explain your issue since it doesn't explain why we can't read the local inside that module, but they're still good bugs :).

[2022-08-12 20:51] schollii commented on #1968
(I submitted this while logged into github from a business account, now signed in correctly)

Yes I noticed that when `terraform validate` does not pass on something that affects count, the count is 1.

[2022-08-13 16:59] dipakkumarsingh-atos opened #1969 "GKE Cost is not well managed"
I have tried the GKE cost and it seems that from terraform module its not able to predict the cost for node pool. We are only able to see that there is a cluster management fee. But it's not showing if we have 1 node pool with 3 vm how much will it cost.

Below is the code snippet you can use it

[code]

[2022-08-13 19:04] KyleKotowick commented on #1968
@oliver-dss I think you're passing the input variable incorrectly:
[code]

The `maps` input variable is supposed to be a list of maps that should be merged. If you are giving it an input list with only one element (the map that is in `json_file`), the output should be identical to the input, and this module serves no purpose.

If `json_file` is itself a list of maps, you'd want to use it like this

[2022-08-15 02:25] schollii commented on #1968
@KyleKotowick if the `maps` list has just one item (ie one map), then `module.defaults.merged` is identical to `local.json_file` (as it should), so there is no error there. Verification, by adding an output called `defaulst` for  `module.defaults.merged`:
[code]
This is to be expected since "merging" on a list of one map should produce that map! The code I have is not the actual code I use, just p

[2022-08-15 04:05] FelipeLujan opened #1970 "Infracost GKE cost calculation discrepancy with GCP Pricing Calculator"
Hi.

I am using this [basic example](https://github.com/hashicorp/learn-terraform-provision-gke-cluster) for testing infracode out.
It creates the following infrastructure.
<img width="660" alt="image" src="https://user-images.githubusercontent.com/34170261/184574237-025aa409-7e70-479d-b085-728363c80215.png">
+ 1 network and 1 subnetwork.

Infracost generates the following cost breakdown:
[code]

[2022-08-15 14:56] tbugfinder opened #1973 "Project not properly split (using git-ssh and bitbucket)"
Hello,

my remote is:
origin  ssh://git@bbserver.domain.com:7999/~first.second_domain.com/stack-project.git (fetch)
origin  ssh://git@bbserver.domain.com:7999/~first.second_domain.com/stack-project.git (push)

infracost translates this to the Project:
Project: 7999/~first

It would be better if the git repo would be displayed.

[2022-08-15 15:00] vdmgolub commented on #1970
@FelipeLujan Hello! 👋 Thank you for creating the issue!

The difference you see between Infracost output and the calculator is in the applied "Sustained Use Discount", for N1 instance types it would be 30%: if you check this checkbox the calculator will show the same number as Infracost:
![image](https://user-images.githubusercontent.com/87082/184658750-6bba3410-e399-49c8-ae75-d78f7d460277.png)

P

[2022-08-15 16:47] tbugfinder commented on #1973
IMHO, shortest approach would be „stack-project“, however if BB projects or forked repos should be considered then „“ is better.

[2022-08-15 16:51] vdmgolub commented on #1973
Awesome! Thank you! We'll work on a fix, so it makes in the next release.

[2022-08-15 18:50] tanmaysarin commented on #1678
Can someone give an example on how to change the code block to diff?
I know how diff works in general, but I am not able to implement it with the infracost json file...

Thanks for your help!

[2022-08-15 19:31] vdmgolub commented on #1678
@tanmaysarin Hi! 👋 Have you tried the steps from our "Get started" guide or was it something else? https://www.infracost.io/docs/#4-show-cost-estimate-diff The latest CLI version needs a "base" JSON file to be able to compare with.

Could you please post the commands you're running so we can figure this out together?

[2022-08-15 19:36] tanmaysarin commented on #1678
Hi @vdmgolub .
I think I mis-phrased my previous question.
I am getting the infracost diff, but I am not able to get the colors in it.

I am trying to add the makrdown "diff"so that it shows colors, but have been unable to do so yet.

[2022-08-15 20:02] vdmgolub commented on #1678
Oh, sorry. This is issue is still ongoing, the diff doesn't support colors at the moment. Please follow this issue for the updates.

[2022-08-15 20:15] alikhajeh1 commented on #1678
@tanmaysarin I'm curious about what colors you think make sense for Infracost comments? (ignoring markdown comment colors, what would be ideal?)
- green for lines that decreases costs? Which is different to git, as git shows new lines as green, but usually new lines mean cost increase and I'm not sure if users get confused about thinking green is good, green costs money...
- red for cost increases

[2022-08-15 20:26] tanmaysarin commented on #1678
@alikhajeh1
As a new engineer in the role, green has always meant increase, and red means decrease.
So I would prefer -
green: increase (+ symbol)
red: decrease (- symbol)
orange : warning (!)

[2022-08-15 20:27] tanmaysarin commented on #1678
@vdmgolub I am trying to implement something like what @hugorut has shown in his example, but haven't been able to do so yet.

[2022-08-15 20:30] aliscott commented on #1760
@demigoldberg, @yuliyantsvetkov I've merged a potential fix in https://github.com/infracost/infracost/pull/1972. This will go out in the next release which will probably be sometime next week.

[2022-08-15 21:54] KyleKotowick commented on #1968
What does "fails" mean in this case? That infracost is reporting a cost for it even though the `count` should equal `0`, or that Terraform is actually throwing an error?

[2022-08-15 22:54] alikhajeh1 opened #1975 "Don't mention the credntials file in CI/CD"
I've seen it a few times where a user hasn't set INFRACOST_API_KEY in CI/CD and they see this error:
[code]

This then sends them down a rabbit hole of trying to set the API key in the yaml file, we should change that error to be the following when the CLI is running in CI/CD:
[code]

[2022-08-15 23:27] alikhajeh1 commented on #1958
@benniemosher FYI this was fixed by https://github.com/infracost/infracost/pull/1964 and released in v0.10.10 a few days ago https://github.com/infracost/infracost/releases/tag/v0.10.10
Can you please take it for a quick spin and let us know if it still has issues?

[2022-08-15 23:27] #1958 closed

[2022-08-15 23:45] alikhajeh1 opened #1976 "CLI updates for Infracost Cloud with Atlantis, Jenkins and other deployment systems"
1. The Infracost CLI needs to support the following env variables as overrides so Atlantis (and other deployment systems) can provide them manually. We already have `INFRACOST_VCS_REPOSITORY_URL`, `INFRACOST_VCS_SUB_PATH`, `INFRACOST_VCS_PULL_REQUEST_URL` and `INFRACOST_TERRAFORM_WORKSPACE`. Once the following is done, all top-level [run metadata](https://www.infracost.io/docs/features/cli_command

[2022-08-16 14:18] MHarutunian commented on #1884
Cheers, thank you very much! Can confirm it's working now.

[2022-08-17 13:01] sylwit commented on #1975
Thank for all you debug and I'm glad you found the cause.

1. This is exactlly what happened, I have a .env with a placeholder.

2. The test could be a API call on a `/api-key/validate` endpoint for example

3. During our debug we have been misled by `infracost configure get api_key` which only read the credentials file. I think it would be more explicit to return the key which is going to be used

[2022-08-17 13:53] alikhajeh1 commented on #1975
Thanks @sylwit - good point about #3, I added number 4 to the list of proposed solutions.

[2022-08-17 14:04] aliscott commented on #1968
The current behavior for Infracost when we can't determine the count is to default to count=1. This is the case if the count is derived from a data resource, which we can't retrieve the value of by parsing the HCL.

However, this case looks different since it's not using any data resources.  From an initial glance it looks like all the information is there so we cab evaluate it to count=0 for the

[2022-08-17 16:16] aliscott commented on #1975
One trade-off with this is it will make the `get` and `set` behavior inconsistent. You could call `infracost configure get api_key` and it would show the env variable value, but running `infracost configure set api_key XXX` would set the file value. Another option might be to add a warning to `infracost configure get api_key`, i.e.:

[code]

[2022-08-17 16:28] alikhajeh1 commented on #1975
ooh I like the warning idea!

[2022-08-17 17:33] sylwit commented on #1975
I think the confusion comes from `configure`. It could be a default, static configuration as you see it, or it could be a runtime configuration as I was understanding it. Hence the idea of anoter `context show` command or `get_active_key`

I see too many options and the list is not exhausitive from where the key could be read. envvars, .env, credentials, possibly on a cli param later.  Really look

[2022-08-17 17:59] alikhajeh1 commented on #1975
@sylwit I'm was initially hesitant on logging secrets but logging the first and last char seems fine in all CLI runs with `--log-level debug`. We can/should probably log other `configure` options (e.g. currency) in there so there is no confusion on what's being used at runtime.

[2022-08-17 21:48] schollii commented on #1968
Yes that's exactly what I figure.

[2022-08-17 22:27] KyleKotowick commented on #1968
I'm going to unsubscribe from this since it seems like my module is working as expected. Feel free to @ me if it you find a bug with the deepmerge module.

[2022-08-18 02:06] schollii commented on #1968
Sounds good @KyleKotowick, thanks for having a look

[2022-08-18 16:17] balazs-marjan opened #1978 "Add resource type usage to CLI, default to that if available"
Based on the discussion here:
https://infracost-community.slack.com/archives/C01G63RG63D/p1660313212869199

[2022-08-18 19:25] alikhajeh1 opened #1980 "Validate `--github-api-url`"
## Problem
[code]

When implementing the GitHub comment feature, we struggled with knowing why it wasn’t working. Once we changed the comment mode from “update” to “new” it logged the actual URL it was trying to post to. We use GitHub Enterprise and provided an endpoint that included the “/api/v3/” suffix which Infracost appends on its own. The logging is inconsistent between these functions, and

[2022-08-19 04:50] yuha0 opened #1981 "Add Support for AWS OpenSearch service"
Main TF resource: [aws_opensearch_domain](https://registry.terraform.io/providers/hashicorp/aws/latest/docs/resources/opensearch_domain)
Pricing: https://aws.amazon.com/opensearch-service/pricing/

### Note for community
Please 👍 if you'd like to upvote this or receive updates.
Add a comment if you'd like to [contribute](https://github.com/infracost/infracost/blob/master/CONTRIBUTING.md).

[2022-08-19 08:27] vdmgolub commented on #1981
Hi! Thank you for creating this issue! Please let us know if you’d like to [contribute](https://github.com/infracost/infracost/blob/master/CONTRIBUTING.md#adding-new-resources), otherwise we’ll open it up for the whole community (we regularly prioritize and work on them too). We usually add details about each resource listing the cost components Infracost should show. If you have ideas what this c

[2022-08-19 13:19] mnaghavi opened #1982 "$0 costs for azurerm_kubernetes_cluster.compute"
### Infracost Version
 `v0.10.10`

### Debug Level Output and the TF file
[debug-level-breakdown (1).txt](https://github.com/infracost/infracost/files/9365576/debug-level-breakdown.1.txt)
[azurerm_kubernetes_cluster.compute.tf.txt](https://github.com/infracost/infracost/files/9365597/azurerm_kubernetes_cluster.compute.tf.txt)

### Expected Behavior

Showing the correct estimated cost for `azurerm_

[2022-08-19 14:00] MHarutunian commented on #1947
I am running into the same issue, and I was able to narrow it down, although I am not quite sure what is happening exactly. A minimal example where this fails requires 2 modules, one being a dependency of the other:

`database/`:
[code]

`dependency/`:
[code]

Now trying to run `infracost breakdown --path=dependency` will cause
[code]

I played around a bit and noticed that the error does **not**

[2022-08-19 16:51] vdmgolub commented on #1982
@mnaghavi Hello! Thank you for providing the debug output and the TF example, it helped a lot to debug the issue. According to the warning message your pool's `vm_size` is `standard_d4s_v4`, however Infracost CLI expects the value to be `Standard_D4s_v4` (case-sensitive). Because it doesn't match the type properly, it makes a price search for non-existing `Standard_standard_d4s_v4` instance type a

[2022-08-19 18:55] mnaghavi commented on #1982
Hey @vdmgolub,
Thanks, that's a good work around and now it calculates the costs.

[code]

But now the real problem is with this change, terraform wants to destroy the resource and creating it again, which means that it's going to destroy the whole AKS nodes and re-create it again.

[code]

I think that would be better for me to wait for the case-insensitive matching to be there and try after that

[2022-08-19 22:24] netguino commented on #1860
I like the idea of calling infracost once.

To me it's not so much about what can I do, but the fact that the tool lets me pass --path more than once, and it basically ignores the first instance. It shouldn't.

[2022-08-20 09:39] vdmgolub commented on #1982
Oh, sorry, I haven't thought about that 😅.

I think there is an easy solution for that even with current v0.10.10: CLI can accept multiple TF var flags. In your case you can feed the `config/dev/dev.tfvars` as is and after that (the order matters) you can pass another flag  with a file (or a separate var) to override the original dev.tfvars. Here's an example:

[code]

[code]

[code]

Now I'll pas

[2022-08-22 19:20] mnaghavi commented on #1982
Thanks @vdmgolub, it's a nice temporary fix and would work properly.

[2022-08-22 22:09] nhammond101 opened #1983 "[Bug] Missing support for AWS RDS (aws_db_instance) "db.t4g.small""
The following log entry appears in a recent CI run.
[code]

The instance type is in the [pricing JSON](https://pricing.us-east-1.amazonaws.com/offers/v1.0/aws/AmazonRDS/current/index.json), so I surmising it's the `multi_az=false` flag that is causing a mismatch in looking up the product.

I'm using the [terraform-aws-modules/rds/aws](https://registry.terraform.io/modules/terraform-aws-modules/rds

[2022-08-23 09:22] safderun opened #1984 "Add support for GCP Cloud Build Worker Pool"
### Objective
Add support for GCP Cloud Build Private Worker Pool.

### Terraform resources
`google_cloudbuild_worker_pool`
[](https://registry.terraform.io/providers/hashicorp/google/latest/docs/resources/cloudbuild_worker_pool)

### Pricing details
https://cloud.google.com/build/pricing#private_pools_pricing

[2022-08-23 09:54] hugorut commented on #1984
Hi @safderun ! Thank you for creating this issue! Please let us know if you’d like to [contribute](https://github.com/infracost/infracost/blob/master/CONTRIBUTING.md#adding-new-resources), otherwise we’ll open it up for the whole community (we regularly prioritize and work on them too). We usually add details about each resource listing the cost components Infracost should show. If you have ideas

[2022-08-23 09:57] hugorut commented on #1983
Thanks @nhammond101 for raising this issue. Is it possible for you to paste the `Terraform` block that creates this underlying resource (with any sensitive data removed). I understand you're using the [terraform-aws-modules/rds/aws](https://registry.terraform.io/modules/terraform-aws-modules/rds/aws/latest) to configure the db instances, so we'd just need the top level module call.

Having this wi

[2022-08-23 11:13] safderun commented on #1984
I would like to contribute!

[2022-08-23 11:41] hugorut commented on #1984
great @safderun, I'll assign this issue to you and set the status to in-progress in our project board. Feel free to reach out if you hit any blockers or need any help. I'd recommend joining [our slack](https://infracost-community.slack.com/), as this is the best place to reach out to the team or other contributors directly.

[2022-08-23 13:22] safderun commented on #1984
How can I join slack? I can't signup for the workspace.

[2022-08-23 21:21] nhammond101 commented on #1983
Sure thing, @hugorut , let me know if there's anything else I can add/clarify

The primary
[code]

[2022-08-24 01:43] hiran-filho opened #1987 "Nil panic when detecting local git metadata on windows"
`debug: initializing workspace
debug: running Infracost in project: d:\
debug: running Infracost cmd cmd /C "set INFRACOST_CLI_PLATFORM=vscode && infracost breakdown --path "d:\" --format json --log-level info"
error: Infracost cmd error trace Error: Command failed: cmd /C "set INFRACOST_CLI_PLATFORM=vscode && infracost breakdown --path "d:\" --format json --log-level info"

[91mError:[0m An une

[2022-08-24 07:02] Praveen156 opened #1988 "Add support to estimate cost for Windows image in google_compute_instance"
Hi! I have gone through the <a href="https://www.infracost.io/docs/supported_resources/google/">supported clouds</a> api documentation of infracost which states that cost estimation is not supported for non-standard Linux images for google_compute_instance.
It would be of greater help if the cost of Windows image could be estimated.

Looking for something similar to this:
**Operating System/Softwa

[2022-08-24 08:26] hugorut commented on #1987
Hi @hiran-filho thanks for opening this issue. I've tracked down the error and it seems to be an error coming from within a library we use to detect local git metadata. It seems it's struggling to properly handle an error when it can't find the local `.git` directory in the workspace.

I've added this to our grooming agenda to discuss with the team, so we can prioritise accordingly. The panic seem

[2022-08-24 08:33] hugorut commented on #1988
Hi @Praveen156, thanks for opening this issue. This seems like a sensible thing to add. Please let us know if you’d like to [contribute](https://github.com/infracost/infracost/blob/master/CONTRIBUTING.md), otherwise, we'll leave this open and prioritise into our backlog if we see a few more 👍 on this issue.

[2022-08-24 08:53] hugorut commented on #1983
Hey @nhammond101, I'm having trouble replicating the bug with the code you provided. When I use these blocks, I get the following:

[code]

1. Is there something I'm missing?
2. what version of Infracost are you using?

[2022-08-24 12:31] #1987 closed

[2022-08-24 12:32] hugorut commented on #1987
Hi @hiran-filho, I've merged a fix for this issue into master, and it will go out with the next release. I'll ping you here when it's available. Thanks.

[2022-08-24 12:37] hiran-filho commented on #1987
thank @hugorut , I will wait anxiously

[2022-08-24 12:47] hiran-filho commented on #1987
thank @hugorut,  I will wait anxiously

[2022-08-24 14:13] nhammond101 commented on #1983
1. interestingly, i've stripped out the other modules and the `primary` instance is shown, however, adding them back in, prevents the `primary` from showing.  i'll do some more investigation
2. it's the latest version via the github action

[2022-08-24 16:04] hugorut commented on #1784
Hey @jpratts, how are you getting on with this? This has been open for a while, so I'm just checking in to see if you are still working on this or if we can reassign it back to the community.

[2022-08-24 16:15] hugorut commented on #1983
@nhammond101, ok interesting, if you could provide us with a minimum replicable case that would be amazing.

[2022-08-24 16:44] alikhajeh1 commented on #1538
Hi @mohamadrhosseini - thanks for sharing the use-case. That makes sense.
I've added this to the project board and we'll try to get to it in September unless someone from the community wants to work on it, it shouldn't be that difficult but it will require golang experience.

[2022-08-24 17:06] alikhajeh1 commented on #1647
Hey @schroedjan, any update on [Hugo's questions above](https://github.com/infracost/infracost/issues/1647#issuecomment-1144494550)? It's hard to progress this one unfortunately without more info

[2022-08-24 17:13] alikhajeh1 commented on #1698
I'm going to close this issue as we can't reproduce it yet, please re-open it if you get a chance to debug further (sending us the "infracost-debug-report.json" file that `--debug-report` saves too please!).

[2022-08-24 17:13] #1698 closed

[2022-08-25 05:53] kalyanaramansmart opened #1991 "Add support for Azure Functions"
# Add support for Azure Functions.

Azure Function is a serverless compute service that enables user to run event-triggered code without having to provision or manage infrastructure. They are analogous to AWS lambdas.

## Relevant Terraform resources

| resource name                | docs link                                                                                            | notes      |

[2022-08-25 06:50] hugorut commented on #1991
hey @kalyanaramansmart, thanks for opening this issue. I've updated the issue description to cover generic  **Azure Functions**. From a quick search, it also looks like the original resource you requested `azurerm_function_app`, is deprecated in favour of the `linux` or `windows` specific resources. Would you still want to cover that resource knowing this?

We prioritize and work on resources base

[2022-08-25 09:37] nhammond101 commented on #1983
@hugorut i've replicated the issue and created a repo at [infracost_1983](https://github.com/nhammond101/infracost_1983).

I've detailed the issue in the readme, but (tl;dr) depending on a module  (`dependsOn: [module]`) that's defined later in the `main.tf`, causes the database not to be processed correctly.

[2022-08-25 17:43] hugorut commented on #1983
Many thanks @nhammond101 for your efforts providing the replicable bug and additional details. I'll sync with the team to see when we can bring this on to fix.

[2022-08-25 18:25] alikhajeh1 commented on #1976
@hugorut I updated this issue to add `VCS_` to branch and commit env vars. Please update the issue desc if I got any wrong as I'll use this issue to write the docs for these envs.

[2022-08-25 19:15] hugorut commented on #1976
@alikhajeh1 I've actually decided to keep the old non `VCS_` branch vars as I think the separation you had before was useful. Let me know if you think there's a strong reason to change to the `VCS_` naming for those.

[2022-08-25 23:59] alikhajeh1 commented on #1447
@7onn are you still interested in working on this? if so, feel free to join https://www.infracost.io/community-chat so we can guide you

[2022-08-26 08:08] 7onn commented on #1447
Sure! I'll join the slack channel to seek orientation about this =)

I think this would involve not only the Infracost CLI code but also the Cloud pricing API, right? =)

[2022-08-26 10:14] vdmgolub commented on #1982
@mnaghavi Thank you for fixing this! It should go live with the next release. 👍

[2022-08-26 10:14] #1982 closed

[2022-08-26 13:31] KelvinVenancio commented on #1969
Same behavior here by using the [GKE Module](https://registry.terraform.io/modules/terraform-google-modules/kubernetes-engine/google/latest).

[2022-08-26 14:07] maxime-sourdin opened #1995 "Add support for ArgoCD resources"
Hello,

It will be interesting to integrate the cost of ArgoCD resources

In the infrastructure that is deployed, we deploy an app of app, which in turn deploys applications.

It could therefore be interesting to have an idea of the cost of deploying each application, depending on its resource requirements defined in helm chart (which is specified in the yaml of the application: https://argo-cd.re

[2022-08-26 20:11] caimeq commented on #1623
This can add significant cost depending on pricing and instance that is used.
It would be a big help in furthering insights into the costs associated with planned, and existing, infrastructure

[2022-08-27 05:12] #1991 closed

[2022-08-27 05:12] kalyanaramansmart commented on #1991
Thankyou @hugorut

[2022-08-28 10:05] kalyanaramansmart opened #1996 "Need An npm package for infracost"
Hello Infracost Team,
  I need An Npm Package to estimate the price for the terraform without using the file passing the terraform file as a string to a function and then the function will return the price for the resources like that

[2022-08-28 17:07] alikhajeh1 commented on #1996
@kalyanaramansmart can you possibly share more about what you're trying to achieve? what's the use-case? If you're trying to create an Infracost integration, please see [this doc](https://www.infracost.io/docs/integrations/third_party_integrations/#creating-an-integration).

[2022-08-29 09:57] hugorut commented on #1976
Additional env var support is now merged in master and will be available with the next release. I'm keeping this issue open as it still depends on https://github.com/infracost/infracost/pull/1997 (`infracost upload` support)

[2022-08-30 04:35] kalyanaramansmart commented on #1996
I need a Package like the following code;

import {getCost} from infracost;

function getCostForTerraform(){

let terraformCode = `terraform {
  required_providers {
    aws = {
      source  = "hashicorp/aws"
      version = "~> 4.0"
    }
  }
}

# Configure the AWS Provider
provider "aws" {
  region = "us-east-1"
}

# Create a VPC
resource "aws_vpc" "example" {
  cidr_block = "10.0.0.0/16"
}`

l

[2022-08-30 05:43] alikhajeh1 commented on #1996
Thanks for adding more details, you can subscribe to [this issue](https://github.com/infracost/infracost/issues/1685) for updates.

[2022-08-30 05:43] #1996 closed

[2022-08-30 15:13] hugorut commented on #1976
This functionality has been published in the [0.10.11](https://github.com/infracost/infracost/releases/tag/v0.10.11) release.

[2022-08-30 15:13] #1976 closed

[2022-08-30 15:15] hugorut commented on #1982
Hey @mnaghavi the fix for this has been published in the [0.10.11](https://github.com/infracost/infracost/releases/tag/v0.10.11) release. Thanks for bringing it to our attention.

[2022-08-30 15:16] hugorut commented on #1987
Hi @hiran-filho the fix for this issue has been published in the [0.10.11](https://github.com/infracost/infracost/releases/tag/v0.10.11) release. Thanks for bringing it to our attention.

[2022-08-30 15:17] hugorut commented on #1760
@aliscott's fix has been published in the [0.10.11](https://github.com/infracost/infracost/releases/tag/v0.10.11) release. @demigoldberg , @yuliyantsvetkov it would be great if you give that release a try.

[2022-08-31 06:14] hinaloe opened #2003 "`for_each` enumerates properties instead of resource keys"
For resources that use `for_each` to define multiple items, `for_each` will enumerate the resource properties instead of its keys and resources.

## Example

There is a simple sample.

[code]

### expected result
[code]

### actual result
[code]

[2022-08-31 08:08] demigoldberg commented on #1760
Hi
Well , it is still not working as expected ...
The tool take the instance type from the launch template and not from the
auto scale group ...

My launch template is configured as default to use m4 but my auto scale
group is configured to use m5 different types (the object that actually
matters when setting up the environment)
and you also need to consider the autoscale min/desire/max instances

[2022-08-31 08:13] aliscott commented on #2003
Thanks for reporting @hinaloe and the great reproduction steps. I'm able to reproduce the example you provided. This looks like a bug in our HCL parsing - we will see if we can get a fix out soon.

[2022-09-01 15:18] aliscott opened #2015 "Change the auto-generated project name"
## Current functionality

Currently we generate project names with the repo name as a prefix. For example, for a mono-repo project that has 2 sub-directories (`dev` and `prod`) we would generate the project names as `my-org/my-repo/dev` and `my-org/my-repo/prod` and display them in the CLI, pull request comments and Infracost Cloud.

<table>
  <thead>
    <td>Project</td>
    <td>Previous</td>

[2022-09-05 12:30] vdmgolub commented on #1973
@tbugfinder Just letting you know that the fix is merged to master. It will go out with the next release. Thanks again for reporting the issue! 👍

[2022-09-05 12:30] #1973 closed

[2022-09-06 16:23] fatihtokus commented on #1829
@aliscott , I cannot see your update!

[2022-09-06 20:22] aliscott commented on #1829
@fatihtokus hmm odd, not sure what happened there sorry. Let me see if I can reproduce again and get the steps.

[2022-09-07 22:59] alikhajeh1 opened #2030 "October community call"
### Topics

We're going to cover the following topics (5mins each):
- Quick intros
- Demo of the new `resource_type_default_usage` section of the [usage file](https://www.infracost.io/docs/features/usage_based_resources/#usage-profiles), so you can create separate files for different traffic profiles, e.g. low/medium/high.
- [Weekly reports](https://www.infracost.io/docs/infracost_cloud/notificati

[2022-09-07 23:00] alikhajeh1 commented on #1957
I forgot to record this one, here's a demo Hassan recorded that includes the September updates: https://www.youtube.com/watch?v=8rzvnLPLy8o

Join us for the October community call by subscribing to: https://github.com/infracost/infracost/issues/2030

[2022-09-07 23:00] #1957 closed

[2022-09-08 10:43] ankek opened #2031 "Add support for azurerm_vpn_site"

[2022-09-08 10:49] ankek opened #2032 "Add support for CloudAMQP cloud provider"

[2022-09-08 10:49] ankek opened #2033 "Add support for MongoDB Atlas cloud provider"

[2022-09-08 12:47] tim775 commented on #2032
Thanks for the issue!  Right now our team is focused on AWS, Azure and GCP so we're not adding new vendors at this time. In the future we want to move towards a provider model where community-supported vendors can be added (similar to Terraform providers). We'll keep this open so users can subscribe to it for updates.

[2022-09-08 12:48] tim775 commented on #2033
This is a duplicate of #1842, please upvote there.

[2022-09-08 12:48] #2033 closed

[2022-09-09 15:06] gurpalw commented on #1796
we have an .envrc file that sets the AWS_REGION, based on the directory. it would be good if there was an option that looked for this AWS_REGION or AWS_DEFAULT_REGION value when determining the region.

at the moment, infracost is unusable for us until this is fixed.

[2022-09-09 16:26] aliscott opened #2034 "Incorrect diff with eks module and plan JSON"
## Steps to reproduce

With the following HCL code:

[code]

1. Run `terraform apply`
2. Update the `instance_types = ["t3.micro", "t3.small"]` line to `instance_types = ["t3.micro", "t3.small", "t3.medium"]`
3. Run
[code]

## Expected result
Since we use the first instance type for node groups, I would expect no diff.

## Actual result

[code]

Notice how the removed instance usage is also 'on-de

[2022-09-14 09:55] spotakash commented on #1501
Just For your information, vWAN has running cost associated with `azurerm_virtual_hub`. Which has not been picked up

![image](https://user-images.githubusercontent.com/7689697/190122735-b1101593-fad1-410d-8c23-93532bcc46d2.png)

Another issue, I found that it does not detect cost associated with multi-subscription deployment scenario example: deployed Landing Zone where different component are ru

[2022-09-14 10:07] davetustin commented on #1953
I would also like this feature added.

∙ 3 are not supported yet, see https://infracost.io/requested-resources:
  ∙ 2 x azurerm_subnet_route_table_association
  ∙ 1 x azurerm_route

Thank you!

[2022-09-15 09:43] #1978 closed

[2022-09-17 15:13] spotakash commented on #1501
I am trying to use this module to deploy Azure LandingZone which allow us to deploy different part of Landing Zone into different subscription. You may refer [guidance here](https://github.com/Azure/terraform-azurerm-caf-enterprise-scale/wiki/%5BUser-Guide%5D-Provider-Configuration#multi-subscription-deployment).

Please refer `azurerm_virtual_hub `and `vWAN `code block for [module here](https://g

[2022-09-19 13:34] eugenestarchenko commented on #1841
We're using a very big monorepo with many folders & environments with terragrunt.
I created 2 workflows to have a workaround to the timing issue to iterate only on PR changes and at the same time be able to see total costs.

1) One workflow for Terragrunt to evaluate costs breakdown for all the envs using GHA matrix. It can be triggered on PR against 'costs' branch (used only to see costs summary)

[2022-09-20 09:27] mrhr7 commented on #1931
Hi,

we have experienced the same error message but not using the `aws_data_transfer` any where in the code.
Here is the output error.

[code]

Since we are using that in our CI/CD, and it will fail the whole job, so it's bothering the users.
Could you please put it as a high priority issue to be resolved ?

Thanks

[2022-09-20 10:02] vdmgolub commented on #1931
@mrhr7 Hey, thank you for the info! Are you able to tell what exact command caused this stack trace?

From what you said and what I can see, you have a v0.10.10 CLI version, and the error happens on checking for the newer versions. Looks like something happens during the API request to GitHub.

Can you try the following things to see if it fixes the issue?
1. Use `INFRACOST_SKIP_UPDATE_CHECK=true`

[2022-09-20 10:34] mrhr7 commented on #1931
@vdmgolub , Thanks for the info, I will use the `INFRACOST_SKIP_UPDATE_CHECK=true` for resolving the problem for now.

Here is the exact command, I am running and getting that stack trace:
[code]
The plan.json file is being created by `terraform show -json plan.tfplan > plan.json`

[2022-09-20 12:43] vdmgolub commented on #1931
@mrhr7 Thank you!

I've tried replicating this, but it works fine for me. The panic you get comes from Go's net/http package internals, not from the CLI code, so I'd guess what you see is not connected to the error in this issue. However, the version check should not be so disruptive.

May I ask if this error happened for all runs? Or was it intermittent?

[2022-09-20 14:52] mrhr7 commented on #1931
@vdmgolub, It is intermittent and with the next run of the same infra job, it doesn't happen again.

[2022-09-20 16:10] aliscott opened #2051 "Incorrect node count for node pool when using `terraform-google-modules`"
HCL parsing is returning an incorrect node count when defining a node pool against a cluster created by the [terraform-google-modules/kubernetes-engine module](https://github.com/terraform-google-modules/terraform-google-kubernetes-engine).

It seems that it is unable to resolve `module.gke-cluster.name` which means the node pool is not able to detect that the cluster is zonal (not regional) and t

[2022-09-20 18:48] orbitz commented on #1952
Another example where this has come up is we have a repository that is really big and running infracost on it just takes a long time.  We'd like to be able to target exactly what dirs we want run at any particular time, for performance reasons, and now have infracost recursively find more directories.

[2022-09-21 07:02] arogic opened #2052 "Support for Azure Reserved Instances"
Hi,

it seems that Azure Reserved Instances are currently not supported for Azure Virtual Machine Terraform Resources by infracost according to the documentation https://www.infracost.io/docs/supported_resources/azure/.

Are there any plans to add support for Azure Reserved Instances?

Thanks

[2022-09-21 08:35] vdmgolub commented on #2052
Hello @arogic! Thank you for creating the issue! We define our resources support roadmap based on the community's interest in these resources. I believe your issue is the first one created on this topic, so there were no plans yet.

However, we always accept community [contributions](https://github.com/infracost/infracost/blob/master/CONTRIBUTING.md#adding-new-resources), so if you are interested

[2022-09-21 13:25] hugorut commented on #1949
Reopening this issue as https://github.com/infracost/infracost/pull/1950 did not add full support for tiered pricing

[2022-09-21 20:12] ianwesleyarmstrong opened #2053 "Add support for Snowflake"
Is there any interest in adding support for [snowflake][(https://registry.terraform.io/providers/Snowflake-Labs/snowflake/latest/docs/resources/database) as a supported platform? I'm presuming that it would heavily rely on user supplied estimations. Being able to estimate costs of warehouses, snowpipes, data storage (based on retention time) would be nice to see in a PR!

One limitation that I cou

[2022-09-21 23:17] alikhajeh1 commented on #2053
Thanks for creating this @ianwesleyarmstrong! This is the sort of thing we'd love to support longer term but our team is currently focused on supporting AWS, Azure and GCP so we prefer not to work on adding new vendors at this time. We would like to move towards a provider model where community-supported cloud vendors could also be added (similar to Terraform providers). We'll keep this open so us

[2022-09-22 12:43] black-snow opened #2055 "infracost comment gitlab - 404"
I followed [this](https://gitlab.com/infracost/infracost-gitlab-ci) but the job fails with

time="2022-09-22T12:11:16Z" level=info msg="Finding matching comments for tag infracost-comment"
time="2022-09-22T12:11:17Z" level=info msg="Found 0 matching comments"
time="2022-09-22T12:11:17Z" level=info msg="Creating new comment"
Error: The pull request comment was generated successfully but could not b

[2022-09-22 13:08] vdmgolub commented on #2055
@black-snow Hello! Thank you for creating the issue and providing the debug output! :)

The `infracost comment gitlab` performs two API requests to GitLab:
1. Check the existing comment on the merge request (using GitLab's GraphQL)
2. Post a new/update comment (using GitLab's REST API)

It seems like the first request worked fine as it showed 0 comments, but the second one failed with 404 status,

[2022-09-22 19:01] saucecon-aanand opened #2056 "Add monthly_hrs to aws_db_instance"
We shutdown EC2 and RDS SQL server instances when not-in-use. Can the ability to calculate costs based on number of uptime hours per month be added please for EC2 and RDS instances using the usage-based-resources concept. Thank you!

[2022-09-22 20:26] alikhajeh1 commented on #2056
Hi @saucecon-aanand - great question! For EC2, that's already supported in the [usage-file](https://www.infracost.io/docs/features/usage_based_resources/), see [this reference file](https://github.com/infracost/infracost/blob/master/infracost-usage-example.yml#L239) for the `monthly_hrs` option.

The same can be added to the `aws_rds_cluster` and the `aws_rds_cluster_instance` resource, https://gi

[2022-09-23 08:11] black-snow commented on #2055
Thanks for the quick reply @vdmgolub !

The slash in `CI_PROJECT_PATH` should not be urlencoded.

[code]

[2022-09-23 08:32] black-snow commented on #2055
Tested again with a public test project - posting comments works there.

[2022-09-23 08:37] black-snow commented on #2055
I created a project access token with api scope but the guest role ... works with more privileged roles 🤦
Maybe you could add a hint to the docs ;) @vdmgolub

[2022-09-23 08:37] #2055 closed

[2022-09-23 10:07] vdmgolub commented on #2055
@black-snow Great job on solving this! 👏

We don't use GitLab's premium/ee features, so I guess the guest role was overlooked as it's not mentioned in their docs. Thanks for the tip! I'll play with their EE setup and update our docs 👍

[2022-09-23 13:01] saucecon-aanand commented on #2056
Thanks, I will follow the reference file for EC2.

My request regarding RDS was more towards `aws_db_instance` resource, if this resource can also support `monthly_hrs` option.

[2022-09-23 17:39] alikhajeh1 commented on #2056
Thanks @saucecon-aanand good point, I mixed-up that resource with the _cluster resources, I updated my previous comment as the monthly_hrs can be added to that too.

[2022-09-24 08:17] aliscott commented on #1841
Something like this https://github.com/contentful-labs/terraform-diff might help us detect which code we need to evaluate.

[2022-09-27 10:55] pacorreia commented on #1796
Let em add a use case scenario:

I have a multi-region setup wehere terraform iterates through a list of regions.
Several resources are created using for_each and indexed by region.

For dependency reasons, I always refer to resource locations using the the location property of a parent resource rather than using the region variable. So in my case I'm kaing it hard for infracost to get it.

What i

[2022-09-27 16:11] fatihtokus commented on #1829
@aliscott, I think I have been able to reproduce the issue, please assign it to me

[2022-09-27 18:25] aliscott commented on #2051
This could be related to https://github.com/infracost/infracost/issues/1968. That seems to be another case where the HCL parsing is unable to parse a module output (in that case it's the `Invicton-Labs/deepmerge/null` module).

[2022-09-28 15:34] hugorut commented on #1978
This is now live in the [v0.10.12](https://github.com/infracost/infracost/releases/tag/v0.10.12) release. Thanks @balazs-marjan for your contribution.

[2022-09-28 15:35] hugorut commented on #1973
A fix for this issue is now live in the [v0.10.12](https://github.com/infracost/infracost/releases/tag/v0.10.12) release.

[2022-09-28 15:38] #1672 closed

[2022-09-28 21:24] alexanderniebuhr commented on #187
@rshade nice work. Any idea how to support ECR + Fargate. And any ETA yet?

[2022-09-29 11:58] Marcus-James-Adams opened #2063 "Bug: sql_managed_instance not recognised"
Azure SQL managed instance   support was included under #1460 and #1461

trying it just now under 0.10.12 and its showing as unsupported.

[2022-09-29 12:01] Marcus-James-Adams opened #2064 "Add support for confluent cloud"
Whilst I understand the current primary focus is on the main cloud providers

Could I add to the list of ancillary cloud services that often get used alongside confluent cloud, please?

[2022-09-29 12:02] Marcus-James-Adams opened #2065 "Add support for MongoDB Atlas"
Whilst I understand the current primary focus is on the main cloud providers

Could I add to the list of ancillary cloud services that often get used alongside MongoDB Atlas, please?

[2022-09-29 12:50] emocharnik opened #2066 "Wrong estimation of the `google_compute_disk` resource on destroying workspace"
The `infracost breakdown` command results in wrong estimates if it's given a plan with destructive changes inside.

Infracost version: `0.10.12`
Command: `infracost breakdown  --path=<path-to-plan.json> --format=json`

Examples:
On applying workspace:

[code]

Same configuration on destroying workspace:
[code]

[2022-09-30 14:36] rshade commented on #187
@alexanderniebuhr you can contribute to my branch if you would like. @alikhajeh1 provides the ETA, however you can build your own and use the stuff in ic-demo as an example.

[2022-10-03 18:21] alikhajeh1 commented on #187
@rshade thanks for keeping that branch updated with the latest changes!

@alexanderniebuhr we don't have an ETA yet but it's definitely something we want to look at. If you use https://github.com/infracost/infracost/pull/1752, please provide feedback on that PR thread so we can take it into account when we work on it.

[2022-10-04 08:28] spotakash commented on #1501
@hugorut i have provided information, sample and repo. Is there any update?

[2022-10-04 08:50] hugorut commented on #1501
@spotakash the problem you are having seems to be related to the third-party module you are using. Infracost displays a "Data processed" pricing for `azurerm_virtual_hub` if it can detect that this resource has been used. From the example output you've posted, it seems we don't pick that up. I suspect this is because the third-party module your using has some complexities within it that Infracost

[2022-10-05 15:06] Marcus-James-Adams commented on #2063
im not programmer, please open it up to the community to see if they can fix it

[2022-10-07 08:28] ktibi opened #2080 "Count with condition"
Hello,

I have issue when I try to use infracost on a ressource with a count mixed with condition. Example with NAT gateway on AWS :

`resource "aws_nat_gateway" "nat-gw" {
  count         = var.nat-mode == "none" ? 0 : var.nat-mode == "single" ? 1 : var.nat-mode == "multi" ? length(aws_subnet.public) : 0
`
Infracost say I'll deploy 6 nat GW module.network.aws_nat_gateway.nat-gw[1] ==> module.netw

[2022-10-07 15:46] tim775 commented on #2080
Hi, what version of infracost are you using?

I made a similair tf config to what you posted but I haven't been able to reproduce the problem.  Could you provide a more complete example?

This is what I tried that seems to work ok:

[code]

[2022-10-11 18:57] alikhajeh1 opened #2085 "November community call"
### Topics

We're going to cover the following topics (5mins each):
- Quick intros
- [Actual costs](https://www.infracost.io/docs/infracost_cloud/actual_costs/) and data transfer costs
- Pull request status filter
- [Notification of budget-breaking pull requests](https://github.com/infracost/infracost/issues/1727)
- Any other topic that you’d like to discuss

### When
**Tue 8 November 2022**, 11:0

[2022-10-11 18:59] alikhajeh1 commented on #2030
Here's the recording of the Oct call: https://www.youtube.com/watch?v=QnmmWsWJ8cE

[See you in November](https://github.com/infracost/infracost/issues/2085)!

[2022-10-11 18:59] #2030 closed

[2022-10-12 14:30] rogs95 opened #2086 "FSX SSD storage unable to be priced"
On a recent CI run when pricing an FSX for windows resource with SSD storage the following appeared in the log and the storage cost for the resource was set to 0:

` time="2022-10-12T13:09:06Z" level=warning msg="No products found for module.fsx.aws_fsx_windows_file_system.storage SDD storage, using 0.00"`

When the storage is set to use HDD then the pricing can be retrieved successfully and when

[2022-10-12 15:16] tim775 commented on #2086
Thanks for the issue.  Let me know if you would like to submit a PR for the fix (since you've already done the debugging 🙂).  If so it would be good to add a test case for SSD [here](https://github.com/infracost/infracost/blob/367f1fe9c7e8601f5c1b31ba8ec696593569d71b/internal/providers/terraform/aws/testdata/fsx_windows_file_system_test/fsx_windows_file_system_test.tf).  If not I'll open it up to

[2022-10-12 20:24] fatihtokus commented on #1856
@aliscott , please assign this to me

[2022-10-13 09:12] hugorut commented on #1856
Hey @fatihtokus, It might be a good idea to outline your potential solution to this issue either here or in the `#contributors` chat.  The mocking functionality in HCL parsing is a little tricky, and there are several edge cases that we need to be aware of. So it might be useful to discuss before you set out on implementation, as I don't want you to waste time on a solution that might require tons

[2022-10-13 20:32] alikhajeh1 commented on #874
We released https://www.infracost.io/blog/oct-2022-update/#usage-profiles recently so I'm going to close this and we can see if users want more fine-grained wildcard support.

[2022-10-13 20:32] #874 closed

[2022-10-13 20:35] alikhajeh1 commented on #934
The current workaround is to use a config-file with a usage-file per TF module (described [here](https://www.infracost.io/docs/features/config_file/) > Terragrunt with multi-usage files). Given that we recently released https://www.infracost.io/blog/oct-2022-update/#usage-profiles, I think we can close this issue and see if users want project-specific usage data.

[2022-10-13 20:35] #934 closed

[2022-10-13 21:04] alikhajeh1 commented on #1219
Has anyone tried this on their CDK for TF projects?
[code]

I tried it on a small test project and it worked ok.

[2022-10-13 21:16] alikhajeh1 commented on #1441
Going to close this issue as most users are moving to using [Infracost Cloud](https://www.infracost.io/docs/infracost_cloud/get_started/) to [share](https://www.infracost.io/docs/infracost_cloud/key_concepts/#team-management) access to all runs with their teams. That gives them control over who sees what.

[2022-10-13 21:16] #1441 closed

[2022-10-13 21:16] alikhajeh1 commented on #1292
Going to close this issue as most users are moving to using [Infracost Cloud](https://www.infracost.io/docs/infracost_cloud/get_started/) to [share](https://www.infracost.io/docs/infracost_cloud/key_concepts/#team-management) access to all runs with their teams (instead of using HTML exports as that requires them to host those somewhere, setup access control etc).

[2022-10-13 21:16] #1292 closed

[2022-10-13 21:17] alikhajeh1 commented on #1478
Going to close this issue as it's not been brought-up much and the workaround that @PatMyron seems simple and solid.

[2022-10-13 21:17] #1478 closed

[2022-10-13 21:18] alikhajeh1 commented on #1538
@fatihtokus just wondering if there was any update on this?

[2022-10-13 21:32] alikhajeh1 commented on #1579
What's the status of this? I thought the refactors were all done for AWS/Azure/Google? maybe @tim775 or @aliscott knows?

[2022-10-13 21:33] alikhajeh1 commented on #1647
Going to close this issue as we've not heard back and we need more info to debug. Feel free to re-open the issue!

[2022-10-13 21:33] #1647 closed

[2022-10-13 21:34] alikhajeh1 commented on #1648
Going to close this as we'll iterate on the CLI output at a later time.

[2022-10-13 21:34] #1648 closed

[2022-10-13 21:36] alikhajeh1 commented on #1760
@demigoldberg any chance you can provide the actual TF code you're using so we can reproduce this issue?

[2022-10-13 21:39] alikhajeh1 commented on #1875
Can we close this issue?

[2022-10-13 21:42] alikhajeh1 commented on #1970
Going to close this issue but feel free to re-open if you think we need to make changes.

[2022-10-13 21:42] #1970 closed

[2022-10-13 22:17] fatihtokus commented on #1538
@alikhajeh1  created a PR.

[2022-10-14 10:13] hugorut commented on #2086
hey @rogs95, thanks to @jgrumboe a fix for this has been merged into master. It will go into the next release. Ill let you know when it's available.

[2022-10-14 16:17] b4nst opened #2091 "GKE node price is $0.00 with certain machine_types"
When running infracost against a GKE cluster, node and storage are set to "free".

[code]

[2022-10-14 16:36] alikhajeh1 commented on #2091
@b4nst thanks for reporting this issue! Can you please copy/paste the TF resource block that was used to generate this, as well as any warning lines from `infracost breakdown --log-level debug` so we can reproduce it and quickly fix it?

[2022-10-14 17:11] b4nst commented on #2091
So I cannot share the whole config here but the node pools look like:

[code]

Regarding the warnings, I guess it explain the issue:

[code]

[2022-10-14 18:27] alikhajeh1 commented on #2091
@b4nst perfect! That's very helpful. This looks like a pricing issue so we'll look at it, we usually see this when new regions are added and they've not been picked-up in our Cloud Pricing API yet, which region are you using?

[2022-10-15 08:01] sinabakh commented on #1579
@alikhajeh1 Azure resources are left. I was working on them but currently I have problems with running tests locally because of network issues.

[2022-10-15 10:19] b4nst commented on #2091
I'm using `us-central1`

[2022-10-16 14:47] tim775 commented on #2091
@b4nst it looks like we do have prices for `Linux/UNIX, preemptible, e2-highcpu-16` in `us-central1`.  What version of the CLI are you using and are you using the self-hosted cloud pricing API?

[2022-10-16 19:31] b4nst commented on #2091
I'm running the latest version (`v0.10.12`) and I'm using
[code]
which I think is the standard hosted version right?

[2022-10-17 09:22] rogs95 commented on #2086
great, thanks

[2022-10-17 18:28] tim775 commented on #2091
Yes that is the standard pricing api so that shouldn't be a problem.  We do have prices for preemptible e2-highcpu-16 in us-central1, so maybe the region isn't being picked up properly.

Can you share the `google_container_cluster` config (at least the `location` param)?  It picks up the region from cluster if there is no `location` set directly on the `google_container_node_pool`.

Also, do you s

[2022-10-18 03:33] alikhajeh1 commented on #1538
Given the comments above (that the current behavior is confusing), I'm wondering if we should add the new `--show-options=all-projects` flag to all of our [CI/CD examples](https://www.infracost.io/docs/integrations/cicd/) so users are not confused about missing projects but are also aware that they can change that to make the summary table less noisy?

[2022-10-18 22:53] laurekamalandua commented on #812
This is an amazing project. We would love to tune in once native (ARM/CDK) support is available.

[2022-10-19 09:32] robh007 commented on #2080
Also, I hadn't realised that EIPs no longer incur a charge unless they're not being used. So I'm assuming that's got something to do behaviour I'm seeing.

[2022-10-19 09:39] vdmgolub commented on #2080
@robh007 Hey! Thanks for the example! Yes, I've tried to run it with `INFRACOST_LOG_LEVEL=debug` and `--show-skipped` and CLI detects these IPs as free. However, running the CLI with the plan doesn't detect them being used. I wonder if the plan behavior is incorrect. I haven't used this module, so maybe you can tell me what behavior is correct in your opinion.

[2022-10-19 09:49] robh007 commented on #2080
Hi @vdmgolub, I think the plan behaviour is correct as they are IPs that are being created stand alone & not necessarily being allocated or attached. The attachment occurs within the `nat_gateway` resource. So although EIPs are now free, you now appear to pay & fee for when they aren't attached to something. Which is the wording in the from the plan file. Sorry I seem to have hijacked this thread

[2022-10-19 09:52] vdmgolub commented on #2080
@robh007 Yep looks like a different issue specific to the EIPs. Could you please create a new one so we can track it separately? :)

[2022-10-19 10:09] robh007 opened #2094 "EIPs show up in plan only."
I was just coming here to ask a question around this & how infracost is calculating counts within modules. I'm using this module [terraform-aws-vpc](https://github.com/terraform-aws-modules/terraform-aws-vpc). I've configured the module to use a nat gateway.

`infracost version v0.10.12`

[code]
Infracost is picking up the NAT gateway(s), the number of nat gateways is computed from AZS or a variab

[2022-10-19 10:10] robh007 commented on #2094
I think the plan behaviour is correct as they are IPs that are being created stand alone & not necessarily being allocated or attached. The attachment occurs within the `nat_gateway` resource. So although EIPs are now free, you now appear to pay & fee for when they aren't attached to something. Which is the wording in the from the plan file. Sorry I seem to have hijacked this thread now with possi

[2022-10-19 10:12] robh007 commented on #2080
I opened #2094 @vdmgolub

[2022-10-19 10:30] ClaaudiaGarcia opened #2095 "Critical vulnerability (CVE-2022-36085) in v0.10.12"
When trying to implement the infracost version v0.10.12 in a docker image, trivy has found a CVE in the infracost binary with the following information:
[code]
Open-policy-agent (opa) [v0.44.0](https://github.com/open-policy-agent/opa/releases/tag/v0.44.0) will fix this issue.

[2022-10-19 11:06] vdmgolub commented on #2095
@ClaaudiaGarcia Hello! Thank you for creating the issue! :)

The fix is already merged to master ([PR](https://github.com/infracost/infracost/pull/2042)). We expect the new version, v0.10.13, will be released tomorrow, including this fix.

I'm going to close this issue. We'll post an update here when the release is live.

[2022-10-19 11:06] #2095 closed

[2022-10-20 03:55] ajinkya101 commented on #812
I would like to say i am big fan of infracost when getting cost estimates for terraform resources, but it took very long time for them to bring cloud-native IaaC support like Bicep/ARM. I remembered writing blog on it because i was totally amazed out of it.

Here's link -  [Infracost on Azure](https://faun.pub/infracost-cost-estimates-for-the-iac-resources-in-azure-e840ab556d12)

More than 30 peop

[2022-10-21 18:13] tim775 commented on #1829
This is live.  Thanks @fatihtokus

[2022-10-21 18:25] tim775 commented on #2003
@hinaloe this is live in v0.10.13

[2022-10-21 18:25] #2003 closed

[2022-10-21 18:26] tim775 commented on #2086
@rogs95 this is live in v0.10.13

[2022-10-21 18:26] #2086 closed

[2022-10-24 05:57] hinaloe commented on #2003
That looks very good! Thanks your work!!

[2022-10-24 13:11] #1875 closed

[2022-10-24 13:21] vdmgolub commented on #2095
The new v0.10.13 has been released with the fix! Thanks again for reporting the issue! :)

[2022-10-24 16:29] aliscott commented on #1947
@armenr, @MHarutunian thank you 🙏 . I was able to reproduce this with v0.10.8 but can no longer reproduce it with [v0.10.13](https://github.com/infracost/infracost/releases/tag/v0.10.13). Can you confirm if this is still an issue for you and re-open this issue if it is.

[2022-10-24 16:29] #1947 closed

[2022-10-24 16:32] #1931 closed

[2022-10-24 16:38] aliscott commented on #1760
Closing this since we've been unable to reproduce the issue. If anyone has reproducible Terraform code samples for this please re-open with the provided examples.

[2022-10-24 16:38] #1760 closed

[2022-10-24 20:23] jgrumboe commented on #2065
Give some love to this MongoDB feedback idea as there's currently no public pricing API available https://feedback.mongodb.com/forums/924145-atlas/suggestions/45654718-public-api-to-get-cluster-pricing

[2022-10-25 10:17] megakid opened #2101 "azurerm_managed_disk pricing at 0.00"
It seems the `azurerm_managed_disk` resource is not getting correct priced:

Our Premium LRS P40 disks cost £291.66 a month fixed, plus £15.29 per mount. See https://azure.microsoft.com/en-gb/pricing/details/managed-disks/

I see #588 but it doesnt' seem to be working for us.

[code]

Running infracost v0.10.11 against the cloud API

[2022-10-25 10:39] aliscott commented on #2101
@megakid Azure made some changes recently to their pricing API. Are you able to try with v0.10.13 which should fix this issue?

[2022-10-25 15:05] elliotrpage opened #2102 "Add Support for AWS AppStream Resources"
Adding support for AWS AppStream family resources, in particular Image Builder and Fleet costs.

Terraform Resources:
https://registry.terraform.io/providers/hashicorp/aws/latest/docs/resources/appstream_fleet
https://registry.terraform.io/providers/hashicorp/aws/latest/docs/resources/appstream_image_builder

Pricing details:
https://aws.amazon.com/appstream2/pricing/
https://aws.amazon.com/blogs/

[2022-10-25 15:56] aliscott commented on #2102
Thanks! Let me know if you’d like to [contribute (https://github.com/infracost/infracost/blob/master/CONTRIBUTING.md#adding-new-resources), otherwise I’ll open it up for the whole community (we regularly prioritize and work on them too).

[2022-10-25 17:40] vdmgolub opened #2103 "The estimated cost for `mac1.metal` AWS instance type returns $0"
A user reported an issue with the `mac1.metal` instance type:

Debug log:

TF code to reproduce:
[code]

[2022-10-27 15:42] pacorreia opened #2105 "Add support for Azure Front Door Standard/Premium"
Hi team,

Currently infracost support [Azure Front Door Classic][azure-frontdoor-classic-docs], which is kind of a legacy resource.
Later Microsoft released a re-designed  2 new versions for the same product.

The tier comparison that provides all information of what each one contains can be consulted [here][azure-frontdoor-tier-comparison]
The cost for any of them can be consulted [here][azure-fr

[2022-10-27 23:13] ekristen commented on #1685
The easiest path to making this happen is to stop using `internal` directory, replace `internal` with `pkg` then people can start using your code outside of this repo. As of now 99% of the code cannot be imported :(

[2022-10-28 06:17] alikhajeh1 commented on #1685
@ekristen good point - can you possibly share your use-case for an SDK? We're still working on core Infracost concepts - and making big internal changes (e.g. [seeing actual costs too](https://www.infracost.io/docs/infracost_cloud/actual_costs/)), so we're using the Infracost [JSON output](https://www.infracost.io/docs/features/cli_commands/#examples) as our interface to other tools (this is versi

[2022-10-28 07:19] hugorut commented on #1685
Hey @ekristen, exporting all the internals from Infracost is not an option for us. We'd like to maintain a consistent and well-thought-out interface which we can actively support. This is not only simpler for the community/users to adopt but also easier for us to version and provide a stable API.

[2022-10-28 12:34] ekristen commented on #1685
For me it's less an SDK and getting to reuse some of your code. Like structures for the breakdown or usage file in golang. Or your HCL parser.

On a personal level I think open source projects should never use internal as it can't be imported externally. It's counter to it being open sourced.

I'm very appreciative of your tool and the free and open source aspect.

[2022-10-31 21:29] mclacore opened #2108 "Azure resources cost breakdown $0.00"
I haven't used Infracost in a couple of months. I updated today to try using it a bit, and I'm finding that all of the Azure resources that I'm trying to get a cost breakdown for return as $0.00. I noticed this issue a couple of months ago too, but wasn't able to prioritize this enough to find out why until now. Here's the Terraform I'm running:

[code]

Here's my params files:
[code]

Here is the

[2022-11-01 01:04] tim775 commented on #2108
@mclacore Hi, I'm trying to reproduce this.  Could you provide the the terraform for the variable definitions and maybe a stub for the `azurerm_resource_group` that gives you the same error?  Something like this should be sufficient:
[code]
Cheers

[2022-11-01 15:47] mclacore commented on #2108
@tim775 sure thing:

[code]

`params_variables.tf.json`:
[code]

[2022-11-01 16:23] tim775 commented on #2108
Thanks, what values are you setting for `region` and `subnet_ids` ?  I don't see them defined in the params file you pasted initially.

I'm trying to build a self contained test case similair to the ones defined [here](https://github.com/infracost/infracost/blob/master/internal/providers/terraform/azure/testdata/redis_cache_test/redis_cache_test.tf).

[2022-11-01 16:35] mclacore commented on #2108
For `region` I have it set to `westus` and `subnet_id` is set to the default subnet ID of my VNet.

[2022-11-04 15:00] vdmgolub commented on #1796
The new ENV vars were merged to master and will go out with the next release.

[2022-11-04 15:00] #1796 closed

[2022-11-04 15:13] alikhajeh1 commented on #1796
@vdmgolub can you possibly add a link to the docs PR so users who want to try it early can do it by setting the env vars and following [this](https://github.com/infracost/infracost/blob/master/CONTRIBUTING.md#install) then [this](https://github.com/infracost/infracost/blob/master/CONTRIBUTING.md#run) step?

[2022-11-05 13:23] elliotrpage commented on #2102
Apologies, I do not have the capacity to work on this at present. If this changes in the future I will let you know!

[2022-11-07 17:54] mclacore commented on #2108
@tim775 any updates on this?

[2022-11-07 23:31] jgrumboe commented on #2103
@vdmgolub
I tried to figure out where the problem is here and searched around a little bit.
So, Macs in AWS are dedicated hosts and I used that blog https://marcincuber.medium.com/aws-mac-instances-with-terraform-701b8b292e9e to understand how Mac instances are created.
Support for creating dedicated hosts with Terraform was introduced here https://github.com/hashicorp/terraform-provider-aws/pull/

[2022-11-07 23:35] jgrumboe commented on #1623
Would also be needed to support Mac pricing, see #2103

[2022-11-08 18:34] tim775 commented on #2108
Hi @mclacore, sorry I haven't been able to reproduce this.  Could you take a look at the `examples/terraform_azure_redis_cache` directory in [the `examples_azure_redis_cache`  branch](https://github.com/infracost/infracost/tree/example_azure_redis_cache/examples/terraform_azure_redis_cache)?

If we can figure out how to make that example reproduce the $0 thing we should be able to fix the issue.

[2022-11-09 11:53] Marcus-James-Adams opened #2126 "Azure managed disk ignored when storage_account_type = "StandardSSD_ZRS""
Infracost v0.10.13

When storage types are set as StandardSSD_LRS, infracost reports storage costs correctly but if you change the type to "StandardSSD_ZRS" then the costs are ignored when hey should be 3xthe LRS cost.

This is both within azurerm_managed_disk and the OS disk created as part of azurerm_windows_virtual_machine

When the storage type is set as "StandardSSD_LRS" for both types of dis

[2022-11-09 16:49] vdmgolub commented on #2103
@jgrumboe Thank you for researching this! 🙏 :)

[2022-11-09 16:58] hugorut commented on #2126
Hey @Marcus-James-Adams, thanks for raising this. Yes, looking at the code for `azurerm_managed_disk` we don't currently support `ZRS` disk types. I think this is something we could accomodate quite easily by the looks of it. However, just to set your expectations, we have a lot of other high priority issues in our backlog. So we might not get to this that quickly. If you want this quicker than ou

[2022-11-11 15:23] MHarutunian commented on #1947
@aliscott
Just got around to test this and I can confirm that it now works for us with v0.10.13 - thank you very much!

[2022-11-11 16:36] aliscott commented on #1947
Thanks for confirming @MHarutunian 🙏

[2022-11-13 11:06] robh007 commented on #1623
I've started this @alikhajeh1

[2022-11-14 10:15] alikhajeh1 commented on #1623
Thanks @robh007!

[2022-11-14 14:00] aliscott commented on #2091
Closing this issue since we've been unable to reproduce. @b4nst please re-open if you can provide the above information and we can investigate further 🙏 .

[2022-11-14 22:55] robh007 commented on #1949
I can take a look at this @aliscott @hugorut

[2022-11-15 11:50] #1623 closed

[2022-11-15 11:51] vdmgolub commented on #2103
#2135 fixes this issue as well. This will go out with the next release. Thank you, @robh007, for your contribution!

[2022-11-15 11:51] jgrumboe commented on #1623
😮 That was a quick one @robh007! 🎉

[2022-11-15 12:16] vdmgolub commented on #1623
Thank you @robh007! This will go out with the next release. ❤️

[2022-11-15 17:00] piedro commented on #911
Hi there

I wanna know， is there any update about OCI ?

[2022-11-16 12:55] robh007 opened #2138 "AWS Lambda - missing cost configurations"
Currently AWS Lambda supports both x86 & Arm architectures. They have different pricing options, also lambda now supports storage options & this too is missing from the `lambda_function` resource. Concurrency is also not supported within the `aws_lambda_provisioned_concurrency_config` tf resource.

[2022-11-17 10:53] raj-dhamsaniya opened #2139 "Proper error msg in case of issue with plan file"
What is the issue?
- In one of the instances, in the tfplan json file, there are quotes(`''`) added at the start and end of the file. Because of this, infracost failed with providing help in running the diff command. however, the actual issue was with the plan file. Here is the debug output of the same.

time="2022-11-17T16:15:59+05:30" level=debug currency=USD func="github.com/infracost/infracost

[2022-11-17 11:05] vdmgolub commented on #2139
@raj-dhamsaniya Hello! Thank you for creating the issue!

The error you're seeing is not caused by the invalid tfplan JSON file but by the missing required `--compare-to` flag. The infracost diff` command compares your current plan with some baseline. Hence it shows you instructions with 3 steps: 1. generate baseline, 2. make changes, 3. run diff to see the cost difference made by your changes.

I

[2022-11-17 13:36] vdmgolub commented on #2139
Yep, my bad. Sorry for the confusion. I forgot that with the TF plan, we could detect both states. I was able to reproduce it as well.

The `--path` flag supports different options, and we already try to parse JSON to detect if it's a valid JSON file. When this check fails, we keep checking other possible options, and if none are detected, we default to the Terraform directory. Thus the output mes

[2022-11-17 13:48] raj-dhamsaniya commented on #2139
Was looking for the code. thanks for this. I see why the issue is there. makes sense.

IMHO we can have two options i.e. path for terraform dir approach or --plan-path for terraform plan.
Saying that I do see the intuition behind keeping it the same flag but the way we want to derive the diff is entirely diff so the diff flags do make sense.

[2022-11-17 13:54] vdmgolub commented on #2139
It is a constant battle between supporting more options and keeping the number of flags at bay. We went through several iterations to make the DX better. Nothing is ideal. There are always ways to improve. Thanks to you and the community, we can spot and fix that. :D

[2022-11-19 09:58] gaurav-d9 commented on #1988
Hi @hugorut just wanted to check if the feature is there now, if not... can you help me to contribute, thanks.

[2022-11-21 10:59] vdmgolub commented on #1988
@gaurav-d9 Hello! To clarify, the "custom" non-standard images are not related to the image OS but image types with non-standard CPU/RAM values. There is an open PR that implements this functionality thanks to one of our community contributors: https://github.com/infracost/infracost/pull/2004.

For the paid images, indeed, there is no support yet. If you want to contribute, you can start with [our

[2022-11-22 14:30] saucecon-aanand opened #2141 "Add cost for Route_53_Resolver_Endpoints"
When reviewing our AWS recurring costs, we see (static) monthly cost per ENI for "ResolverNetworkInterface". Please, look whether this cost can be added in Infracost estimates. see AWS documentation for pricing below.

https://aws.amazon.com/route53/pricing/#Route_53_Resolver_Endpoints

[2022-11-22 17:08] ctit-cl opened #2142 "Add support for ElaticCloud"
Whilst I understand the current primary focus is on the main cloud providers

Could I add to the list of ancillary cloud services that often get used alongside ElasticCloud, please?

[2022-11-22 17:10] ctit-cl opened #2143 "Add Cost for google_filestore_instance"
It's necessary for NFS implementación check

[2022-11-23 13:07] #1949 closed

[2022-11-23 16:24] aliscott commented on #2141
Thanks @saucecon-aanand ! Let me know if you’d like to [contribute](https://github.com/infracost/infracost/blob/master/CONTRIBUTING.md#adding-new-resources), otherwise I’ll open it up for the whole community (we regularly prioritize and work on them too).

[2022-11-23 16:25] aliscott commented on #2142
Thanks @ctit-cl! Let me know if you’d like to [contribute](https://github.com/infracost/infracost/blob/master/CONTRIBUTING.md#adding-new-resources), otherwise I’ll open it up for the whole community (we regularly prioritize and work on them too).

[2022-11-23 16:27] aliscott commented on #2142
Thanks for creating this @ctit-cl! This is the sort of thing we'd love to support longer term but our team is currently focused on supporting AWS, Azure and GCP so we prefer not to work on adding new vendors at this time. We would like to move towards a provider model where community-supported cloud vendors could also be added (similar to Terraform providers). We'll keep this open so users can sub

[2022-11-23 16:30] saucecon-aanand commented on #2141
I am not faimiliar with go, so won't be able to contribute. Thank you for opening up for the community!

[2022-11-24 05:26] gaurav-d9 commented on #1988
Yeah please assign it to me, I'm looking into guidelines

[2022-11-25 21:18] grixxie commented on #2126
hey @hugorut I'm going to try to get this one sorted as my first contribution. How do I add this to the project board?

[2022-11-30 13:43] #2103 closed