[2021-08-23 15:47] kevinkengne commented on #871
:wave:, what would be the cost component for these resources?

[2021-08-23 15:50] alikhajeh1 commented on #871
I think they should be the same as `google_compute_instance`. So we can refactor the cost components in that resource to put them in functions and call them from the new `compute_instance_group_manager` and `compute_region_instance_group_manager` resources but also use the `target_size` param to set the quantity.
Does that make sense?

[2021-08-23 15:56] kevinkengne commented on #871
Yess, that makes perfect sense. I can pick this up then, if that's ok.

[2021-08-23 20:20] alikhajeh1 commented on #871
Thanks @kevinkengne!

[2021-08-24 20:24] kevinkengne commented on #871
One more question: How do I get the correct machine type for the managed instance groups? It looks like that would be defined in the `instance_template` and the `instance_template` argument for both resources (`compute_instance_group_manager` and `compute_region_instance_group_manager`) seems to be a URL.

[2021-08-24 20:49] tim775 commented on #871
You should be able to access the `compute_instance_group_manager` using `ReferenceAttributes`.  As an example take a look at how `compute_snapshot` figures out its size:
It identifies `source_disk` as a reference attribute: https://github.com/infracost/infracost/blob/master/internal/providers/terraform/google/compute_snapshot.go#L14
Then it uses `d.References('source_disk')` to access the attribut

[2021-08-25 13:20] alikhajeh1 commented on #876
This was released in Infracost CLI v0.9.6 just now, thanks to @m-yosefpor and @kevinkengne for your input! It looks like we forgot to update the help text for the --fields flag, I'll open a PR in a bit.

[2021-08-25 13:26] alikhajeh1 commented on #870
@dgcaron just FYI that Infracost CLI v0.9.6 that released just now has this - thank you!

[2021-08-25 15:27] tim775 commented on #819
@Terryromeu @craigthackerx @gareda @VasseurLaurent @PatMyron @AErmie @VasseurLaurent
We released this today, thanks for your input!  Try running 0.9.6 with `INFRACOST_CURRENCY=XAG` env variable to see how much silver you're sending to the cloud 🙂

[2021-08-25 15:27] #819 closed

[2021-08-25 15:33] tim775 commented on #898
@kevinkengne @Theragus Thanks for your help!  We pushed this out today in 0.9.6.

[2021-08-26 09:16] ealdaon opened #919 "CI diff.sh output estimation with currency conversion to EUR showing $"
Hello,
i'm testing the currency conversion in a CI pipeline (Azure Devops) but i'm seeing the estimation block is showing $ simbol despite the conversion to EUR is properly done:

[code]

[code]

This is my code:

[code]

Thanks in advance,
Regards.

[2021-08-26 12:49] #919 closed, assigned to alikhajeh1

[2021-08-26 15:27] antonbabenko opened #921 "Improve support for `terraform.tfstate` file"
Infracost supports [Terraform state as JSON](https://www.infracost.io/docs/guides/advanced_usage#terraform-state-json-file) (`terraform show -json > tfstate.json`) and [Terraform state from the config files](https://www.infracost.io/docs/guides/advanced_usage#use-terraform-state) (by running `terraform plan` on behalf of the user).

It would be great to support Terraform state files in native form

[2021-08-26 19:28] #921 closed, assigned to nobody

[2021-08-28 18:06] alikhajeh1 opened #924 "infracost register outputs lines twice on Windows"
I noticed the name/email output was doubled:
[code]

[2021-08-30 02:50] tim775 commented on #488
Hi @robh007 I was looking into this a bit to understand how the pricing works.  Would make sense to add an `Outbound data transfer` cost component to the existing `dx_gateway_association` resource?  I'm thinking we could get the "fromRegion" from the `associated_gateway_id` and the "location" from the `dx_gateway_id`.

[2021-08-30 12:28] tiernano opened #925 "Missing Azure Storage Accounts, SQL Databases and Bastion Hosts"
Opening this as a tracking item, and i might chance my arm at trying to fix this as a learning excersize, but when i ran Infracost on my Azure Terraform scripts, i got messages that the following were missing:

* azurerm_storage_account
* azurerm_bastion_host
* azurerm_sql_database

There were a couple of other ones, but i think that 1: the ones above are more important, and 2, most of the others

[2021-08-30 14:45] 3dbrows commented on #924
![image](https://user-images.githubusercontent.com/5956299/131357725-e001e479-7b16-4f3e-9411-e05a601850e2.png)

[2021-08-31 10:19] nomeelnoj opened #927 "`output` not properly handling globbing"
Hello! Thanks for the awesome tool!

In our terraform repo, we have 1000s of states.  Nearly every resource is in its own state, as this enables extremely rapid development as users are very unlikely to be working in the same state.  When we run our CI, we pick up the changes and run a matrix build to run the all the changed states in parallel.  Therefore, the out of the box action will not work,

[2021-08-31 12:11] alikhajeh1 commented on #925
@tiernano thanks for creating this issue!

1. `azurerm_storage_account`: Infracost [only supports](https://github.com/infracost/infracost/blob/master/internal/providers/terraform/azure/storage_account.go#L32-L35) BlockBlobStorage and FileStorage just now, can you please provide details of the TF resource block so we can see which storage type is needed?

2. `azurerm_bastion_host`: do you know how

[2021-08-31 15:39] xeger opened #928 "Apply `--sync-usage` results to current run of Infracost"
When I ask Infracost to sync usage, it writes a fresh usage file but does not apply the usage to the `breakdown` or `diff` command that I am running. In order to see the fresh usage-based costs, I need to run the tool again so it will use the latest YML file.

Instead, I would like it to retain the fresh usage in memory and use it immediately, giving me instant feedback on the cost associated with

[2021-08-31 15:44] xeger opened #929 "Skip 0-usage line items in `breakdown` output"
For most of my resources, most of the cost components have 0 usage. (Example: S3 bucket using standard storage, no Glacier, no infrequent/frequent access, etc).

When I have known 0 usage, I put a 0 in the YAML file; however, the Infracost output still displays these items with a cost of $0. It would be nice to skip these items (which have a quantity of 0) because they do not contribute at all to

[2021-08-31 15:49] xeger opened #930 "Generate usage file with commented-out 0 values"
When `--sync-usage` adds a default YML to my usage file, it is not known usage and doesn't contribute meaningfully to the cost estimate for my project. It's intended as a placeholder, so the human can put a real value other than 0.

Problem: once the 0 value is in the YML, the resource begins to display as $0 cost. The human may not remember that he needs to add a real usage value!

As a human, I

[2021-08-31 18:37] tim775 commented on #871
Thanks for sticking with it!  We do support `google-beta` in a few places but I think it would be ok to defer handling multiple `versions` to a new issue if that simplifies things.  We could log a warning now if we detect multiple versions.

[2021-08-31 22:07] alikhajeh1 commented on #927
Thanks for awesome level of details in the issue description!

## Root cause
I think this issue is caused by shells expanding the glob pattern before invoking the CLI, I tested with `zsh 5.7.1 (x86_64-apple-darwin19.0)` and `GNU bash, version 5.0.11(1)-release (x86_64-apple-darwin17.7.0)`:

1. Setup the following dir structure:
[code]

2. Type `infracost output --path p1/**/*.json` but do not pres

[2021-08-31 23:04] tiernano commented on #925
1: looks like the storage accounts we are creating are just the accounts without any of the "containers" so thats probably why they got skipped... I may have missed something here...
2: The bastion host we are using is standard "Azure Bastion". The newer "standard" sku is still in preview, so we havent played with that just yet..
3: Whoops... I missed that message on the portal... Pricing should b

[2021-09-01 10:30] aliscott opened #934 "Terragrunt: add project-specific usage to usage file"
## Problem

* A single Infracost run supports outputting the results for multiple projects
* The [Infracost usage file](https://www.infracost.io/docs/usage_based_resources#infracost-usage-file) identifies resources using the Terraform address of the resource. This address is not unique across different projects.
* Projects are likely to use resources with the same address in cases where the user h

[2021-09-01 10:34] aliscott commented on #934
@xeger and @tim775 it would be great to get your thoughts on this, particularly Q1 and Q2 since this overlaps with your current investigation into how to populate the usage.

cc @sinabakh as well since you know the usage file the best.

[2021-09-01 10:37] tim775 commented on #934
Could we have multiple usage files, one for each project?  The default behavior could be that the project's usge files is named 'infracost-usage.yml' and resides at the same path as the project.

Another benefit of this is we could 'auto-detect' the usage file, and the --usage-file flag would be come optional (only used if you want your usage file in a different place)

[2021-09-01 14:54] xeger commented on #934
@tim775 this was my thought exactly (granted that I am very new to this project).

Logically speaking, projects are 100% separated from each other: each project uses independent credentials, deploys to different regions, and has different resources than any other project. I enjoy the fact that Infracost currently respects this separation and keeps the projects' persistent data separate.

Establish

[2021-09-02 07:49] sinabakh commented on #934
Based on @tim775 and @xeger comments, I also believe having a separate usage file for each project would be the best option.

[2021-09-02 08:14] aliscott commented on #934
I like the idea of auto-detecting the `infracost-usage.yml` file. I see how this would work in the future for Terraform mono-repos and Terragrunt projects. The main issue I see is how it could work if we auto-detect Terraform workspaces (as per https://github.com/infracost/infracost/issues/490) since these workspaces all live in the same directory

[2021-09-02 15:13] aliscott commented on #934
Exactly, currently you can do this with an infracost config file like this:
[code]

This is how I view it as well. We have thought about having discovery populating the config file as a separate step, but this seems like overhead for the user so I'm not sure.

[2021-09-02 20:52] dgcaron commented on #881
@alikhajeh1 how do i handle these auto scale settings?
![image](https://user-images.githubusercontent.com/9764640/131914479-24dd41ba-ac24-45cf-9b8d-bca0b54ef3a9.png)
do it take the min or max or is there a different way of solving this?

[2021-09-02 23:18] alikhajeh1 commented on #881
@dgcaron I'd add a `node_count` usage file param and if that's not set, use the min_node_count. We don't yet support a range in the output.

Also, FYI @xeger is prototyping a feature that enables the CLI to hit the cloud vendor APIs to get actual counts so longer term that could be used to set the node_count automatically.

[2021-09-03 14:47] praveenghuge opened #937 "Add support for Crossplane"
https://crossplane.io/ crossplane uses CRD to provision the resources using Kubernetes and manage resources in Kubernetes. See [this blog](https://blog.crossplane.io/crossplane-vs-terraform/) on how it compares with Terraform.

See [this PR](https://github.com/infracost/infracost/pull/938) for a prototype.

### Note for community

Please 👍 if you'd like to upvote this or receive updates.

[2021-09-05 19:37] alikhajeh1 opened #939 "Add support for Azure Bastion"
Terraform resource: [`azurerm_bastion_host`](https://registry.terraform.io/providers/hashicorp/azurerm/latest/docs/resources/bastion_host)
Pricing page: https://azure.microsoft.com/en-us/pricing/details/azure-bastion/
Whilst Azure allows upgrades [via their UI/CLI](https://docs.microsoft.com/en-us/azure/bastion/upgrade-sku), Terraform only supports "Azure Bastion", not "Azure Bastion Standard".

C

[2021-09-05 19:38] alikhajeh1 commented on #925
1. what is the `account_kind` of those `azurerm_storage_account` terraform resources?
2. Great, I added https://github.com/infracost/infracost/issues/939 to track that.
3. awesome - let us know if that works ok.

Once I know the answer to #1, I'll create a new issue and close this one.

[2021-09-05 19:58] alikhajeh1 opened #940 "Customise AWS EBS snapshot "Fast snapshot restore""
It does not look like we can detect "Fast snapshot restore" from the [Terraform resource](https://registry.terraform.io/providers/hashicorp/aws/latest/docs/resources/ebs_snapshot). Reading the [AWS pricing page](https://aws.amazon.com/ebs/pricing/) > "EBS Fast Snapshot Restore" example, I think we should hide that cost component by default and instead add a "fast_snapshot_restore_hours: 2 # Number

[2021-09-05 21:12] dgcaron commented on #881
so i added the spark pool resource and the output looks like this:
![image](https://user-images.githubusercontent.com/9764640/132141446-a2f73307-6886-40d6-9221-88f63d88a691.png)

the vCore hour thing might be a bit confusing (ok, it IS), but it is consistent with what Microsoft is saying in their docs:
![image](https://user-images.githubusercontent.com/9764640/132141475-0aa26b20-3365-40ec-b4ec-ee4

[2021-09-06 05:09] praveenghuge commented on #906
https://github.com/infracost/infracost/pull/908

[2021-09-06 06:25] alikhajeh1 opened #941 "TLS configurations with self-hosted Cloud Pricing API"
Self-hosted Cloud Pricing API users of GitHub Actions (or other CI/CD integrations), need a way to:
1. Use something like `INFRACOST_TLS_VERIFY=false` (similar to what `docker` supports) to disable TLS verification for testing. Given users went through the trouble of generating a cert, this option only seems useful for testing.
2. Have env variables or flags or `configure` keys for the following s

[2021-09-06 11:04] tiernano commented on #925
1: looks like if you dont enter anything by default, it uses StorageV2 as the account type... and account_tier is set to "Standard"
2: cool. thanks.
3: yea, changed from azurerm_sql_XXX to azurerm_mssql_XXX and that gives proper info now.

Thanks again.

--Tiernan

[2021-09-06 16:51] alex-3sr opened #943 "Can't run with Terraform Cloud with prefix mode"
Hi All,

I'm trying since this morning to start working infracost in Azure DevOps PR by using Terraform Cloud.
I encounter 2 difficulties during this configuration.

First, even by set **INFRACOST_TERRAFORM_CLOUD_TOKEN** with the correct token, it always need a **.terraformrc** file
[code]

The workaround is to set a task before for write a .terraformrc file like for example
[code]

I think that u

[2021-09-06 21:49] alikhajeh1 commented on #881
@dgcaron that's awesome! I'll review the PR in the next day or two. Re the free hours, sure that works. We've been ignoring the free tiers as it's not possible to tell what counts as free for a given IaC project since we might not be seeing all resources in an account (which is usually how the free tiers are applies, not on a per-resource basis, but for the resources that have a free per-resource

[2021-09-07 10:44] aliscott commented on #943
Thanks for the detailed issue @alex-3sr 🙌 . I'll break this comment down into the two issues.

**Issue 1:** `INFRACOST_TERRAFORM_CLOUD_TOKEN` not working

Out existing logic for the `INFRACOST_TERRAFORM_CLOUD_TOKEN` is to create a temporary `.terraformrc` and write the token to that file. However, if the `TF_CLI_CONFIG_FILE` env variable is already set then we try and copy that file to a temp file

[2021-09-07 11:15] alikhajeh1 opened #947 "Infracost not writing to json file"
The latest master branch has an issue as the JSON output isn't being saved to files, repro steps:
1. on master branch, run `make build`
2. `./build/infracost breakdown --format json --path examples/terraform > a.json`
3. Notice how the output is sent to the screen and a.json is empty

Infracost v0.9.6 does not have this issue.

Should we update [this line](https://github.com/infracost/infracost/bl

[2021-09-07 13:23] alex-3sr commented on #943
Hi @aliscott

Thank for your prompt response and help about my issues.

So, about the 1st point I debug ouput the `TF_CLI_CONFIG_FILE` and very surprising to get that as response : `.terraformrc`
I've no idea who can set this env variable, but OK I've a point to start diving and will find why soon.

For the 2nd point, I did the easy way by setting all variables in once. I'm sure that I've some ext

[2021-09-07 16:04] #947 closed

[2021-09-07 18:36] alex-3sr commented on #943
So, i did more test and it's definitvely works only if I set this var **terraform_workspace**
The 2 vars **INFRACOST_TERRAFORM_WORKSPACE** and **TF_WORKSPACE** seem to have no effects, it's only working if I set **terraform_workspace**

For me on this 2nd point, it's enough for implement it.
I've to still found why TF_CLI_CONFIG_FILE is already setup on 1st point.
Left me a 3rd and last point, but

[2021-09-07 18:51] alikhajeh1 commented on #943
@alex-3sr re point 3, are you using Azure DevOps with Azure repos or GitHub repos? hmm maybe you found the issue as I see the comment was edited?

[2021-09-07 18:55] alex-3sr commented on #943
^^ Yes, I just discover that if there are no change, there are no comment published finally :) I didn't know that.
But if talking about 3rd point about PR comments, the comments is published as already "closed" ?
![image](https://user-images.githubusercontent.com/38663389/132396538-ce722330-ce33-4242-a3bd-a49324958af8.png)

Doesn't need it to be open for wait a validation ?

[2021-09-07 18:59] alikhajeh1 commented on #943
Great! Yep, I went with status=4 in https://github.com/infracost/infracost/blob/master/scripts/ci/diff.sh#L224 (see https://docs.microsoft.com/en-us/rest/api/azure/devops/git/pull-request-threads/create?view=azure-devops-rest-5.1#commentthreadstatus) as I thought it's an FYI comment so it doesn't need to be active for an action to be taken. What do you think?

[2021-09-07 19:04] alex-3sr commented on #943
For my point of view, we could at least to have the choice, but in my case I really need to let it open for permit people in charge of FinOps to validate the new budget based on a PR change. And the best is to have a way to check if budget is less and so permit to let it close direclty, if more with a specific percent to wait a validation. So with this percent "acceptance" we can alert project adm

[2021-09-07 19:56] aliscott commented on #943
@alex-3sr RE Issue 1: I've pushed a fix in https://github.com/infracost/infracost/pull/949 that will log a warning instead of a hard failure if the `TF_CLI_CONFIG_FILE` does not exist. This should fix that issue for you in CI. This will be released with the other fix in v0.9.7 which we are aiming to release tomorrow.

[2021-09-07 19:58] alikhajeh1 commented on #943
@alex-3sr RE issue 3: I've [merged a PR](https://github.com/infracost/infracost/pull/950) so you should now be able to set the variable `azure_devops_comment_status: 1` in your pipeline yaml to override the default comment status to be active :)

[2021-09-07 20:15] alikhajeh1 opened #951 "Add support for Azure Standard (GPv2) storage"
Terraform resource: [azurerm_storage_account](https://registry.terraform.io/providers/hashicorp/azurerm/latest/docs/resources/storage_account) (which we already support but not fully). This GH issue is to add the default "StorageV2" as the account_kind ("Standard" as the account_tier, but there's also Premium)
Pricing page: https://azure.microsoft.com/en-us/pricing/details/storage/blobs/

Other re

[2021-09-07 20:15] alikhajeh1 commented on #925
1. thanks for checking, plz subscribe/upvote https://github.com/infracost/infracost/issues/951 for updates

Closing this issue

[2021-09-07 20:15] #925 closed

[2021-09-07 21:24] tim775 commented on #488
I think we can add a new usage cost `Outbound data transfer (from <region>, to <dx location>)` on dx_gateway_association where `<region>` comes from the `associated_gateway_id` and `<location>` comes from the `dx_gateway_id`.  The the cost component from `dx_connection.go` (https://github.com/infracost/infracost/blob/master/internal/providers/terraform/aws/dx_connection.go#L67-L82) can be refactor

[2021-09-08 07:45] alex-3sr commented on #943
@aliscott : Thanks for the PR. If I remove the custom task before for write .terraformrc file, it still failed with this error ->
[code]

Ps : I think that 0.9.7 is not yet release maybe, taht's why it's not yet working for now

@alikhajeh1 : It's perfect, now PR comments are in active sate and waiting an action when I set `azure_devops_comment_status: 1`

Thanks to both,
Regards
Alexandre

[2021-09-08 08:05] aliscott commented on #943
@alex-3sr that's me just shipped the v0.9.7 release now. Can you give it another shot?

[2021-09-08 08:25] alex-3sr commented on #943
Correct, now the task is not stopping and continue, it's perfect ;)
[code]

Thank you thank you
Now I think I'm ready to generalize the devops template :) Need further check and some policy governance about branch policy, and I'll will be ok ;)

I think this one could be close, now all is working as expected ;)

Thank you again, and wish you both a good day
Regards,
Alex

[2021-09-08 16:56] jimsmith opened #953 "How do I override the infracost command when running on GitLab (CI/CD) ?"
Scenario using GitLab and not always wanting merge requests and we want to see the output in the pipeline itself

Need the ability to override the infracost command that gets ran when in the pipeline and also need the ability to save the format as html and upload as an artifact.

This is what happens when there's **no** merge requests but also happens when there **is a merge request** -> notice th

[2021-09-08 17:41] alikhajeh1 commented on #943
Awesome - can this issue be closed?

[2021-09-08 18:12] alex-3sr commented on #943
yes, of course, it was just perfect and appreciate your assistance.

Thanks and have a nice day
Alex

[2021-09-08 18:12] #943 closed

[2021-09-08 21:46] tim775 commented on #871
@njculver This is merged to master in #944.  Thanks @kevinkengne!

[2021-09-08 21:46] #871 closed

[2021-09-09 12:42] aliscott commented on #953
Thanks for the detailed issue @jimsmith 🙌 . I've broken it down into three issues below.

**Issue 1:** Override infracost command and save assets

I've created proposal PR (https://github.com/infracost/infracost/pull/954) that keeps JSON the HTML assets at the end of the diff.sh run, so you can use them in a GitLab like:

[code]

I've pushed a temporary docker image that contains this to `infracos

[2021-09-10 21:18] njculver commented on #941
Trying to hack through this one - https://github.com/njculver/infracost/tree/feat/tls-configuration

[2021-09-14 19:20] alikhajeh1 commented on #807
@ljhurst, @Ian-T-Price and @mikejk8s just FYI that we shipped improved support for Terragrunt in v0.9.7, see docs here: https://www.infracost.io/docs/iac_tools/terragrunt

We'd love to hear your feedback on it, and also https://github.com/infracost/infracost/issues/934 if you use the usage-file.

[2021-09-14 19:20] #807 closed

[2021-09-15 09:01] Macbet opened #955 "Terragrunt folder structure question"
Hello ! I have a question about how infracost works with terragrunt.
The structure of my project looks something like this:
[code]
and in each directory there is approximately such a structure
[code]
and when I saw that the new 0.9.7 version added native support for terragrunt, I was very happy that now it's enough just to specify in --path the directory where my environment is located, but becaus

[2021-09-15 09:24] aliscott commented on #955
Thanks @Macbet. At the moment are you able to add a `terragrunt.hcl` file to the top level directory? It can be empty.

Options we are thinking about for the future are:
* Add a `--project-type=terragrunt` flag so you can manually specify the project type
* Run a deep search for any `terragrunt.hcl` files, but we might need to put a time limit/depth limit on it.

Let me know if adding the file is

[2021-09-15 11:16] Macbet commented on #955
Unfortunately, adding an empty terragrunt. hcl overwrites the configurations of its subfolders.
I can ofc  drop  root terragrunt.hcl and put local terragrunt.hcl to all subfolders but it will take too much time.
Thank you very much for the answer I will return to config.yaml with a lot of paths in it

[2021-09-15 13:54] alikhajeh1 commented on #955
I wonder if we do this and limit to a depth of 5 it catches most projects? Longer term I think I prefer to see costs of all IaC projects in the `--path` by default and have a way to filter on the ones I care about (meaning it might still need to search the dirs to detect their types). The alternative of having `--project-type` override seems ok but then what happens if there are multiple IaC proje

[2021-09-15 14:18] aliscott commented on #955
@Macbet out of interest what gets overwritten? Is this because of child dirs having something like:
[code]

@alikhajeh1 Yeah I think this could work. The logic in Terragrunt binary itself doesn't have any limit when it's checking, but when using that it's safe to assume you are looking for a Terragrunt project, whereas for Infracost we can't assume that `--path` is Terragrunt. Maybe a depth with a

[2021-09-15 18:00] alikhajeh1 commented on #875
@krishnaindani just wondered if there were any updates to this?

[2021-09-17 17:35] j3ffrw opened #958 "Infracost for wafv2 show zero for regions other than us-east-1"
Infracost for wafv2 show zero for regions other than us-east-1, in my case ap-southeast-1, I've tried us-west-1 as well same result(zero) as well.

[code]

[2021-09-17 20:10] bjd2385 opened #959 "post_condition should be a flag/CLI option, not just an environment variable"
I've reviewed your docs and the code base, trying to figure out how to use `post_condition` to configure the percentage threshold over which comments are made on a PR with the CLI tool, and it doesn't appear to be an option. Instead, it appears to be consumed as an environment variable, which is created in the [CircleCI orb](https://github.com/infracost/infracost-orb/blob/master/src/%40orb.yml#L31

[2021-09-17 22:49] angelichorsey commented on #913
I'm also encountering this issue, except I do have changes. It notices those, but also has a bunch of +/- from resources starting with `module.` and also some of the sub resources. Seems to somewhat cancel out...but I haven't debugged it fully as I was just playing with `infracost` for the first time today.

Infracost v0.9.7
Terraform v0.12.31
+ provider.aws v3.59.0
+ provider.null v3.1.0
+ provid

[2021-09-18 04:14] nomeelnoj opened #960 "BUG - `infracost diff` showing prices for data objects"
Hey Infracost Team!

Recently upgraded to 0.9.6 (tested with 0.9.7 and the same issue is present) and when running `infracost diff` with `data` objects for EC2 instances, infracost shows the price difference as if the instances are getting destroyed.

Here is some example code and output:

[code]
Based on the code above, I would expect to see a cost of 0, which is what I get when i run `infracost

[2021-09-18 04:21] nomeelnoj commented on #927
Hey @alikhajeh1! thanks for the assist here and sorry for not getting back to you sooner.  So far, we have not had ANY issues running infracost.  The logic in our pipeline is configured such that we only run it on states where there are diffs, and while we have 1000s of states, the odds of any single PR touching more than 5-10 are extremely low (we recently changed the entire folder structure of t

[2021-09-18 04:21] #927 closed

[2021-09-18 09:55] aliscott commented on #960
Thanks @nomeelnoj. These details should help me track down the issue, but will update here if we need anything else.

[2021-09-18 09:57] aliscott commented on #913
Thanks @angelichorsey. If you have any example terraform code that can reproduce this then please add it here.

[2021-09-19 16:30] kevinkengne commented on #939
👋
may I start working on this issue?

[2021-09-19 21:08] alikhajeh1 commented on #939
sure! - thanks @kevinkengne

[2021-09-20 18:21] sbibow opened #962 "Support for BitBucket Server/DataCenter PRs and how to handle other notification channels"
# Where I am coming from

The organization I am working with (or for 🤷‍♂️) uses BitBucket Server as a code repository and Jenkins as their CI and CD system.

I was trying to integrate infracost into this setup. Unfortunately the current CI scripts are not much help:

- jenkins_diff.sh
  This script creates an HTML file that can be uploaded via the publishHTML plugin (See https://github.com/infraco

[2021-09-22 08:59] aliscott commented on #960
I think the bug must be in the [stripDataResources](https://github.com/infracost/infracost/blob/c510e169e99599a26ecac54a2a524ddd712ca0db/internal/providers/terraform/parser.go#L318-L324) function, probably in `addressResourcePart`.

I'm unable to reproduce this so far with your example. I launched some instances in our test AWS account to try it. Will keep digging in further. Is your Terraform cod

[2021-09-22 10:40] aliscott commented on #913
https://github.com/infracost/infracost/pull/968 might fix part of this issue. This fixes an issue with any resources that have a `.` in the index part, e.g. `aws_instance.my_instance["index.1"]`.

[2021-09-22 10:41] aliscott commented on #960
I've found an issue for resources that have a `.` in the index part, e.g. `aws_instance.my_instance["index.1"]` and added a fix in https://github.com/infracost/infracost/pull/968.

[2021-09-22 13:24] aliscott commented on #928
@xeger can this please closed now?

[2021-09-22 15:02] alikhajeh1 commented on #888
@Theragus I started looking into this as @vdmgolub was looking for an issue to work on... Looking into  https://registry.terraform.io/providers/hashicorp/azurerm/latest/docs/resources/virtual_desktop_host_pool it looks like we might want to add it as a free resource since as you mentioned, the license costs are separate from Azure bills, and the rest is already resources we cover.

Or do you think

[2021-09-22 15:04] alikhajeh1 commented on #906
Can this be closed?

[2021-09-22 15:07] tim775 commented on #906
Yes this was fixed by #908.  Thanks @praveenghuge!

[2021-09-22 15:07] #906 closed

[2021-09-22 15:11] tim775 commented on #955
I wrote #966 to help with this by searching for terragrunt.hcls nested up to 5 levels deep from the `--path`.  @Macbet will that fix this issue for you?

[2021-09-22 17:25] Macbet commented on #955
I just build it from main and tested it - it works awesome ! Thank you very much! @tim775

[2021-09-22 18:08] tim775 commented on #955
Great!  This will go out in the next release.

[2021-09-22 18:08] #955 closed

[2021-09-22 19:34] aliscott commented on #913
I've dug into this more and I'm able to reproduce the issues with Terraform v0.12.31. So will work on a fix and keep this issue updated.

[2021-09-22 20:42] aliscott opened #969 "Terraform v0.13 - resources in nested child modules always show in diff"
I can only reproduce this in Terraform v0.13.X.

When a resource exists in a nested child module, e.g. `module.my_module.module.my_submodule.aws_instance.my_instance`, `infracost diff` will always show that resource as being created.

[2021-09-22 20:43] aliscott commented on #969
Looks like this is fixed in Terraform in https://github.com/hashicorp/terraform/pull/27352.

I've submitted a backport PR in the here: https://github.com/hashicorp/terraform/pull/29626.

[2021-09-22 21:44] #880 closed

[2021-09-22 21:45] alikhajeh1 commented on #880
Thanks for the likes! Stay tuned for updates via our newsletter :D

[2021-09-22 22:21] alikhajeh1 commented on #958
@j3ffrw thanks for the detailed ticket! I've sent [a PR](https://github.com/infracost/infracost/pull/970) that should fix this, I'll add a comment here after we cut a release tag (probably tmrw) so you can test and confirm.

[2021-09-22 22:31] alikhajeh1 commented on #959
@bjd2385 sorry for the delay and thanks for creating this issue. We're currently viewing our CI/CD integrations as somewhat decoupled from the CLI, where things like [post_condition](https://github.com/infracost/infracost-orb#post_condition) are used by the Orb (as well as other CI/CD integrations, from the [diff.sh](https://github.com/infracost/infracost/blob/master/scripts/ci/diff.sh) script) th

[2021-09-23 14:47] #928 closed

[2021-09-23 15:41] alikhajeh1 commented on #953
@ jimsmith just wondering if you had a chance to look into this?

[2021-09-23 15:56] #958 closed

[2021-09-23 16:40] nomeelnoj commented on #960
@aliscott yes, these instances have a `.` in the name.  Interesting bug, nice find!

[2021-09-23 16:42] nomeelnoj commented on #960
Wonderful! Thanks so much!

[2021-09-23 21:49] Theragus commented on #888
@alikhajeh1 I'm currently looking into it and I'm a little bit confused how terraform is actually handling the VMs here. For me, it seems like there is no way from the azurerm provider side to control the number or size of the VMs that are added to the host pool. In the API and in the Portal it sure is possible to create a host pool without creating VMs, see the screenshot.

<img width="657" alt="

[2021-09-23 23:35] alikhajeh1 commented on #960
@nomeelnoj just FYI that Infracost CLI v0.9.8 has been released and has a fix in it - plz let us know if that helps. Thanks for the awesome level of details in the GH issue.

[2021-09-23 23:35] #960 closed

[2021-09-24 07:24] aliscott commented on #913
@azamora-zsc and @angelichorsey thanks for reporting this bug! We've released a fix for this in v0.9.8, so please let us know if this helps.

[2021-09-24 07:24] #913 closed

[2021-09-24 08:27] alikhajeh1 commented on #888
Thanks @Theragus! I really appreciate you digging into this, once we know the outcome of that investigation we'll add it to the project board (either to be added as a free resource or coded with cost components).

[2021-09-24 11:39] Theragus commented on #888
@alikhajeh1 I looked into this now and I think I get the picture now.
after looking at the terraform azurerm provider repo and also at this post here https://www.nathannellans.com/post/deploying-azure-wvd-with-terraform it seems that there is only a registration token generated that is then used by normal VMs to connect and register to the Host Pool.

Therefore the Host Pool incurs no charges itse

[2021-09-24 15:02] userbradley opened #975 "Add a Codefresh integration"
Hey there!

A lot of us (Me) use codefresh for CI, and I didn't see one for codefresh!

Let me know if you need additional details!

### Notes for community
Please 👍 if you'd like to upvote this or receive updates.
Read the [contributing guide](https://github.com/infracost/infracost/blob/master/CONTRIBUTING.md) if you'd like to work on this issue - we're happy to help you!

[2021-09-24 18:31] Theragus commented on #910
Hi @aliscott, sorry for the late reply, I already read your comment a couple of weeks ago, but somehow it went completely over my head that feedback was requested here :/

I now managed to test this extensively and look into a deployment that I already set up months ago.

# azurerm_virtual_hub

looks perfectly fine to me, I had to do a little bit of digging inside the MS docs to confirm that basic

[2021-09-26 17:59] #884 closed

[2021-09-27 19:08] jnobile opened #982 "Crash: slice bounds out of range [:2] with length 0 in NewAzureRMAppServiceCustomHostnameBinding (Infracost v0.9.8)"
Detected Terraform directory at .
  ✔ Running terraform plan
  ✔ Running terraform show

Error: An unexpected error occurred

runtime error: slice bounds out of range [:2] with length 0
goroutine 1 [running]:
runtime/debug.Stack(0x40e078, 0xa8, 0x1315a40)
        /opt/hostedtoolcache/go/1.16.8/x64/src/runtime/debug/stack.go:24 +0x9f
main.handleUnexpectedErr(0xc0001e3380, 0x11494a0, 0xc00011c3a8)

[2021-09-27 22:59] tim775 commented on #982
@jnobile Thanks for the report!  It looks like since ssl_state is empty this resource should have no charge.  Is that right?

[2021-09-28 03:30] jnobile commented on #982
@tim775 *probably*? Though the resource is in an error state due to external reasons, so it is unclear what the cost should be anyway.

I mostly opened this case because it shouldn't have crashed the app.

[2021-09-28 08:07] hugorut commented on #488
@alikhajeh1 / @tim775 looking at picking this up this week. Hopeful of PR by weekend if schedule allows 🙏

[2021-09-28 08:15] alikhajeh1 commented on #488
Thanks!

[2021-09-28 12:00] #982 closed

[2021-09-28 12:03] alikhajeh1 commented on #982
@jnobile thanks for reporting it, the fix has been merged and will be released in the next version (probably early next week).

What do you think about how [CodeCov prevents CI failures](https://github.com/codecov/codecov-bash#prevent-build-failures)? would you use that or do you prefer to know about issues so you can report them and we can fix them?

[2021-09-28 12:09] #888 closed

[2021-09-28 13:26] alikhajeh1 commented on #509
@sushant-pradhan as part of our [Terraform Cloud integration](https://www.infracost.io/docs/iac_tools/terraform_cloud_enterprise#terraform-cloud-run-tasks), we've developed a way to generate sharable, pre-authenticated, HTML reports (with both the breakdown and the diff format) that could be passed around teams. I've emailed you an example as we're thinking of developing that further so going to c

[2021-09-28 13:26] #509 closed

[2021-09-28 14:47] alikhajeh1 commented on #730
I'm going to close this issue as it's been a while and some things (like item 3) are being prototyped. We can use https://github.com/infracost/infracost/discussions/985 to continue the discussion.

[2021-09-28 14:47] #730 closed

[2021-09-28 14:53] alikhajeh1 commented on #840
Thanks for the awesome discussion! I'm going to close this issue as the ideas mentioned here have been incorporated into the new way that we're adding resources.

[2021-09-28 14:53] #840 closed

[2021-09-28 15:16] alikhajeh1 commented on #975
Hi @userbradley - thanks for creating this issue! I haven't used Codefresh before, does it support adding pipeline tasks via docker images? If so, it should be easy'ish to add an integration similar to the [GitLab CI Template](https://gitlab.com/infracost/infracost-gitlab-ci/-/blob/master/infracost.yml) that uses our [diff.sh script](https://github.com/infracost/infracost/blob/master/scripts/ci/di

[2021-09-28 16:49] jnobile commented on #982
If the team is proactive fixing bugs like in this case (*thanks!!*), then I prefer the tool crash right away, so errors don't propagate.

[2021-09-28 20:42] alikhajeh1 commented on #941
@aliscott any thoughts on the [interface changes](https://github.com/njculver/infracost/commit/76ab6109c0bafd9778ccb8106f9a602e5be033ee) for this?

[2021-09-28 21:02] alikhajeh1 commented on #930
Once we figure-out how to output comments in YAML, it seems like we could also output the comments from the infracost-usage-example.yml into the generated files as without these it's sometimes not clear what the options are (e.g. for pre-defined string keys).

[2021-09-28 22:10] alikhajeh1 opened #986 "Cost estimation of usage-based resources (e.g. AWS S3/Lambda)"
We're testing GitHub Discussions, you can read/comment on https://github.com/infracost/infracost/discussions/985

[2021-09-29 08:51] hugorut commented on #488
Ok @alikhajeh1 I had a look at this last night, sadly it doesn't seem like @tim775's suggestion will work.

If we want to create the outbound data transfer on the `aws_dx_gateway_association` we can't get the `location` from the `dx_gateway_id`. The `dx_gateway_id` refers to a `aws_dx_gateway` not the `aws_dx_connection` (which contains the direct connection location information). So in order for

[2021-09-29 08:54] hugorut commented on #488
As I wrote the above I realised we actually can't do solution 1. as we don't have a reference from `aws_dx_gateway` to `aws_dx_gateway_association`. Is there some way that we can lookup a resource not using its primary identifier but the a field name. i.e. get all resources in that have `dx_gateway_id` of `x`, whilst in resource `y`?

[2021-09-29 09:58] alikhajeh1 opened #987 "Sync-usage-file results in instance costs to show 0"
This is an issue that was introduced in master, but was not in Infracost v0.9.8.

When using infracost with out internal infra that uses EKS, we have something like this:
[code]

This shows the instance costs ok without sync-usage-file:
[code]

In the master branch, the CLI shows the costs as 0 when used with sync-usage file. In Infracost v0.9.8, it shows a lower cost as default RI options are 1_y

[2021-09-29 10:26] alikhajeh1 commented on #982
@jnobile thanks - that makes sense.

[2021-09-29 11:27] alikhajeh1 commented on #962
Thanks for sharing the details @sbibow! There's a lot to unpack and think about here. For https://github.com/infracost/infracost/issues/809, @tim775 is experimenting with the bash script for GitHub Actions.

I suppose another option for the future could be to configure the integrations/notifications in a dashboard so creds/settings don't need to be replicated to each CI/CD pipeline or repo for the

[2021-09-29 12:45] userbradley commented on #975
Hey @alikhajeh1!

As far as I understand, it does!

I use codefresh with Github, but it supports most VCS systems (Bit bucket, gitlab (ce and cloud), github etc)

So it's a mix of both to be honest, some times we check the status dashboard to see if things have run or not, and sometimes it's nice to have it in to git it's self:

Below is an example terraform apply I botched togethet:

[code]

They

[2021-09-29 13:27] xeger commented on #987
With no usage defined, the terraform package derives instance count like so:
[code]

However, when a usage file is present, the aws package populates usage before returning the built resource:
[code]

This overwrites the `InstanceCount` field with a 0 value, causing the cost to drop to zero.

Either we should comment out the 0 (defaulted) values we write to the YML, or when syncing usage, we shoul

[2021-09-29 14:44] alikhajeh1 opened #989 "Validate usage file keys"
Currently typos in the YAML syntax are caught by the YAML parser but typos in the keys are ignored so it's easy to miss issues. It would be better if the CLI output an error when it sees a key that doesn't appear in the `infracost-usage-example.yml` file.

[2021-09-29 14:48] sbibow commented on #962
I am a bit confused about which dashboard you mean.
Do you mean the Enterprise offering, the dashboard.api.infracost.io or something else entirely?

The need to persist the setting seems in my eyes like a non issue. Nice for convenience, but mostly irrelevant because most CI systems support some kind of templating (GitLab CI with the [include](https://docs.gitlab.com/ee/ci/yaml/#include) and [exte

[2021-09-29 20:57] sinabakh commented on #989
So we are currently traversing all keys in `SyncUsageData` method. So we can probably refactor it a bit and create a method to check the existing keys with reference keys and log a warning for each key that is missing in the reference one.

[2021-09-30 08:55] sfenman opened #992 "Infracost CLI uses Terraform instead of Terragrunt in a Terragrunt project"
Using terragrunt in a monorepo with many modules, I am trying to run infracost diff --path=/my/path/to/terragrunt/ but I get
Detected Terraform directory at .
[code]

My project's structure:
[code]
Infracost CLI recognizes my workspace as a Terraform project because of the `region.hcl` and `account.hcl` but these 2 are needed for my Terragrunt configuration. A quick solution is to add an empty ter

[2021-09-30 12:53] alikhajeh1 opened #993 "Debug logs should show free resources"
I was debugging a user issue who asked about why they're not seeing costs for `azurerm_key_vault` as they had seen these logs:
[code]

It took me a while to figure out that `azurerm_key_vault_certificate`, `azurerm_key_vault_key` and `azurerm_key_vault_managed_hardware_security_module` are paid resources but we've marked `azurerm_key_vault` as a free resource.

I think `--log-level=debug` or maybe

[2021-09-30 13:52] alikhajeh1 commented on #488
@hugorut thanks for the awesome deep-dive! Just FYI about:
- https://github.com/infracost/infracost/blob/master/internal/providers/terraform/aws/route53_record.go#L13-L18 as `ReferenceAttributes` can be multiple layers.
- https://github.com/infracost/infracost/issues/849

Would any of those help in this case? If not, it feels like we need to create a new GH issue to explain use-case (get all resou

[2021-09-30 14:16] praveenghuge commented on #889
hey @alikhajeh1 I would like to work on this

[2021-09-30 14:19] alikhajeh1 commented on #889
🎉 Thanks @praveenghuge!

[2021-09-30 14:31] amoghrajesh commented on #993
@alikhajeh1 I don't completely understand the purpose of this issue, could the aim be made a little more clearer? Is this repository a part of Hactoberfest 2021? If yes, I would like to learn more about this issue and help to fix it.

[2021-09-30 14:49] hugorut commented on #488
@alikhajeh1 ah yeah #849 is pretty much exactly what I was thinking with the "dx_gateway_id of x, whilst in resource y" scenario. Albeit much better worded! So it seem's until #849 is implemented that the usage file is basically the way to go. I'll work on a draft PR so we can get some 👀  on it and see if we like it.

[2021-09-30 14:49] sfenman opened #994 "Ignore Terragrunt errors in Infracost CLI output"
Having a big directory with many Terragrunt modules and use run-all in this directory can lead to errors if some of the modules are not configured properly. For example I have this project with 4 different modules, one of them ( errordir ) with badly configured code:

[code]
Running `infracost diff --path=.`

Output:

[code]

Infracost can print but ignore these errors and then show output for the

[2021-09-30 14:55] hugorut commented on #849
++ AWS Direct Connect Gateway (aws_dx_gateway) see #488

[2021-09-30 17:04] aliscott commented on #994
@sfenman thanks for the issue. We use the `run-all` for discovering the directories and also for running `terragrunt plan`. I can't find a way to ignore errors when running `terragrunt run-all`. Do you know if there's a way?

Another option I can think of is allowing the [`--terragrunt-exclude-dir`](https://terragrunt.gruntwork.io/docs/reference/cli-options/#terragrunt-exclude-dir) flag to be pass

[2021-09-30 17:32] alikhajeh1 opened #995 "Show costs across a collection of nested Terragrunt dirs"
From a user conversation:
We have dozens, if not 100+, of terragrunt files. Our terragrunt repo is broken down by environment, and we have 5 or 6 of those that all share the same modules. Each env has GKE, GCP, Storage, etc. Each of those is their own terragrunt file. Looks like we've got a directory depth of 6 in a few cases. It would be very nice to point at our Dev environment folder and get a

[2021-09-30 22:30] tim775 commented on #993
@alikhajeh1 @sbalajisivaram this will go out with the next release!

[2021-09-30 22:30] #993 closed

[2021-09-30 23:46] alikhajeh1 opened #998 "diff shows projects with 0 cost or no cost diff"
The CLI seems to be outputting projects that have a 0 cost, and ones where there is no diff in the costs - see the bottom 2 projects in the following output. It seems best if we combine them into one line at the end, e.g. "The following projects had no cost estimate changes: logging, project2"

Current output:
[code]

Desired output:
[code]

[2021-10-01 03:32] saltperfect commented on #940
I would like to work on this issue.

Going through it.

[2021-10-01 06:19] saltperfect commented on #940
I am trying to replicate the issue by changing the /examples/terraform/main.tf
[code]
and running
[code]

I am getting region not set by terraform
[code]

Any inputs as to where I can set aws region. I checked in /examples/terraform/plan.json and can see aws region entry present there.

[2021-10-01 08:30] alikhajeh1 commented on #940
@saltperfect thanks! Try the following main.tf file:

[code]

[2021-10-01 08:34] saltperfect commented on #940
Got it!! Thanks.

[2021-10-01 09:12] sfenman commented on #994
Yes that would be really good. An even better solution would be a `.ignore` file along with the option to pass an `exlude-dir` flag.

[2021-10-01 13:12] jimsmith commented on #953
@alikhajeh1  added reply over here (I was tagged in) :)
https://github.com/infracost/infracost/pull/954#issuecomment-932209445

[2021-10-01 18:57] #940 closed

[2021-10-01 19:58] sinabakh commented on #989
I'll work on it.

[2021-10-02 09:18] alikhajeh1 commented on #962
Yep, I meant https://dashboard.infracost.io (which for now only supports [Terraform Cloud Run Tasks](https://www.infracost.io/docs/iac_tools/terraform_cloud_enterprise#terraform-cloud-run-tasks)).

We did think about having notification channels and other CI/CD logic in the CLI but we kept them out for two reasons for now:
1. users have a variety of workflows and we're still learning/prototyping;

[2021-10-02 10:08] sbibow commented on #962
I am not a fan of using https://dashboard.infracost.io for something like that, unless there is a self-hosted version available. Trusting a third-party with API keys is often difficult in enterprises - mostly due to protection of Intellectual Property.

With your point in mind it makes sense to wait.
For now we should refactor the bash scripts because I find them difficult to work with. Maybe they

[2021-10-02 10:16] saltperfect commented on #798
I would like to work on this.

[2021-10-02 10:28] saltperfect commented on #798
@JamesWoolfenden @aliscott I have done some changes but apparently choco pack is creating .nupkg file for me in the directory.

I will raise a PR for this can you take a look as to what I might be missing?

[2021-10-02 22:53] AErmie opened #1012 "InfraCost `--output` Produces Empty HTML Report"
Though using the example from the [Generate reports](https://www.infracost.io/docs/multi_project/report) documentation, my resulting HTML file is blank, even though the JSON file has populated values.

Am I missing some property, or using the wrong commands for the report generation?

![InfraCost-BlankHTML](https://user-images.githubusercontent.com/10376796/135733634-710c247d-27a7-4eed-ac5d-cc1578

[2021-10-02 23:06] AErmie opened #1013 "`--sync-usage-file` Throws Runtime Error: Invalid Memory Address or Nil Pointer Dereference"
When attempting to use the `--sync-usage-file` command, the following runtime error is thrown.

**InfraCost execution command used:**
[code]

**Runtime Error:**
[code]

Also, the [Generate Usage File](https://www.infracost.io/docs/usage_based_resources#1-generate-usage-file) documentation wording implies that if there is no actual usage file provided, InfraCost will "generate a new usage file" its

[2021-10-03 08:28] aliscott commented on #1013
Thanks for reporting this @AErmie. I'm able to reproduce this if I pass `--sync-usage-file` without a `--usage-file` flag specified, but not when I specify a `--usage-file` flag. Is this what you are seeing as well or can you also reproduce this when using both the `--sync-usage-file` and `--usage-file` flags together?

I've pushed a potential fix for this issue in https://github.com/infracost/inf

[2021-10-04 03:03] tim775 commented on #809
Just a heads up, I've been working on #980 to address this and I've started discussion #1016 to talk about future improvements.

[2021-10-04 09:01] aliscott commented on #1012
@AErmie your commands look correct. Are you seeing any output when running with the table output format? e.g.

[code]

If not, are you able to provide a sample of the JSON file?

[2021-10-04 11:25] #939 closed

[2021-10-04 11:26] tim775 commented on #939
@tiernano just a heads up that this will go out in the next release.

[2021-10-04 11:31] tiernano commented on #939
Cool. Thanks. I will check it out when the next release is out.

--Tiernan

[2021-10-04 13:44] hugorut commented on #930
@alikhajeh1 looking to pick this up

[2021-10-04 14:12] alikhajeh1 commented on #930
@hugorut I pinged you on the community Slack so we coordinate as another contributor is working on related logic

[2021-10-04 14:39] AErmie commented on #1013
Hey @aliscott, I get the issue when using both `--sync-usage-file` and `--usage-file` flags together.

I think I (and perhaps the documentation), need some clarity on each flag's use-case. For example, if you use `--sync-usage-file` should it create a new infracost-usage.yml file? If yes, are we supposed to specify the directory to use via the `--usage-file`? If we don't use the `--usage-file` fla

[2021-10-04 15:40] aliscott commented on #1012
Thanks @AErmie, you can email it to me at alistair@infracost.io.

[2021-10-04 16:03] aliscott commented on #1013
Thanks @AErmie! We are currently iterating on the usage file syncing so this is great timing to get this feedback. I'm going to tag @alikhajeh1 and @tim775 here as well if they have ideas about how we can update the docs or interface to improve it based on this.

`--sync-usage-file` will not do anything if `--usage-file /path/to/usage-file.yml` is not specified. So on it's own this does not create

[2021-10-04 19:38] AErmie commented on #1013
Hey @aliscott, specifying a full path like you mentioned, seems to have worked. For everyone's reference, this is the pattern that worked for me:

[code]

However, because I'm running InfraCost from the Docker container, the pipeline throws an access denied error.

[code]

[2021-10-04 21:03] AErmie commented on #1013
# UPDATE
By adding `--user $(id -u ${USER}):$(id -g ${USER})` to the docker run, I'm able to access the produced infracost-usage.yml file.

Here's the updated full execution command for everyone...

[code]

[2021-10-05 10:40] aliscott commented on #1012
Thanks @AErmie I wonder if this is the same issue with the relative path not existing. Does it work if you run `infracost/infracost output --path /InfraCostReport/Transcoding-Breakdown.json`?

Side note: thanks to you sending this file I found another bug here when passing in `~` in the path. I've pushed this in https://github.com/infracost/infracost/pull/1017 which will also now display an error

[2021-10-05 11:35] tim775 commented on #929
@hugorut, I think you were looking for an issue to work on earlier.  This one might be good to look at if you're still in the market 🙂

[2021-10-05 11:36] hugorut commented on #929
@tim775 sounds delightful, I'll pick it up

[2021-10-05 11:53] alikhajeh1 commented on #929
Thanks for helping @hugorut! I'd start without the `--verbose` option to keep it simple (we added `--show-skipped` after we shipped the MVP, so we could do something similar later with this).

A few questions/thoughts:
1. Should `infracost breakdown --format json` continue to include `monthlyQuantity` 0 values? I'm leaning towards yes as JSON is our machine format so it's better for it to be compl

[2021-10-05 12:23] saltperfect commented on #924
Please assign this issue to me.

[2021-10-05 13:22] alikhajeh1 opened #1020 "Post GitHub PR comments with Atlantis integration"
Our [current Atlantis integration](https://github.com/infracost/atlantis-demo/pull/6#issuecomment-795889174) outputs the CLI diff text at the end of the Atlantis output. That means it's tucked-away at the bottom of the expandable "Show Output" section, which is easy to miss.

It would be much better if we can post a PR comment like we do for GitHub Actions. Atlantis already has [GH tokens/configs]

[2021-10-05 14:43] AErmie commented on #1012
Hey @aliscott, seems like adding the first slash ( / ) in the path fixes the issue (or at least the results are produced).

[2021-10-05 14:54] alikhajeh1 opened #1022 "How can we improve PR comments?"
We're testing GitHub Discussions, you can read/comment on https://github.com/infracost/infracost/discussions/1016

[2021-10-05 18:35] hugorut commented on #929
Sorry just getting to this now - long old day. @alikhajeh1 my thoughts:

1. Yes, I agree. I think JSON should contain the "raw" values as specified.
2. 👍
3. 💯

[2021-10-05 18:51] #488 closed

[2021-10-05 18:53] tim775 commented on #488
@robh007 @guilhermerenew this will go live in the next release (0.9.10).  Thanks @hugorut!

[2021-10-05 18:57] tim775 commented on #987
Fixed by #1021

[2021-10-05 18:57] #987 closed

[2021-10-06 05:42] saltperfect commented on #924
@tim775

I am getting this error when i run `make windows`
[code]
Seems like I am unable to run get_version.sh bash file in windows.
I then ran the bash file using bash and got version as `v0.9.8+33-g2ad297b`. Then I hardcoded verison in the make file to see if it works but I am getting this error. I get not found when I try to curl this url `github.com/infracost/infracost/internal/version.Version

[2021-10-06 09:58] aliscott commented on #1013
Thanks @AErmie. Since the initial panic has been fixed and released in v0.9.9 I'm going to close this issue. If you have any thoughts about how we can improve the usability of the usage file it would be great to hear!

[2021-10-06 09:58] #1013 closed

[2021-10-06 09:58] aliscott commented on #1012
Thanks @AErmie, closing this issue for now. I've added a fix in v0.9.9 that will output an error if the path cannot be found instead of creating an empty report.

[2021-10-06 09:58] #1012 closed

[2021-10-06 10:03] alikhajeh1 commented on #778
Released in v0.9.9.

[2021-10-06 10:09] alikhajeh1 commented on #26
@ztmr in the recently released [v0.9.9](https://www.infracost.io/docs/#1-install-infracost), we released a feature that attempts to detect the OS as one of `linux`, `windows`, `suse`, `rhel` based on the response of [EC2DescribeOS](https://github.com/infracost/infracost/pull/967/files#diff-f4c655b4695ecd87dfbe5622e121083f60c59c95c9a3c3d9117d87c64bb1dd67R10-R26). This works for the following Terraf

[2021-10-06 10:10] alikhajeh1 commented on #348
@ackbyte just FYI that in the recently released [v0.9.9](https://www.infracost.io/docs/#1-install-infracost) version, we released a feature that attempts to detect the OS as one of `linux`, `windows`, `suse`, `rhel` based on the response of [EC2DescribeOS](https://github.com/infracost/infracost/pull/967/files#diff-f4c655b4695ecd87dfbe5622e121083f60c59c95c9a3c3d9117d87c64bb1dd67R10-R26). This works

[2021-10-06 10:14] alikhajeh1 commented on #884
@ajoulie thanks for contributing! your PR is live in release v0.9.9

[2021-10-06 10:15] alikhajeh1 commented on #958
@j3ffrw just FYI that the fix for this is live in [v0.9.9](https://www.infracost.io/docs/#1-install-infracost) released yesterday.

[2021-10-06 10:16] alikhajeh1 commented on #955
@Macbet just FYI that [v0.9.9](https://www.infracost.io/docs/#1-install-infracost) has been released, it includes this fix.

[2021-10-06 12:11] hassankhosseini opened #1023 "Add Support for Google Secret Manager"
Add support for Google Secret manger resources. [Pricing details](https://cloud.google.com/secret-manager/pricing)

Note for community: Please 👍 if you'd like to upvote this or receive updates.

**See our contributing guide if you'd like to work on this! Implementation details:**

### [`google_secret_manager_secret`](https://registry.terraform.io/providers/hashicorp/google/latest/docs/resources/se

[2021-10-06 12:42] alikhajeh1 commented on #809
@soulshake, @PatMyron, @1mamute and @simon-jt just FYI that a new `post_condition='{"update": true}'` has been added to all GitHub-based integrations: [GitHub Actions](https://github.com/infracost/infracost-gh-action#post_condition ), [Azure DevOps with GitHub repos](https://github.com/infracost/infracost-azure-devops#post_condition) and [CircleCI with GitHub repos](https://github.com/infracost/in

[2021-10-06 12:42] #809 closed

[2021-10-06 13:57] alikhajeh1 commented on #796
@FredTiercin one of our users had an interesting workaround to apply a fixed % discount to all prices/costs that I'm sharing here in case it's useful:

1. Get the Infracost JSON output for the Terraform project:
[code]
2. Use `jq` (version 1.6 and above) to add a discount/markup to all price/cost fields in the JSON file:

[code]

3. Use `infracost output` to render the post-markup.json:
[code]

[2021-10-07 14:03] alikhajeh1 opened #1026 "google_container_registry showing 0 cost component"
Version Infracost v0.9.9. We should be able to lookup the filters used in the `google_container_registry` resource to see what's changed, the golden test files aren't picking this up so it might be related to the region being used.

Terraform resource:
[code]

Actual output, notice the first line is showing $0.
[code]

Debug logs:
[code]

[2021-10-07 20:20] hassankhosseini opened #1030 "Add support for AWS Transfer Family"
Adding support for AWS Transfer family in both the product and also into the usage file.

Terraform resources:
https://registry.terraform.io/providers/hashicorp/aws/latest/docs/resources/transfer_server
https://registry.terraform.io/providers/hashicorp/aws/latest/docs/resources/transfer_ssh_key
https://registry.terraform.io/providers/hashicorp/aws/latest/docs/resources/transfer_user
https://regist

[2021-10-08 10:52] dgcaron opened #1033 "feat: add supporting resources for synapse workspace"
following the findings in #912  we should look into adding costs or list them in the free resources for the following resources:

[code]

I am more than happy to pick this up somewhere next week

[2021-10-08 17:42] yawboateng opened #1035 "sync-usage-file overwrites everything usage file"
command im using:
[code]

and content of my usage file is:
https://github.com/infracost/infracost/blob/master/infracost-usage-example.yml

output:
[code]

[2021-10-08 18:10] alikhajeh1 commented on #881
Many thanks @dgcaron! The PR is merged and the associated docs PR is [here](https://github.com/infracost/docs/pull/99/files), it'll go live in next week's release.

[2021-10-08 19:51] Macbet commented on #955
oh, i use 0.9.8 and it's work from that version :D

[2021-10-08 21:13] dgcaron commented on #881
Thank you for the patience and guidance!

[2021-10-08 21:33] yawboateng commented on #1035
the existing resources defined in my usage-file are being overwritten

[2021-10-09 04:27] saltperfect commented on #924
did you use `make windows` to create windows binary?

[2021-10-09 11:21] alikhajeh1 commented on #924
@saltperfect thanks for digging into this! I liked both issues on GH so we get notified when they ship, until then I guess it's ok to just wait as this isn't a blocking issue - what do you think?

[2021-10-09 11:24] saltperfect commented on #924
Yep. Let's go with this for now.

[2021-10-11 09:14] hassankhosseini commented on #1020
User request: +1 on GitLab too.

[2021-10-11 09:49] robh007 opened #1038 "Add support for AWS Cloudtrail."
Add support for AWS Cloudtrail in both the product and also into the usage file.

https://aws.amazon.com/cloudtrail/pricing/
https://registry.terraform.io/providers/hashicorp/aws/latest/docs/resources/cloudtrail

### `aws_cloudtrail`

Cost components:
* `Management events (additional copies)` - unit is `events`. Monthly quantity is defined in usage parameter `monthly_additional_management_events`.

[2021-10-11 11:28] alikhajeh1 commented on #1035
@yawboateng are you literally passing in `infracost-usage-example.yml`, the one from this repo? If so, then the expected behavior is for the sync-usage-file to only include resources that are defined in your TF project in the file, thus removing all the other ones in that file as you probably don't have any resources that are using the resource IDs in that example file. Try the following and see i

[2021-10-11 16:31] hugorut commented on #929
@tim775 just finishing off the work on my branch now - I'll put it in PR in 30 mins or so. Sorry for the slowness - I've been on holiday in spain and neglected this.

[2021-10-12 06:50] aliscott commented on #875
@ajoulie awesome! Heads up that there's some big changes going into that part of the code that might affect this in #1036. I'll be merging it today.

[2021-10-12 08:04] alikhajeh1 commented on #959
Closing this as there's been no activity on it for 19 days - we can continue the discussion on https://github.com/infracost/infracost/discussions/1016

[2021-10-12 08:04] #959 closed

[2021-10-12 08:08] alikhajeh1 commented on #817
Closing this issue for now, thanks @1mamute for starting the discussion, we've created focused GH issues out of the discussion:
https://github.com/infracost/infracost/issues/811 (upvoted quite a number of times)
https://github.com/infracost/infracost/issues/821

[2021-10-12 11:29] alikhajeh1 opened #1043 "Simplify AWS CloudFront output"
The current CloudFront output is 50 lines, it's too complicated:
[code]

We can simplify the output to 7 lines by default:
1. Only showing the `US, Mexico, Canada` cost components by default and grouping them under 1 sub-resource:
[code]

2. Only showing "Origin shield HTTP requests" if `origin_shield.enabled`, and using `origin_shield_region` to decide which *one* region to show.

3. Only showing

[2021-10-12 14:55] dgcaron commented on #1033
These two resources:
azurerm_synapse_workspace_vulnerability_assessment
azurerm_synapse_sql_pool_vulnerability_assessment

are part of azure defender and cost 15$ a month per dedicated SQL pool and a workspace counts as a database too

[2021-10-12 15:20] dgcaron commented on #1033
it looks like
azurerm_synapse_workspace_security_alert_policy
azurerm_synapse_sql_pool_security_alert_policy
are connected to azure defender too but if you already have the assessment enabled you aren't charged an additional 15$ for this resource.

how do we handle this?

[2021-10-12 15:40] tim775 commented on #1033
Hmmm.  For "Free Tier" usage we usually ignore the free teir and add a note to the resource stating that it's ignored.  That might be the closest to this situation.  Do you have a link to the pricing pages you're looking at?

[2021-10-13 10:20] hugorut commented on #1043
@alikhajeh1 I'd like to pick this up tonight if that's cool?

[2021-10-13 16:46] alikhajeh1 opened #1047 "Skip 0-quantity lines in `infracost output`"
This is a follow-up from https://github.com/infracost/infracost/issues/929#issuecomment-934338954

### v0.9.10 behavior
Repro steps for v0.9.10:
[code]

### Desired behavior

The `breakdown` command will not show 0-quantity lines in HTML and table formats, the `infracost output --format table|html` commands should do the same.

Repro steps:
[code]

I expected to hidden lines - OR at the least simi

[2021-10-14 22:26] tim775 commented on #1047
This works as desired for me in master and also the `cmd/output_test` shows it working ok: https://github.com/infracost/infracost/pull/1042/files#diff-c3a03a689d47c1177fd9acb84db5a1e46976449a39fb3e8f7630458b7d36bd86

Could you try again with latest master?  Theres a typo in your instructions above where `--format` isn't followed by  `json`:

[2021-10-14 22:41] alikhajeh1 commented on #1047
@tim775 you're right, I'm not sure what I was doing wrong before. Thanks!

[2021-10-14 22:41] #1047 closed, assigned to tim775

[2021-10-15 05:13] saltperfect commented on #924
I will unassign this issue for now. :)

[2021-10-18 05:46] sinabakh commented on #998
I'll work on it.

[2021-10-18 09:29] hugorut commented on #441
@alikhajeh1 just a heads up - didn't get a chance to look at this weekend. Will start on something tonight, hopeful of PR by mid-week.

[2021-10-18 16:37] alikhajeh1 commented on #875
Thanks @ajoulie and @aliscott - I added https://github.com/infracost/docs/pull/99/commits/2c463e157a45a2d952cbfd450a12a0386ce536c4#diff-127ccf771949de22c36f72306c28f3f448853733f173a2f658d4d6f5464de803R106-R108, feel free to tweak https://github.com/infracost/docs/pull/99 if needed

[2021-10-19 13:52] alikhajeh1 opened #1062 "How can we improve CI integration?"
We're testing GitHub Discussions, you can read/comment on #1054

[2021-10-19 13:55] alikhajeh1 commented on #1035
@yawboateng we've released [v0.9.11](https://www.infracost.io/docs/#1-install-infracost) with quite a few big [changes](https://github.com/infracost/infracost/releases) to the usage file generation logic, can you please try that? I'm going to close this issue but feel free to re-open or comment on it.

[2021-10-19 14:12] #998 closed

[2021-10-19 17:43] aliscott opened #1063 "Add additional backup storage for AWS RDS"
Add a new usage-based cost component to the `aws_db_instance` resource:
* Name: Additional backup storage
* Unit: GB
* Usage key: `additional_backup_storage_gb`

AWS Pricing pages:
* https://aws.amazon.com/rds/aurora/pricing/?pg=pr&loc=1
* https://aws.amazon.com/rds/postgresql/pricing/?pg=pr&loc=3
* https://aws.amazon.com/rds/mysql/pricing/?pg=pr&loc=2
* https://aws.amazon.com/rds/mariadb/pricing/

[2021-10-20 06:58] sinabakh commented on #874
I think I can work on it if it's not a high priority item since it might take some time to be ready.

[2021-10-20 07:15] aliscott commented on #874
👍 that would be ace!

[2021-10-20 10:49] hugorut opened #1066 "Improve Godoc support"
Infracost has excellent documentation and contributor guidelines. However, it lacks detailed godoc support. I think enhancing godoc support would improve the contributor process, especially with new contributors. Here's my reasoning:

In general whenever I'm working with 3rd party sdks/packages I do a glance over the Readme and examples, but, I heavily rely on code documentation to inform me on ho

[2021-10-21 12:37] alikhajeh1 opened #1069 "Add top-level summaries, such as totalMonthlyCostDiff, to JSON output"
See https://github.com/antonbabenko/pre-commit-terraform/pull/252#issuecomment-948556188 for use-case.

Our CI/CD integrations will also benefit from this as they're already calculating this cost: https://github.com/infracost/infracost/blob/master/scripts/ci/diff.sh#L386-L388

Semi-related to this is if we want to move these into the summary section of the JSON, and include other things like:
4 re

[2021-10-21 18:12] #875 closed

[2021-10-22 14:28] aliscott opened #1072 "How can we improve the breakdown output?"
We're testing GitHub Discussions, you can read/comment on #1071

[2021-10-22 17:54] alikhajeh1 opened #1073 "How can we make the Terraform plan step faster?"
Sometimes running the Infracost CLI can feel slow as the TF Plan step is usually the slowest step. So far we've done a few things to help speed-up the CLI (lookup prices in parallel, cache TF init, [cache the TF plan](https://github.com/infracost/infracost/pull/1068) in some cases).

The aim of this issue is to see what else we can do about the TF plan step, for example:
- Running TF plan in paral

[2021-10-25 17:06] #1069 closed, assigned to aliscott

[2021-10-27 11:15] MaxymVlasov opened #1081 "Show user-friendly error when AWS creds not provided"
[code]

[2021-10-28 10:33] mike-wazowski007 opened #1086 "Add support for Packer build AMIs"
Currently, there is no way of seeing how much per hour a packer image would be before building the image.

https://www.packer.io/docs

[2021-10-28 18:20] #1081 closed, assigned to nobody

[2021-10-28 20:47] #1026 closed, assigned to hugorut

[2021-10-31 12:01] hugorut commented on #1023
## Infracost implementation

Ok so as per the pricing details here https://cloud.google.com/secret-manager/pricing, secret manager is priced as such:

| Billable item             | Price per month                |
|---------------------------|--------------------------------|
| Active secret versions    | $0.06 per version per location |
| Destroyed secret versions | Free

[2021-10-31 12:03] hugorut commented on #849
+ google_secret_manager_secret see reasoning on #1023

[2021-10-31 18:34] alikhajeh1 opened #1092 "Support JSON response in Plan JSON API"
https://www.infracost.io/docs/integrations/infracost_api could be extended to include a format attribute (similar to how the CLI supports it).

[2021-11-01 20:55] alikhajeh1 commented on #909
@aliscott should we only show "North America, Europe (first 10TB)" by default unless usage-file params exist for the other ones? That's what we ended-up doing for CloudFront to simplify the output

[2021-11-02 09:55] aliscott commented on #909
+1 good point. This is now how we are doing it for other resources.

[2021-11-02 10:25] alikhajeh1 commented on #909
Thanks @aliscott - I updated the desc, I also tweaked it with my thinking for the open question.

[2021-11-02 11:13] sinabakh commented on #874
It proved to be more complex than I initially thought :) Just wanted to say I'm still working on it and it's not stale.

[2021-11-03 08:49] hugorut commented on #910
Update for visibility - I made a start on this last weekend and planned to have it in PR around now, but work has been hectic. I'm hopeful to get some time to work on it tomorrow eve.

[2021-11-03 15:56] #1092 closed

[2021-11-04 11:02] tim775 commented on #1092
This has been merged to master and will go live with the next release.

[2021-11-04 12:13] hassankhosseini opened #1107 "Add support for Azure MSSQL Server"
Add support for MSSQL server on MS Azure

Terraform:
- https://registry.terraform.io/providers/hashicorp/azurerm/latest/docs/resources/mssql_server

Azure pricing page: https://azure.microsoft.com/en-us/pricing/details/azure-sql-database/single/

[2021-11-04 12:18] hassankhosseini opened #1108 "Add support for Azure Data Factory"
Add support for Azure Data Factory.

Terraform resources:
- https://registry.terraform.io/providers/hashicorp/azurerm/latest/docs/resources/data_factory

Azure pricing:
- https://azure.microsoft.com/en-us/pricing/details/data-factory/data-pipeline/

[2021-11-04 12:22] hassankhosseini opened #1109 "Add support for Azure Storage Data Lake"
Add support for Azure Storage Data Lake.

Terraform resources:
- https://registry.terraform.io/providers/hashicorp/azurerm/latest/docs/resources/storage_data_lake_gen2_filesystem
- https://registry.terraform.io/providers/hashicorp/azurerm/latest/docs/resources/storage_data_lake_gen2_path

Azure pricing page:
- https://azure.microsoft.com/en-us/pricing/details/storage/data-lake/

[2021-11-05 11:41] tim775 commented on #1092
We just couldn't wait for 9.13 🙂  this  is live now🚢

[2021-11-08 13:46] kmai opened #1114 "Terraform stable versions after 1.0.2 are not available"
The docker image only installs 1.0.2 and as of today (8th November 2021), Hashicorp has released 1.0.10 as the latest stable.

The Dockerfile should be updated accordingly.

[2021-11-08 15:12] #1030 closed

[2021-11-08 16:46] tim775 opened #1115 "Make a new "setup-infracost" GH Action to allow more composablility"
### Make the GH Action more composable
Currently the infracost action runs the ‘scripts/ci/diff.sh’ bash script.  That  performs several steps: runs terraform, generates a diff, puts a comment on the pr.  Each of these could be exposed as individual steps making it easier to, for example, upload the diff as an artifact.

_Originally posted by @tim775 in https://github.com/infracost/infracost/discu

[2021-11-08 23:58] darshan-thinknyx commented on #1115
Uploading the values like **'previous cost'** and **'change in % of cost'** also as artifacts will help for further use.

[2021-11-09 14:37] alikhajeh1 opened #1118 "Shell completion improvements"
- Add Fig.io integration: https://fig.io/docs/guides/autocomplete-for-teams
- Could `$SHELL` be used to automatically choose the shell when not specified? If not, then running `infracost completion` should show the help text as well as the existing error message. In the same way that `infracost diff` does.

[2021-11-09 14:51] alikhajeh1 commented on #910
@hugorut heads-up that @vdmgolub is working on https://github.com/infracost/infracost/issues/909 and I think he's putting in the scaffolding for Azure resources to use the new method of adding resources as documented in the contributing guide. You might want to wait for him to send his PR to avoid conflicts 🤷

[2021-11-09 15:30] alikhajeh1 commented on #849
It might be useful to see how tools like checkov parse the TF code into a graph-based framework

[2021-11-09 16:00] alikhajeh1 commented on #1023
@hugorut I updated the issue description using your investigation findings - thanks! The main changes I made are:
- secret version is also charged for, we can assume quantity 1 or parent's location replica count. This enables users to see costs by default if they use versions, and use the usage-file to model costs at the parent's secret resource if needed.
- we ignore free tiers, mentioned in the

[2021-11-09 17:19] vdmgolub commented on #1030
This has been merged to master and will go live with the next release.

[2021-11-10 07:24] #1114 closed

[2021-11-10 07:25] alikhajeh1 commented on #1114
Thanks @kmai, this will go live in the next release (v0.9.13), probably in the next day or two.

[2021-11-10 11:39] alikhajeh1 commented on #821
Seems like we can close this issue? We're prototyping a new way to integrate Infracost into CI/CD pipelines that involves steps such as TF install (e.g. with [this](https://github.com/hashicorp/setup-terraform)) to happen before Infracost is run.
To remove the TF binary dependency altogether, we'd need to parse the HCL code or do https://github.com/infracost/infracost/issues/811

[2021-11-10 12:58] alikhajeh1 commented on #953
We're prototyping with a new way to use Infracost in CI/CD pipelines, initially with GitHub Actions, but a similar approach should work with GitLab. The key idea is to have a more composable method of running Infracost, so you can install the latest (or a locked) version of the CLI, run diff or breakdown on one of more projects/workspaces and merge the results using `infracost output` with the for

[2021-11-10 12:58] #953 closed

[2021-11-10 13:02] alikhajeh1 commented on #969
We should probably close this issue as Terraform are basically asking users to upgrade if they want a fix. Agreed?

[2021-11-10 13:08] #1022 closed

[2021-11-10 13:10] alikhajeh1 commented on #1086
@mike-wazowski007 any more details on this?

[2021-11-10 13:20] alikhajeh1 commented on #1026
This was released in [v0.9.13](https://github.com/infracost/infracost/releases/tag/v0.9.13) today. Thanks @hugorut!

[2021-11-10 14:20] hugorut commented on #910
lads, @aliscott/ @alikhajeh1 I've failed miserably at making a dent in this issue. I just haven't found the time after work to give it bandwidth, so I only ever reached the scoping stages. I'm off on holiday tomorrow and won't be back in action until the 22nd. So I'm going to unassign myself and put it back on the stack in case anyone else wants to start it whilst I'm away. I can pick it up again

[2021-11-10 14:30] aliscott commented on #910
🙌  thanks Hugo, have a good holiday!

[2021-11-10 14:32] aliscott commented on #821
Agree, I'll close for now and we can re-open if there's another use case.

[2021-11-10 14:32] #821 closed

[2021-11-10 15:28] alikhajeh1 commented on #969
Going to keep this open for a few more months in case users search for it.

[2021-11-10 19:26] tim775 commented on #1081
This is live in 0.9.13.  Thanks @MaxymVlasov !

[2021-11-10 19:29] tim775 commented on #1030
@bourbonfgiles @robh007 @PatMyron 0.9.13 is released.  Thanks @vdmgolub!

[2021-11-12 14:31] alikhajeh1 commented on #994
@sfenman did you end-up finding a work-around for this? It's tricky for us to action as @aliscott mentioned.
Do you think this is a common issue for Terragrunt users? One way we could get around this might be to parse the HCL code (instead of using plan JSONs) but that's complicated.

[2021-11-12 14:52] aliscott commented on #1038
I've updated the description of this issue with the details discussed.

[2021-11-12 15:15] aliscott commented on #910
FYI I've updated the description of this issue based on the feedback from @Theragus.

[2021-11-12 18:55] sfenman commented on #994
Unfortunately I haven't found a workaround, but then again I don't think it's a major problem since most of the time I'm applying Infracost to smaller modules and I guess the majority of Terragrunt users does too.

[2021-11-15 07:06] RimashMohomed opened #1129 "Following resoruces are skipped from cost estimation"
I have executed below command to estimate the cost, below resources are skipped from estimation
-  aws_dynamodb_table_item
-  aws_ebs_default_kms_key

[2021-11-15 11:10] mike-wazowski007 commented on #1086
Hey @alikhajeh1

I was thinking around the following items
- ebs volume i.e ssd
- snapshosts
- KMS Keys

[2021-11-15 11:31] alikhajeh1 commented on #1086
Thanks @mike-wazowski007! This is great. I'm not sure when we'll get to adding the next input tool yet (CloudFormation, Pulumi and Azure ARM templates have quite a few upvotes), but this one seems simpler than those though.

[2021-11-15 12:24] alikhajeh1 commented on #1129
Thanks for reporting this @RimashMohomed! I sent a [PR](https://github.com/infracost/infracost/pull/1128/files) just now, I marked `aws_dynamodb_table_item` as free as we already model the costs against the `aws_dynamodb_table` resource. `aws_ebs_default_kms_key` also looks free as it only refers to the `aws_kms_key` (which is already a supported resource). This'll go out in release v0.9.14, proba

[2021-11-15 12:24] #1129 closed

[2021-11-15 18:50] alikhajeh1 opened #1132 "infracost output: number of projects with no cost changes instead of actual paths"
The `infracost output --format github-comment` format outputs the list of projects that have no cost estimate changes. This can create a long line of projects for mono repos, so instead should we output just the count of projects in the comment, and the CLI output can be expanded to see the details?

💰 Infracost estimate: **monthly cost will not change**
<table>
  <thead>
    <td>Project</td>

[2021-11-16 17:01] dsfrederic opened #1134 "Add these to supported resources"
[code]

[2021-11-16 18:18] alikhajeh1 opened #1136 "Helper function for handling TF Plan JSON params"
See https://github.com/infracost/infracost/pull/1135 and the follow-up comment for what's needed

[2021-11-16 18:36] alikhajeh1 opened #1137 "Add support for Azure Data Factory"
Terraform resource: https://registry.terraform.io/providers/hashicorp/azurerm/latest/docs/resources/data_factory and the other `azurerm_data_factory*` resources
Pricing page: https://azure.microsoft.com/en-us/pricing/details/data-factory/data-pipeline/

## Paid resources

- `azurerm_data_factory`

  | Name | Units | Usage param | Notes |
  | ---- | ----- | ----------- | ----- |
  | `Read/Write ope

[2021-11-16 18:39] alikhajeh1 opened #1138 "Add support for azurerm_sql_database"
Terraform resource: https://registry.terraform.io/providers/hashicorp/azurerm/latest/docs/resources/sql_database
Terraform says `azurerm_sql_database` is deprecated and `azurerm_mssql_database` should be used instead. We can add support for `azurerm_sql_database` by re-factoring/using the same logic as a few users have requested this.

We can also add `azurerm_sql_active_directory_administrator` a

[2021-11-16 18:40] alikhajeh1 commented on #1134
@dsfrederic thanks for creating this! I added a few tickets so we can track these individually as we work on them, please watch them for updates.

azurerm_data_factory > https://github.com/infracost/infracost/issues/1137
azurerm_storage_account / azurerm_storage_account_network_rules > https://github.com/infracost/infracost/issues/951
azurerm_sql_database / azurerm_sql_active_directory_administrat

[2021-11-16 18:40] #1134 closed

[2021-11-17 09:37] #909 closed

[2021-11-17 09:39] vdmgolub commented on #909
This has been merged to master and will go live with the v0.9.14 release sometime next week.

[2021-11-18 18:34] tim775 commented on #1115
Update: We now have an [infracost/actions](https://github.com/infracost/actions) repo with a setup action that can be used as
[code]
See the [README](https://github.com/infracost/actions#readme) for a complete example.

Please treat this as experimental until we publish `infracost/actions@v1` to the GitHub marketplace!

[2021-11-19 12:26] #1023 closed

[2021-11-19 12:28] vdmgolub commented on #1023
This has been merged to master and will go live with the v0.9.14 release sometime next week.

[2021-11-22 15:48] joshniec opened #1143 "Breakdown shows double charge for attached EBS volume"
Hello! I noticed that one of our workspaces declares an `aws_ebs_volume` resource, and an `aws_volume_attachment` resource that targets an `aws_instance` in the same file and when viewing the `infracost breakdown --path .`, a charge is shown for the invidual `aws_ebs_volume` as well as the `ebs_block_device[0]` when it is attached to the `aws_instance`.

`infracost breakdown --path .`:
[code]

I'm

[2021-11-22 16:03] aliscott commented on #1143
Thanks @joshniec, this looks like a bug. I tried to reproduce but wasn't able to. I was using the following Terraform code:

[code]

And got this output:

[code]

I wonder if this is happening only once the volume and instance are deployed? Can you confirm if you have run `terraform apply` before seeing this?

The intention at the moment is to just show it against the `aws_ebs_volume`, but having

[2021-11-22 16:08] joshniec commented on #1143
Yes, this code was already applied (I just came across the `infracost` tool and was running it in some of our directories to check it out). I can test and undeployed code, then deploy the cost and see if your suspicions are correct, then report back.

[2021-11-22 16:37] joshniec commented on #1143
If I use the `--terraform-use-state` flag, I don't get the duplicate ebs volume (see end of comment for output example). I'm starting to think that maybe this isn't a bug and since the infrastructure & state already existed, I should have included the use of `--terraform-use-state` from the beginning. Thoughts?

My code (for testing/reproducing):
[code]

terraform plan output:
[code]

**infracost

[2021-11-22 16:43] aliscott commented on #1143
Thanks for investigating @joshniec! This still seems like a bug to me. We would expect this to work both with and without `--terraform-use-state`, so it works if you're changing other parts of your Terraform project. I'll launch this on our test AWS account and dig into the Terraform plan file it produces a bit more to see what the issue is.

[2021-11-22 18:33] aliscott commented on #1143
Thanks for the detailed report on this @joshniec. I've fixed the issue in https://github.com/infracost/infracost/pull/1145, so this fix will be in the next release (v0.9.14) which we are aiming to release later this week.

[2021-11-22 18:34] joshniec commented on #1143
Thanks! I'll be on the look out. Sorry I would have debugged it myself and put up a PR if I felt a bit more comfortable with Go, not quite there yet :)

[2021-11-22 18:39] aliscott commented on #1143
Great! If you're up for it any time we tag issues with "good first issue" that should help you get your feet wet.

[2021-11-23 12:53] joshniec commented on #1063
Hi @aliscott, I started to look into this.

A few questions if you don't mind:
According to the documentation, AWS does not charge for backup storage for up to 100% of the provisioned database storage. This would obviously be something I would want to take into account. How would you suggest I accurately model these costs?

I will not know how large the user's actual database is vs their total pro

[2021-11-23 13:30] aliscott commented on #1063
Thanks for looking into this @joshniec!

Since it's not possible to tell the quantity from the Terraform code I think we should start with a usage-based cost component. That means we don't actually calculate the cost, we just show the user the price per unit of the additional backups. They can then fill out the [Infracost usage file](https://www.infracost.io/docs/usage_based_resources#infracost-us

[2021-11-25 15:44] alikhajeh1 commented on #1107
See https://github.com/infracost/infracost/issues/1138

[2021-11-25 15:44] #1107 closed

[2021-11-25 15:47] alikhajeh1 commented on #1132
@aliscott is this merged into master?

[2021-11-25 15:49] alikhajeh1 commented on #1063
@joshniec would you like me to assign you the issue? (it helps the rest of the community know that someone is working on it to avoid duplicate effort)

[2021-11-25 15:49] joshniec commented on #1063
Sure! Happy holidays!

[2021-11-25 15:51] aliscott commented on #1132
@alikhajeh1 yes this will go out out in v0.9.14 (either tomorrow or Monday).

[2021-11-25 15:58] alikhajeh1 commented on #1063
Thanks - you too!
![gify](https://user-images.githubusercontent.com/638577/143472332-403a6ae5-21c1-4387-8c0e-026d6cadb717.gif)

[2021-11-26 09:29] alikhajeh1 commented on #746
Going to close this as we're moving towards helper functions so this sort of thing can be handled in those.
(FYI @vdmgolub)

[2021-11-26 09:29] #746 closed

[2021-11-26 10:55] alikhajeh1 commented on #777
In the new [Infracost GitHub Actions](https://github.com/infracost/actions) repo (which we'll release/announce soon) we've changed the way the CI/CD integrations work to address three issues mentioned in this GitHub issue:
1. **Reduce Docker image size**: The Infracost CLI setup has been split out from the Terraform/Terragrunt setup. This solves the Docker image size increasing over time and enabl

[2021-11-26 10:55] #777 closed

[2021-11-26 18:49] alikhajeh1 opened #1152 "Odd behavior when Terraform 'target' flag is used"
A user has reported this issue.

User:
We've had to do some builds with `-target` set for terraform, and Infracost has reported cost decreases consistently, I would expect a cost decrease on the first build with a `-target`, but then future runs report the same decrease. I'm sure there's something I don't understand about it, and it's not a big deal. Just the only thing I could think to raise with

[2021-11-26 20:24] IrmantasMarozas opened #1153 "In-built parsing of "+" or "-" value"
First of all, thanks for maintaining this, this is amazing, can't wait for Enterpise offers to become available!

I only had a couple of hours to play with this so far to integrate it into CI/CD pipelines but... It would be really cool way to use it as a "quality gate" rather than a reporting tool. ATM my plan is to parse the output and then compare it to "allowed difference" value to make it a qu

[2021-11-26 21:41] alikhajeh1 commented on #1153
@IrmantasMarozas thanks! That's an awesome use-case :) What's the CI/CD pipeline you're using? We've been working on new set of GitHub Actions, see https://github.com/infracost/actions/ for our work-in-progress (we'll announce it soon). Specifically the "Thresholds" [example](https://github.com/infracost/actions/#examples) does what you're talking about.

Our idea so far has been that the Infracos

[2021-11-26 22:34] IrmantasMarozas commented on #1153
Self-hosted GitLab. I was trying to use your examples from docs, but it didn't work, so I ended up with this:

[code]

[2021-11-26 23:41] alikhajeh1 commented on #1153
That's pretty good! You can use the following example to expand what you have, I took it from our [diff.sh]( https://github.com/infracost/infracost/blob/master/scripts/ci/diff.sh) script. Does that help achieve what you have in mind? Maybe we should add percentage diffs into the JSON format if it helps set policies based on that?

[code]

Regarding API usage, there are many users hitting it hard f

[2021-11-26 23:47] alikhajeh1 commented on #1153
BTW, to post comments to GitLab merge requests, you can use https://github.com/infracost/compost, it's another tool we're actively working on and it's being used in by our GitHub Actions too. Compost will detect [GitLab CI env vars](https://github.com/infracost/compost/blob/23fc7410c9855846d898b3aa86cb8ee78736922b/src/detect/gitlabCi.ts#L10-L13) and use those to post/update MR comments.

[code]

[2021-11-27 08:43] IrmantasMarozas commented on #1153
a-freaking-mazing, I'll try both `diff.sh` and compost first thing on Monday! Thank you!

[2021-11-29 15:04] #1063 closed, assigned to joshniec

[2021-11-29 18:10] tim775 commented on #1132
@PatMyron @jrmash This is now live in 0.9.14

[2021-11-29 18:10] #1132 closed

[2021-11-29 18:12] tim775 commented on #951
@tiernano, @ealdaon, @Theragus, @PatMyron, @dsfrederic:  This has been released in v0.9.14.  Thanks @vdmgolub!

[2021-11-29 18:12] #951 closed

[2021-11-29 18:13] tim775 commented on #1023
@yawboateng this is live in v0.9.14

[2021-11-29 18:14] tim775 commented on #909
@Theragus this is live in v0.9.14

[2021-11-29 18:16] tim775 commented on #1143
@joshniec this is live in v0.9.14, thanks for the write up!

[2021-11-29 18:16] #1143 closed

[2021-12-01 11:12] hugorut commented on #910
@alikhajeh1 alrighty - back from hols and now have some bandwidth. All good if I pick this up again?

[2021-12-01 11:27] alikhajeh1 commented on #910
Sure - thanks! Let us know if you need test Azure creds to run TF plan etc.

[2021-12-01 11:44] alikhajeh1 commented on #1153
@IrmantasMarozas any luck? We released https://github.com/infracost/actions/ yesterday, the quick start'll give you an idea of how it works with GitHub. We're thinking of providing similar, composable, experience for GitLab users - so we're gathering feedback from GitLab users to see what would work best for them.

[2021-12-01 12:16] tim775 opened #1170 "Terragrunt `run-all terragrunt-info` does not receive `--terraform-plan-flags`"
If I pass --terragrunt-exclude-dir in --terraform-plan-flags agains the terragrunt example in the infracost repo, I get this error:

[code]

[2021-12-02 08:58] robh007 commented on #86
AWS announced a carbon footprint tool at re:invent.

https://www.aboutamazon.com/news/aws/aws-re-invent-2021-what-you-need-to-know

[2021-12-02 22:06] alikhajeh1 opened #1173 "Improve support for Bitbucket"
There are three things we should do:
- [x] create a summary table format for Bitbucket comments. This would be similar to what we do for GitHub but since Bitbucket doesn't support HTML yet, we could use their markdown format to do something similar. I'm not sure if Bitbucket has comment edit histories like GitHub does but that's not something we can change anyway.
        ![summary-table](https://

[2021-12-03 09:13] terrych0u opened #1174 "`Terragrunt` invalid character '\x1b' looking for beginning of value"
while I'm trying to run `infracost breakdown/diff --path .`, It will show the following error on my terminal,
not sure what happened or what I'm missing.

[code]

version: 0.9.14

[2021-12-03 09:39] aliscott commented on #1174
Thanks for reporting this. Can you run with `--log-level=debug` and add the logs here?

Are you using Terragrunt? If so:
1. What version of Terragrunt?
2. What is the output when you run `terragrunt run-all terragrunt-info` in that directory?

[2021-12-03 10:11] terrych0u commented on #1174
Hi @aliscott
thanks for quick reply, here is my result:

--log-level=debug
[code]

terragrunt version: `0.35.10`（the newest version `0.35.13` still have same error）

terragrunt run-all terragrunt-info
[code]

[2021-12-03 11:52] #1152 closed

[2021-12-03 12:10] aliscott commented on #1174
Thanks @terrych0u, looks like it's an issue with us parsing the `terragrunt run-all terragrunt-info` output in certain cases. @tim775's going to dive in and fix it/see if there's a workaround in the meantime.

[2021-12-03 14:51] tim775 commented on #1115
[Infracost actions](https://github.com/marketplace/actions/infracost-actions) is v1 in the GitHub marketplace

[2021-12-03 14:51] #1115 closed

[2021-12-03 15:54] tim775 commented on #1174
@terrych0u It seems like the stderr and stdout from terragrunt are getting mixed together.  What envinroment are you running in (operating system, shell, etc...)?

[2021-12-03 16:19] alikhajeh1 opened #1175 "Make links in CLI output simpler to read"
The current blue links are sometimes not easy to read, e.g. see the first screenshot from a user vs the second screenshot from my terminal (iTerm2):

![image](https://user-images.githubusercontent.com/638577/144635984-7ff5f334-b07a-433e-9e0d-4d1c2b22aa4e.png)

![Screen Shot 2021-12-03 at 7 17 55 PM](https://user-images.githubusercontent.com/638577/144636188-c01e185d-c4eb-4ad8-bfbc-0a8cd8b40fee.png

[2021-12-03 17:47] aliscott opened #1180 "Infracost shows no output for ASG module with LaunchConfiguration"
This can be reproduced by running `infracost breakdown` against the following Terraform code:

[code]

Expected output (similar to):
[code]

Actual output:
[code]

[2021-12-04 09:55] alikhajeh1 opened #1183 "Composable GitLab CI Templates"
For GitHub, we recently switched from our old [infracost-gh-actions](https://github.com/infracost/infracost-gh-action) repo to our new [actions](https://github.com/infracost/actions/) repo. We'd like to create a similar experience for GitLab users. We need to:
1. [x] Create a new `infracost output --format gitlab-comment` format (similar to the existing `github-comment`)
2. [x] Use our new open so

[2021-12-04 15:17] aliscott commented on #1020
I've added an example of how you can post a separate Infracost comment as part of the Atlantis workflow with [compost](https://github.com/infracost/compost) here: https://github.com/infracost/infracost-atlantis/tree/master/examples.

[2021-12-04 15:17] aliscott commented on #1020
@alikhajeh1 should we close this issue in favor of the discussion here? https://github.com/infracost/infracost/discussions/1179

[2021-12-04 18:49] alikhajeh1 commented on #1020
Yep - good catch.

[2021-12-04 18:49] #1020 closed

[2021-12-05 14:14] aliscott commented on #1180
The issue is the plan file shows no relation between the ASG and the launch configuration address, so Infracost isn't creating the reference. The references section of the ASG in the plan JSON shows:

[code]

But since the plan file doesn't contain the evaluated value of `local` variables then we have no way of knowing which resource `local.launch_configuration` refers to.

I've added a fix for th

[2021-12-05 14:59] aliscott commented on #941
Sorry I dropped the ball on this one. Have been looking at other tools - here's the options they have:

**Docker**

[code]

**Redis**

[code]

**Helm**

[code]

For us I think it makes sense to make these `infracost configure` values initially instead of flags since that where we set the `pricing_api_endpoint`. Here's my idea for the names we should use:

* `tls_insecure_skip_verify`
* `tls_ca_cer

[2021-12-05 17:31] alikhajeh1 commented on #941
Nice one! `infracost configure` makes sense, I suppose it can also be used in CI/CD pipelines too.
I don't have an opinion if we can skip the client verification part - if @njculver doesn't need it and it's a lot more work then sure 🤷

[2021-12-06 03:50] terrych0u commented on #1174
@aliscott Thank you for being help
@tim775  Hi, I'm using Macbook Pro M1 with OS 12.0.1, and my shell is `fish-shell` , but I have been also tried to using `bash`, and still got the same error

[2021-12-06 14:48] #1180 closed

[2021-12-06 14:51] aliscott commented on #1180
This has been fixed in https://github.com/infracost/infracost/pull/1185 and will be released in v0.9.15 which we will release at nearer the end of this week/beginning of next week.

[2021-12-06 16:46] aliscott commented on #941
@njculver I've opened a PR for adding `tls_insecure_skip_verify`, `tls_ca_cert_file`: https://github.com/infracost/infracost/pull/1187.

Let me know what you think and if this will help your use-case.

[2021-12-06 16:56] alikhajeh1 commented on #1072
Closing the issue - the GitHub discussion is still open for people to provide input.

[2021-12-06 16:56] #1072 closed

[2021-12-06 16:56] #1062 closed

[2021-12-06 16:57] #986 closed

[2021-12-06 16:57] alikhajeh1 opened #1188 "Trying GitHub Discussions"
Checkout https://github.com/infracost/infracost/discussions for ideas and discussions - we'd love to hear your feedback there too.

[2021-12-06 19:30] alikhajeh1 commented on #962
@sbibow thanks for your input so far - it influenced the features we [shipped in November](https://www.infracost.io/blog/nov-2021-update/) 😄

We'd like to add support for [Bitbucket comments to Infracost](https://github.com/infracost/infracost/issues/1173), and update [Compost](https://github.com/infracost/compost) (our new open source project) to work with Bitbucket too. I suppose some next steps

[2021-12-06 21:16] sbibow commented on #962
### Ad 1

There are basically two ways that **I** use to install tooling (just as a reminder: Jenkins can be (ab)used in soo many ways and there is no [universal standard](https://xkcd.com/927/)):
1. Download tools during a stage called "Prepare". Here I execute shell commands that downloads software and print out their version Eg:

[code]
2. Using docker images. With this example there is no "Pre

[2021-12-06 21:16] #962 closed

[2021-12-06 21:48] alikhajeh1 commented on #962
XKCD 🤣
Thanks! Feel free to subscribe to https://github.com/infracost/infracost/issues/1173 for updates as it includes both of those action items. Helping with testing would be greatly appreciated - I'm not sure when we'll get to this but CI/CD integrations are important for us so probably not too far

[2021-12-07 03:18] tim775 commented on #1174
It looks like the additional log messages `tgenv` prints are sent to stdout: https://github.com/cunymatthieu/tgenv/blob/master/libexec/tgenv-exec#L20

Could you try running without tgenv and confirm that fixes the problem?

FWIW, tgenv installed with `brew install tgenv` has the extra logging removed for some reason and seems to work fine with infracost.

[2021-12-07 06:19] terrych0u commented on #1174
@tim775
Thanks for the help,
I switch to using `terragrunt` directly without `tgenv`, and it works for me.

I'm wondering is possible to support `tgenv` ?

[2021-12-07 08:46] alikhajeh1 commented on #1174
I don't suppose we could do something similar to https://github.com/infracost/infracost/pull/1146/files as the output doesn't follow a parse-able pattern.

I guess https://github.com/cunymatthieu/tgenv/pull/13 and https://github.com/cunymatthieu/tgenv/pull/12 are the issues. Those PRs have been open for a while but not merged. https://github.com/cunymatthieu/tgenv/issues/19 makes me think that `tg

[2021-12-07 10:48] terrych0u commented on #1174
@alikhajeh1

Thank you, I will try to switch to using `tgswitch`, it looks like also fit what I need.

Again, Thank you for the team support, appreciate it!! :)

[2021-12-07 10:48] #1174 closed

[2021-12-07 10:51] alikhajeh1 commented on #1174
Thanks! Once you get a chance to try it, maybe add a comment here letting the rest of the community know if it worked ok - that helps the next community member who hits this issue :)

[2021-12-07 15:36] njculver commented on #941
Sorry for letting this completely fall off my radar - I've been super busy with other things. Personally, I don't need the client certificate validation for my use case either. Skipping verification seems like it's fine for POC/dev usage, allowing a user to provide the CA cert works for self/internal signed certs. The additional client verification would probably be necessary in some more tightly

[2021-12-07 16:24] aliscott commented on #941
Great, thanks @wilkej and @njculver, we'll ship this in the next release (v0.9.15) which we'll look to release at the end of this week/early next week. I'll let you know when it's released if you'd be willing to try it out!

[2021-12-07 17:50] clausa20 opened #1192 "Diff script to report changes between PR branches"
I integrated infracost with bitbucket pipelines and every time I update a PR it is executed ok.

But I was expecting to see changes between my branch against the master, but I didn't see any changes reported,
then investigating the diff script, I figure out that infracost checks changes against what is really applied in the infra and it does not check changes between PR branches, so I don't see mu

[2021-12-08 11:20] varunshoor commented on #187
+1 for Pulumi Integration

[2021-12-08 13:32] alikhajeh1 opened #1194 "aws_dynamodb_table shows price warnings"
Both the latest release and the master branch seem to have an issue.

infracost v0.9.14:

[code]

master branch:

[code]

[2021-12-08 14:20] alikhajeh1 commented on #1192
@clausa20 thanks for creating this issue! What you describe is exactly how our first prototype [worked](https://www.infracost.io/img/blog/nov-2021-update/original-pull-request-comment.png), but we switched to using the Terraform plan to generate the diff as we kept seeing users who ran Terraform in CI/CD already and so they wanted Infracost to show the same diff as `terraform plan`. However, every

[2021-12-08 15:47] Dinoshauer opened #1195 "No price change when changing `db_instance.performance_insights_retention_period`"
Hey! I just noticed today that infracost doesn't report a price change when changing `db_instance.performance_insights_retention_period`, I would expect it to pick up the change between `7` and `731` and report a price change according to https://aws.amazon.com/rds/performance-insights/pricing/

Here's a link to the slack thread I opened earlier: https://infracost-community.slack.com/archives/C01G

[2021-12-08 16:00] vdmgolub commented on #1194
@alikhajeh1 Could you provide the TF file example, please? I've tried to run an example in `us-east-1` and it didn't have any issues, integration tests don't fail either.

[2021-12-08 16:14] clausa20 commented on #1192
@alikhajeh1 We run it using Bitbucket integration with Bitbucket Pipelines for Pull Request.
Could you create a new script (something like bitbucket-diff-branches) contained in the infracost/infracost docker image which calculates diff between the 2 branches specified in the PR with the new estimated cost of that diff?
Maybe that script can do steps you mentioned above.
Thanks.

[2021-12-08 21:25] #1194 closed

[2021-12-08 22:04] #910 closed

[2021-12-08 22:12] alikhajeh1 commented on #910
@Theragus just FYI that this will be released in Infracost CLI v0.9.15 by next week.

[2021-12-09 11:29] alikhajeh1 commented on #994
@sfenman good news! We're releasing https://github.com/infracost/docs/pull/133/files in v0.9.15 next week so you can exclude dirs that have issues. Does that help? If so, can we close this issue?

[2021-12-09 11:37] sfenman commented on #994
It does help, thanks a lot! Feel free to close the issue.

[2021-12-09 12:02] alikhajeh1 commented on #1192
@clausa20 I'll investigate this more and get back to you next week!

[2021-12-09 12:45] alikhajeh1 commented on #994
Awesome! (thanks @tim775!)

[2021-12-09 12:45] #994 closed

[2021-12-10 09:36] alikhajeh1 commented on #463
@robh007 I re-read this thread 3 times today as we're [investigating cost policies](https://github.com/infracost/infracost/discussions/1177) by looking at OPA, Hashi's Sentinel and Pulumi's CrossGuard. I was just wondering if you've had any experience with these tools? It would be great to hear your take on which approach is worth exploring more first: "create alerts/notifications from inside TF"

[2021-12-10 10:35] aliscott commented on #1073
I've added PR for paralellizing multi-project runs https://github.com/infracost/infracost/pull/1193.
I've tested this against our infra which uses a config file two projects, similar to:

[code]

Here's the results from my machine
[code]

| Code | Options | Avg time (3 runs) |
|-|-|-|
| master | - | 73.4s |
| master | terraform_plan_flags: "-parallelism=20" | 85.9s |
| master | terraform_plan_flag

[2021-12-10 16:10] alikhajeh1 commented on #1192
@clausa20 can you possibly help me understand how Terraform runs in your Bitbucket Pipelines? The part that I don't understand is: if Terraform has already applied and deployed resources to the cloud, why is the branch diff needed (doesn't the statefile have the resources that are already deployed?). It might be easier to jump on a quick call, my email is ali@infracost.io if have time.

[2021-12-12 17:03] hassankhosseini commented on #86
I wish hey had given a little more about when & how. From the picture behind Peter DeSantis, it looks like it will split the data into region and service at least; that might indicate that it'll be connected to the usage + cost reports. I wonder if they will publish raw data or if it will only come tied to user accounts. I was looking at what GCP offer too and that was interesting.

[2021-12-14 08:39] aliscott commented on #1183
I've put in a PR for adding a GitLab comment output format (https://github.com/infracost/infracost/pull/1198), which we can then use to build more composable GitLab CI integrations. This will go live in v0.9.15 of the CLI. Initially this GitLab comment is the same as our GitHub on, so it will look like this:

<img width="979" alt="Screenshot 2021-12-13 at 16 27 12" src="https://user-images.githubu

[2021-12-14 10:02] terrych0u commented on #1174
@alikhajeh1
I have been tried to use `tgswitch`, it works well with `infracost`, although it has a small drawback.（it doesn't support adding `.terragroun-version` at the root folder, you need to put it into every tf code folder.）

In the end, I'm switching to using another version of `tgenv`,  and everything works perfectly. :)
here is the link:
https://github.com/taosmountain/tgenv

[2021-12-14 10:07] alikhajeh1 commented on #1174
@terrych0u thanks for the update! Just FYI that @tim775 made [a change](https://github.com/infracost/infracost/pull/1190/files) to Infracost v0.9.15 (released ~1h ago) - can you possibly do a quick test of that version with the old `cunymatthieu/tgenv` to see if that works ok too? It seemed like a simple change so @tim775 did that to save future tgenv users from debugging pain.

[2021-12-14 10:09] hugorut opened #1199 "how should we implement/improve data transfer output?"
Currently infracost supports `aws` data transfer as an aggregated resource, which is defined outside of any parent resource. The output is as following:

[code]

This has been implemented in this fashion for two reasons:

1. data transfer has a tiered pricing model so it's easier to represent this in a single resource
2. many infracost users want to see data transfer aggregated together so it's ea

[2021-12-14 10:41] hugorut commented on #1199
closing in favour of gh discussion

[2021-12-14 10:41] #1199 closed

[2021-12-14 11:37] aliscott commented on #1170
@jrmash we've added a `INFRACOST_TERRAGRUNT_FLAGS` env variable in https://github.com/infracost/infracost/pull/1172 and released it in the latest version v0.9.15.

You can check out the docs for it here https://www.infracost.io/docs/iac_tools/terragrunt/#terragrunt-cli-options. This now gives a way of passing the `--terragrunt-exclude-dir` option through to Infracost.

[2021-12-14 11:37] #1170 closed

[2021-12-14 11:40] alikhajeh1 commented on #994
@sfenman the `INFRACOST_TERRAGRUNT_FLAGS` env variable was released a few hours ago in Infracost version v0.9.15.

You can check out the docs for it here https://www.infracost.io/docs/iac_tools/terragrunt/#terragrunt-cli-options. This now gives a way of passing the `--terragrunt-exclude-dir` option through to Infracost.

[2021-12-14 11:41] aliscott commented on #1073
#1193 is now released in v0.9.15, so we default to running multi-project runs in parallel. Closing this issue just now, but we can reopen if we have further ideas for improvements.

[2021-12-14 11:41] #1073 closed

[2021-12-14 12:07] aliscott commented on #941
@wilkej, @njculver the support for `tls_insecure_skip_verify` and `tls_ca_cert_file` is now released in v0.9.15. Docs: https://www.infracost.io/docs/cloud_pricing_api/self_hosted/#using-a-self-signed-certificate. Please try it out and let me know if it works well for you 😄

[2021-12-14 12:07] #941 closed

[2021-12-14 12:08] aliscott commented on #1194
This is now released in in v0.9.15.

[2021-12-14 12:12] aliscott commented on #1180
This has now been released in v0.9.15.

[2021-12-14 12:13] aliscott commented on #910
@Theragus this has now been released in v0.9.5!

[2021-12-14 12:14] aliscott commented on #1152
The fix has now been released in v0.9.15.

[2021-12-14 12:33] aliscott opened #1201 "Detect Terraform plan files in current directory"
A user has a GitHub action which uses Terragrunt ([action.yml](https://gist.github.com/aliscott/860b4ef7852376758c50815bb09f21d1)). The plan files are generated using `terragrunt run-all plan -out terraform.tfplan`. When Infracost runs it detects terragrunt and re-runs the `terragrunt run-all plan` which is slow (from the user: "our goal is to speed up infracost run since it adds 2x terragrunt run

[2021-12-15 08:53] stevie- opened #1202 "fatal error: concurrent map writes"
When we run infracost in our github action workflow we often see a fatal error.

Versions:
[code]

[code]

[2021-12-15 09:08] aliscott commented on #1202
Looks related to https://github.com/awslabs/goformation/issues/363.

If you run with the env variable `INFRACOST_PARALLELISM: 1` it should work okay just now, and we'll look at getting a fix out on our end.

[2021-12-15 15:45] hassankhosseini commented on #828
+1 from a user who uses: Mongo and CloudFlare, and would like to see added into the Infracost cost estimate.

[2021-12-15 15:50] alikhajeh1 commented on #1153
@IrmantasMarozas just FYI that in v0.9.15 (released yesterday), we added `infracost output --format gitlab-comment`. We're working on https://github.com/infracost/infracost/issues/1183 and discussing policies in https://github.com/infracost/infracost/discussions/1177 in case you'd like to subscribe for updates or add other ideas.

Ok if we close this issue?

[2021-12-16 08:42] terrych0u commented on #1174
@alikhajeh1
I'm confrimed the `v0.9.15` version works well with `cunymatthieu/tgenv` and `taosmountain/tgenv`.
Again, thanks for everything :D

[2021-12-16 15:54] alikhajeh1 opened #1208 "Add azure-repos-comment format"
We should add a `azure-repos-comment` format to `infracost output`. https://github.com/infracost/compost already supports Azure DevOps Repos and Azure DevOps with GitHub.

[2021-12-18 06:29] aliscott commented on #1202
A fix for this has now been merged in https://github.com/infracost/infracost/pull/1206 and will be released in v0.9.16 which will be released in about a week.

[2021-12-20 09:50] #1038 closed

[2021-12-20 09:55] aliscott commented on #1073
I've disabled this by default in CI at the moment until v0.9.16 is released due to some race conditions. These have been fixed in https://github.com/infracost/infracost/pull/1206.

[2021-12-20 11:17] hugorut commented on #1138
@alikhajeh1 as part of this I'm going to migrate `mssql_database` to the new resource structure.

[2021-12-21 10:08] hugorut opened #1213 "`aws_elasticache_replication_group.cluster_mode` is present in non clustered aws_elasticache_replication_group state"
When applying a `aws_elasticache_replication_group` in non clustered mode terraforms uses [number_cache_clusters](https://registry.terraform.io/providers/hashicorp/aws/latest/docs/resources/elasticache_replication_group#number_cache_clusters) to specify replication nodes.

However after applying terraform, the state adds the `cluster_mode` block to the resulting state. e.g:

[code]

results in som

[2021-12-21 10:44] alikhajeh1 commented on #1213
@hugorut thanks for creating this! Can you possibly also add any details of new cost components or units - or is it just a quantity that we need to multiply by?

So far I've:
- added the "needs details" label
- removed that label after details are added to the issue description.
- set the project of the issue to Main so show the community that it's something that we'd like help with sooner rather

[2021-12-21 11:11] hugorut commented on #1213
@alikhajeh1 I was actually a bit quick to jump on this into an enhancement - it actually seems we do handle the `number_cache_clusters` in `aws_elasticache_replication_group` but it seems this feature isn't being picked up by the user. I'm going to rename the title and mark as a bug and ask for further details of their terraform file to replicate.

[2021-12-21 20:20] haarchri commented on #937
did you guys see here any updates in future ? or can start with a provider for crossplane ? ;)

[2021-12-22 11:07] alikhajeh1 opened #1219 "Support for Terraform CDK"
How could Infracost be used with https://github.com/hashicorp/terraform-cdk?

One user mentioned that "the CDK supports provisioning infra with Terraform resources through the CDK but not natively with CDK only. So one will need to change their IaC from native CDK provisioning to using CDK-with-Terraform, I hope I'm not mistaken."

### Community notes

Would be great to hear from anyone who has tr

[2021-12-22 20:55] alikhajeh1 commented on #1138
@dsfrederic just FYI that this'll get released in v0.9.16 next week.

[2021-12-23 03:42] zglin opened #1223 "Support for AWS_spot_instance_request"
Infracost Version: 0.9.15

**Issue in question**

AWS_Spot_Instance_request isn't estimated. Is this working as designed?

**Current output :**

**Proposed solution**: Override aws_instance to support spot instances (You could just price it as a full priced instance or take the current spot rates from https://aws.amazon.com/ec2/spot/pricing/)

[2021-12-23 07:31] alikhajeh1 commented on #1223
@zglin thanks for creating this! We can add the mapping for that resource - the [Cloud Pricing API](https://github.com/infracost/cloud-pricing-api) already has AWS EC2 spot instance prices. We might be able to re-use the same logic we have for [aws_instance](https://github.com/infracost/infracost/blob/master/internal/resources/aws/instance.go) (please let us know if you'd like to [work](https://gi

[2021-12-23 07:52] alikhajeh1 commented on #937
Hi @haarchri! Since https://github.com/infracost/infracost/pull/938#issuecomment-920098485, we have completed prototyping usage-based resources and the new resource schema, both are used in our updated [contributing guide](https://github.com/infracost/infracost/blob/master/CONTRIBUTING.md#adding-new-resources). It might help if you add a terraform resource to become familiar with it.

Out team is

[2021-12-24 10:17] #1213 closed

[2021-12-24 20:47] #1136 closed

[2021-12-24 20:47] alikhajeh1 commented on #1136
Closing this as the contributing guide shows these.

[2021-12-24 20:48] #1153 closed

[2021-12-29 04:49] wahlfeld10x opened #1231 "Add support for Bitbucket Server"
As per title

[2021-12-29 05:27] wahlfeld10x commented on #1231
This work is complete, however, I'm having trouble pushing code to Github... it feels related to my organisation's security configuration i.e. Zscaler. Will get back to you.

[2021-12-29 10:18] hugorut commented on #1231
@wahlfeld10x thanks for opening this. Just a quick thought - you have created a fork of the repo and are pushing to that instead of trying to push to the main `infracost/infracost` repo. Most likely there's something else going on here but just wanted to make sure! Reach out if you need any help

[2021-12-29 22:42] wahlfeld10x commented on #1231
Yeah trying to push to https://github.com/wahlfeld10x/infracost but getting all sorts of weird errors that suggest something is getting in the way. e.g.
[code]
[code]
[code]
[code]
[code]

[2021-12-30 15:52] hugorut commented on #1231
hmm this is weird. Are you sure there's nothing funky going on in your `.gitconfig`. It might be that your machine is re-writing urls to use https and is causing access errors?

Regarding bitbucket server support, are you editing the `diff.sh` script in the repo. Just a heads up, we're migrating away from this bash script in favour of a more composable approach. Using a new tool we've developed ca

[2021-12-31 13:32] rickardosmith opened #1238 "certificate signed by unknown authority issue introduced in v0.9.15"
I get the following printed to console when running version 0.9.15
[code]

When I downgraded to version 0.9.14, the tool runs as expected
[code]

**Additional information**:
- I was running with version 0.9.5 at first, then upgraded version 0.9.15, noticed the error, then downgraded to version 0.9.14
- System info:
[code]

[2021-12-31 14:39] tim775 commented on #1238
Thanks for the issue.  I'm not able to reproduce on my dev machine so I'm spinning up a windows box in the cloud.

If you have a chance could you see if setting `infracost configure set tls_insecure_skip_verify false` is a work-around?

[2021-12-31 15:30] tim775 commented on #1238
I was able to reproduce on windows, and confirm that `.\infracost configure set tls_insecure_skip_verify true` is a work-around.

[2021-12-31 16:03] tim775 commented on #1238
I guess there is a long-standing issue where the golang doesn't know how to load system certs on windows: https://github.com/golang/go/issues/16736.

[2021-12-31 20:58] rickardosmith commented on #1238
@tim775 confirming that the workaround does work in my environment.

Thank you for addressing so quickly.  Looking forward to the fix added in the next release (fingers-crossed)

[2022-01-03 11:40] #1208 closed

[2022-01-03 14:44] tomatwoodliquidx opened #1252 "Add support for Azure monitor diagnostic setting"
Terraform Resource: azurerm_monitor_diagnostic_setting

[2022-01-03 14:44] tomatwoodliquidx opened #1253 "Add support for Azure storage account encryption scope"
Terraform resource: azurerm_storage_encryption_scope

[2022-01-03 14:45] tomatwoodliquidx opened #1254 "Add support for Azure subnet NAT gateway association"
Terraform resource: azurerm_subnet_nat_gateway_association

[2022-01-03 14:46] tomatwoodliquidx opened #1255 "Add support for Azure network watch flow logs"
Terraform resource: azurerm_network_watcher_flow_log

[2022-01-03 14:50] tomatwoodliquidx opened #1256 "Add support for Azure log analytics storage insights"
Terraform resource:  azurerm_log_analytics_storage_insights

[2022-01-03 14:51] tomatwoodliquidx opened #1257 "Add support for Azure storage container"
Terraform resource: azurerm_storage_container

This is like not having coverage for an AWS S3 bucket....  Can this be prioritized as very high?

[2022-01-03 14:55] tomatwoodliquidx opened #1258 "Add support for Azure log analytics workspace"
Terraform resource: azurerm_log_analytics_workspace

This is a resource that can be VERY expensive and is core to most Azure environments.  Can this be prioritized as very high?

[2022-01-03 14:56] aliscott commented on #1257
Thanks @tomatwoodliquidx. We support certain storage options for the `azurerm_storage_account` resource. Would you expect a cost to also show on the `azurerm_storage_container` resource and if so which prices do you think should apply?

[2022-01-03 14:57] tomatwoodliquidx opened #1259 "Add support for Azure SQL Server elastic pools"
Terraform resource: azurerm_mssql_elasticpool

A very expensive resource....

[2022-01-03 18:18] alikhajeh1 opened #1260 "New version of Infracost JSON format"
We're thinking of updating our JSON format in Infracost `v0.10.0` (we're not sure when we'll release that yet). We'd ❤️ to hear your feedback about the changes we have in mind (`infracost breakdown --path=path/to/code --format json`). These changes should make it simpler to write policies with tools like Open Policy Agent (OPA) or HashiCorp's Sentinel.

1. we'll bump the `version` from `0.2` to `0

[2022-01-03 22:45] wahlfeld10x commented on #1231
I confirmed that we do currently block pushing to Github at the moment, but this will be changed in the future.

Also, yes, I did update the diff.sh script -- I'll have a look at compost instead. I suspect by the time I'm able to contribute anything you may already be using compost anyway.

[2022-01-03 22:53] wahlfeld10x commented on #1173
Would be good to include support for Bitbucket Server/Data Center as well, as from what I can tell, the only difference is we need to use a Bitbucket API key instead of an app password. I've gotten this to work with `diff.sh` but wouldn't mind being kept in the loop on how support with `compost` is going.

[2022-01-04 08:58] alikhajeh1 commented on #1173
@wahlfeld10x sounds good! Can you possibly share the curl/bash snippet you used to make it work for Bitbucket Server/Data Center? That helps a lot when we come to add it to compost :)

[2022-01-04 12:30] vdmgolub commented on #1038
@robh007 this is live in v0.9.16.

[2022-01-04 12:30] vdmgolub commented on #1138
@dsfrederic this is live in v0.9.16.

[2022-01-04 12:31] vdmgolub commented on #1213
This is live in v0.9.16.

[2022-01-04 12:31] vdmgolub commented on #1238
@rickardosmith this is live in v0.9.16.

[2022-01-04 12:31] #1238 closed

[2022-01-04 12:32] vdmgolub commented on #1202
@stevie- this is live in v0.9.16.

[2022-01-04 12:32] #1202 closed

[2022-01-04 22:31] wahlfeld10x commented on #1173
Sure here you go, this all went in `diff.sh`. Tested with Atlassian Bitbucket v7.17.1.

[code]

[2022-01-05 09:54] hugorut commented on #1231
@wahlfeld10x, ah right, makes sense. Thanks for all the efforts so far. Taking a peek at your https://github.com/infracost/infracost/issues/1173#issuecomment-1005219898 this addition to the `diff.sh` looks promising and I wouldn't want all your hard work to go to waste. What you could do to get around the github access problem is manually edit https://github.com/wahlfeld10x/infracost/blob/master/s

[2022-01-05 12:51] 3dbrows opened #1265 "CLI glitches on Windows + Git Bash"
[code]

Using `Git Bash 2.28.0.windows.1` on Windows 10 (a common way to use Git, and common Linux CLI utilities) produces the following output. The program quits immediately with no opportunity to supply a y/N answer.
[code]

This is avoided by using `winpty`, but on entering `y` some output is doubled.
[code]

Of note: `kubectl exec` detects and objects to being run without `winpty` in Git Bash:

[2022-01-05 15:38] alikhajeh1 opened #1266 "Azure DevOps "Manual" runs and GitHub PR comments"
Azure DevOps with GitHub pull requests has a mode where the `$BUILD_REASON=Manual`, but the pull request env vars are set. We should detect this in the new Azure DevOps integration and still post a pull request comment. At the moment, the diff.sh script fails with `Posting comment to Azure DevOps $BUILD_REASON is not supported, email hello@infracost.io for help`.

[2022-01-05 20:33] alikhajeh1 commented on #43
Quick update on this: we've released a simple way to [share cost estimates](https://www.infracost.io/docs/features/share_links/) so a link could be added to a readme showing the breakdown. What do people think is a good next step for this? A way of linking to the latest breakdown of a project's cost estimate?

[2022-01-05 21:04] alikhajeh1 commented on #499
A quick update: we've created new [smaller Docker images](https://www.infracost.io/docs/integrations/cicd/#docker-images) for CI. The images contain the Infracost [CLI binary](https://github.com/infracost/infracost), [Compost](https://github.com/infracost/compost) (our latest open source project) and [comment.sh](https://github.com/infracost/infracost/blob/master/scripts/ci/comment.sh). Our [GitLa

[2022-01-05 21:09] alikhajeh1 commented on #975
A quick update: we've created new [smaller Docker images](https://www.infracost.io/docs/integrations/cicd/#docker-images) for CI. The images contain the Infracost [CLI binary](https://github.com/infracost/infracost), [Compost](https://github.com/infracost/compost) (our latest open source project) and [comment.sh](https://github.com/infracost/infracost/blob/master/scripts/ci/comment.sh). Our [GitLa

[2022-01-05 21:09] alikhajeh1 commented on #1066
@hugorut any thoughts on what the next step for this could be? or does resourcegen already handle this?

[2022-01-05 21:10] alikhajeh1 commented on #1192
@clausa20 any update on this?

[2022-01-05 21:13] alikhajeh1 commented on #1252
@tomatwoodliquidx thanks for creating these! We'll try to get to them as soon as possible. If you'd like to work on any of them, we'd be more than happy to help too. Our [contributing guide](https://github.com/infracost/infracost/blob/master/CONTRIBUTING.md) gives you a rough idea of what this involves.

[2022-01-05 21:15] userbradley commented on #975
Hey! Thanks for the update!

I'll have a scratch around this weekend and I'll see what comes of it!

Appreciate the work!

[2022-01-05 21:21] alikhajeh1 commented on #975
Thanks @userbradley! That's much appreciated. Our team is also [active on Slack](https://www.infracost.io/community-chat) in case you prefer to chat.

[2022-01-05 22:48] tomatwoodliquidx commented on #1252
@alikhajeh1 Thanks for sending along!  Will definitely contribute if that helps the process along.  I know how it can be difficult with a lean team!  Infracost is great too!  If you ever want to do a call, I can provide some ideas for paid add-on featurea that would help your team out!  Let me know.

I am back at the office Jan 11 and will add more detail with these tickets and give a try at submi

[2022-01-05 22:56] wahlfeld10x commented on #1231
Thanks, that worked, I've created a draft PR for now as I'm in discussion with my organisation about this contribution.

[2022-01-06 05:26] alikhajeh1 commented on #1252
Thanks @tomatwoodliquidx! A call to discuss that is also appreciated, my email is ali.hosseini@infracost.io.
@aliscott / @tim775 can you possibly add details to this or one of the other @tomatwoodliquidx issues in the next week to make it easier for him to start contributing?

[2022-01-06 09:08] hugorut commented on #1066
@alikhajeh1 I think as a team we've agreed to support more comments moving forward. Additionally, as you've mentioned `resourcegen` encourages contributors to write `godoc` out the box. The rest of the codebase we can slowly iterate on when we're refactoring/editing files. It doesn't have to be a big bang approach. So, with that said I think we can close this issue.

[2022-01-06 09:08] #1066 closed

[2022-01-06 11:20] alikhajeh1 commented on #1066
Thanks @hugorut!

[2022-01-06 13:22] moreandres opened #1272 "Add support for AWS Glue resources"
Hi! It would be nice to support AWS Glue resources. In particular, `aws_glue_job` are serverless and run multiple executors which are costly. Thanks!

[code]

[2022-01-06 19:31] alikhajeh1 commented on #1272
@moreandres thanks for creating this! We'll try to get to them as soon as possible. If you'd like to work on any of them, we'd be more than happy to help too. Our [contributing guide](https://github.com/infracost/infracost/blob/master/CONTRIBUTING.md) gives you a rough idea of what this involves.

[2022-01-10 03:35] AliSajid opened #1276 "Support for vultr cloud"
### Discussed in https://github.com/infracost/infracost/discussions/1275

<div type='discussions-op-text'>

<sup>Originally posted by **AliSajid** January  8, 2022</sup>
Hi,

This is borne out of personal annoyance but what do you guys think about supporting other smaller cloud providers? I really want to use [Vultr](vultr.com).

I'd be willing to create the entire thing as they have a verified te

[2022-01-12 06:40] aliscott commented on #1258
@tomatwoodliquidx I've added a detailed breakdown of the resource cost components to the issue description above. Since you're familiar with the resource are you able to take a look at see if that breakdown makes sense?

[2022-01-12 12:23] #1188 closed

[2022-01-12 16:53] alikhajeh1 commented on #1183
This is now live! See https://gitlab.com/infracost/infracost-gitlab-ci

[2022-01-12 16:53] #1183 closed

[2022-01-12 16:53] alikhajeh1 commented on #1276
Going to close this as we're tracking the discussion on https://github.com/infracost/cloud-pricing-api/issues/12 and Slack :)

[2022-01-12 16:53] #1276 closed

[2022-01-12 16:55] alikhajeh1 commented on #889
@praveenghuge thanks for helping so far! For now, I've unassigned this issue and moved it back in the Todo list in case someone else wants to work on it.

[2022-01-12 16:56] alikhajeh1 commented on #1033
@dgcaron thanks for helping so far! If it's ok with you, I can unassign this issue in case someone else has time to work on it?

[2022-01-12 17:21] dgcaron commented on #1033
Sure no problem, sorry keeping this lingering for too long!

[2022-01-12 17:45] alikhajeh1 opened #1279 "Do best-effort on fetch from CloudWatch permission issues"
Using the [fetch from CloudWatch](https://www.infracost.io/docs/features/usage_based_resources/#fetch-from-cloudwatch) feature fails if the user does not have the `ListBucketMetricsConfigurations` permission. However, we could continue to fetch the rest of the metrics as things like the storage GB don't need that permission as far as I remember.

[2022-01-13 17:58] stobias123 opened #1280 "[Feature Request] Config File Workspaces"
Feature request to allow for workspaces as an array in the config file.

Each of my directories has multiple workspaces. So it becomes very verbose very quickly to add them.

Consider this

[code]

vs proposed...

[code]

[2022-01-14 11:41] RickyHolland opened #1281 "Terragrunt project count mismatch causes fatal panic"
I'm currently evaluating infracost as part of our stack and unfortunately, I'm running into the below issue.

For context, the project/directory I'm running the breakdown command against contains multiple modules/subfolders that each contain their own terragrunt.hcl. Some of which I'm filtering out using `export INFRACOST_TERRAGRUNT_FLAGS="--terragrunt-exclude-dir helm-* --terragrunt-exclude-dir k

[2022-01-14 12:01] hugorut commented on #1281
Hey @RickyHolland, thanks for reporting this 🙏 . I'm looking into this now and will get back to you ASAP once we've figured out what the issue is.

[2022-01-14 12:11] RickyHolland commented on #1281
Thanks Hugo.

I've done some further troubleshooting, using an EKS module as an example, and the interesting thing is if that I run `infracost breakdown --path .` within that subfolder then everything is working as expected.

I then moved back up a directory (into the project dir which contains multiple modules) and targeted the EKS folder directly again using `"export INFRACOST_TERRAGRUNT_FLAGS="

[2022-01-14 12:29] hugorut commented on #1281
@RickyHolland thanks for the additional info. Is it possible to try running the problem `breakdown` with `INFRACOST_PARALLELISM=1` env var set and letting me know if this solves the runtime panic.

[2022-01-14 12:32] RickyHolland commented on #1281
@hugorut Just gave the parallelism env var a go and unfortunately it still has the same error.

[2022-01-14 12:33] hugorut commented on #1281
@RickyHolland thanks, no worries, the search continues!!

[2022-01-14 12:53] hugorut commented on #1281
@RickyHolland - just an update, I think I've found the root cause of this but need to do some validation with examples locally. However, I'm stepping into a meeting for a couple hours. I'll update with progress after that.

[2022-01-14 15:19] hugorut commented on #1281
Hey @RickyHolland so we think we've managed to reproduce this locally and have identified the issue. Can you confirm that running

[code]

or

[code]

And running the breakdown cmd fixes the panic?

[2022-01-14 15:41] RickyHolland commented on #1281
Hey @hugorut,

That's done the trick, we are now able to view cost for multiple modules :).

[2022-01-14 15:42] hugorut commented on #1281
![](https://media.giphy.com/media/l0MYt5jPR6QX5pnqM/giphy.gif)

@RickyHolland thanks for your patience. We'll have a permanent fix for this issue out in the next release. I'll post here when it's out.

[2022-01-16 01:31] ianwesleyarmstrong opened #1283 "Add support for GKE autopilot"
When creating a GKE cluster with autopilot enabled, infracost assumest that you are going to use the default nodepool. The only thing that should be reported is the cluster management fee.

## gke_cluster.tf
[code]

## Infracost output
[code]

[2022-01-16 10:28] alikhajeh1 commented on #1283
Thanks @ianwesleyarmstrong! How does this sound to you:

We need to update [this logic](https://github.com/infracost/infracost/blob/b7517ef9df2828ba384c4ee5ce463a1d22a26ff2/internal/providers/terraform/google/container_cluster.go#L50-L57) so `default_pool` isn't added when `enable_autopilot=true`. Instead we should show [these cost components](https://cloud.google.com/kubernetes-engine/pricing):
-

[2022-01-16 10:39] alikhajeh1 commented on #1280
Thanks @stobias123 - that looks simpler indeed!

Two quick questions:
1. Have you found the need to specify project names before? e.g. in pull request comment [summary table](https://github.com/infracost/actions/raw/master/.github/assets/screenshot.png), I think at the moment we use the project path and put the workspace in brackets so you'd see the following - is that ok or do you need the abilit

[2022-01-16 17:48] stobias123 commented on #1280
1. No project path is fine
2. IMO one file top level. If you need to specify paths via wildcard, I'd rather specify file paths (with wildcards) that contain tf in the config file rather than create a bunch of files. Managing tons of files becomes challenging.

So something like this rather than one file per sub project

[code]

[2022-01-16 20:13] alikhajeh1 commented on #1280
@stobias123 awesome! We'll see when we get to this, we're currently heads-down on Azure DevOps and Atlantis integration improvements.

[2022-01-16 21:46] tim775 commented on #1280
Just curious, would the challenge with managing per directory configs be that all those files are basiaclly the same? So sort of the same problem you have now of the config file being too verbose (except I guess it would be worse because it is now verbose and spread out...) or maybe is it that it becomes too difficult to concisely see what the config is?  Or something else?

On the one hand it fee

[2022-01-18 16:39] sinabakh opened #1288 "Migrate Remaining AWS Resources"
Here are the steps to migrate a resource:
1. Pull latest changes from my `refactor-migration-t1` branch.
2. Set the var `SINGLE_RESOURCE_NAME` in `cmd/migrator/main.go` to the resource filename.
3. Run `go run cmd/migrator/main.go`, the resource file would be edited and a new resource file will be created in `internal/resources/aws`
4. All things that the script was unable to migrate are changed t

[2022-01-18 16:39] sinabakh commented on #1288
Here's a list of remaining resources:
- [ ] internal/providers/terraform/aws/cloudfront_distribution.go
- [ ] internal/providers/terraform/aws/cloudwatch_metric_alarm.go
- [ ] internal/providers/terraform/aws/dx_connection.go
- [ ] internal/providers/terraform/aws/dx_gateway_association.go
- [ ] internal/providers/terraform/aws/ebs_snapshot.go
- [ ] internal/providers/terraform/aws/ebs_snapshot_co

[2022-01-18 16:41] sinabakh commented on #1288
@aliscott I suggest you start with `cloudwatch_metric_alarm` it seems easier than others for start.

[2022-01-18 20:26] sinabakh commented on #1288
I'll do:
- [ ] internal/providers/terraform/aws/waf_web_acl.go
- [ ] internal/providers/terraform/aws/wafv2_web_acl.go

[2022-01-19 09:15] vdmgolub commented on #1288
I'll do:
- [ ] internal/providers/terraform/aws/cloudfront_distribution.go
- [ ] internal/providers/terraform/aws/cloudwatch_metric_alarm.go

[2022-01-19 09:45] aliscott commented on #1288
@sinabakh this is awesome 😄! I set myself a time limit of 30 mins to see how many I could get done and managed to knock out 3 with these steps. Having the `UNKNOWN` blocks made this super simple.

I took some notes of things I noticed while going through it:

1. Should any resource structs that don't have usage parameters be non-pointers? This is what we have for the ones we did manually like `s3_

[2022-01-19 09:45] #1281 closed

[2022-01-19 09:47] hugorut commented on #1281
@RickyHolland we're merged a fix into master for ready for the v0.9.17 release. I'll drop you a message when that version goes live.

[2022-01-19 11:31] sinabakh commented on #1288
@aliscott
1. I remember I thought about it and there were some technical difficulties that I can't remember right now. Give me some time to give it another thought to see if that's possible.
2. I think that's possible, need some investigation though.
3. Yeah, I think doing it manually will consume more time than all the manual edits combined :))
4. I didn't understand. It's pretty easy to transfor

[2022-01-19 14:50] tim775 opened #1292 "Make "Share the Results" link clickable in HTML format"
For example:

![image](https://user-images.githubusercontent.com/52185/150154691-176f7b13-6662-4f9b-bc0a-493278fa4f4c.png)

[2022-01-19 15:05] intention-attention opened #1293 "Terragrunt related error"
**Reporting as request by the application:**

infracost breakdown --path .
Detected Terragrunt directory at .
  ✔ Running terragrunt run-all terragrunt-info
  ✔ Running terragrunt run-all plan
  ✔ Running terragrunt show for each project
  ✔ Calculating monthly cost estimate

Error: An unexpected error occurred

runtime error: index out of range [1] with length 1
goroutine 1 [running]:
runtime/deb

[2022-01-19 15:14] hugorut commented on #1293
Hey @intention-attention , thanks for reporting this.

This looks very similar to an issue that another user had recently. We've released a fix into master but it won't be available until the next version goes live. Could you try the following to see if this solves the problem for you:

Try running

[code]

or setting env var

[code]

Then running the breakdown cmd fixes the panic?

[2022-01-19 15:49] aliscott commented on #1288
I think 1 & 2 should be fairly quick to do manually either way, and 3 is easy to do as we're going through the changes.

For 4 yeah exactly, but we can just search through afterwards and find and replace `Gb` -> `GB`.

[2022-01-19 17:01] matthewnessworthy opened #1294 "Resources not estimated: aws_appautoscaling_policy & aws_appautoscaling_target"
Hi,
The following resources are not estimated by infracost:

* aws_appautoscaling_policy
* aws_appautoscaling_target

## Community note

Please 👍 if you need this. Also let us know if you'd like to work on it, we'd be happy to help you!

[2022-01-19 22:01] oneslash commented on #1223
@alikhajeh1 I can try if you don't mind

[2022-01-20 10:35] alikhajeh1 commented on #1294
Thanks @matthewnessworthy! It looks like we can use the aws_appautoscaling_target min/max and scalable_dimension to calculate a cost range. This is something that @sashman had mentioned a while ago too. We don't yet support a cost range, so I'm wondering if we should use target_value until then? What do you think?

I think we also need https://github.com/infracost/infracost/issues/849 before we ca

[2022-01-20 10:37] alikhajeh1 commented on #1223
Hi @oneslash - that would be much appreciated!

[2022-01-20 13:04] alikhajeh1 commented on #1266
@vdmgolub / @aliscott is this already handled by the new [Azure DevOps extension](https://github.com/infracost/infracost-azure-devops)? If so, please close it

[2022-01-20 13:56] vdmgolub commented on #1266
@alikhajeh1 I think it's resolved, but let me double-check and I'll close it if it's working okay 👍

[2022-01-20 14:21] aliscott commented on #1223
@oneslash thanks! Here's some quick thought on how we could support this resource:

[This file](https://github.com/infracost/infracost/blob/master/internal/providers/terraform/aws/instance.go) pulls out the Terraform attributes and constructs an `aws.Instance`. You could handle the `aws_spot_instance_request` in the same way, by extracting the `instance_type` and `ami` attributes and building an `

[2022-01-21 13:14] pierreilki opened #1298 "Monthly Cost. on AZURE Instance => $0.00"
Hi,

Ruuning Infracost on Azure Instance return the following Monthly Cost. => $0.00
I also tried with "B1ms" and "DS1_v2" size.

Does it's normal ? Do I have to put "usage" for my Instance ?

Thx for help !

[code]

[2022-01-21 13:34] alikhajeh1 commented on #1298
@pierreilki that smells like a bug! Can you please share the terraform resource code that resulted in that 0? That'll help us find the issue. Also can you please run with `--log-level debug` and share that? It should show why the cost is shown as zero.

[2022-01-21 13:49] pierreilki commented on #1298
`--log-level debug` returns
[code]

Instance is declraed as follow:

[code]

I also tried to use "tfplan.json" file but error still occurs. I also tried to delete cached plans, but error still occurs.

FULL DEBUG MSG:
[code]

[2022-01-21 13:57] aliscott commented on #1298
Thanks @pierreilki, we should be able to reproduce it with those details. I'll let you know when we've found the issue.

[2022-01-21 14:11] torbendury opened #1299 "GCP unsupported resources"
Hello all, I just ran `infracost` on some stuff of ours, and it appears that the following resources are unsupported right now:

[code]

[2022-01-21 14:22] aliscott commented on #1299
Thanks @torbendury, we'll look into adding prices for these. In what order would you prioritize them? If you'd like to work on any of them, we'd be more than happy to help too. Our [contributing guide](https://github.com/infracost/infracost/blob/master/CONTRIBUTING.md#adding-new-resources) gives you a rough idea of what this involves.

[2022-01-21 14:23] pierreilki commented on #1298
@aliscott
I got it ! :)

In instance "size", if I replace
[code]
by
[code]

It works. I think that Azure Price API add "Standard_" as prefix to all SKU names, even if "Standard_" prefix is not needed to deploy Instances to Azure...

[2022-01-21 14:25] #1298 closed

[2022-01-21 14:26] aliscott commented on #1298
Awesome, well found! We should update the code to work for this case.

Side note: not sure why the logs are showing `Falling back to default region (eastus)` since I see the requests to the API are sent with `"region": "francecentral"`, so will look into that too.

[2022-01-21 14:48] joanayma opened #1300 "How to calculate ecs task run"
Hi,

We are using AWS Step Functions that has some steps for lambdas and some (quite a lot actually) are ecs tasks. We have the task definitions `aws_ecs_task_definitions`, which makes sense that are free, and `aws_sfn_state_machine` in the same terraform code. The SFN has transactions usage number, but the ecs task is out of scope. While ecs task definition is free, running the task isn't.

How w

[2022-01-21 15:15] aliscott commented on #1300
@joanayma thanks! We have a [usage file](https://www.infracost.io/docs/features/usage_based_resources/#infracost-usage-file) that can be used to specify usage-based properties for a resource, so perhaps we could utilize that when adding support for this?

How would you think this could be modelled? One idea I have is to parse the `container_definitions` to sum up the CPU and memory numbers, and th

[2022-01-21 15:25] joanayma commented on #1300
Yes, parsing the container_definitions is definitely the way to go. Then it requires the (multiple) region where the user is going to use it. As far I see, the _add new resources_ contribution readme shows something about how that can be done. And for EC2 this is similar or using what has done in #79.

Right now ecs task definition is in the _free resources_ list. Should we move it as a new resour

[2022-01-21 16:20] aliscott commented on #1300
Yeah adding it as a new resource, and moving it out of the free resources makes sense.

For the EC2 option would we need some way of working out the instance count of the instances that would be launched? Or would it be enough for us to specify that in the usage file?

[2022-01-21 18:22] aliscott commented on #1298
Thanks @pierreilki for reporting this and well done for finding a workaround. I've added fixes here https://github.com/infracost/infracost/pull/1301 which will go into the next release (v0.9.17).

[2022-01-22 13:31] vdmgolub commented on #1266
Verified, running a pipeline manually using [InfracostTasks](https://marketplace.visualstudio.com/items?itemName=Infracost.infracost-tasks) and setting a GitHub PR number as an env var posts the comment. Here's an example how to do this:
[code]

[2022-01-22 13:31] #1266 closed

[2022-01-23 06:24] sinabakh commented on #1288
Fixed 4, working on 1,2. They require some changes in the script.

[2022-01-23 07:08] aliscott commented on #1288
Thanks @sinabakh  I will pause https://github.com/infracost/infracost/pull/1302 for just now and move back to working on the list above.

For 1 it might be more complicated than I first thought. There's some resources that we want optional attributes for that aren't usage params, i.e. any count attribute that defaults to a non-zero value (for example https://github.com/infracost/infracost/blob/cle

[2022-01-24 16:45] brettcurtis commented on #43
I think if you're going to use a badge the badge could link to the shared cost estimates as described above. I almost like the simplicity of adding the text directly to README.md, it's complementary to something like terraform-docs.

[2022-01-26 19:20] brendanfalk commented on #1118
I presume you want the Fig integration to be fully automated. We recommend creating a GH action that runs on push to main that deep merges the spec with the existing one then pushed to withfig/autocomplete

Tagging @fedeci who has been working on this with us and can hopefully help :)

please ping me if you need any help brendan AT fig DOT io

[2022-01-26 19:24] alikhajeh1 commented on #1118
That's very cool, we use GH actions already in this repo so that would be sweet.

[2022-01-26 22:02] alikhajeh1 commented on #1266
@vdmgolub thanks!

[2022-01-27 11:11] sinabakh commented on #1288
Fixed 1 with some hacks, remember to pull the latest changes.

[2022-01-28 13:00] aliscott commented on #1257
@tomatwoodliquidx I was looking at prioritizing this and wondered if you had any thoughts on the prices that should be added to this resource?

[2022-01-28 13:01] aliscott commented on #1300
@joanayma I was looking at prioritizing this and wondered if you had any thoughts on my question above?

[2022-01-28 13:12] joanayma commented on #1300
Hi sorry too busy week. I think the best is usage-file for things that are not in containers_definitions. Also I think the task run only runs one instance, not sure, but definitely a "count" of how many times the user is going to run or a total of running hours is a user input.

[2022-01-28 13:15] aliscott commented on #1300
Thanks! Yeah I think total running hours makes a lot sense.

[2022-01-30 17:21] alikhajeh1 commented on #1195
I think we should have logic where if `performance_insights_enabled=true` and `performance_insights_retention_period` is more than 7 days, we show a new cost component:
- name "Long term retention", units "hours", multiply the price by the number of vCPUs based on `instance_class` (so no usage file params are needed).

Since this was one of the early resources we added, we should also review https

[2022-01-31 10:09] aliscott commented on #440
There's a few approaches we could take here. Please add any more ideas.

### Option 1: Add manual usage params for each scalable dimension to the relevant resources

For example, the `aws_appautoscaling_target` might be defined as:

[code]

To model this we could add a `read_capacity_units` usage param to the `aws_dynamodb_table` resource, which could be specified manually by the user. With this a

[2022-01-31 11:34] timogoosen opened #1317 "Please add linux-arm64 binary"
Could you please add a linux-arm64 binary.
This would be really useful.
For now I will just compile from source.
Thanks

[2022-01-31 11:44] aliscott commented on #1317
Thanks @timogoosen, sorry we should have done this earlier. I've added https://github.com/infracost/infracost/pull/1318 so this should start from the next release.

[2022-01-31 12:34] hugorut commented on #1281
hey @RickyHolland a fix for this is now live as part of the `v0.9.17` release

[2022-01-31 12:36] hugorut commented on #1298
Hey @pierreilki a fix for this is now live as part of the `v0.9.17` release. Thanks

[2022-01-31 12:58] pierreilki commented on #1298
Hi @hugorut

Thanks !! :)

[2022-01-31 14:45] ryan-dyer-sp opened #1319 "Option to disable updated version notification"
It would be great if there was an option to disable the updated version notification.  We have PRs where infracost is invoked over 2k times.  This results in a lot of notifications that the CLI has been updated that we dont care about.  If there is a way to disable this notification, it would go along way for CI purposes.

Thanks!

[2022-01-31 14:52] aliscott commented on #1319
Hi @ryan-dyer-sp you can do this by setting `INFRACOST_SKIP_UPDATE_CHECK=true` (https://www.infracost.io/docs/integrations/environment_variables/#infracost_skip_update_check)

[2022-01-31 15:04] #1319 closed

[2022-01-31 18:01] sinabakh opened #1320 "Migrate Remaining Google Resources"
Change the `PROVIDER` and `PROVIDER_TF` to `google` in the migrator script.

Here's a list of remaining resources:
- [x] internal/providers/terraform/google/compute_address.go @sinabakh
- [x] internal/providers/terraform/google/compute_disk.go @vdmgolub
- [x] internal/providers/terraform/google/compute_external_vpn_gateway.go @sinabakh
- [x] internal/providers/terraform/google/compute_forwarding_r

[2022-01-31 18:14] #1317 closed

[2022-02-01 00:29] jeremy-ke opened #1321 "Add arm64 Docker image"
Hey guys,

Recently implemented infracost into some Github Actions and it works great! It's now a part of our terraform audit process.

That being said, I was wondering if an arm64 version of the infracost binary/docker image could be added to the possible releases? We're currently running our GitHub workflow on some self-hosted GitHub runners, and it would be a nice bonus to be able to run Infrac

[2022-02-01 02:13] alikhajeh1 commented on #1321
Hey @jeremy-ke - thanks! We just merged https://github.com/infracost/infracost/pull/1318 earlier today but it's not released yet. I've not used GH Actions with self-hosted runners, do you need an arm64 binary so you can bake it into your self-hosted OS image, or are you using the infracost/actions/setup task (which probably needs to be [updated](https://github.com/infracost/actions/blob/master/set

[2022-02-01 06:58] aliscott commented on #1321
Good idea, I've added the linux-arm64 and windows-arm64 builds to the latest release (https://github.com/infracost/infracost/releases/tag/v0.9.17) and updated our release pipeline so these will be added going forward.

I've also created a PR for the linux/arm64 docker images. It's more difficult to update the current images, so at the moment this will start from the next release (https://github.co

[2022-02-01 09:16] timogoosen commented on #1317
Thanks @aliscott

[2022-02-01 11:28] madhavdubey97 opened #1333 "EKS cluster extra node group cost doesn't get included in the result"

[2022-02-01 11:28] madhavdubey97 commented on #1333
module.eks.aws_eks_cluster.this[0]
 └─ EKS cluster                                                                    730  hours                       $73.00

 module.eks.module.node_groups.aws_eks_node_group.workers["example"]
 ├─ Instance usage (Linux/UNIX, spot, r5.4xlarge)                                7,300  hours                    $2,802.47
 └─ Storage (general purpose SSD, gp2)

[2022-02-01 12:05] vdmgolub commented on #1333
Hey @madhavdubey97! Thank you for creating the issue. Will it be possible to share an example of your Terraform code that causes this? It will help us to replicate it on our end.

[2022-02-01 15:27] jeremy-ke commented on #1321
Thanks so much!

Either the arm64 binary or the `infracost/actions/setup` task is great, I think either works in our context. We've just used the GitHub actions setup task for now.

[2022-02-01 21:08] jeremy-ke commented on #1321
@aliscott thanks for the quick turnaround! I'll check sometime in the next few days and report back

[2022-02-02 13:55] sinabakh commented on #1288
I'll finish it.

[2022-02-03 19:28] jeremy-ke commented on #1321
@aliscott arm64 `infracost/actions/setup@v1` github action works! thanks so much.

[2022-02-05 11:08] GoodGuyGroves commented on #187
This would be amazing!

[2022-02-06 19:59] Heimrych commented on #1283
Hello! I would love to contribute and work on this issue! Can I work on this?

[2022-02-06 21:13] alikhajeh1 commented on #1283
@Heimrych thanks! That's much appreciated. I've put details of the cost components and their units in [the above comment](https://github.com/infracost/infracost/issues/1283#issuecomment-1013849484) - if you have any questions you can ask here or jump into our [community Slack chat](https://www.infracost.io/community-chat).

[2022-02-07 12:06] fraserc182 opened #1349 "`aws_ecs_service.capacity_provider_strategy` is not parsed as FARGATE deployment type"
I am deploying a service and the prices that infracost is giving out seem wrong.
The main issue is it seems to think that the `aws_ecs_service` is free. Am I doing something wrong here or expecting something that cannot be done?
The resource is listed as a paid service here - https://www.infracost.io/docs/supported_resources/aws/

---

*additional context added after investigation*

Infracost uses

[2022-02-07 12:14] hugorut commented on #1349
hey @fraserc182 thanks for reporting this. You are correct, Infracost does support `aws_ecs_service` as a paid resource, so there must be something funky going on here! Do you mind sharing the terraform resource block that is being reported as free? This will help me narrow down the problem.

[2022-02-07 13:05] fraserc182 commented on #1349
Hi @hugorut thanks for looking at this for me.
The resource in question is:

[code]

If you need more info of what the variables refer to, please let me know and I can get it.

[2022-02-07 13:06] fraserc182 commented on #1349
Also, the output I get from running infracost is:

[code]

[2022-02-07 13:17] vdmgolub commented on #1333
Hey @madhavdubey97! Just pinging you again in case you missed my last comment :) Is it still an issue? Feel free to contact me on [our community slack](https://www.infracost.io/community-chat).

[2022-02-07 13:19] hugorut commented on #1349
Thanks @fraserc182, let me delve into this a bit deeper and get back to you ASAP

[2022-02-07 14:22] hugorut commented on #1349
@fraserc182 - a quick clarification on your `aws_ecs_service`. Are you running this on FARGATE or EC2? From reading the spec you've given me I believe you're running on EC2, but wanted to check.

[2022-02-07 14:25] fraserc182 commented on #1349
@hugorut It's fargate it's running on. Specifically the `FARGATE_SPOT` capacity provider.

[2022-02-07 14:59] fraserc182 commented on #1349
@hugorut Looks much better now!
Is there any way to have infracost pick this up without adding in the `launch_type = "FARGATE"` option?
Also, my last question is how does infracost keep track of cost increase/decrease with each plan? If there is docs for this just point me at those!
Thanks for your help, much appreciated.

[code]
[code]

[2022-02-07 15:37] alikhajeh1 commented on #1349
We don't have that, the closest thing we have is https://www.infracost.io/docs/features/share_links/ that can be used to generate a links for specific snapshots (e.g. you can take that at the start of the week, and compare it with the one next week manually). Out of interest, why do you want this? (the context helps us a lot)

[2022-02-07 15:40] fraserc182 commented on #1349
Ah I was referring to this in the output:

I think I get it now, it's not keeping track of our costs. It just adds or subtracts based on the plan. That makes more sense!

[code]

[2022-02-07 15:41] hugorut commented on #1349
@fraserc182 - good to hear this fixed your issue. We can definitely add the option in to infer the launch type from child blocks in the resource. The current issue is that `launch_type` defaults to `EC2` in the aws provider and this isn't overwritten by the `capacity_provider_strategy` option. So we'll need to add some additional code to make sure that the child blocks aren't specifying FARGATE. S

[2022-02-07 15:42] hugorut commented on #1349
I'm going to change the title and description of this issue so that someone can pick it up to work on soon.

[2022-02-07 15:48] fraserc182 commented on #1349
Perfect, thanks for the help with this. Appreciate you picking it up so quickly as well.

[2022-02-08 20:17] alikhajeh1 opened #1353 "Infracost February community call"
### Join the first Infracost community call!
We're open to discuss any topic related to Infracost and cloud costs. You can also share your adoption challenges and successes. We'll share the latest product news.

### When
Wednesday 16 February 2022, 08:30 PST = 11:30 EST = 16:30 GMT

### Where
Zoom meeting: https://us06web.zoom.us/j/99421485564
Meeting ID: 994 2148 5564
(this meeting requires a Zoo

[2022-02-09 03:00] tim775 opened #1354 "Cost diff discrepancy on Premium Azure Event Hub service"
### Cost diff discrepancy on Azure Event Hub service
Azure Event Hub change Standard to Premium SKU and Infracost shows decrease in price, pretty sure the increase is actually quite big. Result of diff:
[code]

This is the actual Terraform plan output:
[code]

_Originally posted by @gysiedebruyn in https://github.com/infracost/infracost/discussions/1271#discussioncomment-2137601_

[2022-02-09 10:33] aliscott opened #1356 "Add support for Google Cloud Armor"
Google pricing: https://cloud.google.com/armor/pricing
Terraform resources:
* https://registry.terraform.io/providers/hashicorp/google/latest/docs/resources/compute_security_policy
* There might be more

[2022-02-09 10:34] aliscott opened #1357 "Add support for Google Cloud Scheduler"
Google pricing: https://cloud.google.com/scheduler/pricing
Terraform resources:
* https://registry.terraform.io/providers/hashicorp/google/latest/docs/resources/cloud_scheduler_job

[2022-02-09 10:35] aliscott opened #1358 "Add support for Google reCAPTCHA Enterprise"
Google pricing: https://cloud.google.com/recaptcha-enterprise/pricing
Terraform resources:
* https://registry.terraform.io/providers/hashicorp/google/latest/docs/resources/recaptcha_enterprise_key

[2022-02-09 10:39] aliscott opened #1359 "Add support for Google App Engine"
Google pricing: https://cloud.google.com/appengine/pricing
Terraform resources:
* `google_app_engine_*` - some of these might be free

[2022-02-09 10:39] aliscott opened #1360 "Add support for `google_service_networking_connection` resource"
Terraform resource: https://registry.terraform.io/providers/hashicorp/google/latest/docs/resources/service_networking_connection

[2022-02-09 10:41] aliscott opened #1361 "Add support for Google Cloud Run"
Google pricing: https://cloud.google.com/run/pricing
Terraform resources:
* google_cloud_run_* - some of these might be free

## Details

### `google_cloud_run_service`

We will need to extract the following attributes from the Terraform:

- `template.spec.containers[*].resources.limits.cpu`
- `template.spec.containers[*].resources.limits.memory`
- `template.metadata.annotations["autoscaling.knati

[2022-02-09 10:45] aliscott commented on #1299
Thanks @torbendury and @proffalken. I've created the following issues to track these resources and will close this issue for now. Please watch these for updates on each service:

* https://github.com/infracost/infracost/issues/1356
* https://github.com/infracost/infracost/issues/1357
* https://github.com/infracost/infracost/issues/1358
* https://github.com/infracost/infracost/issues/1359
* https:/

[2022-02-09 10:45] #1299 closed

[2022-02-09 10:52] aliscott commented on #1283
@Heimrych thank you! If you haven't seen already we have a [guide for adding new resources](https://github.com/infracost/infracost/blob/master/contributing/add_new_resource_guide.md) that might be useful. Feel free to reach out on the community Slack as well if we can help/pair with you on anything.

[2022-02-09 13:51] #1354 closed

[2022-02-09 13:52] tim775 commented on #1354
This will be released in v0.9.18

[2022-02-09 15:05] proffalken commented on #1299
@aliscott that's a good point, and yes, they are free: https://cloud.google.com/load-balancing/docs/ssl-certificates#ssl-certificate-costs

[2022-02-09 15:58] thuban-arrakis opened #1362 "My cost estimate looks wrong​."
Environment - GKE
Backend - remote, Terraform Cloud
Regions - us-east1 & us-east4

I've tried get cost estiomation via CLI and Terraform Run Tasks, and from distant seems works fine about cost reports, or comments updates in case of GitHub Actions. According to billing, my average monthly total cost is about $10,000 for both environments - staging & production, wich cannot correspond with Infracos

[2022-02-09 16:48] aliscott commented on #1362
Thanks @thuban-arrakis, yeah this seems quite a bit off.

Can you run a `infracost breakdown` against this project and let us know:
1. Any relevant parts of the full Infracost breakdown
2. Currently we use the `autoscaling.min_count` attribute, or if that doesn't exist the `node_count` or the `initial_node_count` for calculating the cost. What attribute would you expect to be used for this?

If yo

[2022-02-10 15:43] thuban-arrakis commented on #1362
Closing this issue, it's all about prevous `.infracost` cache =)
Cost estimation work perfectly fine.

[2022-02-10 17:13] aliscott commented on #1362
Thanks @thuban-arrakis. I'm wondering why the cache wasn't invalidating when the files were changed? If you have any insight on that it might be good to check if our cache is working as expected.

[2022-02-10 18:13] aliscott commented on #1279
Fixed by https://github.com/infracost/infracost/pull/1368 and will be released in v0.9.18.

[2022-02-10 18:13] #1279 closed

[2022-02-10 21:27] sbibow commented on #1353
One thing I would like to hear your opinion about is #616 and how to expand infracost to also allow custom prices (especially for these on-prem resources).
It is kinda similar to #796, as in companies having internal prices for the operation and monitoring that comes from an operational team.
Maybe a single solution can be found for both enhancements.

[2022-02-11 13:21] #1195 closed

[2022-02-11 13:22] tim775 commented on #1195
@Dinoshauer This is fixed and will go out in the v0.9.18 release (should be early next week).  Thanks for the issue!

[2022-02-11 14:09] tim775 opened #1372 "Add support for RDS Instance burstable CPU Credits"
[AWS DB Instance](https://github.com/infracost/infracost/blob/master/internal/resources/aws/db_instance.go) should be updated to support CPU Credit charges for burtsable instances the same way [AWS RDS Cluster Instance](https://github.com/infracost/infracost/blob/master/internal/resources/aws/rds_cluster_instance.go) does.

[2022-02-11 14:12] tim775 opened #1373 "Add support for RDS reserved instance charges"
[AWS DB Instance](https://github.com/infracost/infracost/blob/master/internal/resources/aws/db_instance.go) and [AWS RDS Cluster Instance](https://github.com/infracost/infracost/blob/master/internal/resources/aws/rds_cluster_instance.go) should be updated to support a usage param for reservered instance charges that saw way [EC2 Instance](https://github.com/infracost/infracost/blob/master/internal

[2022-02-11 14:22] tim775 opened #1374 "Add support for RDS Cluster Replicated Write I/O charges"
Add a `monthly_replicated_write` usage parameters to AWS [RDS Cluster] (https://github.com/infracost/infracost/blob/master/internal/resources/aws/rds_cluster.go) to track charges for Replicated Write I/Os (see https://aws.amazon.com/rds/aurora/pricing/#Database_Storage_and_IOs)

[2022-02-11 19:38] tim775 opened #1375 "Add support for RDS Proxy"
Add a new resource for `aws_db_proxy_target` that has a "RDS Proxy (<target db engine size>)" charge with unit (vCPU).  It should be possible to determine the db engine size and the vCPU count by using a reference to the aws_db_instance (through db_instance_identifier) or aws_rds_cluster (through db_cluster_identifier).  See [db_proxy_target](https://registry.terraform.io/providers/hashicorp/aws/l

[2022-02-11 21:41] #969 closed

[2022-02-11 21:44] alikhajeh1 commented on #1173
This is [in progress](https://github.com/infracost/infracost/pull/1363#discussion_r803916399) and will be shipped early next week in v0.9.18 🚀

The [docs PR](https://github.com/infracost/docs/pull/164/files) shows what the command will look like, it'll support the Cloud and Bitbucket Server/Data Center versions

[2022-02-11 21:48] alikhajeh1 commented on #1223
@oneslash in case it helps, our team hangs out in https://www.infracost.io/community-chat too if you have any questions

[2022-02-11 21:50] alikhajeh1 commented on #1231
Thanks @wahlfeld10x - I'm going to close this issue as the PR is merged so the diff script has that change.
Also, as mentioned [here](https://github.com/infracost/infracost/issues/1173#issuecomment-1036649757), we're adding support for this in `infracost comment bitbucket` too :)

[2022-02-11 21:50] #1231 closed

[2022-02-11 21:53] dgcaron commented on #872
Yeah, no I think it is not a big thing right now.

On Fri, 11 Feb 2022, 22:40 Ali Khajeh-Hosseini, ***@***.***>
wrote:

[2022-02-11 21:53] alikhajeh1 commented on #1252
@tomatwoodliquidx just checking if you have time to chat about your ideas on paid add-on features. We're holding our [first community call](https://github.com/infracost/infracost/issues/1353) next week - that would also be a good place to chat.

[2022-02-11 21:56] alikhajeh1 commented on #1293
Going to close this as I believe the fix was released in [v0.9.17](https://github.com/infracost/infracost/releases) - @intention-attention feel free to re-open this if it's still an issue after upgrading.

[2022-02-11 21:56] #1293 closed

[2022-02-11 21:57] alikhajeh1 commented on #872
Awesome - thanks @dgcaron! btw, if you used the [azure devops extension](https://marketplace.visualstudio.com/items?itemName=Infracost.infracost-tasks), we'd appreciate a review/star rating :)

[2022-02-11 21:57] #872 closed

[2022-02-11 22:00] alikhajeh1 commented on #440
There was also some discussion in https://github.com/infracost/infracost/issues/1294#issuecomment-1017337723

[2022-02-11 22:00] alikhajeh1 commented on #1294
@matthewnessworthy we're going to work on this soon, https://github.com/infracost/infracost/issues/440 is the issue to watch for updates

[2022-02-11 22:00] #1294 closed

[2022-02-11 22:23] alikhajeh1 commented on #962
@sbibow I just wanted to circle back and thank you for the feedback+discussion here. This issue plus other feedback and earlier prototypes with [Compost](https://github.com/infracost/compost) lead us to create [`infracost comment`](https://www.infracost.io/docs/features/cli_commands/#comment-on-pull-requests).

That new command can be used to post comments to GitHub, GitLab, Azure Repos and Bitbuc

[2022-02-12 12:19] #1288 closed

[2022-02-15 09:54] hugorut commented on #1258
hey @tomatwoodliquidx we've now added support for log analytics workspace. The changes are currently in master and will be released in `v0.8.19` release.

[2022-02-16 13:39] aliscott commented on #1321
The linux-arm64 Docker image is going to take a bit more work, so wasn't released as wasn't released as part of v0.9.18. I think we need to look into the dependencies we build in the Docker image and make sure they will work with this as well.

[2022-02-16 15:42] ryan-dyer-sp opened #1380 "Cleaner / reduced output"
Am requesting that the output from infracost be cleaner or reduced.  Our use case is that we run infracost with PRs which contain multiple terragrunt projects.  This in turn runs multiple(sometimes dozens) infracost breakdowns and outputs.

For the breakdown it would be nice if there was a way to only output errors.
[code]
Why is this being output to stderr?  Why it it being output at all if I'm s

[2022-02-16 19:13] alikhajeh1 commented on #1353
Going to close this - I'll create a new issue for the next call in March (not sure when yet) - we'll advertise it well in advance.

[2022-02-16 19:13] #1353 closed

[2022-02-16 20:12] ryan-dyer-sp commented on #1380
#1. Thanks
#2. We do not use any of the formats other than text.  Though this is part of our CICD pipeline, its ran through atlantis.  I'm not sure how well atlantis will take to receiving bitbucket text, or more accurately how well bitbucket will respond to bitbucket markup within a code block.  My guess is it will just end up displaying all the markup, which is not what we want either.  I'll pla

[2022-02-16 20:38] alikhajeh1 commented on #1380
#2: Depending on what version of Atlantis you're using, you can get Infracost to post a separate comment to Bitbucket using [this](https://github.com/infracost/infracost-atlantis) and the [`infracost comment bitbucket`](https://www.infracost.io/docs/features/cli_commands/#bitbucket) command.

We literally released the final docs PRs for this 10mins ago in v0.9.18, see [this for screenshots](https:

[2022-02-16 20:49] ryan-dyer-sp commented on #1380
Awesome.  Will play around with the new comment functionality tomorrow and let you know.  TYVM!

[2022-02-17 02:34] oeuftete opened #1381 "Update CircleCI Orb readme to describe the new CI Docker images and `infracost comment`"
We need to update https://github.com/infracost/infracost-orb to describe or link to [this](https://www.infracost.io/docs/integrations/cicd/#my-cicd-system-isnt-supported), as we're no longer maintaining the old diff.sh script.

---

Original issue description:

I'd like to have terraform 1.1 available in the latest docker image in order to integrate infracost into our CI workflow using the CircleC

[2022-02-17 02:50] alikhajeh1 commented on #1381
Hi @oeuftete - we're in the process of moving away from our old approach (that relied on the TF CLI being baked into the Infracost docker image and running the diff.sh script). We haven't had a chance to update our CircleCI Orb yet, but the other CI/CD integrations have been updated to use this approach - can you possibly try this and let us know if it works ok?

1. Use our new [CI Docker images](

[2022-02-17 03:04] oeuftete commented on #1381
@alikhajeh1 Thanks for the prompt response, I appreciate it.  I jumped the gun a bit, and noticed I wasn't converting the plan from binary to json using the old approach, so I do have it working now.  But I'll try the new approach (we're using github).

[2022-02-17 04:01] alikhajeh1 commented on #1381
@oeuftete awesome! When you get the chance to try it, I'd appreciate it if you let me know if the new approach worked for you too.

Ok if I update this issue's title/desc a bit so it reminds us to update the CircleCI Orb readme to describe the new method?

[2022-02-17 08:52] Dinoshauer commented on #1195
<img width="510" alt="image" src="https://user-images.githubusercontent.com/2325817/154439760-06425ec9-1aba-4606-92e0-d67ac5d2c475.png">
Looks like it's out and working. Thanks a lot!

[2022-02-17 09:12] vdmgolub commented on #1317
This is live in v0.9.18. You can find the binaries here, we released an ARM64 version as well: https://github.com/infracost/infracost/releases/tag/v0.9.18.

[2022-02-17 09:13] vdmgolub commented on #1173
This is live in v0.9.18.

[2022-02-17 09:13] vdmgolub commented on #1354
This is live in v0.9.18.

[2022-02-17 09:13] vdmgolub commented on #1279
This is live in v0.9.18.

[2022-02-17 09:15] vdmgolub commented on #1195
@Dinoshauer Yep, it is live in v0.9.18 that we released yesterday, but had a small hiccup with Homebrew so delayed the announcement till today :) Thank you for reporting the issue!

[2022-02-17 09:15] vdmgolub commented on #1258
@tomatwoodliquidx This is live in v0.9.18.

[2022-02-17 09:17] #1173 closed

[2022-02-17 14:31] oeuftete commented on #1381
New approach worked great.

For sure.

Thanks again for the assistance, @alikhajeh1 .

[2022-02-17 15:15] ryan-dyer-sp commented on #1380
Was able to use the new infracost comment bitbucket functionality within atlantis to output a single comment as part of a post_workflow_hook.  This worked great to minimize the output from infracost when having multiple projects/breakdowns.

Thanks!

[2022-02-17 16:55] aliscott commented on #1380
Yeah that's the reasoning, but @ryan-dyer-sp has a great point - we shouldn't be outputting this if the log-level is set. I've sent a PR to fix this case going forward: https://github.com/infracost/infracost/pull/1383

[2022-02-17 17:04] aliscott commented on #1380
I don't have a strong opinion about this. Do we see a need for CI users to dig into why there's no changes if they're not expecting it?

[2022-02-17 18:09] alikhajeh1 commented on #1380
@aliscott fair point. I'll close this issue for now but we can keep discussing it if @ryan-dyer-sp has a strong opinion on it. I'll also look out in case other users complain about spam in CI.

[2022-02-17 18:09] #1380 closed

[2022-02-17 18:12] alikhajeh1 commented on #1381
@oeuftete that's great! I updated [this docs section](https://www.infracost.io/docs/integrations/cicd/#my-cicd-system-isnt-supported) with the above details.

[2022-02-18 00:21] t-dever opened #1384 "Azure Dedicated App Service Plan with Function App Bug"
It is still possible to use "dedicated" app service hosting plans such as "PremiumV2" (P1v2) for azure functions. Currently Infracost is skipping the App Service Plan pricing if it's being used for a function app. Because it is expecting an "EP" plan (example EP1)

Current Outcome:
Skips calculating cost for function.

- "Skipping resource azurerm_function_app.app. Could not find a way to get its

[2022-02-18 14:37] tim775 commented on #1384
@t-dever Thanks for the issue, could you try setting the capacity for the `azurerm_app_service_plan` and let me know if that gives you the expected cost:
[code]

Our code currently defaults to capacity=0 if it is not set which is why it's not showing any charges.  I guess this should default to 1?  I don't see anywhere in the azure docs where they explicitly say what the default capacity is.

[2022-02-18 17:23] t-dever opened #1385 "Add Support for Azure azurerm_orchestrated_virtual_machine_scale_set"
Currently infracost does not calculate cost for this resource type. It will function exactly as the "azurerm_linux_virtual_machine_scale_set" and "azurerm_windows_virtual_machine_scale_set".

[2022-02-18 17:51] tim775 commented on #1385
Thanks again!

[2022-02-21 14:42] clausa20 commented on #1192
Hello, in what version do you estimate the script can be available? I've seen that the first version of the script calculates diff from branch and master but it would be great that it takes diff from 2 branches defined in the PR.

[2022-02-21 23:30] alikhajeh1 commented on #43
@brettcurtis good point, I suppose a way to automate it would be nice, so the readme text/link is always uptodate with the latest main branch's cost estimate?

[2022-02-22 15:56] hugorut commented on #1283
@Heimrych Just a heads up - Internally we've been discussing this issue quite a bit. It's moved up priority for us to deliver into the next release. So, unfortunately, it looks like we might have to take over work on this issue ourselves. Thanks for taking an initial look at this though! If you still want to get stuck into some GCP resources the Cloud Run resource https://github.com/infracost/infr

[2022-02-23 00:05] ianwesleyarmstrong opened #1392 "GKE preemptible node pool reports incorrect cost"
Terraform Plan:
[code]

Graphl Query
[code]

result:
[code]

For some reason, It's reporting an astronomically different amount from what a n2d-highcpu-2 should be (~11 USD). I did some digging around and couldn't see if exactly what it was looking up.

[2022-02-23 01:19] alikhajeh1 commented on #1392
@ianwesleyarmstrong thanks for reporting this! Can you possibly share the terraform resource blocks that produced the above estimate? That usually helps us debug faster

[2022-02-23 04:10] alikhajeh1 commented on #1192
@clausa20 sorry for the delay - we've not had time to work on that as we've been working on a way to [parse Terraform HCL code](https://github.com/infracost/infracost/pull/1303) so unfortunately I don't have a date for you. That'll enable us to build something like `infracost breakdown --path branch1 --compare-to branch2`. What we're not sure about is if users want to see the diff between the Terr

[2022-02-23 04:25] alikhajeh1 commented on #43
@brettcurtis that's helpful - with new modules users are flying blind until it's deployed. Another user said something similar today, they are "making a lot of boiler plate code with examples, so it would be possible for teams to put together pretty much a IaC bill of materials and have visibility into how much their projects would cost when stitched together".

If you're up for a 15min demo call,

[2022-02-23 09:18] #924 closed

[2022-02-23 09:19] vdmgolub commented on #1265
This is fixed and will be released with v0.9.19.

[2022-02-23 13:02] vdmgolub commented on #1175
@alikhajeh1 What if we use underlined styling instead of the colors?
![image](https://user-images.githubusercontent.com/87082/155324322-0c577c96-3440-499f-893c-36a2c4a18b87.png)

[2022-02-23 13:28] hugorut opened #1393 "Add sms support for `aws_sns_topic_subscription`"
[](https://aws.amazon.com/sns/sms-pricing/)Currently infracost only supports `http|https` message delivery for `aws_sns_topic_subscription`. Lots of infracost users use sns to deliver sms messages to their end users. Infracost should figure out a way to support this use case.

## Pricing

AWS SMS pricing information can be found here: https://aws.amazon.com/sns/sms-pricing/ .  For the `aws_sns_top

[2022-02-23 16:01] aliscott commented on #1392
This looks like an issue with the Cloud Pricing API returning incorrect prices. I can reproduce with the following code.

terraform code:
[code]
query:
[code]

variables:

[code]

response:
[code]

I think we should only be expecting a single price returned here.

[2022-02-23 17:21] vdmgolub commented on #1392
@aliscott Thank you for the STRs.

The CPAPI's db has one record for `n2d-highcpu-2` machine type with `preemptive` and `on_demand` prices. However the CLI's cost component uses `/n2d-highcpu-2/i` filter regex which also returns records for `n2d-highcpu-224` machine type and depending which record is returned first we can get either a correct one or not. Debug log:
[code]

The fix would be adjusti

[2022-02-23 23:53] alikhajeh1 commented on #1175
LGTM! thank you

[2022-02-24 09:32] #1392 closed

[2022-02-24 09:34] vdmgolub commented on #1392
@ianwesleyarmstrong Thank you for reporting the issue! The fix has been merged and will go live with the next release.

[2022-02-24 09:56] alex-feel opened #1395 "Add support for Azure `azurerm_recovery_services_vault`"
I got the following message:

[code]
`azurerm_recovery_services_vault` is very popular [resourse](https://docs.microsoft.com/en-us/azure/backup/backup-azure-recovery-services-vault-overview) that allows you to backup on-premise servers and so on. Terraform resource is described [here](https://registry.terraform.io/providers/hashicorp/azurerm/latest/docs/resources/recovery_services_vault).

[2022-02-24 10:23] lazzurs opened #1396 "Commenting for Bitbucket Server is broken"
The new support for commenting in Bitbucket Server is broken. Right now the URL that is built for the API only works with the Bitbucket 2.0 API that is used in Bitbucket cloud.

In 2.0 the path to pull requests uses "pullrequests" in the URL but for the 1.0 API it uses "pull-requests".

Link to 1.0 API:
https://docs.atlassian.com/bitbucket-server/rest/7.20.0/bitbucket-rest.html#idp332

Link to 2.0

[2022-02-24 10:34] vdmgolub commented on #1396
@lazzurs Hello! Thank you for creating the issue! Does it fail for you? By default the command works with Bitbucket Cloud, if you want to use it with Bitbucket Server, you need to provide `--bitbucket-server-url` flag with the URL of your server.

The code you mentioned is for Bitbucket Cloud, but this file also has a dedicated Bitbucket Server handler and it uses v1 API: https://github.com/infrac

[2022-02-24 11:00] lazzurs commented on #1396
Yes it does fail for me. I tried switching over to the new support and found I was getting 500 errors back from the server.

When I had a further look into it as you can see from the documentation links above I found the issue with pullrequests vs pull-requests in the API versions.

I have submitted a PR which should allow support for both API versions to work.

[2022-02-24 11:01] lazzurs commented on #1396
Oh, so looking at the first link you posted that is interesting...maybe this is my bad in understanding the code.

[2022-02-24 11:12] vdmgolub commented on #1396
May I ask you how you use it with your Bitbucket Server? What is your full comment command? We mention the `--bitbucket-server-url` in the command's help and briefly in our docs https://www.infracost.io/docs/features/cli_commands/#bitbucket, so we might need to make it more discoverable :) Or there might be an issue with the URL detection.

[2022-02-24 11:18] vdmgolub commented on #1396
BTW, you can also join our community [Slack](https://www.infracost.io/community-chat) if this is an easier way to discuss the issue :)

[2022-02-24 11:35] lazzurs commented on #1396
I have joined the community Slack.

[2022-02-24 17:54] hugorut commented on #798
Hi @JamesWoolfenden I'm closing this as I'm happy to say that we now have chocolatey support for Infracost. You can install Infracost using:

[code]

check out our chocolatey community page [here](https://community.chocolatey.org/packages/infracost) and the choco package [scripts here](https://github.com/infracost/chocolatey-packages). Thanks pushing us to do this ❤️

[2022-02-24 17:54] #798 closed

[2022-02-24 18:12] lazzurs commented on #1396
On further investigation this is because of lack of unicode support.

Manually trying to add the same comment Infracost is doing cause a similar failed.

## 💰 Infracost estimate: **monthly cost will not change** <- did not work and caused an error

## Infracost estimate: **monthly cost will not change** <- worked without error.

On further investigation this is not the only time this has come up w

[2022-02-24 23:51] ianwesleyarmstrong commented on #1392
Thanks for the quick turnaround on that! Cheers.

[2022-02-25 09:58] torbendury opened #1403 "Disable progress bar for CI/CD pipeline usage"
Hello everyone,

first of all thanks for this great tool!

We baked it into our CI/CD pipelines so we can directly see cost changes when running Terraform, but the progress "text" is somehow cluttering the outputs. I'd like to keep it as clean as possible and hide such things.

**Expected:** I don't see the progress output when I don't want it

**Actual:** I see something like this:

[code]

This

[2022-02-25 10:05] aliscott commented on #1403
@torbendury if you set the log level then it should turn these spinners off. You can do this by setting the env var `INFRACOST_LOG_LEVEL=info` or passing the flag `--log-level=info`. Let me know if that works for you.

[2022-02-25 10:20] torbendury commented on #1403
hey @aliscott thank you for the answer. I experimented a bit and `--log-level=error` did the trick for me (there were some info/warnings that were not relevant for us).

As an info for everyone else: The log level provided by @aliscott already turns of the spinners.

[2022-02-25 10:20] #1403 closed

[2022-02-25 13:30] #1396 closed

[2022-02-25 13:31] vdmgolub commented on #1396
Thank you for reporting and fixing the issue! This is merged and will go live in the next release.

[2022-02-25 14:29] tim775 commented on #440
I've added support for app autoscaling with dynamo in #1401, I'll create additional PRs for other resource types.

[2022-02-25 15:23] guthy2010 opened #1406 "aws_emr_cluster wasn't estimated"
Hi,

I have received the following output from the following commands:
[code]

[code]
To spin up the EMR I am using the following module https://github.com/cloudposse/terraform-aws-emr-cluster

[2022-02-26 21:26] lukeadams84 opened #1410 "Resource to support: `aws_elastic_beanstalk_environment`"
Please can you add support for `aws_elastic_beanstalk_environment`

[2022-02-26 23:04] alikhajeh1 commented on #1410
Thanks @lukeadams84! The community has helped us add a lot of resource mappings so please let us know if you have time to [contribute](https://github.com/infracost/infracost/blob/master/CONTRIBUTING.md#adding-new-resources) and we can add the cost component details to make it easier for you to contribute.

[2022-02-27 16:23] lukeadams84 commented on #1410
I have had a look at some of your documentation, elastic beanstalk looks a little complicated because of the way it wraps multiple resource types. It will involve iterating through the settings variables in terraform in order to identify instance size, asg min nodes and so on.

[2022-02-28 19:41] aliscott opened #1413 "Add a `terraform-init-flags` flag"
Previous discussion:
* https://github.com/infracost/infracost/issues/953
* https://github.com/infracost/infracost/pull/1172#issuecomment-984893767

Infracost has a method of passing custom flags for when Infracost runs `terraform plan`, but it doesn't support passing custom flags to `terraform init`.

This will be useful for users who
1. Want to auto-upgrade modules using `terraform init -upgrade`

[2022-02-28 21:41] tim775 commented on #849
I've added support for reverse references as part of #1401.  I'm leaving this issue open until we implement the resources already mentioned.

[2022-02-28 21:48] tim775 commented on #440
Support for MSK has been added in #1408 and elasitcache replication groups in #1409

[2022-03-01 18:33] tim775 commented on #440
This is live in 0.9.19 with support for dynamo_db_tables, msk_cluster, and elasticache_replication groups.  We went with "Option 2: Update the quantities of the target resource based on the values in the aws_appautoscaling_target resource"

[2022-03-01 18:33] #440 closed

[2022-03-01 18:38] tim775 commented on #1265
@3dbrows This is live in v0.9.19

[2022-03-01 18:38] #1265 closed

[2022-03-01 18:39] tim775 commented on #1392
@ianwesleyarmstrong This is live in v0.9.19

[2022-03-01 18:40] tim775 commented on #1396
@lazzurs This is live in v0.9.19.  Thanks!

[2022-03-02 03:24] alikhajeh1 opened #1425 "Infracost March community call"
### Join the March Infracost community call!
We're open to discuss any topic related to Infracost and cloud costs - we just shipped our [March updates](https://www.infracost.io/blog/mar-2022-update/). You can also share your adoption challenges and successes. We'll share the latest product news.

### When
Wednesday 9 March 2022, 10:00 PST = 13:00 EST = 18:00 GMT

### Where
Zoom meeting: https://us

[2022-03-02 03:53] alikhajeh1 commented on #86
I'm curious to know if anyone has tried the new [AWS Carbon Footprint Tool](https://aws.amazon.com/fr/blogs/aws/new-customer-carbon-footprint-tool/) yet?

[2022-03-02 04:21] alikhajeh1 commented on #1321
@jeremy-ke, @puzzledvacuum and @timogoosen we now [release](https://github.com/infracost/infracost/releases) ARM64 binaries for MacOS, Linux and Windows. Is it ok if I close this issue or do you need docker images too?

[2022-03-02 04:39] alikhajeh1 commented on #1175
@emocharnik, @penja and @PatMyron just FYI that as of [v0.9.19](https://github.com/infracost/infracost/releases), released today, the link colors are white and bold, can you please try that and let us know if that helped?

[2022-03-02 04:39] #1175 closed

[2022-03-02 10:20] emocharnik commented on #1175
thanks, @alikhajeh1!

[2022-03-02 15:28] jeremy-ke commented on #1321
good to close @alikhajeh1. thank you so much for supporting it!

[2022-03-02 16:50] userbradley commented on #975
hey @alikhajeh1 - Sure thing!

The docs seem a little light, so will need to carve some time out and figure it out!

[2022-03-02 17:17] alikhajeh1 commented on #1321
@jeremy-ke great - thanks!

[2022-03-02 17:17] #1321 closed

[2022-03-02 17:19] alikhajeh1 commented on #975
Thanks @userbradley - ack, we'd love help on improving that docs section (secretly that why I pinged to see if you had time to help us, even with notes of what caught you off-guard, or what wasn't obvious etc)

[2022-03-02 19:06] giladdi-tr opened #1432 "Add Support for Azure `azurerm_servicebus_namespace`"
Currently, infracost does not calculate the cost for this resource type.

[2022-03-02 19:16] tim775 commented on #1432
Thanks @giladdi-tr!  If you have any insight into how this resource is charged those are always appreciated.  Or if you want to [contribute](https://github.com/infracost/infracost/blob/master/CONTRIBUTING.md) by writing some code we're happy to help.

[2022-03-03 00:19] bgrainger opened #1433 "HCL Parsing doesn't report `azurerm_app_service_plan`"
I just tried the new `infracost breakdown --path=. --terraform-parse-hcl`. It is so much faster! 🎉

However, it didn't report my `azurerm_app_service_plan` resource, so it omitted $229.95 of costs. The rest of the output was identical though.

Here's the end of the output from regular `infracost breakdown`:

[code]

Here's the end of the output from `infracost breakdown --terraform-parse-hcl` (the

[2022-03-03 00:39] tim775 commented on #1433
@bgrainger Thanks for the report, this is exactly the kind of thing we're hoping the community can help us find!  Is there any chance you could send a sanitized tf project with the issue so we can reproduce it?

[2022-03-03 13:32] roryf commented on #86
@alikhajeh1 we appear to not have any data, I suspect because we're still using AWS credits so don't have any billing 😞  without raw data to calculate impact of changes, I'd be concerned the 3-month delay will make the feedback cycle too long to use it as a meaningful metric and is more based on companies that want to offset previous usage (which is largely pointless...)

[2022-03-03 17:50] aliscott commented on #817
@1mamute this issue has been a huge inspiration to what we've been working on for the last month. It may have been a while but we have made some progress on this...

In v0.9.19 we shipped an [experimental feature](https://www.infracost.io/blog/mar-2022-update/#parsing-hcl) that parses the HCL code directly. We really need users to try it out on their terraform code so we can iron out all the issue

[2022-03-05 00:21] bgrainger commented on #1433
Here's a file that reproduces the problem:

[code]

Without `capacity = 1` (an optional property, and I assume `1` is the default), `--terraform-parse-hcl` calculates a monthly cost of $0.00.

[2022-03-07 12:21] giladdi-tr commented on #1432
@tim775 I will try to create a PR for it. (It is my first time doing it, I hope I will go smoothly)

[2022-03-07 12:32] aliscott commented on #1432
Thanks @giladdi-tr, please reach out on the [Infracost Slack](https://infracost.io/community-chat) or here for any help.

Our first step is working out how to map the prices to the Terraform resources. Do you know which [prices here](https://azure.microsoft.com/en-gb/pricing/details/service-bus/) you'd expect to see against `azurerm_servicebus_namespace` and which ones you'd expect to see against

[2022-03-07 14:22] vdmgolub commented on #1433
@bgrainger Thank you for the provided example! We're working on resolving this.

[2022-03-07 21:10] #1384 closed

[2022-03-07 21:11] vdmgolub commented on #1384
Thank you for reporting the issue! We updated the resource default capacity to be 1. This will be out with the next release.

[2022-03-07 21:16] vdmgolub commented on #1433
@bgrainger Both terraform plan and HCL parsing result in empty estimate if `capacity` is omitted. We updated the resource to have a default capacity 1 if the attribute is not set (#1435). It will go out with the next release. Until then setting `capacity = 1` should be able to unblock you. We'll notify when it is live. Thank you for reporting the issue!

[2022-03-08 10:37] #1410 closed

[2022-03-08 10:39] hugorut commented on #1410
Thanks to @lukeadams84 a fix for this has been merged to master and will be out in the `v.0.9.20` release

[2022-03-08 10:50] kahnwong opened #1436 "HCL Parsing doesn't report aws_db_instance's cost when it's a replica"
## output from`infracost breakdown --path .`
[code]

## output from `infracost breakdown --path=./ --terraform-parse-hcl`
`module.dmp_replica.aws_db_instance.db` is reported as `฿0`

[code]

on a slightly-related note, our CTO and CFO love the html report!

[2022-03-08 11:06] vdmgolub commented on #1436
@kahnwong Hello! Thank you for creating the issue! Will it be possible to share a sanitized TF code with your configuration so we can reproduce it?

We're happy to see that it is useful for your org! 😍 May I ask if you mean by the "html report" our Dashboard [share links](https://www.infracost.io/docs/features/share_links/) feature or the HTML [output format](https://www.infracost.io/docs/features

[2022-03-08 11:11] kahnwong commented on #1436
Whoa dashboard report is now a thing! Gotta try that out stat.

By HTML report I mean `infracost.html` generated from `breakdown_all.sh`

also terraform blocks:
### module/main.tf
[code]

### module/variables.tf
[code]

### rds.tf
[code]

[2022-03-08 11:27] vdmgolub commented on #1436
Awesome, thank you! It seems like the issue is that replica's `engine` is not set. We'll look how to get it set using the source DB.

Yeah, when you enable the Dashboard support, each run will generate a new unique link that can be easily shared. Currently these links do not expire.

I also noticed that you're using our bash script for Terragrunt. Lately we worked on optimizing our CLI dev experie

[2022-03-08 12:16] MRostanski opened #1437 "Add support for `google_dataproc_cluster`"
The Google Dataproc cluster we use in our projects is currently unsupported (terraform resource `google_dataproc_cluster`).

If the cluster is not autoscaled (there is no `autoscaling_config` block), it can be easily calculated based on the definition fragment:
[code]
If the cluster is autoscaled, minimum price could be calculated as a first step (based on `worker_config` and `secondary_worker_con

[2022-03-08 12:25] aliscott commented on #1437
Thanks for the details @MRostanski!

The community has helped us add a lot of resource mappings so please let us know if you’d like to [contribute](https://github.com/infracost/infracost/blob/master/CONTRIBUTING.md#adding-new-resources) and we can add the cost component details to make that easier. No problems if that’s not an option, we regularly prioritize these issues and provide updates via co

[2022-03-08 21:05] alikhajeh1 commented on #86
@roryf good point! What would you have liked to do had you seen that data? Google released preview of their [Carbon Footprint](https://cloud.google.com/carbon-footprint) data in their console, which helps pick regions (pick cleaner regions for new apps and batch jobs) and set org-wide policies for regions. Do you see it going beyond regions?

[2022-03-08 21:10] vdmgolub commented on #1433
@bgrainger If that's okay, I'm going to close this issue for now. We'll notify when a new release is out, so you'll receive a notification.

[2022-03-08 21:10] #1433 closed

[2022-03-08 21:55] alikhajeh1 commented on #1381
@oeuftete can you please take a quick look at https://github.com/infracost/infracost-circleci and let us know what you think? @aliscott decided to JEDI this GH issue instead of linking to the docs and letting users figure-out the rest (JEDI = Just Effing Do It 😄)

[2022-03-08 21:55] #1381 closed

[2022-03-09 01:48] alikhajeh1 opened #1439 "Dashboard projects list is missing the project"
From Slack: I'm trying to set up usage-based resource reporting to the Dashboard. I'm seeing reports upload, but there are a few issues. The command I run is:
`INFRACOST_ENABLE_DASHBOARD=true infracost breakdown --path spacelift.plan.json --sync-usage-file --usage-file /tmp/ignore1.yml`
The usage file doesn't exist, so all data should be fresh.
Infracost runs and prints a final line:
Share this co